[2015-04-22 16:29] nvuaille opened #1 "undo AddProcessViewModelToDeck doesnt remove automation from deck"
Add an automation view in a box manually. When undoing, the curve stays in the deck. If you try to edit it, it crashes on mouse release.

[2015-04-25 19:35] jcelerier commented on #1
Fixed in da5a30f.

[2015-04-25 19:35] #1 closed, assigned to jcelerier

[2015-04-25 19:38] jcelerier opened #2 "Memory leak on removal of DeckPresenter in BoxPresenter"
Do like in DeckPresenter::removeProcessViewModel

[2015-04-25 19:40] jcelerier opened #3 "Elements stays on the current inspector after removal"
e.g. process views, decks, boxes, etc...

(To see, just call undo/redo).

[2015-04-28 20:38] jcelerier opened #4 "Duplication of elements in Device explorer combobox"
Every time there is a document switch

[2015-04-29 20:03] jcelerier opened #5 "Curve shrinking"
It can't be undone

[2015-04-29 20:10] jcelerier opened #6 "Restore the displayed boxes in the relevant view models on undo"
For RemoveBox for instance

[2015-04-29 20:23] jcelerier opened #7 "Curve views in the background are not properly grayed out"

[2015-04-29 20:50] jcelerier commented on #7
They are not properly deactivated at all.

[2015-04-29 22:46] jcelerier opened #8 "Graphical glitch on undo of deletion of scenario"

[2015-04-30 06:51] jcelerier commented on #7
Fixed in 399efa5

[2015-04-30 06:51] #7 closed, assigned to nobody

[2015-04-30 07:05] #6 closed, assigned to nobody

[2015-04-30 07:16] #8 closed, assigned to nobody

[2015-04-30 11:46] nvuaille opened #9 "Sometimes locked in "Add to Selection" state"
= state 'on ctrl pressed'
No way found to reproduce, but it occurs many times

[2015-04-30 12:51] #5 closed, assigned to nobody

[2015-05-26 08:14] nvuaille opened #10 "state machine crashes when background is selected"
On 'dev' branch.
- launch i-score.
- click outside the main box (e.g.  in the area at the bottom). The border should disappear.
- then try to change edition mode (e.g. from select to move)
- SEGFAULT

0   QMetaObject::activate(QObject_, int, int, void__)   /home/nicolas/Qt/5.4/gcc_64/lib/libQt5Core.so.5     0x7ffff6518d66
1   ScenarioStateMachine::exitState moc_ScenarioStateMachine.cpp    230 0x7f

[2015-05-26 09:06] jcelerier commented on #10
f38de89821e9ba5098c7f46ddb69a57637aabad0 should fix this

[2015-05-26 09:28] #10 closed, assigned to jcelerier

[2015-05-26 21:17] jcelerier opened #11 "Crash on drop of device in device explorer"
[code]

[2015-06-04 10:20] nvuaille opened #12 "stateMachine crash after changing fullView"
Way to reproduce :
- create a constraint
  ( - add a scenario in it )
- put it in fullview
- try to change edition tool

info :

0   QMetaObject::activate(QObject *, int, int, void \* *)            0x7ffff650ed66
1   ScenarioStateMachine::exitState moc_ScenarioStateMachine.cpp    241 0x7fffd849c5f5
2   ScenarioStateMachine::changeTool    ScenarioStateMachine.cpp    168 0x7fffd83fd757
3   ToolMenuA

[2015-06-04 12:33] #12 closed, assigned to jcelerier

[2015-06-10 14:56] theod opened #13 "OSC device creation crashes"
here is the crash log

Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0   libiscore_plugin_deviceexplorer.dylib   0x00000001127f2a74 QList<DeviceInterface*>::append(DeviceInterface\* const&) + 20
1   libiscore_plugin_deviceexplorer.dylib   0x00000001127f2890 DeviceList::addDevice(DeviceInterface_) + 32
2   libiscore_plugin_deviceexplorer.dylib   0x00000001127f2344 AddDevice::redo() + 148

[2015-08-27 16:31] #3 closed, assigned to nobody

[2015-08-27 16:31] #11 closed, assigned to nvuaille

[2015-08-27 16:32] #13 closed, assigned to jcelerier

[2015-08-28 17:27] jcelerier opened #15 "Address validation with a tree model"
It could be interesting to use the partial state of QValidator to check when an address has a correct syntax, but is not currently present in the DeviceExplorerModel f this document.

See AddressValidator.hpp

[2015-09-03 09:32] lossius opened #16 "Startup splash-screen remains visible"
Sometimes when launching i-score the logo splash-screen does not go away. I have to hit the ESC key to get rid of it.

[2015-09-03 11:36] theod commented on #16
same for me !

[2015-09-03 12:21] bltzr commented on #16
not for me

[2015-09-03 14:34] lossius opened #17 "i-score shows up as nameless application in Activity Monitor"
Steps to reproduce:

1) Open i-score
2) Open Activity Monitor from /Applications/Utilities

View "My Processes" in Activity Monitor (from View menu)
No thread shows up as i-score, instead there's a thread with no name.

[2015-09-08 14:39] jcelerier commented on #17
Closed by 61798d07aea23fd744d1e4ef92a6d881410b335a

[2015-09-08 14:39] #17 closed, assigned to nobody

[2015-09-08 15:17] #16 closed, assigned to nobody

[2015-09-08 15:17] jcelerier commented on #16
Should be fixed.

[2015-09-09 12:42] simonjamain opened #18 "bug sous scénario"
comment reproduire :
mode "create" + "fork creation"
créer contrainte
placer sous scénario sur cette contrainte

bug -> lors de la création d'éléments dans le sous-scénario ainsi créer, le mode fork n'est pas pris en compte alors qu'affiché comme tel, il faut le reactiver

[2015-09-09 12:47] simonjamain opened #19 "curseur resize ne s'affiche pas bien"
Le curseur "resize" (move event) ne s'affiche pas quand on survole un state qui chevauche un sous-scenario

[2015-09-09 13:07] simonjamain opened #20 "super multi curve !"
créer une contrainte,
y placer une automation,
ajouter des points dans l'automation,
resizer la contrainte,
undo,
redo,
bouger les points de l'automation,
magie.....

[2015-09-09 13:12] simonjamain commented on #20
edit : meme pas besoin de faire le redo, un undo suffit

[2015-09-10 09:17] lossius opened #21 "Web site documentation - larger screenshot images"
IMHO the screenshot in e.g. these pages could be larger:

http://doc.i-score.org/introduction/index.html
http://doc.i-score.org/meeting-i-score-interface/index.html

Currently its difficult to get information at all from these images at all except that they are screenshots of a program that appears to be mostly really dark. Something along the line of lightbox.js would probably be useful.

[2015-09-10 09:28] lossius opened #22 "Crash at quit"
With 0.3a12 I get the following crash when I quit i-score:

https://gist.github.com/lossius/d8dab9355c8940d11fa0

The steps here are simple and reproducible:
1. open i-score
2. Attempt to connect to Max (still doesn't work with Max at my laptop)
3. Quit i-score, and I say no when asked if I want to save.

[2015-09-10 16:46] nvuaille opened #23 "crash when undo fullview constraint creation"
Way to reproduce :
- create a constraint
- resize it
- go in fullview in it
- undo 2 times

[2015-09-11 08:36] lossius opened #24 "Crash when playing automation constraint"
Here are the steps that led to this crash:
1. Opened i-score
2. Added a minuit device with standard settings, connected to max. In max I had j.minuit_device.maxhelp and dbap=.maxhelp open
3. Made a new constraint by double-clicking in the time canvas (not sure what the middle window is called)
4. Added an automation, connecting to /mydbap/sources/source.1/gain, and set start value to -12 and end v

[2015-09-11 09:24] #20 closed, assigned to nobody

[2015-09-11 09:43] jcelerier commented on #23
@nvuaille could you try with 6d74bbd6c6225ecfa34ffea31838340fe64dec4c

[2015-09-11 09:44] jcelerier commented on #24
Paging @theod ; this part crashed :
- 13

Thread 7 Crashed:
0   org.i-score                     0x00000001039953e9 JamomaAddress::setValue(OSSIA::Value const_) + 25
1   org.i-score                     0x0000000103994afe JamomaAddress::pushValue(OSSIA::Value const_) + 30
2   org.i-score                     0x0000000103987c39 JamomaState::launch() const + 41
3   org.i-score                     0x000

[2015-09-11 11:34] #23 closed, assigned to nobody

[2015-09-11 14:37] theod commented on #9
is still the case ?

[2015-09-11 14:37] theod commented on #4
is it a bug ? should it be fixed for 1.0 release ?

[2015-09-11 14:38] theod commented on #21
notice this issue refers to i-score 0.2 documentation

[2015-09-11 14:41] theod opened #25 "rename i-score 0.3 into 1.0 everywhere"
I don't know where this version number appears in the repository so I assign it to you @jcelerier but I also  add @bltzr @jln-  and @nvuaille if they have any idea where to change this.

[2015-09-11 14:49] jcelerier commented on #4
it has been fixed a long time ago, oops!

[2015-09-11 14:49] #4 closed, assigned to jcelerier

[2015-09-11 14:50] jcelerier commented on #22
this should have been fixed in 0.3a13

[2015-09-11 14:52] jcelerier commented on #25
are we all sure that the final product is "i-score 1.0" ? (I'm for i-score 3 personally because I think that for some people, "i-score 0.2" equals "i-score 2").

I don't think that the version number actually appears somewhere in the software, only the current git commit is shown in the About section.

[2015-09-11 14:54] jcelerier opened #26 "Sometimes when clicking on a scenario the tools will be disabled"

[2015-09-11 14:59] theod commented on #24
ouch ! malloc error : pointer being freed was not allocated !
I've put a malloc break point in Xcode but maybe @jcelerier you have a trick figure out this kind of bug ?

[2015-09-11 15:04] jcelerier commented on #24
Mhh... On linux I use valgrind but it doesn't works in OS X (but I think that Xcode has some kind of facilities to detect such problems.)

Maybe (just maybe) a pointer is deleted manually somewhere while being part of a shared_ptr (like some std::shared_ptrOSSIA::Value) ?

[2015-09-11 15:08] theod commented on #24
thanks for the tip !
however Value are never passed using shared_ptr (at least inside the API).
are you doing this into i-score ?

[2015-09-11 15:15] theod commented on #24
I'm suspecting a memory conflict due to the listening.
I'll make some tests next week by closing the listening to see if it continue to crash.

[2015-09-11 15:15] lossius opened #27 "i-score can't co-exist with Jamoma 0.5.7"
It seems that if Jamoma 0.5.7 is installed on the computer, i-score starts looking for jamoma-related lib files in the wrong place, and crash.

Jamoma 0.5.7 installs header files, libraries and extensions into /usr/local/jamoma

[2015-09-11 15:15] #26 closed, assigned to jcelerier

[2015-09-11 15:25] jcelerier commented on #24
I just checked but there are no shared_ptr<Value> in iscore either. Could it happen for a same Value to be shared between two states (e.g. when taking the states of the child processes) and then having the first State being deleted which would make the Value in the other state invalid ?

[2015-09-11 15:26] jcelerier commented on #2
Fixed also a long time ago

[2015-09-11 15:26] #2 closed, assigned to jcelerier

[2015-09-11 15:31] jcelerier commented on #19
I'm not sure that a state under a hierarchical scenario should be clickable / draggable, should it ?

[2015-09-11 16:13] jcelerier commented on #25
Anyway, this is now settable in the root CMakeLists.txt.

[2015-09-11 16:13] #25 closed, assigned to jcelerier

[2015-09-11 16:13] #22 closed, assigned to jcelerier

[2015-09-11 16:29] lossius opened #28 "Drawing issue when i-score window is large"
<img width="2560" alt="screen shot 2015-09-11 at 18 29 14 2" src="https://cloud.githubusercontent.com/assets/38478/9820287/2b9e27ee-58b3-11e5-9789-d1aa06dfe46e.png">

I get a vertical coloured line in the right section of the scene section.

[2015-09-11 16:36] jcelerier opened #29 "Color the states like the Event to show that they have been played"

[2015-09-11 16:39] lossius opened #30 "Minuit device is not released properly"
Steps to reproduce:
1. Start Max and open j.minuit_device.maxhelp
2. Start i-score
3. Create a new device with default settings, connecting to Max
4. Make a second i-score (from File > New). leave it empty for the time being.
5. Close the first document, saving or not doesn't matter
6. Try to set up a new device in the second (and still open) document with default settings.

Result: you get a warn

[2015-09-11 16:46] lossius opened #31 "State at time = 0 is not triggered"
Steps to reproduce:
1. Start Max and j.minuit_device.maxhelp
2. Tweek bitdepth and sample_ration settings in the mydegrade model.
3. Start i-score and make a new constraint.
4. From the inspector at the left side, choose the bitdepth and sample_ration parameters and drag them over start of the constraint, so that we get an initial state that is displayed as a larger white circle.
5. In max, tweek

[2015-09-11 16:46] jcelerier commented on #28
Yep, this is the last timenode / event of the scenario.

But there were talks of removing it. @nvuaille @bltzr @lossius @blueyeti @theod ?

[2015-09-11 16:52] lossius opened #32 "Ability to turn to linked states into an automation event."
_This is a feature request_

If I have made two states next to each others within the same constraint, like this:

<img width="1344" alt="transform" src="https://cloud.githubusercontent.com/assets/38478/9820733/0a5b7868-58b6-11e5-9671-5bdede23714a.png">

it would be nice to be able to right-click the line between them, and turn it into an automation, with interpolation.

[2015-09-11 16:59] lossius opened #33 "warning color is not updated correctly after moving constraint vertically"
According to @jcelerier there's a graphical bug here. I don't think the (• was meant to be able to position itself to the left of the start of the constraint:

<img width="1372" alt="screen shot 2015-09-11 at 18 58 00" src="https://cloud.githubusercontent.com/assets/38478/9820871/17986bd4-58b7-11e5-80a4-a7e1a0f519c7.png">

[2015-09-11 17:02] jcelerier opened #34 "Crash if the Local device is deleted before a Minuit device"

[2015-09-11 17:15] lossius opened #35 "Refreshing namespace after having dynamically changed what parameters exists leads to error"
_It might be that this is a bug with j.modular in Max/Jamoma rather than with i-score._

Steps to reproduce:
1. Start Max
2. Open j.minuit_device.maxhelp
3. Also open j.dbap=.model.maxhelp, and give it the time needed to instantiate itself.
4. Start i-score, and make a new Minuit device with thefault settings. So far - so good.
5. Back in Max, in j.dbap=.model.maxhelp increase the number of source

[2015-09-11 17:32] lossius opened #36 "2D and possibly 3D spline editor"
_This is a feature request._

I'm able to create automations of Jamoma parametes of type decimal. I have attempted to create automations of source positions. These are of type array and contains three decimals (x, y and z). They are set up using the position dataspace, so that they in Max can be addressed using Cartesian and Spherical coordinates interchangeably.

One of the benefits of this in Ma

[2015-09-11 19:51] jcelerier commented on #30
Fixed in dev

[2015-09-11 19:51] #30 closed, assigned to nobody

[2015-09-12 09:47] jcelerier commented on #35
This looks like a regression,  this used to work a few weeks ago.

[2015-09-12 09:55] jcelerier commented on #35
@theod it doesn't work (throws an exception) in the Minuit_exploration API example if I replace

[code]

by

[code]

[2015-09-12 09:56] jcelerier commented on #34
This is solved in i-score by taking care of the deletion order.
However it might still appear for other users of the API.

[2015-09-12 10:05] jcelerier commented on #31
@theod I tried by adding a State like this in the scenario.cpp example:

[code]

And it seems to not be triggered either.

[2015-09-12 13:40] bltzr commented on #29
:+1

[2015-09-12 15:46] #29 closed, assigned to nobody

[2015-09-13 22:37] nvuaille commented on #9
I guess not but there are still some problems with the ctrl/command key.

[2015-09-14 09:56] jcelerier opened #37 "Base scenario execution doesn't trigger its first event."

[2015-09-14 12:43] #37 closed, assigned to nobody

[2015-09-14 22:35] theod commented on #24
adding a mutex to protect from multithreading access resolved the problem. @lossius could you test this on the next release before to close ?

[2015-09-15 09:17] nvuaille commented on #33
That's not really a bug : until we have a working CSP, we allow all positions of min/default/max, even if those who wouldn't work. Now there's a color code (in dev, commit 98d18becf017e9306c41da186bb900062cb264ea) to show warning and error.

[2015-09-16 08:56] theod opened #38 "crash when creating a TimeConstraint from the beginning"
here is the step to reproduce it :
- in "create" mode : create a TimeConstraint
- in "select" mode : select the first TimeNode
- fn + backspace to delete the first TimeNode and the following TimeConstraint
- in "create" mode : create a TimeConstraint from the beginning
  => crash

here is the crash log :

Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_C

[2015-09-16 09:26] #38 closed, assigned to jcelerier

[2015-09-16 11:21] #9 closed, assigned to nvuaille

[2015-09-16 12:54] jcelerier commented on #27
Relevant Jamoma feature branch : https://github.com/jamoma/JamomaCore/pull/383

[2015-09-16 14:11] lossius opened #39 "UI + (add device) button blue colour suggests that it is always active"
<img width="1372" alt="screen shot 2015-09-16 at 16 08 23" src="https://cloud.githubusercontent.com/assets/38478/9906975/3adf8490-5c8d-11e5-9fdb-9730eacdb836.png">

This is just a minor feedback on one aspect of the user interface: The fact that the "+" button in the lower left edge of the interface is blue, is to me slightly misleading. It seems to suggest that it is already active, much in the s

[2015-09-16 14:19] jcelerier commented on #39
@blueyeti so, this would require non-blue buttons for the device explorer.

[2015-09-16 14:23] lossius commented on #24
Hi, this seems to work without crashing now, although I notice other issues, but I'll report them separately.

[2015-09-16 14:23] #24 closed, assigned to nobody

[2015-09-16 14:26] lossius opened #40 "Screen flickering while playing automation"
Steps to reproduce are the same as in #24

We no longer have the crash, but the automation square flickers between white and being properly drawn for the duration of the automation.

I notice similar flickering issues with Jamoma models, and i'm wondering if j.ui have the whole object redrawn whenever gain value change, rather than just redrawing a small zone in the upper right corner. But that's

[2015-09-16 14:31] lossius opened #41 "Automation does not respect custom min and max values"
Steps to reproduce are the same as in #12 with a few additions:

Add the following to dbap=-model-maxhelp:

<pre><code>
----------begin_max5_patcher----------
342.3ociREsbBCBD7YxWACOmpIQMN1ekNcbHgSEmDHCPrwww+8BGIVssSqOD
H2xd2srGWRHrJ8.XYzWouQIjKIDBBE.HiwDVKentgaQZrcMZUeKKMdj+Wcuq
Ab3gEinV24F.YOwSJvPc0wWx2LAFyzctChBvylxp3p8L56iT53t5CR09sFn1
EYsYY9rrTZ9pkgsUYg0hhYY2xwqIoZRR42Jjg2BNvrET7pn5xFOam1zxwp

[2015-09-16 14:49] lossius opened #42 "Inspector number widgets should not respond to mouse scroll wheel"
If you make e.g. an automation, and use a mouse with a scroll wheel, I believe there are some major user interaction problems with the number widgets of e.g. the min and max values:
- IMHO these widgets should not respond to scroll wheel at all. It's much to easy to pass by them with a mouse after a recent scroll, where the scroll wheel is still moving, and suddenly I have made an undesired change

[2015-09-16 14:51] jcelerier commented on #40
By any chance, could you record a small video of what happens ?

[2015-09-16 14:51] nvuaille commented on #42
It was closed in dev today (d68d327a7353c9a1bc9423e630311b70ff86689c). Just wait for the release =)

[2015-09-16 14:51] #42 closed, assigned to nobody

[2015-09-16 15:30] theod commented on #41
this is certainly not applied into the core. I assign to me.

[2015-09-16 17:22] jcelerier commented on #41
@theod Mhhh I'm not sure. The curve is created in OSSIAAutomationElement::on_curveChanged_impl, and I scale the points by this min / max before putting them in the curve so this should just work ? I'll try tomorrow.

[2015-09-16 17:24] lossius commented on #40
Hi, it might be that this only happens when having two screens, and i-score on the second screen. Here's a video:

https://vimeo.com/139489816

It is password protected, and the password is "ossia".

[2015-09-17 08:42] nvuaille commented on #18
Solution implémentée : au changement de focus, on réinitialise sur l'outil 'select/move'

[2015-09-17 08:42] #18 closed, assigned to jcelerier

[2015-09-23 10:02] theod commented on #31
ok it is fixed on OSSIA API master branch

[2015-09-23 10:02] #31 closed, assigned to theod

[2015-09-29 15:38] nvuaille opened #43 "OSX click'n drag with 3 fingers doesnt work to create element"
To be honnest, element is created but the command is not send to the undo/redo stack.

To see the problem (on OSX yosemite) :
- create a state
-  try to create a constraint from this state.
  The constraint and is end state is visible but the command doesn't appear in the stack (and the undo/redo bug)

[2015-09-30 14:26] bltzr commented on #43
https://www.youtube.com/watch?v=xphfUfydyaE

[2015-09-30 14:37] nvuaille commented on #43
Tu nous l'as déjà sortit celle là !

[2015-09-30 14:39] bltzr commented on #43
Certes, mais là elle est particulièrement approprié, non ?

Pascal Baltazar

[2015-10-09 13:35] reno- opened #44 "input and output are inverted when creating a device"
In the panel for creating a new device, input and output are inverted

[2015-10-12 16:09] reno- opened #45 "Don't refresh namespace when loading a project"
When you have a big namespace, it's so long to redo minuit discovery each time a project is loaded.

[2015-10-12 16:27] reno- commented on #45
Version:
1.0.0-a9

Commit:
820fb151f641167daed4ee339bfaa07151f57004

[2015-10-19 13:02] avilleret opened #46 "change drag & drop icon depending on action"
When I drag & drop value from namespace into my scenario I can either update a state or add a new one.
I should be very nice that the icon represent the upcomming task and change depending on what is below the mouse.

[2015-10-19 14:23] reno- opened #47 "crash when creating an interpolation (automation)"
Select a contraint
Create an automation by clicking  on 'interpolate state'

Crashlog here :
https://gist.github.com/reno-/4a6b3e1fbbec0b258d33

[2015-10-23 14:39] reno- opened #48 "Crash when evaluating a trigger"
Play a scenario with a trigger… crash when evaluating the trigger
https://gist.github.com/reno-/26e5c80c0eb15f94b6ac

[2015-10-23 14:40] reno- opened #49 "i-score crash - when creating an event"
https://gist.github.com/reno-/5198e236efe6557b01b4

[2015-10-23 14:41] reno- opened #50 "Thousand separator in trigger and conditions"
If you create a condition for a condition or a trigger with a value superior to 999, i-score adds a comma separator, which is understand as a decimal.
So if I create a trigger with expression :

[code]

i-score transforms it to

[code]

I close my project and re-open it, the expression is now :

[code]

[2015-10-23 14:42] reno- opened #51 "Crash when playing a scenario"
It happened when I played my scenario
crashlog here
https://gist.github.com/reno-/9f1a9464b156ef824e8d

[2015-10-26 16:43] jcelerier commented on #45
@theod it's related to the problems with the minuit refresh being called.

[2015-10-26 16:46] jcelerier commented on #47
seems to be a Qt bug that has been fixed in the latest version : https://bugreports.qt.io/browse/QTBUG-46264

[2015-10-26 16:48] jcelerier commented on #49
I cannot reproduce it :( do you remember what caused it more precisely ?

[2015-10-26 17:14] #50 closed, assigned to jcelerier

[2015-10-27 10:06] jcelerier commented on #43
Seems that it's not clear on the Qt side : https://bugreports.qt.io/browse/QTBUG-8312

[2015-10-27 10:08] jcelerier opened #52 "Check for problematic getFirstId usage"
It should never be called in the constructor of a command that may be run in a macro, since it would cause collisions.

[2015-10-27 10:08] jcelerier opened #53 "Don't allow zooming in when granularity level is reached"

[2015-10-27 10:10] jcelerier opened #54 "Focus bugs when leaving the full view"

[2015-10-27 10:12] jcelerier opened #55 "Confusion between Control-C and Control-V for copy-paste"
Do we copy the contents or the elements by default ?
How to paste elements from the top menu ?

[2015-10-27 10:12] jcelerier opened #56 "Focus issues on constraints"

[2015-10-27 10:12] jcelerier opened #57 "Focus issues on slots"
One has to press the slot before being able to right-click.

[2015-10-27 10:13] jcelerier opened #58 "Focus issues when recording with a selection"
On the first right-click everything will be deselected.

On the second right click, "Record from here" appears in the context menu.

What is the expected behaviour ?

[2015-10-27 10:35] jcelerier opened #59 "Nodes values are not fetched when a part of the device explorer is unfolded"

[2015-10-27 10:38] jcelerier opened #60 "Listening bug if node is expanded while playing / recording"
It will start to be listened, and then will not be listened anymore, when stop is pressed.

Also there might be problems if a node that was recorded was folded during recording.

Finally we have to take care of the interactions that might happen with the API, for instance if a trigger is waiting for a message.

[2015-10-27 13:01] reno- commented on #49
Maybe it was related to jamoma network implementation because from what I remember, it happened after lunch. I close my laptop, and when I reopened it, I created an event and it crashed.

[2015-10-29 08:29] jcelerier opened #61 "Invalid use of Qt::WidgetWithChildrenShortcut"
In ObjectMenuActions, etc..

The actions should be added to both the panel proxy and the main view's qgraphicsviews.

[2015-11-05 15:16] theod opened #62 "crash when opening a file with a device existing in the former project"
to reproduce it you can save a project with a newDevice Minuit device for example.
then you can restart i-score, create a new Minuit device and then try to open the project you saved before. at this point you should have a warning window and then a crash

[crash log.txt](https://github.com/OSSIA/i-score/files/28097/crash.log.txt)

[2015-11-05 15:17] theod commented on #45
this should be fixed now. you have also to update JamomaCore.

[2015-11-05 15:30] theod commented on #48
I tried to reproduce the bug with this scenario without success (you have to remove the .txt extension before !). this is working with j.minuit_Device.maxhelp exemple, you have to turn the /myinput/file/play parameter to on to trig the next.

[test - trigger.scorejson.txt](https://github.com/OSSIA/i-score/files/28113/test.-.trigger.scorejson.txt)

is it working ?
if yes would you provide me a proj

[2015-11-05 15:32] theod commented on #51
I can't reproduce the crash.
could you provide me the scenario ?

[2015-11-05 15:39] theod opened #63 "Address setValueType is never called when loading a project"
int the explorer the displayed value is always 1025 !

![capture d ecran 2015-11-05 a 16 37 32](https://cloud.githubusercontent.com/assets/118426/10972956/ce8b1e6e-83db-11e5-9b48-260b2c6f6efa.png)

[2015-11-05 15:41] theod commented on #63
when I store the value it is also the same bad value

![capture d ecran 2015-11-05 a 16 40 35](https://cloud.githubusercontent.com/assets/118426/10973015/01623ee4-83dc-11e5-816c-afbb46fdf989.png)

[2015-11-05 16:02] theod commented on #63
it happens systematically for a the [j.parameter controller @type none] as it is an Impulse value.

[2015-11-05 16:15] theod opened #64 "Automation with Curve<float,float> instead of <double,float>"
this resulting in a crash

[2015-11-05 17:36] theod commented on #35
fixed ! but it need testing
I assign to you @jcelerier

[2015-11-05 23:52] theod commented on #63
@jcelerier in case you have an idea if it is more related to the core than to the gui ?

[2015-11-05 23:59] theod commented on #47
@reno- I assign it to you as it seems to be fixed

[2015-11-06 00:42] theod opened #65 "unexpected offset on graphical blue bounds of a time constraint"
here is a picture of what seems strange to me when I saw the green time vert progressing more than expected.

![capture d ecran 2015-11-06 a 01 32 56](https://cloud.githubusercontent.com/assets/118426/10986128/8eb5c0c2-8427-11e5-9fdb-eae9fd471230.png)

the trigger condition is always true so I would expected the time bar to stop at the beginning of the round blue bound instead of the end of the tr

[2015-11-06 00:57] theod commented on #63
I found a case where the problem happens. I've renamed the issue to focus on this case.

[2015-11-06 01:02] theod commented on #63
now there is no more request when loading a project the Address are not well loaded from a saved project. I mean if I put a break point into JamomaAddress::setValueType and I load the joined project we never pass into it (remove the .txt extension at the end of the file name !).

[bug - address not typed.scorejson.txt](https://github.com/OSSIA/i-score/files/28547/bug.-.address.not.typed.scorejson.

[2015-11-06 08:55] reno- commented on #65
I agree…

[2015-11-06 09:54] nvuaille commented on #65
It's not really a bug. If you set min = max, the bounds will form a circle : that's mean that the exact date is in the center of the arc ( = end of transparent zone). But I agree, that's surprising !

[2015-11-06 10:02] #65 closed, assigned to jcelerier

[2015-11-06 10:11] pchdev opened #66 "array interpolation"
_Feature request_

I think it would be nice to reintroduce (as it was before with the 0.2 v) interpolation between two states of a same array. For example, I have an array of 16 values for my jamoma granular synth module, each one being a pitch value for each grain, and I wanted to interpolate them simultaneously, in "one block", rather than taking them individually.

Pierre

[2015-11-06 19:16] bltzr commented on #66
oooh, yes !
@lossius also requested that while in Bordeaux.
This is something we've added to the asana todo-list, but it didn't make it to i-score... yet...
One of the main question asked by @jcelerier was whether we created a curve for each member of the array ? I think we should...
Though, maybe there's a better solution in the meantime, but I'm not sure which...
Maybe allowing to interpolate, b

[2015-11-07 07:01] jcelerier commented on #62
I think that the problem, more generally, is of multiple documents binding on the same device, since everything seems to be located in a global table. What should be done ?

[2015-11-07 12:00] theod commented on #66
the API is designed to allow curve tuple.

in the future the interface should depend of the "dataspace" of the parameter.
if it is a position parameter I would like to be able to work with trajectories, if it is a color parameter I would to work with gradient in time (like in Duration software), ... but of course this is a feature for next version and so I would choose to display one curve per ele

[2015-11-07 12:09] theod commented on #62
I would say the document notion is for scenario only. if we open several projects with their own network setup each but with a same device (with the same name I mean), I would warn the user and then keep only one device. so the network explorer will display a kind of merge of all network setups.

but this need to be discussed with @bltzr, @reno- and @jln-.

one potentiel problem I see with this ap

[2015-11-07 20:08] jcelerier commented on #62
I think that this may cause further problems with the local devices of the scenarios that would be loaded :/

[2015-11-07 22:49] jcelerier commented on #63
@theod  could you test with what's in master ? thanks!

[2015-11-08 01:41] theod commented on #63
it works ! thanks

[2015-11-08 01:41] #63 closed, assigned to jcelerier

[2015-11-08 13:08] jcelerier commented on #62
okay, to solve this for now I added the ability to disconnect / reconnect devices; the devices of the current document will be automatically disconnected  and reconnected when switching between multiple documents and a disconnected device will be shown in italic in the device explorer (it can be re-enabled by hand with a right-click, but this should not be necessary unless for instance you want to

[2015-11-08 14:11] jcelerier commented on #62
It would be nice if this would be a service of the OSSIA API instead, because for now I have to re-check everywhere in the scenario to recreate the nodes that I am removing when disconnecting.

[2015-11-08 16:10] #64 closed, assigned to jcelerier

[2015-11-08 16:11] jcelerier commented on #62
This is in master and can be tested from now.

[2015-11-08 16:12] jcelerier commented on #41
I had a bug in there that may have been the cause for this. Please test (I'll make a release tonight).

[2015-11-08 18:31] jcelerier opened #67 "Javascript process needs testing"
As the result of some experiments this week-end, i-score inherited a new process, which allows to write javascript code at run-time that will be executed on each tick of the process.

Here is some example code  to put in the text box in the inspector when such a process is added to the constraint :

[code]

Some informations :
- `t` is the relative time in the process, between 0 and 1 if I am not

[2015-11-09 12:01] avilleret opened #68 "crash when editing a device"
with 0a135f4 :
1. open i-score
2. add a new (minuit or OSC) device
3. right click on it > edit
4. click OK in the properties window
kaboum !

Here is the backtrace : https://gist.github.com/avilleret/e1ef69d61f2db67fed8b

[2015-11-09 13:28] theod commented on #62
this not crashing anymore.
thanks !

[2015-11-09 13:28] #62 closed, assigned to jcelerier

[2015-11-09 13:34] theod opened #69 "don't push value when loading a project"
when I load a project I can see that some stored values are pushed to Max.
it happens in iscore2OSSIA::setValue(OSSIA::Address& addr, const iscore::Value& val).

as I'm not sure the use of this function I prefer to assign it to you @jcelerier .

by the way I'm wondering why values are stored into the network tree ?
I would expect that all Address attributes to be stored except the value itself as

[2015-11-09 13:38] theod commented on #68
I assign to jcelerier as he has made some changes recently on this part.

[2015-11-09 13:40] jcelerier commented on #69
How could we display the value in the device explorer if it's not stored anywhere ? I'm not sure I understand.

I'm looking into the setValue issue asap

[2015-11-09 13:40] theod commented on #68
I can experience the same crash on my side.
here is a screenshot of what happens in Xcode :

![capture d ecran 2015-11-09 a 14 39 27](https://cloud.githubusercontent.com/assets/118426/11035004/d00ff4f0-86ef-11e5-84e6-16c8aa47b54a.png)

[2015-11-09 13:50] theod commented on #69
I add @bltzr, @reno, @jln- and @avilleret here because it is an interesting question but I think you should simply query the values which are unfold and visible in the tree.

I don't know if the fold/unfold state of the network tree is saved in the project, but if not it will should have no query at the loading and then when the user will explore the tree it will query values.

and if the fold/unf

[2015-11-09 14:02] theod opened #70 "crash when trying to create a sequence"
steps to reproduce :
- create an event
- change the value of /mydegrade/audio/gain to -96 in Max
- drag the value of /mydegrade/audio/gain to the event
- change the value of /mydegrade/audio/gain 0 in Max
- pomme+shift from the event to create sequence
  => crash

![capture d ecran 2015-11-09 a 14 57 15](https://cloud.githubusercontent.com/assets/118426/11035369/52a724b8-86f2-11e5-857e-5e8242ca2b4

[2015-11-09 14:06] jcelerier commented on #69
Sure but I still have to store them somewhere (due to the Qt tree API). Besides it would mean that nothing would be displayed as values when loading if there isn't an external device ?

[2015-11-09 14:09] theod opened #71 "can't play a scenario"
when I click on play nothing happen !

here is the scenario I made to test it (please remove the .txt)
[bug - play.scorejsont.txt](https://github.com/OSSIA/i-score/files/30009/bug.-.play.scorejsont.txt)

[2015-11-09 14:11] theod commented on #71
I assgin to you jcelerier because there were more changes into i-score than into the API but maybe I'm wrong (I didn't look further to see what happens here).

[2015-11-09 14:16] theod commented on #69
IHMO it makes no sens to display the state of something that doesn't exist.
by the way maybe the interface should explicit the fact the Address has no value (e.g. nullptr) using a grey color of a - into the value column ... not sure what is the easiest to code for you ?

[2015-11-09 14:18] theod commented on #69
but please wait for more points of view before to change this as maybe others are not agree with me

[2015-11-09 14:24] theod commented on #67
waouh !
I've managed to create an edit the code of a javascript process but I cannot test it at execution time due to the issue #71.

[2015-11-09 14:27] theod commented on #67
about the syntax :
is Object could be rename in Message and have two initialization arguments for address and value ?
in order to allow for example :

var msg = new Message('OSCdevice:/millumin/layer/x/instance', t);

this would allow quick Message management.

[2015-11-09 14:32] jcelerier commented on #71
I sent you messages on skype about this, it looks like a problem in the recent API commits.

It works for API at 016777f but not 61a7101 after some bisect

[2015-11-09 14:37] jcelerier commented on #67
paging @cbossut for this

[2015-11-09 14:44] theod commented on #71
fixed !

[2015-11-09 14:44] #71 closed, assigned to jcelerier

[2015-11-09 14:45] theod commented on #67
it works perfectly at execution time !

[2015-11-09 16:50] theod opened #72 "mapping: target range is wrong"
I've joined a simple scenario where I have created :
- an automation on newDevice:/myinput/audio/gain from -96 to 12
- a mapping between newDevice:/myinput/audio/gain and newDevice:/myoutput/audio/gain (without touching the curve and the range bounds)

when I play the scenario the output gain is stuck on -96 until the input gain cross 0 and then it grows to ~7 dB.

is something wrong into i-score

[2015-11-09 17:36] jcelerier commented on #70
Should be fixed by 8c82d6c

[2015-11-09 17:36] #70 closed, assigned to jcelerier

[2015-11-09 17:36] jcelerier commented on #68
I've done some work but there might be remaining corner cases, please test

[2015-11-09 17:47] jcelerier commented on #72
Mhh.. I just checked and for the curves function, I do (with values replaced according to what I see in the debugger):

For the automation :

[code]

For the mapping :

[code]

[2015-11-09 18:22] theod commented on #70
fixed ! thanks

[2015-11-09 18:29] theod commented on #68
I had another crash.
the tree was unfold and I've made an automation and played it.

![capture d ecran 2015-11-09 a 19 26 14](https://cloud.githubusercontent.com/assets/118426/11042554/10c2a3bc-8718-11e5-952f-31e635a350bd.png)

[2015-11-09 18:33] theod commented on #72
ok I'll do a test for this in OSSIA API

[2015-11-10 07:55] jcelerier commented on #68
Should be fixed in 88b938d

[2015-11-10 09:22] reno- commented on #44
both Minuit and OSC devices have inputed inverted.

[2015-11-10 09:25] theod commented on #68
I tried but I still have the same problem.
I try to edit the device after playing around with i-score (I create an automation, I play it, ... then I try to edit the device).

here is a crash log :

[crashlog - device edit.txt](https://github.com/OSSIA/i-score/files/30707/crashlog.-.device.edit.txt)

[2015-11-10 09:25] reno- opened #73 "Crash when adding a child to an OSC device if child name begin with a "slash""
Create an OSC device
add a child '/test'
i-score crash.
it would be nice to remove the first slash if there is one
https://gist.github.com/reno-/338ff78e4bec560225a3

[2015-11-10 09:35] jcelerier commented on #68
eh... I think that this should be completely forbidden because when the
settings are updated the device is removed and recreated afterwards.

On Tue, Nov 10, 2015 at 10:25 AM, theod notifications@github.com wrote:

[2015-11-10 09:36] reno- commented on #47
yes, I cannot reproduce now… Tx !

[2015-11-10 09:36] #47 closed, assigned to reno-

[2015-11-10 09:36] reno- commented on #67
Whaoou !! Exciting !!

[2015-11-10 09:40] theod commented on #41
I realized this issue is maybe not an issue.
it depends what we expect to change using Min and Max for an Automation.
IHMO this should only change the view range for edition purpose.

as it is now this is changing the start value and the end value (changing the value into the start state and the end state). this makes 2 ways to access to the same datas which sounds wrong to me.

one things that ma

[2015-11-10 09:50] theod commented on #68
ouch ! I'm pretty sure this will be a problem for users !
I ask to @bltzr, @reno- and @jln-

[2015-11-10 09:52] reno- commented on #68
of course it could be useful to edit the device, for exemple if we need to change UDP ports.
Maybe the project might be automagiccally closed and re-open to avoid crash?

[2015-11-10 09:54] theod commented on #68
it sounds like an API network design issue so I propose to postpone this issue for the 1.1 version as I need to rewrite this part. maybe we could just lock the Edit access for a while ?

[2015-11-10 09:54] avilleret commented on #68
I need to edit device _after_ creating come contents.
for example, if my device's IP changed for any reason or if I need to change port settings (because port could be blocked after a software crash)

[2015-11-10 09:59] jcelerier commented on #68
To be clear, the problem is absolutely not editing a device after editing content, it is editing the parameters of a device _while the score is executing_.

[2015-11-10 10:01] theod commented on #68
no ! je continue en céfran parce qu'on s'embrouille pour rien là ! je disais que j'avais essayé d'éditer le device après avoir créer puis joué une automation (pas pendant) !

[2015-11-10 10:07] jcelerier commented on #68
ahh XD d'accord. Bon ça me fait moins peur alors. Je suis dessus là...

[2015-11-10 10:09] jcelerier commented on #44
@theod: from the doc of the API (Minuit.h) :

[code]

But the implementation says :

[code]

What should I believe ? It looks like here, "input port" means "input port of the remote device" and I think that @reno- expects it to be the other way round.

[2015-11-10 10:10] avilleret commented on #41
I'm not sure to understand well the problem.
In my point of view, min/max are attributes of Jamoma parameters.
If I create an automation in i-score, it could be convenient that when it is created, the displayed range bounds to parameters min and max.
But if I change parameters attributes, I don't want to see any change in my automation.
If I put +12dB in my automation while my max values is now +6

[2015-11-10 10:19] reno- commented on #44
Ah ok, I understand the misunderstanding…
The panel is reffering to the device, but because I'm editing it in i-score, I thought it was related to i-score flow from/to this device.
So if @bltzr , @avilleret , @cbossut  and other users are fine with this panel, I will agree to.

![capture d ecran 2015-11-10 a 11 16 22](https://cloud.githubusercontent.com/assets/127730/11059855/7e5d6fea-879c-11e5-98

[2015-11-10 10:20] reno- commented on #44
sorry for the noise

[2015-11-10 10:28] jcelerier commented on #44
I must admit that this is a bit counter-intuitive to me too. Maybe I should replace the text with "Remote input" and "Remote output" ?

[2015-11-10 10:39] jcelerier commented on #68
Please test 9a70e6ed67eea39916a5e1501a924a5e9ea01a67

[2015-11-10 11:16] bltzr commented on #44
I also think that because I'm editing it in i-score, it should be related to i-score
I.e. My vote would go for inverting the names - not sure that adding "remote" helps much...

[2015-11-10 11:30] jcelerier commented on #73
The commit 70464256e516dc15ca3192d215fcbd2384d02bda restricts which characters can be entered in various text edits. Please tell me if I forgot some.

[2015-11-10 11:39] theod commented on #44
in the API the point of view is on the remote device side but this will change when I'll rewrite the API network.

[2015-11-10 13:52] avilleret commented on #44
two port numbers is confusing, so my suggestion : keep only one ! :-)
why should we define the i-score listening port per device ?
couldn't it be a global setting and all devices connect to the same port ?
Thus the only relevant port information in the device setting is the device listening port.
But I know this would make a big change in the whole networking concept.
If it's too much change, I su

[2015-11-10 14:36] theod commented on #44
your proposition is part of the rewrite I have to do for API Network.

for example in the future i-score will be a MinuitServer(13579) and a MinuitClient(9998, "localhost") and you Pd patch will be a MinuitClient(13579, "localhost") and a MinuitServer(9998).
this way it will be possible to define a one way communication if we don't need to control/explore i-score for example (with Pd as a MinuitSe

[2015-11-10 14:41] theod commented on #44
however what I said above is not solving the design of the i-score network panel interface and I agree that we need to make this clearer as possible using long sentences to explain what parameters mean.

[2015-11-10 14:52] avilleret commented on #44
hum... my proposition is to have a bi-directionnal communication for each device but to use the same listening port on i-score for all device.
for example, I have a video generation patch on Pd that connects to i-score on port 13579 and listen to port 9998, and another Pd patch making sound effect that connects to i-score on port 13579 (the same as above) but listen to port 9999 (since 9998 is alr

[2015-11-10 15:05] theod commented on #44
no problem because the Minuit syntax provides device name at the beginning or each request or answer.

this is one of the basic idea of Minuit but I'm not sure it is such a good idea for performance as it means we need to do a string parsing to know who is speaking. actually a better specification would to have one in and out port dedicated to each device IHMO.

but in the same time I think we sho

[2015-11-10 15:31] theod commented on #72
ok I found !
it is simply because the Curve API is still oriented for temporal curve => starting from 0. !
in the Mapper case we must be able to fix the starting coordinate too.
I work on a branch to not break the compatibility with i-score.

[2015-11-10 16:12] theod commented on #72
but this is raising a lot of questions ...
for example the code of valueAt() suppose that the curve is bijective which is not necessary the case for Mapper case.

Maybe "Curve" should be renamed in "Bijection" ?

[2015-11-10 16:32] theod commented on #72
and so maybe we should define something more generic on top of "Bijection" ? something like a "Function" or "Transformation" class that simply provide a method which takes a template X in argument and returns a Y ?

[2015-11-10 16:34] theod commented on #72
and so a Mapper can work with any king of "Transformations" (including "Bijections") while Automation only work with "Bijections" ... thinking out loud ...

[2015-11-10 16:40] theod commented on #72
so while the API don't provide such feature I would hide the Mapper plugin in i-score.

[2015-11-11 08:44] bltzr commented on #44
Re: i-score's listening port in Minuit I agree there's no reason to change it at all....
Though with OSC devices we need to define both ports

[2015-11-11 08:46] reno- commented on #44
Yes, I think too that each OSC device must have a dedicated port to send data to i-score.

[2015-11-11 08:48] bltzr commented on #72
What's the problem exactly? Not sure I get it from your previous comments

Pascal Baltazar

[2015-11-11 08:49] reno- commented on #44
So, I try to abstract :
• for Minuit device : 'i-score listening port' could be defined in the main preferences panel when it will exists, and for now it could be 13579. So when you create a minuit device, you just have to define the 'device listening port'.
• for OSC device we should have to define both 'device listening port' and 'i-score listening port'.

[2015-11-12 09:03] theod commented on #72
the problem is that for now you can only map between 0. to Y1 and X2 to Y2.
the API doesn't provide a way to change the 0. as the Curve class was designed to handle time progression from 0. ! and when I was thinking about allowing the access to the 0. a lot of questions raised.

[2015-11-12 09:21] bltzr commented on #72
OK, thanks for the explanation, now I understand !

[2015-11-12 17:24] pchdev opened #74 "UI does not display message values"
Hi !
message implementation works great, thx @jcelerier ! yet, there's still a small issue with the UI: when typing a message in the "value" field (next to the "address" field) of a start/end state, the string is "recorded", and sent to the device when reaching the chosen state, but the value is not displayed in the field

Pierre

[2015-11-16 16:38] jaimechao opened #75 "crash à l'appui du bouton play"
Process:               i-score [603]
Path:                  /Applications/i-score.app/Contents/MacOS/i-score
Identifier:            org.i-score
Version:               1.0.0-a24.3 (1.0.0-a24.3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           i-score [603]
User ID:               503

Date/Time:             2015-11-16 17:35:05.160 +0100
OS Version:

[2015-11-16 16:46] jaimechao opened #76 "crash à l'appui du bouton play"
Process:               i-score [852]
Path:                  /Applications/i-score.app/Contents/MacOS/i-score
Identifier:            org.i-score
Version:               1.0.0-a24.3 (1.0.0-a24.3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           i-score [852]
User ID:               503

Date/Time:             2015-11-16 17:45:39.536 +0100
OS Version:

[2015-11-19 23:30] theod commented on #68
this is fixed ! thanks !

[2015-11-19 23:30] #68 closed, assigned to jcelerier

[2015-11-19 23:42] theod opened #77 "Address values are pushed to the remote device after editing an existing device"
the problem starts in OSSIADevice::updateSettings where nodes are recreated after the edition.
in createOSSIAAddress, updateOSSIAAddress is called and at the end pushValue is called.

[2015-11-19 23:46] theod commented on #76
the crashlog is exactly the same than #75 so I close this issue

[2015-11-19 23:46] #76 closed, assigned to nobody

[2015-11-20 00:54] theod commented on #75
I've tested by creating a constraint and a trigger with an expression on a parameter from a remote Max patcher. I've played the scenario while parameter was listened by the explorer without any crash and also while the explorer was fold. I've never experienced a crash and it seems that @jcelerier fixed this kind of crash into JamomaAddress::removeCallback so I close the issue

[2015-11-20 00:54] #75 closed, assigned to nobody

[2015-11-20 16:18] nvuaille opened #78 "Unable to remove an osc node/device"

[2015-11-27 11:38] pchdev opened #79 "Strange curve editing behaviour for automation segments"
Hi,

When editing certain curve-segments within an automation (seems a bit random, sometimes it works perfectly well) :
- when dragging with the shift modifier key pressed, it resets the curve to the "lowest value" first, and it seems to give you a choice of two values only : the lowest and highest curve values, but there's nothing in between.

Pierre

[2015-11-30 12:32] reno- opened #80 "Automatic Interpolation"
when creating a second event in a sequence, i-score creates automatically an interpolation for the parameter(s) that have changed since the first event.
In my exemple, I use a video layer with a few parameters (scale, alpha, color etc…)
Step 1 : I create an event with all params of the layer. Alpha is 0 and scale is 1
Step 2 : I modify alpha to 1
Step 3 : I create a second event in a sequence with

[2015-11-30 12:32] reno- commented on #80
Maybe @bltzr  and @avilleret  have an opinion on this one?

[2015-11-30 12:34] reno- opened #81 "Play State is broken"
"Play State" seems to be broken. Maybe since we have the new feature "playing from here"…

[2015-11-30 13:22] nvuaille commented on #81
It's fixed on dev branch, so it will be OK in the next release.

[2015-12-04 00:36] meegooh opened #82 "[feature request] markers & regions"
Hi,

Just a thought, since @nvuaille told me that timeline comments were to be implemented in coming releases, I think it'd be also great to have some sort of marker/region functionnality (with color/palette parameters), for it would maybe allow better visualisation of a complex scenario..?! maybe also some buttons or keyboard shortcuts in order to switch between these markers conveniently?

Pierr

[2015-12-06 13:53] reno- opened #83 "Error when using 'play from here'"
I have this error when using first 'play state' and then 'play from here'.
Not 100% reproductible, but I have the error a lot of time.

'Internal error: TimeEvent's status configuration of the TimeConstraint is not handled'

![capture d ecran 2015-12-06 a 14 48 07](https://cloud.githubusercontent.com/assets/127730/11613640/7ab253d8-9c28-11e5-8689-e5df5eb33dc7.png)

[2015-12-06 13:54] reno- commented on #83
Version 1.0.0-a31 'Oh, je suis désolée'

[2015-12-06 13:57] reno- opened #84 "automation is broken in 1.0.0-a31 'Oh, je suis désolée'"
Make 2 state with an automation process between
The first value is sent evrey frame during the automation length, and the end value is sent only when reaching the end event.

[2015-12-06 15:56] reno- opened #85 "Crash related to Address listening management"
Not 100% reproductible, but happened twice
First, create a minuit device and explore
Second, refresh namespace
Third, navigate in the device explorer => crash
crashlog :
https://gist.github.com/reno-/dc4051e129c3540809f3

[2015-12-06 15:59] reno- opened #86 "error when recovering work from i-score after i-score crash"
It happend each time i-score crash and the project has never been saved

ObjectPath::find  Error! Child not found

[2015-12-06 16:00] reno- commented on #86
![capture d ecran 2015-12-06 a 16 59 49](https://cloud.githubusercontent.com/assets/127730/11614187/c810cfd0-9c3a-11e5-8b4b-1d978887030c.png)

[2015-12-06 16:00] reno- commented on #86
and the minuit device cannot be explored . I have to quit i-score and re-create the device manually

[2015-12-06 16:10] reno- opened #87 "Range editing for non-numeric and non-boolean types"
Create a parameter with type 'string' in a Minuit Device.
in its device's explorer, i-score says that the min and max values are both 1025.

We might have a list of possible values defined in the parameter with the range attribute.

But I know that a revamp of min-max into domain needs to be done… so this issue is just here for the record

[2015-12-06 16:12] reno- opened #88 "i-score doesn't allow to create two Minuit devices with the same UDP port for i-score"
With minuit protocole, we should be able to have several devices talking to i-score on the same udp port (default 13579).
And maybe the udp port could be hardcoded… as it is for art-net for exemple (6454).

[2015-12-06 16:15] reno- opened #89 "True-False remote in device-explorer validation problem"
When I change the state of a boolean using device-explorer's True/false menu, the value is not sent before I click on another raw/parameter

[2015-12-07 10:57] nvuaille commented on #84
@theod :

Dans le commit "Removing TimeConstraint::setDuration and exception ..." (ab43f1f4951b30a8999f28e3b712311b48b47a83) tu as modifié l'implémentation de TimeConstraint::start (TimeConstraint.cpp, ligne 87) en enlevant l'appel à la méthode do_setDuration.

Et, a priori, sans cette ligne les automations ne sont plus lues ...
Est ce qu'on peut la remettre ou est ce que ça avait d'autres impacts

[2015-12-08 10:07] nvuaille opened #90 "Temporal Rift when constraint on last event"
On dev (b19fc4b5550a7a8cf812483dadf141041f52faff) and probably on release v1.0.0-a31.

If a constraint end on the scenario EndEvent, moving backward the start event of this constraint will break it : an empty space appears and at execution, Time jumps over it.

Note : in this version, the real CSP is not used, only a fake one.

[2015-12-08 10:14] #19 closed, assigned to jcelerier

[2015-12-08 10:50] theod commented on #84
ouch ! je la remets pour voir

[2015-12-08 10:59] nvuaille opened #91 "Crash with CreateCurve"
The CreateCurve crahes if there already a slot in the selected constraint.

[2015-12-08 11:10] nvuaille opened #92 "Create Curve doesnt set correctly values in states"
When creating curves with many address selected, the start/end state inspector display a value for only one address, even if all of them are displayed.

[2015-12-08 11:34] nvuaille opened #93 "Empty FullView for LoopProcess"

[2015-12-08 13:18] theod commented on #84
j'ai résolu le problème mais je crois qu'il devrait y avoir d'autres problèmes potentiels notamment dans le cas d'automation lié à une contrainte dont la durée est souple sans durée maximum. car dans ce cas la position est toujours 0 puisque la durée est infini... à tester de votre côté mais je fais des tests du mien.

[2015-12-08 13:18] #84 closed, assigned to theod

[2015-12-08 13:27] theod commented on #84
bon apparement fausse alerte pour le bug potentiel sus-mentionné ...

[2015-12-08 14:49] theod commented on #83
this was a bug into the API so it would be fixed into the next release

[2015-12-08 15:06] theod commented on #85
it is relative to address listening. I know @jcelerier made some fix into JamomaAddress::removeCallback to avoid this kind of troubles.

by the way I've noticed some strange behaviors into the opening and the closing of the listening so I rename this issue to be more precise.

[2015-12-08 15:11] theod commented on #85
however we should find a way to reproduce this issue as I don't manage to get a crash.

[2015-12-08 15:19] theod commented on #87
I can confirm this trouble is not API related.
if you have for example a [j.parameter options @type string @range "true false" "aez zre" "foo bar"]
the Address is correctly created with a Domain.values = {"true false", "aez are", "foo bar"}.

[2015-12-08 15:19] theod commented on #87
here is a simple test patcher to reproduce the problem :

<pre><code>
----------begin_max5_patcher----------
384.3ocoRsraBCCD7bxWwJelRIPoP5INz+hRUkIrkZTv1xYCkGh+8tdMgRkJ
Gpphhs2w6yY7w7L0B2NrQAOAu.YYGyyxDnHP1Y6L0F8tpZci3lxhe5VrV0Kc
Eg6HAdceuNn2fDF.mmLNaCLi16QngBF6JXVPaWgvbEEZQ3cccCNWwlZ7.bHj
N+tyAKzg4ptzWarXkq0J0X3YPa6FisFIoeJNC50T0GbcdKfUTZdJJG0ePOn7
w35vBYaz39CfW+NQtVpKScoug1WixL00EImhCSJw7E7+kzX

[2015-12-08 15:20] theod commented on #87
I assign to @nvuaille but maybe it is for @jcelerier ?

[2015-12-08 15:29] theod commented on #88
totally agree ! this feature is part of the major rewrite of the device management part of the API.

[2015-12-08 15:39] reno- commented on #87
One of the problem here is that we display domain in the devices explorer with two columns : Min and Max. So maybe we need to display it with a unique column named domain.

[2015-12-08 15:50] theod commented on #73
I assign to @reno- for testing

[2015-12-08 16:00] theod commented on #27
I close it as the jamoma/JamomaCore#383 is fixed

[2015-12-08 16:01] theod commented on #28
this is fixed

[2015-12-08 16:01] #28 closed, assigned to jcelerier

[2015-12-08 16:05] theod commented on #32
@jcelerier is this done ? it is possible to add an Automation but it seems it is not automatically making an interpolation on the addresses that are into the start and and event isn't it ?

however there is a new sequence operation that maybe make this feature request not relevant ?
@reno-, @bltzr and @avilleret ?

[2015-12-08 16:17] theod opened #94 "crash when playing from a constraint"
here is the crashlog : https://gist.github.com/theod/cf6fa5ce2288295fc247

and here is the project file to reproduce the crash : https://gist.github.com/theod/6bf820be0b6109c01524

right click on the second constraint and select "play from here".

[2015-12-08 16:19] theod commented on #34
moved here : https://github.com/OSSIA/API/issues/12

[2015-12-08 16:19] #34 closed, assigned to theod

[2015-12-08 16:20] theod commented on #35
fixed !

[2015-12-08 16:20] #35 closed, assigned to jcelerier

[2015-12-08 16:21] theod commented on #39
fixed as the color skin are completely different now

[2015-12-08 16:21] #39 closed, assigned to nobody

[2015-12-08 16:23] theod commented on #40
this issue have been fixed

[2015-12-08 16:23] #40 closed, assigned to nobody

[2015-12-08 16:28] jcelerier commented on #27
the fix hasn't been merged so it still won't work :(

[2015-12-08 16:31] theod commented on #69
here is a gist with what Max received and which generates errors and open Audio Status window
https://gist.github.com/theod/f85877ca00192d7139d0

[2015-12-08 16:31] theod commented on #45
this is fixed even if there are still some messages sent to i-score but this issue is handled here : https://github.com/OSSIA/i-score/issues/69

[2015-12-08 16:31] #45 closed, assigned to reno-

[2015-12-08 16:45] theod commented on #33
I renamed the issue as I found a little bug.
if you have a constraint (with correct min and max) if you move it vertically and then you move its end event to place min before the start event then only the left part of the constraint is colored in orange.

![capture d ecran 2015-12-08 a 17 44 48](https://cloud.githubusercontent.com/assets/118426/11661675/6c97e86a-9dd3-11e5-80e0-1f04f3e6816f.png)

[2015-12-08 16:53] theod commented on #41
@jcelerier : maybe a quick fix would be to rename "Min" and "Max" into "Start value" and "End value" as it is what they are related to for now ? or simply remove those fields while it is not possible to setup the range of what is displayed into Automation view and it can confuse users to be able to change start and end values from here ?

![capture d ecran 2015-12-08 a 17 48 42](https://cloud.gith

[2015-12-08 16:56] theod commented on #48
I close it as it seems we are not able to reproduce it and as many changes occurred into the execution mechanism since this issue have been opened.

[2015-12-08 16:56] #48 closed, assigned to theod

[2015-12-08 16:59] theod commented on #49
we need a more reproductible process to handle this and it seems to be an old issue.
by the way I can't see anything in the crash log that could involve a jamoma network issue.

[2015-12-08 16:59] #49 closed, assigned to jcelerier

[2015-12-08 17:00] reno- commented on #73
yes it works now

[2015-12-08 17:00] #73 closed, assigned to reno-

[2015-12-08 17:00] theod commented on #51
the execution mechanism have been completely reshaped so I hope this unreproductile issue is fixed !

[2015-12-08 17:00] #51 closed, assigned to theod

[2015-12-08 17:03] theod commented on #53
@jcelerier : what is the trouble exactly in order I test it ? (I can't see any obvious trouble)

[2015-12-08 17:06] theod commented on #54
@jcelerier : what is the trouble exactly in order I test it ?

[2015-12-08 17:09] theod commented on #55
@jcelerier : do you need user inputs here ? if yes, could you give some problematic examples ?

[2015-12-08 17:11] theod commented on #56
@jcelerier : what is the trouble exactly in order I test it ?

[2015-12-08 17:18] nvuaille commented on #33
Should be fixed in dev (6ebc1e68309ad02b96b575bda87d1588ea6e9aba)

[2015-12-08 17:19] theod commented on #58
is it normal to have to do 2 right-click to access to something ?
it seems not a very common way to do.
anyway the menu start to be to messy and we are going far away from the initial idea to work with tools (Play tool, Record tool, Selector tool, ...).

I add @reno-, @bltzr, it seems to me that is not a relevant issue and we have to think out of the box here.

[2015-12-08 17:22] theod commented on #59
this is fixed !

[2015-12-08 17:22] #59 closed, assigned to nobody

[2015-12-08 17:23] theod commented on #60
I close this issue as there is a more generic issue opened recently : https://github.com/OSSIA/i-score/issues/85

[2015-12-08 17:23] #60 closed, assigned to nobody

[2015-12-08 17:25] #67 closed, assigned to nobody

[2015-12-08 17:26] theod commented on #81
yes I have tested it and it works !

[2015-12-08 17:26] #81 closed, assigned to nvuaille

[2015-12-08 17:29] theod commented on #79
I don't experience the bug but I've noticed that when I start to drag from a segment the curve jump to the highest (or lowest ...) base value.

[2015-12-08 17:31] theod commented on #90
I guess you are the one who can fix this @nvuaille ?

[2015-12-08 17:31] theod commented on #91
I guess you are the one who can fix this @nvuaille ?

[2015-12-08 17:31] theod commented on #92
I guess you are the one who can fix this @nvuaille ?

[2015-12-08 17:32] theod commented on #93
I guess you are the one who can fix this @nvuaille ?

[2015-12-08 17:45] theod commented on #33
yes ! thanks

[2015-12-08 17:45] #33 closed, assigned to jcelerier

[2015-12-09 14:37] avilleret opened #95 "crash when undoing"
https://gist.github.com/avilleret/5626233e831e2836da5a

[2015-12-09 14:39] avilleret opened #96 "crashlog"
can't remember what i was doing, but I'm sure you will guess :-)

https://gist.github.com/avilleret/55504f9e076f99e3ad5d

[2015-12-10 08:52] nvuaille commented on #96
I guess i found : the value field does not support non numerical entry ...

[2015-12-10 09:53] theod commented on #96
is it relative to OSSIA::Value or to Qt ?

[2015-12-10 10:46] avilleret opened #97 "automation doesn't play"
to reproduce on a new score with a Max device :
1. select a namespace node
2. Command + Click to create an event with node values
3. change node value in Max or in namespace browser
4. create a new event with an automation box with Command + Shift + Click & Drag

This should create a box with curve and I expected to see value changing when playing.
The values stored in event are sent when the play

[2015-12-10 10:49] avilleret opened #98 "Timeline is not scaled to the event position."
1. set the zoom to the minimum value to see the whole score
2. create a new event
3. move it outside the timeline view
4. now it's lost, you can't zoom out more, you can't scroll to the right, you can't select the event even to delete it, the only way to remove it is to undo

[2015-12-10 10:52] avilleret opened #99 "green bar is not rescaled when moving slot"
on a score, start playing, then pause
a green bar is drawn on top of played events,
try to move an event on the green line, then the line is split

[2015-12-10 11:00] nvuaille commented on #97
Is the curve created in the view ?

[2015-12-10 11:11] avilleret opened #100 "backspace doesn't remove element on Mac OS X"

[2015-12-10 11:14] avilleret opened #101 "crash on play"
https://gist.github.com/avilleret/f8e8c5dcb65fde141df2

[2015-12-10 11:17] avilleret commented on #97
yes
![image](https://cloud.githubusercontent.com/assets/504914/11714105/efe4bdf0-9f37-11e5-9e0f-9254056d798f.png)

[2015-12-10 11:23] nvuaille commented on #97
So it's the same as #84 , fixed in dev
@theod, @jcelerier  : I think we should not close issue before fix appears in release ...

[2015-12-10 11:53] reno- commented on #100
To remove an élément from the scenario, you must use delete, and not backspace.
From what I remember, Backspace is used to remove an element from the device explorer.

[2015-12-11 15:13] nvuaille commented on #96
It was an interface bug, I fixed it in dev (8fe3c804f30a436f628c057e67dfe3d682c41085)

[2015-12-14 10:12] nvuaille commented on #99
Wow.
Edition should not be enable during execution ...

[2015-12-14 10:21] nvuaille commented on #98
Hmm.
The auto scroll/resize is on the wishlist.
As workaround, one can :
- resize the main constraint (in "keep duration mode")
- resize the constraint ending on this event (set duration in constraint inspector)
- access to the event inspector (select previous constraint, click on "end state" then on "parent event".
  Object in inspector = object selected so you can now delete it.

[2015-12-14 14:26] theod commented on #101
I assign to jcelerier but I'm not sure he will have enough information to fix it.

[2015-12-14 14:29] theod commented on #97
oops ! this is my fault.
however it is possible to merge the #84 fix from dev to master as it was pretty important bug ?

[2015-12-14 14:31] theod commented on #100
sorry for the noise but where is the delete button on a Mac book pro keyboard ?

[2015-12-14 14:37] theod commented on #99
just as a side note : in the future we should be able to edit any content which is not playing (in the past or in the futur) as it is particularly useful for rehearsal situation to not ask to people on stage to stop playing when you see a problem into your scenario.

[2015-12-14 14:38] theod commented on #99
but maybe here the solution is too properly lock the edition while scenario is playing ?

[2015-12-14 14:51] nvuaille commented on #100
I guess that's "function + backspace"

[2015-12-14 15:01] theod commented on #100
I've just tried "function + backspace", "cmd + backspace", "alt + backspace", "ctrl + backspace" and "shift + backspace" but none of them works.

but in any case I would expect a more easy access like "backspace" to delete something.
Am I the only one ? @bltzr, @avilleret and @jln- ?

[2015-12-14 15:09] jcelerier commented on #97
@theod which commit is it ? I think that I did it this week-end.
The API in i-score/master is at API/master

[2015-12-14 15:17] avilleret commented on #100
I agree with @theod, backspace is a good canditate to delete things.
IIRC, when I right click on the score element, there is a "Delete" item in the menu with a backspace icon beside it, that why I was expecting backspace to do the same as the menu item, which is not, hence this issue

@reno- with a PC keyboard plugged on a Mac, del (or suppr, depending on how you name it) doesn't do anything, neit

[2015-12-14 15:20] nvuaille commented on #100
Yep, there's a problem : OSX keep for itself lot of shortcuts and doesn't like "del" key, so we have to review lot of them
By the way, we first set "backspace" to clear the contents (delete process from selected constraints and states from event) and "del" to delete (i.e. remove temporal element), because we're coding on linux, with all that keys on keyboard =)

So we can invert it but there's sti

[2015-12-14 15:20] theod commented on #97
it is this one : https://github.com/OSSIA/API/commit/d91b19f98fcb14892a2c0113529c414799c39f73

[2015-12-15 17:32] nvuaille commented on #99
Commit 7806f19971594f07d26d27da021c022c3ff5adbb in dev lock edition during the execution.
I think that editing content (= states, curve, ...) that's not playing is not a big problem but editing past temporal structure ... I fear that's not so easy !

[2015-12-16 13:52] jcelerier commented on #101
Mhh, there are multiple potential crashes here. For instance it could happen if someone were to switch documents while something is playing or stuff like this... I'll be looking into it.

[2015-12-16 19:53] jcelerier commented on #99
theod: what would happen if by dragging an event in the future it changes the position of the currently playing constraint as the CSP should do ?

[2015-12-17 08:56] theod commented on #99
from the API point of view changing positions should be ok as everything is relative to time constraint durations. then I would say the only things you cannot do at execution is to change durations of contraints which are currently running. but this is theory and we need to make it real to raise true issues !

[2015-12-17 11:46] jcelerier opened #102 "Customizable keyboard shortcuts"
See : http://stackoverflow.com/questions/13435262/qt-user-customizable-hotkeys

To adapt this to i-score, we should :
- Create a new class (let's say `KeyboardShortcuts`) that should live as a  `SettingsModelDelegate`.
- Add a reference to this class to `ApplicationContext` (or a facade that only allows to register the QAction).
- Ensure that all the "global" `QActions` have a `text()` to identify

[2015-12-17 11:48] jcelerier opened #103 "Edition of a score while playing"
Continuation of discussion in #99

[2015-12-17 11:49] jcelerier commented on #99
I'm closing this issue to continue the discussion in a more relevant task.

[2015-12-17 11:49] #99 closed, assigned to nvuaille

[2015-12-17 11:54] jcelerier commented on #89
I checked this but this is due to the way Qt handles it : you have to press enter after changing a value  (we don't really have control over this - we could do it by replacing a lot of Qt-specific classes but certainly not in time for 1.0).

[2015-12-17 12:09] theod opened #104 "crash when deleting a node from a state"
on the final state, right click on "Max" node to remove makes i-score crash.

[2015-12-17 12:10] theod commented on #104
[reproduce#104.zip](https://github.com/OSSIA/i-score/files/65332/reproduce.104.zip)

all what you need to reproduce the crash.

[2015-12-17 12:11] theod commented on #104
actually it also crashes if I try to remove "filter" sub node.

[2015-12-17 12:12] theod commented on #104
but it doesn't crash when I remove leaves.

[2015-12-17 12:20] theod opened #105 "make state window higher"
as it is now the state window it to small while there is a lot of place under.

![capture d ecran 2015-12-17 a 13 19 36](https://cloud.githubusercontent.com/assets/118426/11869527/ddd521f2-a4c0-11e5-8b18-4d15be221867.png)

[2015-12-17 12:34] theod opened #106 "start and end state values are erased by min an max when creating an automation"
if I create a constraint and then I add an address value to the start and the end then, when I create a automation on the same address value, the state values are erased by the min and the max of the address.

[2015-12-17 12:39] theod opened #107 "pattern constraint is not resized when resizing a loop"
I've tested all the resize mode (scale, grow/shrink and keep duration).

[2015-12-17 13:19] jcelerier commented on #107
This is actually a feature : I thought that it would be weird since by default the loop pattern is created of the same size as the parent constraint hence resizing it would prevent from ever having more than one loop iteration, which is I think not coherent with the behaviour of other software sequencers (e.g. Live).

What would be the best default in your opinion ?

[2015-12-17 14:23] theod commented on #107
I add @reno-, @bltzr, @avilleret and @jln- to get their opinion.

if we consider the pattern as the content of the loop, I would propose to have the same behavior than for other contents. so in scale mode I would expect to scale the pattern, in keep duration mode to keep pattern duration, ...

[2015-12-17 14:39] theod opened #108 "crash when adding a process after having deleting slot"
first I did what you can see into the picture :

![capture d ecran 2015-12-17 a 15 36 47](https://cloud.githubusercontent.com/assets/118426/11872170/35f1f8de-a4d4-11e5-8ccf-91103065d8c1.png)

then if I add any process i-score crashes :

[crashlog.txt](https://github.com/OSSIA/i-score/files/65483/crashlog.txt)

[2015-12-17 14:46] theod opened #109 "Context menu for constraint of Loop Process"
I have created a loop and then added an automation on an address as the picture shows I can't see the automation :

![capture d ecran 2015-12-17 a 15 44 25](https://cloud.githubusercontent.com/assets/118426/11872393/43228090-a4d5-11e5-91c7-80f295e9633d.png)

[2015-12-17 14:48] theod commented on #109
then if I try to display the process in a new slot it crashes.

![capture d ecran 2015-12-17 a 15 46 24](https://cloud.githubusercontent.com/assets/118426/11872431/8078bffe-a4d5-11e5-9389-ac0c9830889d.png)

[crashlog.txt](https://github.com/OSSIA/i-score/files/65495/crashlog.txt)

[2015-12-17 14:52] theod opened #110 "the second operand of trigger expression disappears"
if I setup a trigger expression like this :

![capture d ecran 2015-12-17 a 15 49 14](https://cloud.githubusercontent.com/assets/118426/11872541/14c00fb4-a4d6-11e5-8c5b-85da1fd9e374.png)

then, if I focus on another element and then I go back on the trigger the second operand disappears :

![capture d ecran 2015-12-17 a 15 49 59](https://cloud.githubusercontent.com/assets/118426/11872523/f730cb5a-

[2015-12-17 14:54] theod commented on #110
notice this bug also occurs for condition

[2015-12-17 14:58] theod opened #111 "allow to unsplit a time node"
... or how to merge events of a same time node ?

I have splitted a time node in 2 events but I can't find the way to merge them afterward (I can't undo because I've added some stuff I don't want to loose of course !)

[2015-12-17 15:04] nvuaille commented on #111
We were able to do that long time ago. Then it was disabled and never re-enable =P

[2015-12-17 15:09] theod commented on #110
sorry @nvuaille but on dev the bug is not fixed.
I'm on skype if you want to see how things goes on my machine.

[2015-12-17 15:10] theod commented on #111
ok so I turn this ticket into a feature request

[2015-12-17 15:12] jcelerier commented on #110
I'm on it

[2015-12-17 15:12] nvuaille commented on #110
I wrote to fast and remove the comment, sorry.

[2015-12-17 15:33] jcelerier commented on #74
I think that this was due to invalid conversion between char and string.

note to everybody :
in i-score, file https://github.com/OSSIA/i-score/blob/master/base/plugins/iscore-lib-state/State/ValueConversion.cpp there are many conversion functions that are used to convert from Qt's textual formats to iscore's value type.

For instance : https://github.com/OSSIA/i-score/blob/master/base/plugins/isc

[2015-12-17 15:37] reno- commented on #89
ok. I didn't notice that behavior when using QComboBox in my python apps, but I guess it is due to some other stuffs in the device explorer… Thanks to have had a look

[2015-12-17 16:05] theod opened #112 ""Add child" should propose to create a node without Address by default"
I would like to add a /mouse/click address to an OSC device.
unfortunatelly I can't add sub node  :

![capture d ecran 2015-12-17 a 17 05 08](https://cloud.githubusercontent.com/assets/118426/11874503/63800c44-a4e0-11e5-87d4-43cf6abbd219.png)

do I miss something ?

[2015-12-17 16:08] nvuaille commented on #112
You have to create 'mouse' as child of the device and then 'click' as child of 'mouse'

[2015-12-17 16:13] nvuaille commented on #93
Seems to be fixed.

[2015-12-17 16:13] #93 closed, assigned to nvuaille

[2015-12-17 16:13] theod commented on #85
I just had a crash related to address listening :

[crashlog.txt](https://github.com/OSSIA/i-score/files/65619/crashlog.txt)

[2015-12-17 16:22] theod commented on #112
but I don't want to declare "mouse" node with any typed Address under.
so by default we should have only a text field for tag then under an "add Address" button to start the setup of an address under this node.

does it make sens ?

[2015-12-17 16:26] theod commented on #112
or another option would have two options into the menu : "add node" and "add address" ?
not sure about the utility of "add sibling" ...

@reno-, @bltzr, @avilleret and @jln- ?

[2015-12-17 16:37] theod opened #113 "Don't making a sequence using the current selection in device explorer"
Here are some pictures to illustrate the process.

1/ starting to make the sequence from an empty event:

![capture d ecran 2015-12-17 a 17 30 06](https://cloud.githubusercontent.com/assets/118426/11875331/6e8e4958-a4e4-11e5-81a2-26f619b00a0a.png)

2/ looking into the end event state: there is a "/speed 0" message

![capture d ecran 2015-12-17 a 17 31 04](https://cloud.githubusercontent.com/assets

[2015-12-17 17:12] theod commented on #110
fixed ! mega teuf excellent !

[2015-12-17 17:12] #110 closed, assigned to nvuaille

[2015-12-17 17:17] nvuaille commented on #113
I'm not sure that I understand but :
- sequence duplicate namespace (with current value) even if value are the same as in the start state (that's what it really does and not necessary what it should do)
- creating a state with a selection in device explorer add this address to the state (not sure it should do that for a sequence ...)

[2015-12-17 17:56] jcelerier commented on #89
Yep, it's not QComboBox at all but the QItemDelegate for a bool QVariant provided by QTreeView / QListView / ...

[2015-12-18 09:31] theod opened #114 "don't store messages when storing what is below a node"
When I store the state of the output model (cf Documentation/Examples/Max) the "record/file/path" message and some others (like "dspStatus") are stored but I don't want them so I need to go into the state to remove them manually (and at this point it is not easy to know which parameters and which are messages...).

I'm wondering if we really want messages to be part of a massive storage (I mean wh

[2015-12-18 09:32] theod commented on #74
it seems ok.
is it still a problem for you @pchdev ?

[2015-12-18 09:42] jcelerier commented on #114
I think that it was not there originally but @pchdev asked me to add them when dragging a state from the explorer. Maybe a user settings somewhere ?

[2015-12-18 09:43] theod commented on #113
I'll try to be more clear.
Before I make the sequence I have 2 events where the state for each of them are:

(1)
- speed 0
- number 20

(2)
empty

then when I create a sequence from the second event, the state of the new third event is:

(3)
- speed 0

for now I would expect to have nothing in the third state as I start from an empty state.

and in the future, if I remember well what @reno- asked

[2015-12-18 09:51] theod commented on #114
ok so we should wait for @pchdev to explain why he needed them.
I guess it is for a device like an OSC device where we usually deal with messages as there is not necessarily an echo from the device. so in that case it makes sense.

and finally I think in the case I describe I simply have to remove those nodes from the device explorer to not store them...

[2015-12-18 09:55] theod opened #115 "device explorer filters are broken"
when I use the filters under the device explorer I don't what I expect :

here is the namespace without filtering :

![capture d ecran 2015-12-18 a 10 53 12](https://cloud.githubusercontent.com/assets/118426/11894169/be8e86e8-a575-11e5-9cd2-456dc98daef3.png)

and with a filtering for Set 1 :

![capture d ecran 2015-12-18 a 10 53 24](https://cloud.githubusercontent.com/assets/118426/11894173/ca2b49

[2015-12-18 10:26] theod opened #116 "destroying a node doesn't turn off all listening on it and its children"
here are some pictures that illustrates the issue :

here the listening on /input/audio/gain is active as expected :

![capture d ecran 2015-12-18 a 11 24 27](https://cloud.githubusercontent.com/assets/118426/11894819/0bf16a14-a57a-11e5-8b18-86998fd1621b.png)

then I remove the  /input/audio/gain from the device explorer and you can see the listening is still active :

![capture d ecran 2015-12-18

[2015-12-18 10:55] theod opened #117 "Play while focusing on a constraint in fullscreen should only play the constraint content"
a typical use case is when you want to improve a curve :

![capture d ecran 2015-12-18 a 11 54 40](https://cloud.githubusercontent.com/assets/118426/11895341/41a2d7fc-a57e-11e5-83c7-2fd42e6aa007.png)

does it make sense for other users ? @reno-, @bltzr, @avilleret and @jln- ?

[2015-12-18 11:16] theod opened #118 "crash after undoing a node removal that was listening for updates"
this is a reproductible crash.
1/ open "listening on return.maxpat"
2/ open "listening on return.scorejson"
3/ unfold Max node to see info node (at this point value update is ok)
4/ remove the info node
5/ undo the removal (at this point value update is not happening anymore)
6/ try to fold the Max node
=> crash !

here are all the needed files and the crashlog

[listening on return.zip](https://g

[2015-12-18 17:18] jcelerier commented on #113
When creating an event, if there is a node selected in the explorer then it is added in the state. This was a feature request from @bltzr last time at Paris if I remember correctly

[2015-12-19 10:55] jcelerier commented on #116
I fixed it in i-score but maybe it would be nice for the API to double check for it when a OSSIA::Address is about to be destructed ?

[2015-12-19 11:33] jcelerier commented on #118
I tried and couldn't reproduce but it's because I think that I fixed #116 which was related

[2015-12-19 11:35] #85 closed, assigned to jcelerier

[2015-12-19 11:35] #91 closed, assigned to nvuaille

[2015-12-19 11:35] #94 closed, assigned to jcelerier

[2015-12-19 11:35] #104 closed, assigned to jcelerier

[2015-12-19 11:36] #116 closed, assigned to jcelerier

[2015-12-19 11:36] #118 closed, assigned to jcelerier

[2015-12-19 11:39] jcelerier commented on #41
No, they are really a min and a max.
In i-score the automation is stored between 0 and 1, 0 being the bottom of the box and 1 being the top.
Before sending it to the API it is scaled like this : `api_y =  iscore_y * (max - min) + min;` with these factors.

[2015-12-19 12:57] #108 closed, assigned to jcelerier

[2015-12-19 12:58] jcelerier commented on #109
For now and until I have time to write a proper one, I disabled the context menu (it was refering to the slot of the parent constraint anyway - but this particular crash has been fixed). To show a process you should press the little "~" in the inspector.

[2015-12-19 13:04] jcelerier commented on #78
Has been fixed somewhere in master

[2015-12-19 13:04] #78 closed, assigned to jcelerier

[2015-12-19 13:06] jcelerier commented on #87
I fixed the 1025 being displayed part

[2015-12-19 13:07] jcelerier commented on #86
Sorry, I don't have enough information and cannot reproduce :(

Please not that this might be happening if you're trying to open a save file from a previous commit - I try to guarantee that there will be no changes in the save format but cannot make any promises before 1.0.0 final. (actually, I can promise that there will be some breaking changes before).

[2015-12-19 13:08] #86 closed, assigned to jcelerier

[2015-12-21 09:41] jcelerier commented on #106
this one is actually tricky :

for this scenario :
![state](https://cloud.githubusercontent.com/assets/2772730/11927763/2e7408d8-a7cf-11e5-88df-b7f0252e6150.png)

now, what happens if I switch the address of the curve from /a to /b ?
Should the shape of the curve stay the same, and the states change ? or should the states stay the same and the first / last point of the curve change ?

[2015-12-21 09:44] jcelerier commented on #56
I think that this has been solved. I don't seem to have focus issues anymore.

[2015-12-21 09:44] #56 closed, assigned to theod

[2015-12-22 14:45] reno- commented on #107
It's a bit hard to have a strong opinion on this now. Because both possibilities have their pros and their cons.
I will try using loops to get my opinion on this.

[2015-12-22 14:48] reno- commented on #112
I think that having nodes for each / in the address is a good convention.  It will be weird if we have some nodes that represents a / and some slash into other addresses. So I think I prefer to keep things as it is.

If it is a UI question, maybe we could ask to automatically expand nodes that are only nodes when using device explorer

[2015-12-22 16:05] jcelerier commented on #112
I added a "None" value type to the address dialog box.

Should it be the first one proposed ? because I think that somebody wanted the types sorted alphabetically once.

[2015-12-23 10:01] nvuaille commented on #115
I guess it's filtering upon name whatever you choose in the combobox ...
I'm looking for that !

[2015-12-23 11:40] nvuaille commented on #115
@jcelerier it seems that the QVariant stored (for each cell) has something wrong with type other than string ...

[2015-12-29 14:27] bltzr opened #119 "i-score crashes when removing nodes from the explorer"
I just selected 3 (toplevel) nodes, hit -backspace, and boom !

Process:               i-score [43051]
Path:                  /Applications/i-score.app/Contents/MacOS/i-score
Identifier:            org.i-score
Version:               1.0.0-a34 (1.0.0-a34)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           i-score [43051]
User ID:               501

Date/Ti

[2016-01-02 15:03] jcelerier commented on #119
I tried fixing it in v1.0.0-a35 (should be online in about 1 hour)

[2016-01-04 14:21] theod commented on #113
ok ! fine.
so maybe this feature should be muted when making a sequence as in that case we want to work according to the namespace of the previous events.
what do you think @bltzr ?

[2016-01-04 14:37] theod commented on #41
ok I understand how it works for now.
however min and max of a parameter should be centralized into the device manager window.
and if the user changes them afterward i-score should propose to the user if he wants to apply the change to each existing automation (by clipping or scaling).

then in the inspector the min and max should be related to the display range for edition convenience.

[2016-01-04 14:45] jcelerier commented on #66
what should happen in the case where three curves are created and then one or two of these curves are removed ?

[2016-01-04 14:58] jcelerier commented on #41
mhh... what should happen if the address of the curve is missing in the device explorer ?

[2016-01-04 15:20] lossius commented on #66
Personally I'd say that it is more important to be able to use arrays with dataspace than to enable individual curves for each array member. Dataspace is important e.g. in order to swap between straight-line and circular spatial movements, and is a more meaningful way of describing the desired results than having to specify curves individually for each array member.

Also I believe that this shoul

[2016-01-04 16:10] theod commented on #41
by default min and max are 0. and 1. so the default range to display if the effective range is missing should be also 0. and 1.

[2016-01-04 16:18] theod commented on #112
I would say to propose and focus on None option into the menu but to have them sorted alphabetically.
is it possible ?

this way it will increase the understanding of what we are doing IMHO.

[2016-01-05 11:23] theod commented on #109
this is fixed on dev ! thanks

[2016-01-05 11:23] #109 closed, assigned to jcelerier

[2016-01-05 11:27] theod commented on #106
I would expect the second behavior but I add @reno-, @bltzr, @avilleret and @jln- to have their point of view.

[2016-01-05 11:49] reno- commented on #106
Yes I agree with @theod. When I set values in states,  I expect that they cannot be changed until I do it explicitly

[2016-01-12 10:15] pchdev commented on #74
sorry.. didn't check my github messages lately.
and no, it's still not working for me it seems unfortunately

[2016-01-12 10:25] pchdev commented on #114
yeah I see what you mean, and this has been a "problem" for me as well.. It just seemed logical to me to have the possibility to send messages like "bang" etc. directly from i-score, or, let's say choosing a waveform for an oscillator (like "sine", "sawtooth", "square" etc.).
Yet, I didn't necessarily want to have them stored in a state when dragging a whole node-container, I just wanted to have t

[2016-01-12 11:48] theod commented on #114
yes you are ! thanks

[2016-01-12 15:48] bltzr commented on #114
I was also confused by this behavior... and IMHO messages should not be retrieved when doing a snapshot
I agree that we need a way to send messages from i-score (hence to store them), but that shouldn't be done this way, I think...
I'm even surprised messages give any value at all when queried...

[2016-01-12 15:49] bltzr commented on #114
So, I'll reopen the issue, if that's OK for you guys

[2016-01-13 14:15] pchdev commented on #114
yep! good idea

[2016-01-16 11:01] jcelerier opened #120 "Graphical editor for tuples"
Two possibilities :
- Use the parser inside Expression to parse a text string corresponding to a tuple in the DeviceExplorerModel / MessageItemModel
- Make some kind of tree view to represent nested tuples

[2016-01-16 17:22] bltzr commented on #120
I'm not sure I get what the possibility is
Concerning nested tuples, maybe we should find a solution with simple tuples for a start, I'm not sure anybody will even use any nested tuple (at least, there isn't "device" or client app supporting nested tuples that I know of...)

[2016-01-16 17:36] jcelerier commented on #120
First possibility is typing a text like "[ 1, 2.3, 'a', [ "boo", impulse ] ]"

Second possibility is a graphical editor

It's trivial to do when doing a client app from code (I do and I make students do this). For instance it is necessary (or at least pretty nice) if you want to send a matrix or something like this over OSC.

[2016-01-19 14:57] avilleret opened #121 "crash on play or on mouse selection"
with 1.0.0-a36, here is a backtrace : https://gist.github.com/avilleret/6275da96c701e752e184

[2016-01-19 15:01] avilleret commented on #121
here is another one triggered by selecting a node with mouse click&drag : https://gist.github.com/avilleret/c143d836ce2f91151d97

[2016-01-21 11:14] nvuaille opened #122 "merging events and timenodes : workflow ?"
Case 1 :
I have an existing event and I want to merge it with another existing event.
Case 2 :
I have an existing event and I want to put it on an existing timenode (without merging any events = merging timenodes)

Example : You have 2 parallel ways and you want to do a conjunction (= synchronise the end) without creating a new constraint.

What should be the workflow ?

@theod @bltzr @jln- @reno-

[2016-01-26 18:08] theod opened #123 "can't access to I/O type and other options when editing a Bool typed Address"
If I create an Address and I select Bool type I can see many options :

![capture d ecran 2016-01-26 a 19 02 40](https://cloud.githubusercontent.com/assets/118426/12589782/bb001ef2-c45f-11e5-8a43-f922a0aae275.png)

but i I try to edit the Address afterward the options are not available anymore :

![capture d ecran 2016-01-26 a 19 03 06](https://cloud.githubusercontent.com/assets/118426/12589816/e5

[2016-01-26 18:09] theod commented on #123
there is also a strange behavior with Tuple typed Address but in that case the type si None when I try to edit the Address. not sure it is related ?

[2016-01-26 18:23] theod commented on #123
this appends on a36 release and on dev branch too

[2016-01-27 10:27] theod commented on #122
here is a screenshot :

![capture d ecran 2016-01-27 a 11 25 48](https://cloud.githubusercontent.com/assets/118426/12610594/ed7d597e-c4e8-11e5-9405-1c3a352d3406.png)

so from what I understand is how to connect the two last events ?

[2016-01-27 14:01] theod opened #124 "listening is not activated just after Address creation"
if I add an Address to a Device i-score doesn't start the listening.
I have to fold then unfold the parent node to start the listening.

[2016-01-27 14:10] theod opened #125 "cmd+c on an event A then cmd+v on an event B doesn't copy the state of A into B"
is this a bug or lack of documentation ?

[2016-01-27 14:11] theod commented on #125
and to be more precise the state of A should be merged into the state of B

[2016-01-27 14:32] nvuaille commented on #125
I guess we should before answer this one : https://github.com/OSSIA/i-score/issues/55

[2016-01-27 14:35] nvuaille commented on #125
(and maybe answer this one to : https://github.com/OSSIA/i-score/issues/122)

[2016-01-27 14:39] nvuaille commented on #125
For now, cmd+v doesn't do anything I think.
The current way to add the state of event A to the state of event B is to use the "Paste Content" option (in object menu and in contextual menu)

[2016-01-27 14:46] nvuaille commented on #111
That's a particular case of what I mean in #122

[2016-01-27 14:50] nvuaille commented on #90
A subjacent question is : why an end event ?

[2016-01-27 15:06] theod commented on #125
but how do I copy the content of A ?
if I do cmd+c on the eventA and then "Paste content" on B it doesn't work.

here A is the start pattern event :
![capture d ecran 2016-01-27 a 16 04 03](https://cloud.githubusercontent.com/assets/118426/12617391/c2067920-c50f-11e5-868f-d8fba5a85eec.png)

and B the end pattern event :
![capture d ecran 2016-01-27 a 16 06 07](https://cloud.githubusercontent.com/a

[2016-01-27 15:15] nvuaille commented on #125
hmmm ...
Works for me on linux. Can you try to use the menu "Object/copy" instead of cmd+c ? I fear that OSX is kidding us ...

[2016-01-27 15:19] theod opened #126 "State should not be displayed as a tree"
for now State is represented as tree :
![capture d ecran 2016-01-27 a 16 01 09](https://cloud.githubusercontent.com/assets/118426/12617492/363f2256-c510-11e5-8b1b-42af128762ac.png)

but in the current projet I'm working on I would like to be able to send a message (/flock/add 340. 180.) several times in the same State to create many objects in a raw (yes I could create a message /flock/add/number

[2016-01-27 15:22] theod commented on #126
is @bltzr , @reno- , @avilleret , @jln- are agree with me ?

[2016-01-27 15:30] theod commented on #90
do you mean "why an end event" for the Scenario ?

[2016-01-27 16:01] theod commented on #125
same result :-s

[2016-01-27 16:06] nvuaille commented on #90
Yep !  All right

[2016-01-27 16:21] jcelerier commented on #126
Originally I think that a tree was requested. Jean-Michel & Magnolya proposed to have both (see the attached pdf)
[interface_ig_iscore0.3_16.pdf](https://github.com/OSSIA/i-score/files/106935/interface_ig_iscore0.3_16.pdf)

[2016-01-27 16:29] theod commented on #90
oups ! sorry forget about the last comment (I just removed it)

[2016-01-27 16:33] theod commented on #90
I've forgot there was an internal TimeNode for the end inside the Scenario class.
and I would say : let's try to comment it and see if someone need it ...

are you ok with this radical change in Scenario API @jcelerier (no more Scenario::getEndTimeNode()) ?

[2016-01-27 16:36] theod commented on #126
yes I'm agree with this : a tree of States but not a tree of Message's Address.
but I guess this is a long task ...

[2016-01-27 16:39] theod commented on #90
just to be sure we are talking about the same thing :
this doesn't mean we'll remove the End TimeEvent of the TimeConstraint that handles the Scenario.

[2016-01-27 17:34] theod opened #127 "how to move an event between its min and max bound without moving the bounds ?"
here is a screenshot of a typical case I just want to move the event for space convenience but not he max bound because I've put it at a precise duration :

![capture d ecran 2016-01-27 a 18 29 11](https://cloud.githubusercontent.com/assets/118426/12622201/8178e3a6-c524-11e5-833c-bc7df549710c.png)

is it possible ?

[2016-01-27 17:44] theod opened #128 "use [] to access Tuple value index in Expression"
here is what happen in i-score when I click on Ok to store the Expression :

![capture d ecran 2016-01-27 a 18 43 00](https://cloud.githubusercontent.com/assets/118426/12622502/f9ede72c-c525-11e5-882e-ce170322899a.png)

[2016-01-27 18:05] theod opened #129 "crash when trying to setup an Expression with a composition"
Here is what I was trying to do :

![capture d ecran 2016-01-27 a 19 04 57](https://cloud.githubusercontent.com/assets/118426/12623110/e265c39c-c528-11e5-9664-05c99916e8a0.png)

the crash occurs when I click on Ok.

[crashlog.txt](https://github.com/OSSIA/i-score/files/107083/crashlog.txt)

[2016-01-27 18:49] reno- commented on #126
I think a list is the widget that fits our needs in this case.

An OSC message have a mandatory address, but may not have arguments.
So in a Qlistwidget, we might have

/flock/add 10
/flock/trig
/flock/add 30
/flock/trig

What do you think about?

[2016-01-27 18:58] theod commented on #126
it sounds good !
but I let @jcelerier confirm that is the correct solution.

[2016-01-27 19:06] nvuaille commented on #127
It's a CSP's policy, but not the default one and there's no user interface to change that for now =) (it's one question for the next skype).

[2016-01-27 19:11] nvuaille commented on #128
What does this expression mean for you ?
Comparators need definition for other than 1 dimension numbers. For now, i-score doesn't know how to compare tuple.

[2016-01-27 19:21] theod commented on #128
yes you're right.
this typically relative to spatial interaction authoring so I add @jcelerier to explain how it thinks i-score will help us in the future for such a case.

should we postpone this to a release/2.0 ?

[2016-01-27 22:16] jcelerier commented on #123
seems that the problem is because it is a message

[2016-01-27 22:26] jcelerier commented on #125
Just checked, it's because it is not implemented for the loops (but it should be done generically - my fault)

[2016-01-27 22:49] #123 closed, assigned to jcelerier

[2016-01-27 22:49] #124 closed, assigned to jcelerier

[2016-01-28 08:25] theod opened #130 "time progression is not displayed on flexible TimeConstraint"
here is a screenshot that illustrates this trouble :

![capture d ecran 2016-01-28 a 09 23 59](https://cloud.githubusercontent.com/assets/118426/12638936/1cda8ca6-c5a1-11e5-9525-a8804988216d.png)

[2016-01-28 08:28] theod opened #131 "color the border of the event instead of filling it"
as the screenshot illustrates it :

![capture d ecran 2016-01-28 a 09 23 59](https://cloud.githubusercontent.com/assets/118426/12638963/59aa6ea8-c5a1-11e5-8cff-4add72ad4fa8.png)

at execution time the events are filled with a color so it is unclear if they have a state or not.
I would prefer to color the border of the events.

[2016-01-28 09:31] reno- commented on #128
For thé Time being, we might use [index] to use condition for tuples.

Flock/deviation[0] > 5 && Flock/deviation[0] > 5

Does it make sense?

[2016-01-28 10:01] jcelerier commented on #121
Both crashes seems to be related to the parsing of an expression in a condition; could you share the condition that you had ? maybe it's some invalid character that causes the crash or something like this

[2016-01-28 10:04] jcelerier opened #132 "Select address in QLineEdit by right click instead of button"
Mabe it could be done like this ?

http://www.qtcentre.org/threads/7099-QLineEdit-contextMenu

By adding the QMenuView inside the right click menu instead of having a button that must be pressed.
This would make the inspector more readable I think.

[2016-01-28 10:25] nvuaille commented on #132
Seems funny !

[2016-01-28 10:34] avilleret commented on #121
nothing, maybe that's why it's crashing...
I've just retry it, and here is how to reproduce :
1. open i-score
2. create a node with CTLR + clic
3. try to select the node by click & drag, when I reach the middle of the node circle it crashes

this is on Ubuntu 15.10

[2016-01-28 10:57] theod commented on #129
@jcelerier told me you're maybe more aware about this issue

[2016-01-28 11:05] theod commented on #125
there is still a problem when trying to copy the start pattern event content of a loop

[2016-01-28 11:07] theod commented on #128
a lot !

[2016-01-28 11:09] jcelerier commented on #121
ahhh, did you follow the small part in the Quick install section of the README ?

I think that this is due to incompatibility between packages built on ubuntu 14.04 and 15.10; for now i-score should be rebuilt from source on your computer. Or maybe with something like https://build.opensuse.org/ but I never had the time to set it up.
Other possibility is to do a completely static build of i-score

[2016-01-28 11:10] theod commented on #128
but this i-score feature maybe needs some new features in API ...

[2016-01-28 11:10] nvuaille commented on #132
I did it !

[2016-01-28 11:15] jcelerier commented on #132
:cupid:

[2016-01-28 11:16] avilleret commented on #121
following `Quick Install` step in README doesn't help,
so I'll build it from scratch. thanks

[2016-01-28 11:18] jcelerier commented on #128
I don't think so and it makes sense and also allows nesting easily.

Should Matlab syntax (tuple[1, 2]) or C syntax (tuple[1][2]) be prefered ?
What should happen if there is an out of bound access ?

[2016-01-28 11:36] theod commented on #128
:+1 for C syntax

a crash :-)

[2016-01-28 11:55] theod commented on #124
it works perfectly !
thx

[2016-01-28 11:59] theod commented on #123
it works now !
bravo !

[2016-01-28 13:04] avilleret opened #133 "build fail on Ubuntu 15.10"
trying to build i-score myself on my Ubuntu 15.10 laptop leads to :

[code]

this happens with Ninja/Clang++, make/g++ and QtCreator (with which I can force to build against Qt5.4 instead of 5.5);

[2016-01-28 13:14] jcelerier commented on #133
From the looks of it, it needs `qtdeclarative5-dev` . I'll add it to the readme.

[2016-01-28 13:16] avilleret commented on #133
I already have it
another idea ? :-D

[2016-01-28 13:21] jcelerier commented on #133
lie down, try not to cry, cry a lot.

I'm installing a VM, I'll tell you asap

[2016-01-28 13:47] #132 closed, assigned to nobody

[2016-01-28 14:49] jcelerier commented on #133
okay, this was due to the use of a Qt5.5 function.
I pushed the fix on master.

[2016-01-28 14:49] #133 closed, assigned to nobody

[2016-01-28 14:57] nvuaille commented on #131
Should the condition bracket have same color as event during execution ?

[2016-01-28 15:13] avilleret commented on #133
indeed I was using Qt5.4 even on command line
thanks for the fix

[2016-01-28 15:17] jcelerier commented on #133
normally it should work up to Qt 5.3 in order to keep it running on raspberries, but I don't have the time to test very often on old versions.

[2016-01-28 15:31] avilleret commented on #121
you're right, building from scratch solve the issue, thanks

[2016-01-28 15:31] #121 closed, assigned to nobody

[2016-01-28 15:47] nvuaille commented on #130
The problem was with infinity in maximum duration

[2016-01-28 16:31] theod commented on #131
as a logical element the condition widget should be yellow by default (like the trigger) then green or red depending if its event is HAPPENED or DISPOSED.

[2016-01-28 22:13] theod commented on #130
yes it's works now ! thanks !

[2016-01-28 22:13] #130 closed, assigned to nvuaille

[2016-01-28 22:36] theod commented on #131
very nice !

[2016-01-28 22:36] #131 closed, assigned to nvuaille

[2016-01-29 14:06] #125 closed, assigned to jcelerier

[2016-01-29 15:16] nvuaille commented on #55
@bltzr , what did you mean ?

[2016-01-29 16:45] bltzr commented on #55
I mean that, yes, we copy the contents or the elements by default
(that was JM's question)
i.e. messages are copied with a state, or processes with a constraint

[2016-01-29 16:56] nvuaille commented on #55
hmmm ...
I thought (and think) that
contents = states/processes
elements = event/constraint (= temporal structure)

So I understood the question like that : "On copy action, do we copy states/processes to put it in another event/constraint or do we copy event and constraint to put in another place of the scenario ?

[2016-01-29 17:54] bltzr commented on #55
I think so, too

 I’d say it depends if an element of the same kind is selected (then merge) or not (then create new element with content)

agree ?

[2016-01-29 18:42] nvuaille commented on #55
Ohhhh yep, I was so far away ... -_- but finally I've got it !

So yes, I agree : no choice on copy but on paste. We paste as new element by default but, if selection allow it we paste the content in the selected thing.

[2016-01-30 09:27] jcelerier opened #134 "Use ExpressionPulse in expression editor"
I added the ExpressionPulse to the parser and the Expression data model.

On the parser, it will look like `impulse(device:/address)`.
On the tree, it is part of the `ExprData` variant, so one has to check for it :

[code]

It could be nice to add it as a capability to the ExpressionEditorWidget.

[2016-01-31 10:36] jcelerier commented on #128
sorry, using my brain for more than half a second told me that yes, indeed it's necessary to add this in the API.
Now, the big question : if you add arrays accessors, why not add instances ? and then why not call methods on these instances ? And then, why not directly use something like any of the tens of systems that already do the same thing and are mentioned
-  here  : http://www.z25.org/static

[2016-01-31 11:52] reno- commented on #128
Protocol buffers from Google sounds good !!

[2016-02-01 09:14] jcelerier commented on #90
yes please, this would also simplify a lot what happens when you want to make the duration of a scenario smaller.

[2016-02-01 09:19] jcelerier commented on #128
There is alos https://capnproto.org/ which is roughly the successor of ProtoBuf

[2016-02-01 09:26] #54 closed, assigned to theod

[2016-02-01 09:52] #83 closed, assigned to reno-

[2016-02-01 09:54] #119 closed, assigned to jcelerier

[2016-02-01 09:59] nvuaille opened #135 ""Clear Content" doesn't do anything on state/event"
But it clears the constraints well.

[2016-02-01 09:59] #100 closed, assigned to nvuaille

[2016-02-01 10:01] #101 closed, assigned to jcelerier

[2016-02-01 10:01] #97 closed, assigned to nvuaille

[2016-02-01 10:02] #96 closed, assigned to nvuaille

[2016-02-01 10:02] #95 closed, assigned to nobody

[2016-02-01 10:08] #43 closed, assigned to jcelerier

[2016-02-01 11:26] theod commented on #128
all what I read about capnproto looks really nice.
however I'm not sure to understand at which level this will be introduced into the API ?
I've opened a ticket to continue this discussion here : https://github.com/OSSIA/API/issues/20

[2016-02-02 10:51] theod commented on #122
@bltzr proposes to display the timenode of a single event when we are moving a single event under another.

[2016-02-02 10:53] theod commented on #127
this will be solved with the CSP.

[2016-02-02 10:53] #127 closed, assigned to nvuaille

[2016-02-02 11:06] jcelerier commented on #114
consensus : hierarchy : only take the parameters

[2016-02-02 11:09] theod commented on #114
we discussed this during the Bod and we realize that @pchdev said that it was agree with us :

[2016-02-02 13:25] jcelerier commented on #113
This feature will be muted when making a sequence.

[2016-02-02 13:33] jcelerier commented on #58
this seems to be no longer relevant

[2016-02-02 13:33] #58 closed, assigned to jcelerier

[2016-02-02 13:37] jcelerier commented on #77
isn't this meant to be a feature ? @bltzr (and I use it quite often also to test stuff from i-score without needing to alt-tab)

[2016-02-02 13:39] jcelerier commented on #57
not a problem anymore

[2016-02-02 13:39] #57 closed, assigned to jcelerier

[2016-02-02 13:59] jcelerier commented on #74
Maybe it's because the value was very dark on black ? I changed the value to light-gray (returns) and dark-gray (messages).

[2016-02-02 14:00] #112 closed, assigned to jcelerier

[2016-02-02 14:00] #113 closed, assigned to jcelerier

[2016-02-02 14:00] #114 closed, assigned to jcelerier

[2016-02-02 14:34] jcelerier commented on #92
I just checked and it seems that it works as intended ?
![iscore](https://cloud.githubusercontent.com/assets/2772730/12752362/7f69a5b2-c9c2-11e5-9cfd-90c5bd789633.png)

[2016-02-02 15:30] theod commented on #77
when I close the device editor window just after changing some port number or any communication setup I don't want to automatically push the values.

I would propose to allow this feature via the contextual menu of any node : push all current values of each parameters to the device. another option could also be to pull everything ...

[2016-02-02 15:48] jcelerier commented on #77
ah, sorry, I thought that you meant when editing a value inside a device.

[2016-02-02 15:56] jcelerier commented on #77
does this still happen by the way ? I just checked and I had changed the "pushValue" into "setValue" some time ago. pushValue is now only called when explicitely changing the value by hand in the device explorer.

[2016-02-02 16:02] theod commented on #77
oh ! maybe. I didn't check it.
I assign to me to test it

[2016-02-02 16:03] jcelerier commented on #77
I launched a release process, a42 should be out in about ten minutes

[2016-02-02 16:23] jcelerier commented on #79
I'm trying to move it in every way possible but I cannot reproduce :(

[2016-02-02 17:10] jcelerier opened #136 "cannot edit trigger at the end topmost constraint"

[2016-02-03 08:47] pchdev commented on #74
yep, now I see :)
thanks!

[2016-02-03 08:58] pchdev commented on #79
I'm trying to reproduce it too.. seems ok so far. it was maybe a problem with my trackpad... strange

[2016-02-03 09:36] nvuaille commented on #129
@jcelerier : did you change something/ test it ? I had crash only on OSX, I can't reproduce it on any Linux.

[2016-02-03 09:49] jcelerier commented on #129
yes, I worked on it monday.

[2016-02-03 10:14] theod opened #137 "folding a node at execution time close address listening"
I though this was resolved but it is still possible to close/open address listening during execution by folding/unfolding node into the device explorer :

![capture d ecran 2016-02-03 a 11 09 38](https://cloud.githubusercontent.com/assets/118426/12779241/33902850-ca67-11e5-9b02-160763f080cd.png)

this is a critical bug as it breaks all trigger interactions.

[2016-02-03 10:17] theod commented on #137
@jcelerier I have added a post in API to see if an address is closing/opening the listening.
by the way it seems there are some strange behaviors also into the API relative to listening activation but I would like to be sure the interface is not doing anything at execution time.

[2016-02-03 10:55] jcelerier commented on #137
okay, this will require a bit of time to do this properly.

[2016-02-03 12:28] nvuaille commented on #92
The bug I saw isn't here anymore, nice !

[2016-02-03 12:28] #92 closed, assigned to jcelerier

[2016-02-03 12:35] nvuaille commented on #115
Better ! but ...
You look if the requested entry is contained in the field. That's good for addresses name but for value it's a bit strange : if I ask for "5" in the "value" field, I saw all the "0.5" values or "-5" or any number with a 5 in it...

[2016-02-03 12:57] nvuaille commented on #135
Look nice for states. Should it remove conditions/trigger from event ?

[2016-02-03 13:32] nvuaille commented on #129
Doesn't crash anymore !
But question : if there's no binary operator, the 2nd relation is not saved, without a word. Should we say something to the user ?

[2016-02-03 13:35] nvuaille commented on #15
I guess it's OK, so I close it.

[2016-02-03 13:35] #15 closed, assigned to nobody

[2016-02-03 13:39] nvuaille commented on #32
There is the "interpolate state" action that actually creates an automation per address present in start and end state (if values are differents)

[2016-02-03 13:39] #32 closed, assigned to nobody

[2016-02-03 14:04] jcelerier commented on #129
maybe put it in red if it is not the first and empty ?

On Wed, Feb 3, 2016 at 2:32 PM, nvuaille notifications@github.com wrote:

[2016-02-03 15:08] himito opened #138 "i-score doesn't save the scenario"
In OSX, when one has a new file i-score does not save the scenario by pressing ⌘ + S :astonished: . It is necessary to do "Save As"  in order to save the new scenario.

[2016-02-03 16:17] theod commented on #115
thx @nvuaille it's working for "Set" and "1".
but as you mentioned there are a lot of trouble in value filtering.
I put them below

[2016-02-03 16:18] theod commented on #115
here is the namespace without filtering :
![capture d ecran 2016-02-03 a 17 08 49](https://cloud.githubusercontent.com/assets/118426/12788537/2726813a-ca9a-11e5-9aa1-96b65ebb3365.png)

[2016-02-03 16:19] theod commented on #115
here are some troubles I've noticed on Value :

for Int value
![capture d ecran 2016-02-03 a 17 07 50](https://cloud.githubusercontent.com/assets/118426/12788561/3c110bce-ca9a-11e5-923b-3ff35a2d4043.png)

[2016-02-03 16:19] theod commented on #115
for float value :
![capture d ecran 2016-02-03 a 17 08 04](https://cloud.githubusercontent.com/assets/118426/12788566/4291bdf4-ca9a-11e5-8024-cd7c1a442028.png)

[2016-02-03 16:20] theod commented on #115
for tuple value :

![capture d ecran 2016-02-03 a 17 07 32](https://cloud.githubusercontent.com/assets/118426/12788613/646d4196-ca9a-11e5-944c-6269f0864fc0.png)

[2016-02-03 16:21] nvuaille commented on #115
One should use the dot '.' as decimal separator, even if the explorer display a coma ','. That's why 0,5 match to nothing.

[2016-02-03 16:22] theod commented on #115
I've also have a trouble for "Get" "0" or "Set" "0" :

![capture d ecran 2016-02-03 a 17 11 06](https://cloud.githubusercontent.com/assets/118426/12788655/a3be081c-ca9a-11e5-91d1-9baae45c6efd.png)

[2016-02-03 16:22] theod commented on #115
same problem than value for min and max :

![capture d ecran 2016-02-03 a 17 12 48](https://cloud.githubusercontent.com/assets/118426/12788673/c1018340-ca9a-11e5-9911-0cd6c756f34a.png)

![capture d ecran 2016-02-03 a 17 12 59](https://cloud.githubusercontent.com/assets/118426/12788676/c447bd62-ca9a-11e5-9570-35a4eaba3261.png)

[2016-02-03 16:26] theod opened #139 "device filtering resets fold status of nodes"
this is not critical but just annoying.
each time I change the filtering result is folded and so I have to unfold everything to see the result.
I would expect to unfold each element of the result.

![capture d ecran 2016-02-03 a 17 10 35](https://cloud.githubusercontent.com/assets/118426/12788769/43a49b20-ca9b-11e5-827f-3f5276f8a6af.png)

[2016-02-03 16:32] theod commented on #135
it works !

I say no as those elements are not content elements but logical elements

[2016-02-03 16:32] #135 closed, assigned to nobody

[2016-02-03 16:39] jcelerier commented on #139
From what I see in `DeviceExplorerFilterProxyModel` I am not sure that this is possible (apart from saving the list of all the open nodes somewhere, which is not really cool)

[2016-02-03 16:41] jcelerier commented on #137
Pushed in dev  to fix this, but please test many cases because it changed a lot of things.

[2016-02-03 16:45] theod commented on #129
yes it works !

+1 for red  and maybe we should block the ok button ?

[2016-02-03 16:47] theod opened #140 "warn user about bad logical expression"
from a discussion started here https://github.com/OSSIA/i-score/issues/129#issuecomment-179251567

[2016-02-03 16:48] theod commented on #129
I close this one as I've opened a new one for the last point

[2016-02-03 16:48] #129 closed, assigned to nvuaille

[2016-02-03 16:49] theod commented on #139
ok no problemo
I postpone it for a next release so

[2016-02-03 18:26] theod opened #141 "have a greyscale representation"
this is not for the next release but @cbossut said we should be able to display a score in greyscale to increase accessibility.

[2016-02-03 18:35] theod commented on #137
ok thx. I'll made some test later before to close this issue

[2016-02-03 19:00] nvuaille commented on #141
When compiling there's a CMAKE option that set colors in grayscale. (it's called something like ISCORE_IEEE_SKIN ).

[2016-02-04 11:59] jcelerier commented on #141
indeed, running CMake with `-DISCORE_IEEE:Bool=True` (or setting it up in the gui) will put a black-on-white color scheme suitable for publications, along with more "readable" (but less pretty) fonts.

[2016-02-05 09:36] theod opened #142 "allow to create an optional event on max bound"
I keep this proposition as a question as it need to be discussed together.
it allows to create alternative branch depending if the interaction happen or not before the max bound.
the idea have been fully described on the dev list.

[2016-02-05 09:38] theod commented on #142
this depends on a feature of API : https://github.com/OSSIA/API/issues/22

[2016-02-05 09:52] theod opened #143 "don't allow min bound and max bound to reach the end event position"
as discussed on the dev list it would increase readability and would avoid some ambiguity when https://github.com/OSSIA/API/issues/22 will be available.

the idea is to avoid this :

![capture d ecran 2016-02-05 a 10 51 00](https://cloud.githubusercontent.com/assets/118426/12842934/6c5583c0-cbf6-11e5-9a96-500b389320ec.png)

by limiting bounds to this :

![capture d ecran 2016-02-05 a 10 51 05](htt

[2016-02-05 10:02] nvuaille opened #144 "Automation not played"
It's work well on release a-42 but didn't anymore on commit 04cd4af6dfc4750b9e3caa5bed55a02fb42347f4

[2016-02-05 10:30] nvuaille commented on #142
I realize yesterday that one can use 'fake' osc device as an internal memory to store global var. So I was able to create a scenario resolving the blue yeti problem (a player run and press a button at the end. A short delay means cheat, a too long one means player left) with a system of flag.

That's cool but not very user friendly, I agree.

But I think we could improve that by using intern var /

[2016-02-05 10:36] nvuaille commented on #138
For explanation, it's because we used to detect a new file by an unset name. But now, it has one : "untitled". So on new document cmd+s doesn't ask for a name/location and you have certainly a score stored somewhere in your temporary files =)

So. We have to fix that. -_-

[2016-02-05 11:18] theod commented on #142
yes the solution you proposed was quite the same than Blue Yeti proposed in the Runner example (that you can read here : https://www.dropbox.com/s/8prlpioqyg750y2/M_%20use%20case%20Arena.pdf?dl=0 ). in this solution Blue Yeti resolved this case by comparing the elapsed time of the constraint and its max duration bound (considering i-score elements as part of a local device).

I understand your rel

[2016-02-05 14:00] jcelerier commented on #144
:crying_cat_face:

[2016-02-05 14:10] jcelerier opened #145 "Int values are converted to float if in states at the end of an automation"
Problem is in AutomationState.cpp:52 : instead of casting to float, we should cast to the type of the address (if there is a corresponding address).

[2016-02-05 15:03] nvuaille commented on #90
There is no rift with the CSP. But this last event can move and be executed before the end of the scenario : it's considered as a floatting event, like dropped ones.

[2016-02-05 23:45] cbossut commented on #141
The point was especially to say that we should not use only color to show
something in the GUI because this information could be lost in gray-scale.

2016-02-04 12:59 GMT+01:00 Jean-Michaël Celerier notifications@github.com:

##

Clément Bossut

[2016-02-06 19:08] jcelerier commented on #144
found the problem (note to self : `iscore_merged_components`)

[2016-02-06 22:01] #145 closed, assigned to nobody

[2016-02-09 12:16] bltzr opened #146 "automation update rate is too high !!"
The current update rate for automations seems to be 1ms.
This creates a lot of traffic on the network... and a lot of processing on the client size (particularly when having many simultaneous automations running)
Mileages may vary on this... but I'd suggest having 10ms as default.
This is equivalent to 100fps, which is more than enough for video... and anyway, no update rate can be enough for audi

[2016-02-09 12:16] bltzr commented on #146
@theod said he could change this in the API, but that might break tests... @jcelerier @nvuaille ?

[2016-02-09 12:28] bltzr opened #147 "update rate management potential improvements"
as a follow-up of #146 - for future versions of i-score:

I don't think it's useful or desirable to have same update rates for all automations: sometimes some automations need to be very precise, sometimes they need to be very loose... most of the time, though (at least in my opinion) they don't need to be as quickly updating as they currently do (as of 1.0).

This update rate is depending on each

[2016-02-09 12:29] bltzr commented on #147
opinions @jcelerier @nvuaille @reno- @jln- @cbossut @lossius ? (please cc to anyone you think might be interested...)

[2016-02-09 12:33] jcelerier commented on #146
@theod told ya :p

[2016-02-09 12:34] reno- commented on #147
I totally agree that automation update rate need to be setable for each devices.
It will be really nice to have a different rate for each automation, but IMHO it could be done later on.

[2016-02-09 12:36] bltzr commented on #147
yup, setting for a device could be a good start if that's simpler

[2016-02-09 12:36] bltzr commented on #146
wot ya mean @jcelerier ?

[2016-02-09 12:55] jln- commented on #147
@reno- Do you mean for the whole device or, as I understood from Pascal message, for each parameter of a device ?

My use being mostly Max-related, I personally have little need for a device-based update rate. On the other hand, I do imagine the need for a parameter-based update rate.

Being able to do so on each automation certainly sounds nice but my feeling is that it's really really specific,

[2016-02-09 13:21] bltzr commented on #147
I mainly encountered the problem of having my computer bloated by too much data coming in at 1KHz (current rate...)

[2016-02-09 13:27] reno- commented on #147
You're right @jln- . Per-parameter sounds better than per-automation. But per-device is important too. For exemple if you have a serial device (with a osc2serial converter between) and an OSC device, you won't have the same rate. If you control DMX, 40 Hz could be enough and so on…

So maybe we should have per-device update rate and per-paramete. Per device might be set to 10 or 15 by default. We

[2016-02-09 13:28] bltzr commented on #147
good!

[2016-02-09 13:34] jcelerier commented on #146
https://github.com/OSSIA/i-score/commit/c9335db6b6f674a800e38da212e2197321b1ba17

[2016-02-09 13:50] jln- commented on #147
Sounds good to me as well !

[2016-02-09 14:16] bltzr commented on #146
I don't understand... but Théo does...
BTW, he has reduced the rate to 10 ms ... could you please make a release @jcelerier so I can try it ?
thx

[2016-02-09 14:46] theod opened #148 "min and max bounds are still displayed after removing a trigger"
here is the initial situation :

![capture d ecran 2016-02-09 a 15 41 21](https://cloud.githubusercontent.com/assets/118426/12919366/03a10290-cf44-11e5-8662-52e5ba4bd069.png)

autre removing the first trigger I have this :

![capture d ecran 2016-02-09 a 15 42 23](https://cloud.githubusercontent.com/assets/118426/12919378/13b0d638-cf44-11e5-8ea4-4dd2d9bc6a34.png)

and if I try to remove the bounds

[2016-02-09 14:48] theod commented on #148
notice that if I move the node the max bound disappears :

![capture d ecran 2016-02-09 a 15 47 31](https://cloud.githubusercontent.com/assets/118426/12919475/83f67790-cf44-11e5-9d1c-04d794510e9c.png)

[2016-02-09 15:09] theod commented on #148
and at execution everything works like if there was still a trigger (the listening is opened when min bound is reached) :

![capture d ecran 2016-02-09 a 16 08 21](https://cloud.githubusercontent.com/assets/118426/12920084/7ab5262e-cf47-11e5-9115-581204f3f8cb.png)

[2016-02-09 15:11] nvuaille commented on #148
The min was not correctly set to the default duration ... Fixed !

[2016-02-09 20:49] theod commented on #148
yes ! it is fixed ! thank you

[2016-02-09 20:49] #148 closed, assigned to nvuaille

[2016-02-09 20:55] theod opened #149 "can't move the first point of a curve"
as shown in the picture I can move the last point but not the first point :

![capture d ecran 2016-02-09 a 21 53 47](https://cloud.githubusercontent.com/assets/118426/12930308/d4cce608-cf77-11e5-909f-ea37281401bb.png)

[2016-02-09 20:57] theod commented on #149
as he plans to use mapper, I add @bltzr to warn him about this issue.

[2016-02-09 20:58] theod commented on #149
@nvuaille are you aware of Mapper implementation or should we assign to @jcelerier ?

[2016-02-09 21:01] theod commented on #149
but I've managed to drag the point in fullscreen mode however if I move the point to far on top the point I can't move it afterward.

![capture d ecran 2016-02-09 a 21 59 10](https://cloud.githubusercontent.com/assets/118426/12930467/c224e5e0-cf78-11e5-9397-ed168c6635f2.png)

[2016-02-10 09:06] jcelerier commented on #149
mh, the GUI part is exactly the same as for automation so it's weird if it works for automation and not for this :(

[2016-02-10 09:59] theod commented on #149
yes it is the same for Automation

[2016-02-10 10:09] theod commented on #147
+1 for each of you. all those features sounds important to allow a precise data flow control from i-score.

this reminds me a discussion we had with @cbossut and @lossius in Albi :

[2016-02-10 10:09] nvuaille commented on #149
It seems to work fine for me ...
Not really fine indeed but it moves. I think the grip zone is to small.

PS : just notice that a timenode seems to hide the point

[2016-02-10 10:14] theod commented on #149
yes I guess it is just a matter of making the grip zone larger.

[2016-02-10 10:30] bltzr commented on #147
good points !
As a start, I'd say that we should have a field for the RefreshRate in i-score (with a default value) - and then optionally, when devices are able to provide this info, we should use the value from the device (either globally on per-parameter)
outsourcing the ramp to the remote device is another, related, problem... but it seems much more complicated to handle...doesn't it ?

[2016-02-10 10:31] bltzr commented on #147
@reno- I agree with you !

[2016-02-10 10:53] theod commented on #147
sure ! but it was just to extrapolate about this issue as it is part of a global feature that needs to be designed in a wise way into the API.

[2016-02-10 12:49] reno138 commented on #147
Hey folks. Just a heads up...

I'm @reno and I'm pretty sure you're trying to tag @reno-

Just wanted to make sure you are getting the right folks involved.

[2016-02-10 13:38] jcelerier commented on #147
Mhh, everywhere on the conversation it looks like everybody wrote "@ reno-" ?  Maybe a github bug ?

[2016-02-10 13:54] reno138 commented on #147
Might be. Doesn't bother me. I just wanted to make sure you are getting the right people in on your conversation.

[2016-02-10 13:56] reno- commented on #147
Not a github bug… I  changed the mistake when @reno sends the message. Sorry for the noise bro' !

[2016-02-10 13:58] reno138 commented on #147
No worries.

[2016-02-10 14:27] jcelerier commented on #147
For now in dev I implemented a settings panel that allows to change the base execution rate.
- it's only set before starting the execution (so changing it mid-course won't work - for now).
- it's global and remembered between launches of i-score (it's not part of the project)

[2016-02-10 14:52] #44 closed, assigned to jcelerier

[2016-02-10 14:52] #144 closed, assigned to jcelerier

[2016-02-10 14:52] #149 closed, assigned to nvuaille

[2016-02-10 15:19] theod commented on #149
yes it is better now !
I will open another issue concerning the fact that if I move the point to far on top, the point I can't move it afterward.

[2016-02-10 15:21] theod opened #150 "a point at the top left corner can't be moved"
if I move the point to far on the top left cornet, the point I can't move it afterward.
of course I can avoid to put the first point here but this means I can start an automation from the max bound value.

[2016-02-10 15:33] nvuaille commented on #150
I can't reproduce this issue ...
Do you have a screenshot/ a scenario ?

[2016-02-10 15:40] theod commented on #150
here is a screenshot where each point are in the corners.
![capture d ecran 2016-02-10 a 16 39 00](https://cloud.githubusercontent.com/assets/118426/12951941/003e022a-d015-11e5-9717-09964ecf9c54.png)

I can move the bottom right point but not the top left one.

[2016-02-10 15:43] nvuaille commented on #150
mhh
I think it's because of the startTimeNode, which seems to be over your point.
If you move down your constraint I guess you will be able to move the point. So, I'm going to put that timenode back.

[2016-02-10 16:58] theod commented on #137
this is ok now !

[2016-02-10 16:58] #137 closed, assigned to theod

[2016-02-10 21:36] #138 closed, assigned to jcelerier

[2016-02-10 21:36] #150 closed, assigned to jcelerier

[2016-02-10 22:06] #74 closed, assigned to jcelerier

[2016-02-10 23:47] theod commented on #147
great !
I've noticed that i-score reminds the last value even without no project loaded.
it is fine for the time being but to close this ticket I would say this value should be saved with the project : for example the boids_choregraphy project expect a 1 ms refresh rate in order to create 300 boids as quick as possible otherwise the creation loop misses many patterns.

[2016-02-11 08:37] jcelerier opened #151 "Project-level settings"
As per #147.

To do this, have a per-document Settings instance.

[2016-02-11 09:46] bltzr commented on #147
that's great ! Thanks @jcelerier !!!
if you can add the unit (i.e. ms) that would be more self-informative (I had to check if it was ms or fps)

[2016-02-11 11:11] lossius commented on #147
Hi,

My two cents: I have also experienced network transmission overload and Max becoming unresponsive (spinning beach ball), so I agree that it will be useful to be able to set this as needed. At the same time I'd encourage a "convention over configuration" approach here:

1) i-score should have a sensible convention for default update rate. Personally I would suggest this to  be 5 ms. This could

[2016-02-11 11:13] lossius commented on #147
And in following up: If the networked device is able of handling ramps itself, the responsibility of ramping could be delegated to the device rather than being done by i-score. This would be an additional setting relating to (2). Eventually, the question of whether the device is able to handle ramps or not could be part of the Minuit or OscQuery protocol itself, so that the user do not need to set

[2016-02-11 11:36] jcelerier commented on #147
How would it work in the case where i-score says "start ramp /x from 10 to 20 in five seconds", and then due to an interactive event, stops ramping at four seconds ? Does all "ramping" protocol support being interrupted ?

[2016-02-11 14:30] bltzr commented on #147
yes.... and... what if the speed of the scenario or of the constraint holding the automation is increased ??... we would then probably need to access the clock of the remote ramping mechanism... so that's one more layer to address

[2016-02-11 14:31] bltzr commented on #147
apart from that, we seem to all agree on what you propose, @lossius .
actually, 1 and 2 are already implemented, since the latest release :-) (thanks @jcelerier !)

[2016-02-11 15:01] lossius commented on #147
Assuming that a parameter is to ramp from 1.1 to 6.6 in 5 seconds, but is then stopped after 4 seconds, the external ramp can be terminated by a new message after 4 seconds that sets the value to what it is expected to be currently, namely 5.5

This sounds messy to me and is probably not a good idea. If the speed has been increased already before the ramp is instantiated, the adjusted ramp time sh

[2016-02-11 16:57] reno- commented on #147
To be able to delegate the ramp, we first need to design a way to describe the automation. The default linear ramp is just one possibility as we can customise the automation in i-score

[2016-02-11 17:28] cbossut commented on #147
For the rate of the automation, if I remember well, the API should propose
a way to use any scheduler for each process, and I think this option is
minimal complete and should be sufficient for the model.
Then, i-score GUI, could propose ways to change the rate by device or
parameter, or project.

2016-02-11 16:01 GMT+01:00 Trond Lossuis notifications@github.com:

##

Clément Bossut

[2016-02-11 19:07] lossius commented on #147
As i-score is using the JamomaCore C++ library, I would think that this should not be so much of a problem. If the automation curves that are available in i-score are adapted from the Jamoma FunctionLib, they will also be accessible to Jamoma-based devices, such as Jamoma for Max. In this case it is still enough to pass the necessary meta-information to recreate the curve in Max. That might, thoug

[2016-02-12 09:31] theod commented on #147
To bring a precision about what @cbossut said : in the API the gran guardian of the time is the TimeConstraint which inherits from Clock and have its own granularity (= update rate). A TimeConstraint can drive several TimeProcesses.

So if we want i-score to manage a per automation update rate, this will implies that, behind the scene, a "blue horizontal line" represents several TimeConstraints sh

[2016-02-12 09:36] theod commented on #147
about delegating a ramp :
do we know other devices able to handle a ramp it self than Jamoma ?
I mean is there other programs that can be driven sending them an order to go to a value in an amount of time ?

[2016-02-12 15:00] theod opened #152 "how to delete a comment ?"
sorry for this dumb question but when I try to select a comment and then I do backspace nothing happen.

[2016-02-12 16:41] nvuaille commented on #152
Yep, sorry I broke that just before the release. I'm on

[2016-02-12 16:58] theod commented on #152
ok fine !

[2016-02-12 21:07] #152 closed, assigned to nvuaille

[2016-02-13 17:00] bltzr commented on #147
@lossius I'm not sure i-score is still using JamomaCore for managing ramps (AFAIK, this implied too much overhead for each segment, so it has been simplified to something more lightweight....)
@reno- anyway, there could probably be a way to translate i-score's power "coefficient" to Jamoma's... so that each segment of an i-score automation could be delegated to Jamoma

@theod I'm not really convin

[2016-02-15 10:22] theod commented on #147
yes Jamoma is mainly used in OSSIA API for the device management while ramps are based on C++ template architecture with 2 classes ([Curve](https://github.com/OSSIA/API/blob/master/Headers/Editor/Curve.h) and [CurveSegment](https://github.com/OSSIA/API/blob/master/Headers/Editor/CurveSegment.h))

notice I've just opened a discussion about the [relation between Jamoma and OSSIA](https://github.com/

[2016-02-15 10:45] theod commented on #147
first of all you need to understand this will be hidden for i-score user (it is just a matter of internal architecture).

Then I would say there are 2 approaches here :
- having one clock at the faster rate means you need a filtering unit into each destination (I mean locally before to send values over the network). Those filtering can be based on value (like a repetition filter or a smooth filter

[2016-02-15 10:55] theod commented on #147
I was asking this because if the feature is only related to control Jamoma parameters I think we need to imagine Jamoma as a library based on OSSIA API : in that way it means we are somehow talking about distributing scenario execution between several clients that can be driven by a master scenario server (which sounds related to something you already worked on @jcelerier, don't you ?)

[2016-02-15 13:31] jcelerier opened #153 "Check if multiple minuit devices work"
In a single score

[2016-02-15 17:58] theod opened #155 "crash when removing a process"
when I remove a process from a constraint :

![capture d ecran 2016-02-15 a 18 56 17](https://cloud.githubusercontent.com/assets/118426/13056510/13746276-d416-11e5-9b1f-af500efbf467.png)

I have the following crash :

[crashlog.txt](https://github.com/OSSIA/i-score/files/131210/crashlog.txt)

[2016-02-15 17:59] theod commented on #155
by the way is there another way to remove a process from a constraint ?
shouldn't we be able to remove it using backspace shortcut @bltzr ?

[2016-02-15 21:01] jcelerier commented on #155
When would that happen ? What would you put the focus on ?
For instance imagine that you click on the background of the scenario, press backspace : everything gets removed because the scenario is a process. Seems fishy to me.
Of course something can be added in the context menu.

[2016-02-16 07:26] jcelerier commented on #147
well, the premise was that these "several clients" were instances of i-score; if they are then there would be nothing particular to do and if they are not, I don't see any other way than case-by-case handling of such software's specificities if we want to advocate a specific support.

[2016-02-16 08:50] jcelerier opened #156 "Make a State able to read its content from a file at the beginning"

[2016-02-16 09:21] bltzr commented on #146
I guess this is fixed in the setting panel now, so closing the issue

[2016-02-16 09:21] #146 closed, assigned to nobody

[2016-02-16 10:47] theod commented on #155
I mean if I select a slot with some process inside I would like to remove them.
of course we should avoid this for the root scenario

[2016-02-16 18:08] #155 closed, assigned to jcelerier

[2016-02-16 18:12] jcelerier opened #157 "Allow to select elements during execution"
Else we can't change the speed of constraints

[2016-02-18 19:55] theod opened #158 "crash when removing the whole content of boids_choregraphy project"
here are the steps to reproduce the crash :
- open /i-score/Documentation/Examples/Processing/boids_choregraphy/boids_choregraphy.scorejson
- select all the content of the scenario with cmd+a
- press backspace to delete everything

[2016-02-19 08:47] jcelerier opened #159 "Learn OSC mode"
@theod this may require something specific in the API ?

[2016-02-19 10:16] theod commented on #159
I would say only a "learn" attribute into OSC protocol but this will not be only thing to do as we need to enable the listening into Jamoma.

as I will not be available today you can look at **bool Engine::setDeviceLearn(std::string deviceName, bool newLearn)** into https://github.com/i-score/i-score/blob/master/src/data/Engine.cpp

[2016-02-19 11:29] jcelerier commented on #159
okay thanks !

[2016-02-19 12:01] bltzr opened #160 "changing main constraint's speed is impossible"
while it is possible for any other constraint in the scenario
@jcelerier might add precisions...

[2016-02-19 16:06] nvuaille commented on #158
Can't reproduce here ...

[2016-02-19 16:09] #105 closed, assigned to nvuaille

[2016-02-19 16:25] nvuaille commented on #53
The problem is that max zoom is relative to constraint duration.
So it appears only if you are zooming in a little constraint (few seconds long).
I guess we have to prevent so much zoom (makes no sens to have a microsecond view when a tick is about some millisecond).

[2016-02-19 16:32] #90 closed, assigned to nvuaille

[2016-02-19 16:36] nvuaille commented on #103
Commit f55100c7b9727f45899fb79263447385ca7e0222 allow a part of it :
- it's only on i-score part (nothing send to the execution engine)
- no modification of temporal

Any wishes ?
@bltzr @reno- @theod @jln- @blueyeti

[2016-02-19 16:57] #157 closed, assigned to nobody

[2016-02-20 16:08] bltzr opened #161 "record automations for a node's children"
currently, one has to select individual nodes in order to record automations for them... it would be nice that this also works for its children (and actually grand-children and so on) when selecting a node - just like it does when doing a state snapshot

[2016-02-22 13:11] #136 closed, assigned to nobody

[2016-02-26 15:54] nvuaille commented on #160
Actually the constraint speed is not transmit to its children : in any subscenario the speed of the parent constraint has no effect on the constraints inside the subscenario.

[2016-02-26 15:58] nvuaille commented on #158
That's may be fixed !

[2016-02-29 09:41] jcelerier commented on #134
@theod I added next to the Trigger widget support for textual editing which allows for ExpressionPulse usage.

I encountered a small problem : since `(` and `)` are valid characters in addresses, I replaced the expression to look like :

`(device:/an/address impulse)`

[2016-02-29 10:36] jcelerier commented on #128
Also added in the "textual" expression editor (not the graphical one)

[2016-02-29 10:36] #128 closed, assigned to nvuaille

[2016-03-08 18:39] magnetophon opened #162 "build fails on nixos 15.09"
I'm working on a [package](https://gist.github.com/7f874e1e0b04f2e42e46) for [NixOS](http://nixos.org).

All versions that I've tried give me:

[code]

When I `sed -e '77d' -i CMake/modules/GetGitRevisionDescription.cmake` the error is gone.

From v1.0.0-a37 or v1.0.0-a38 on (haven't tried yet), I get:

[code]

Version v1.0.0-a36 and older don't do this, but give me other problems.

[2016-03-09 19:18] himito opened #163 "Changing the duration of a constraint causes that the constraint is moved to the top of the scenario"
Hi!

it's me again :dancer:  each time that I change the duration of a constraint, that constraint is moved to the top of the scenario :sob:

![constraint_duration](https://cloud.githubusercontent.com/assets/181677/13647368/19de975a-e634-11e5-8f9c-bfe4f1bf233f.gif)

[2016-03-09 23:08] nvuaille commented on #163
It was fixed with dcb317bd8a2788f2d132575ee144868afa5664cd  (on dev for now)

[2016-03-10 08:43] bltzr commented on #163
oh... gifs for bug reports ! That's cute !
(what do you use to create them ?)

[2016-03-10 08:54] himito commented on #163
http://www.gifgrabber.com/ :smiley:

[2016-03-10 10:55] bltzr commented on #163
muchas gracias Jaime !

[2016-03-15 12:52] jcelerier commented on #162
Hello,

For the second error it's because by default i-score uses clang++ for the build because we (as developers) are always git clone'ing in other computers, and it's just easier that way.

There are multiple build configurations that are available in these two folders :

https://github.com/OSSIA/i-score/tree/master/CMake/Configurations
and
https://github.com/OSSIA/i-score/tree/master/CMake/Conf

[2016-03-15 12:57] jcelerier commented on #162
Also about your package : don't worry about the addons in OSSIA, they are all in extremely experimental state and don't offer useful features yet (or features that are only relevant to the research process). e.g. iscore-addon-audio with faust, libaudiostream & al are just here as a playground.
At most, iscore-addon-image and iscore-addon-autom3d may be useful.

Finally, for the first bug, could yo

[2016-03-15 13:21] jcelerier commented on #162
Could you try with v1.0.0-a52 ? Thanks.

[2016-03-16 11:18] theod commented on #122
I have another proposition to allow the synchronisation of to event (e.g. the merge of those two events into a time node). a we have a "sequence" creation mode I would like to have a "synchronize" creation mode. in this mode, when I click and drag from an event, I create another event under it (without creating the a next time constraint as it is now) :

![capture d ecran 2016-03-16 a 12 10 53](ht

[2016-03-16 11:34] theod commented on #134
could you make me a demo because I don't manage to get the support for textual editor next to the trigger.

[2016-03-16 11:34] theod commented on #134
I also tried to put impulse word after an address but it seems that the parser return an error.

[2016-03-16 11:40] theod commented on #128
I need a demo for this because the parser does seems to like what I do :
![capture d ecran 2016-03-16 a 12 39 12](https://cloud.githubusercontent.com/assets/118426/13811152/3543750c-eb74-11e5-987f-d38111932b0f.png)

[2016-03-16 11:41] theod commented on #134
here is a picture of the trouble :
![capture d ecran 2016-03-16 a 12 41 18](https://cloud.githubusercontent.com/assets/118426/13811183/65bb7400-eb74-11e5-8291-64bf6342ad91.png)

[2016-03-16 11:48] jcelerier commented on #134
Expression editor should look like this :

![impulse](https://cloud.githubusercontent.com/assets/2772730/13811320/4cd94114-eb75-11e5-9e40-133021229a84.png)

One has to press the "#" symbol (while waiting for a proper "settings" icon :p ) and choose "edit"

[2016-03-16 11:49] jcelerier commented on #128
Same that for Impulse, it has to be done in the "textual" editor on the menu at the right.

[2016-03-16 11:51] theod commented on #128
could you provide me a screenshot because I can't see any menu !

[2016-03-16 11:51] theod commented on #128
oups sorry I did'nt see the previous answer ! thanks

[2016-03-16 11:59] theod commented on #134
bravo !

[2016-03-16 12:01] theod commented on #128
I tried this expression in the expression editor : (newDevice:/pos[2] == 1)
but it returns an error. what I'm doing wrong ?

[2016-03-16 12:30] jcelerier commented on #128
It may show as an error (red background) in the editor widget but if you re-enter the edit menu and it shows the correct expression it means that the parsing has been done correctly and the correct Expression should be created in the API (but there could still be bugs here :p)

[2016-03-16 12:31] jcelerier commented on #134
I'm for keeping this issue open as long as it isn't implemented as a widget or something like this (the "edit text" is just a hack to be able to try things quickly.

[2016-03-16 15:26] magnetophon commented on #162
@jcelerier Thanks!
I've updated [the package](https://gist.github.com/magnetophon/3c9271e41947ea803932) according to your suggestions.
Unfortunately, the build still fails:

[code]

[2016-03-16 15:42] jcelerier commented on #162
Which version is this ?
`iscore-plugin-space` hasn't been in the `base/plugins/` folder for about three months due to its experimental (at best) state.

[2016-03-16 20:09] magnetophon commented on #162
@jcelerier Oops, I was accidentally building v36 instead of v52, sorry.
It builds now, but I still have to sed out the commit info line, even though I'm sure the .git is there.

I do get a lot of crashes, but I'll open separate issues for that when I have more info.

[2016-03-16 20:09] #162 closed, assigned to nobody

[2016-03-17 09:00] jcelerier commented on #162
Okay, what version of Qt are you building against by the way and with which gcc/g++ ? I can guarantee "normal" operation under Qt >= 5.4 and gcc > 5.1 / clang > 3.5, it's less tested with older libs.

Thanks a lot for your work !

[2016-03-18 22:52] gagnere opened #164 "Problem with sending value in mode OSC"
I built an OSC device called Unreal to send integer value to the remote device with test, as adresse name.
I can't send a value greater than 1... I have only two choices : 0 and 1...
I use v1.0.0-a52 Ubuntu14.04 version of Iscore

[2016-03-19 16:10] theod commented on #164
Hi George,
did try to change the adress Clip mode from « Clip » to « Free » ?
I’ve experienced some strange behavior with this attribute so maybe it could help ?

Best,
TO

[2016-03-19 16:32] gagnere commented on #164
It is it! Thank you.
g.

[2016-03-21 16:09] himito opened #165 "No Menu in a Javascript process"
Yo de nuevo :dancer:

Clicking on '#' of a javascript state does not show a menu.

![bug_menu_javascript_state](https://cloud.githubusercontent.com/assets/181677/13925172/a39394e4-ef87-11e5-82f9-9056fef3fb1f.gif)

[2016-03-21 20:44] magnetophon commented on #162
This is with qt 5.4 and gcc 4.9.3.
I'm building again with gcc 5.2.0

And thank YOU for your work!!!  :)

[2016-03-22 01:06] magnetophon commented on #162
I finished building, and still get lot's of crashes.
For example creating a new device will always segfault.

[2016-03-22 08:08] jcelerier commented on #162
Do you know if there's something like a docker image of NixOS that would
allow me to check the package ?

On Tue, Mar 22, 2016 at 2:06 AM, Bart Brouns notifications@github.com
wrote:

[2016-03-22 11:54] jcelerier commented on #164
@theod what should be the default when creating a new device ?
But since a few days it seems that the clip is always between 0 and 1, ignoring the values in OSSIA::Domain.
It may be in i-score if the tests are ok in the API.

[2016-03-22 12:27] reno- commented on #164
The clip refers to a domain, but when creating an OSC parameter/address, it have not any domain first. So it should not have any clip.
Am I right?

[2016-03-22 12:33] magnetophon commented on #162
Does this help: https://nixos.org/wiki/Installing_NixOS_in_a_VirtualBox_guest  ?

[2016-03-22 13:27] theod commented on #164
yes ! it should be « Free » by default.

[2016-03-22 16:49] nvuaille commented on #165
Fixed in dev (38caeaaa7e9e5395fd207e2ac79db4bf8ff1f82f) , I forget to put issue reference in commit message ...

[2016-03-23 16:03] jcelerier opened #166 "Non-saved indicator"
It would be nice if there was a little star next to the name of the document when something isn't saved.

[2016-03-28 15:27] jcelerier opened #167 "Crash when merging a timenode with a trigger to another without a trigger"
And then re-adding the trigger.
This is because when the merge is done in such a way that there is no resulting trigger at the end, the previous constraints stay with infinite/ variable  duration, which is bogus.

[2016-03-28 20:00] gagnere opened #168 "pb without scenario layout for a v1 beginner"
I'm really confused with thes sizes of the constraint lines and state nodes. Using a ubuntu version with a 15'' laptop, i almost need 2 or 3 seconds to catch each constraint line and state dot, and i'm planning to build a 200 hundred events scenario for the ParOral project...
I would be very happy to have the choice of the sizes of this fundamental tools instead of the colors... I'm getting old an

[2016-03-28 22:57] gagnere commented on #168
well, i tested i-score on a 17'', it's better... but I won't use always a 17''...

[2016-03-30 09:17] nvuaille commented on #168
I'm working on it, changing elements size will be available soon !

[2016-03-30 13:42] #165 closed, assigned to nobody

[2016-03-30 13:42] #163 closed, assigned to nobody

[2016-03-30 15:10] bltzr opened #169 "states values of addresses shared with automations cannot be modified"
this happens when trying to modify a value either by:
- changing it by hand in the state inspector
- dragging the current value from the device explorer
- updating the state

AFAIK, I think this was broken in a recent build... (but I don't know precisely which one...)
This is quite critical (at least for me - even if it's not extremely urgent, as I'm not going to need to modify my scenario for the

[2016-03-30 15:11] bltzr commented on #169
I assigned to @jcelerier but maybe this is for @theod ?

[2016-03-30 17:38] jcelerier commented on #169
For reference, everything that happens before pressing the "play" button is
pressed is a problem in i-score and not the API.

On Wed, Mar 30, 2016 at 5:11 PM, Pascal Baltazar notifications@github.com
wrote:

[2016-04-04 15:10] jcelerier opened #170 "Context menus missing"
In some plug--ins

Maybe we should have inversion of control instead (have a contextmenu_impl in processes)

[2016-04-06 12:27] #167 closed, assigned to nobody

[2016-04-06 12:27] #168 closed, assigned to nobody

[2016-04-07 13:11] #134 closed, assigned to nobody

[2016-04-07 13:14] jcelerier opened #171 "UX for process panel"
It should not switch to processes that are currently displayed in full view but only to their children

[2016-04-07 13:25] jcelerier opened #172 "Rack tab selector UI"
When using racks I think that it could be nice to have a UI to choose them directly from the constraint like this :
![rect4748-7](https://cloud.githubusercontent.com/assets/2772730/14352473/021e39b0-fcd5-11e5-85a7-0990a7797aa5.png)

[2016-04-07 14:14] bltzr commented on #171
not sure what you mean, but if I get it right, I think it's important to have access to process from the constraints displayed in fullview (useful i.e. when editing several automations in a row)

[2016-04-10 22:03] jcelerier commented on #169
It should be solved in the next release.

[2016-04-11 07:57] lossius opened #173 "Scrollbar handles for zooming in and out"
Would it be possible to extend the scrollbars in i-score with small handles at the end that could be used to click and drag zoom-in and zoom-out? Reaper behaves this way.

Additionally, when holding the cursor over the horisontal (time) scrollbar and pinching/zooming at the trackpad, or using the scroll wheel, it would be nice if this also would be zooming in and out in time rather than  scrolling

[2016-04-11 07:58] lossius opened #174 "Zooming in to a shorter period of time initially when creating a new score"
When creating a new i-score at a 15” macbook, and bringing the application to full screen, the time canvas initially show the first 3 minutes of the score. Could this be zoomed in by default to e.g. the first 20 seconds?  Currently when creating a first time constraint, that typically ends up being at 25 seconds.

Even for me, fond as I am of ambient and minimalist music, that’s a long while to wa

[2016-04-11 16:07] jcelerier commented on #164
It should be fixed (and free will be the default) in master

[2016-04-11 16:07] #153 closed, assigned to nobody

[2016-04-11 16:07] jcelerier commented on #153
they do

[2016-04-12 08:27] nvuaille commented on #174
Hmmm ... I guess it should be choose by user : this property has change many times during the development, so I think there's no good answer.

I think the question is more about the way to let the user choose : in setting panel or in a popup (with memory of last choice) on document creation ?

[2016-04-12 16:01] bltzr commented on #174
maybe settings panel is the simplest ?
something like :
- default scenario length : n minutes
- default scenario zoom : n seconds
  ?

[2016-04-12 18:03] PostArchitekt opened #175 "OSX zip file not downloading correctly"
I just downloaded the OS X.zip and it appears to be incomplete. It has the circle with a line through it. I tried the earlier versions as well.

[2016-04-12 18:33] PostArchitekt commented on #175
It's saying it's only 63.8% saved once it's downloaded.

[2016-04-12 20:40] bltzr commented on #175
cana you try again (maybe from another browser ?) - it works fine here...

[2016-04-13 09:42] nvuaille opened #176 "Mapping in base constraint does not play"
Steps :
- create new doc
- create a device
- add a mapping in the base constraint (parallel with base scenario) and set its addresses
- play

Crash log :

0   JamomaState::launch() const State.cpp   37  0x10bc01772
1   RecreateOnPlay::BaseScenarioElement::baseScenarioConstraintCallback(OSSIA::TimeValue const&, OSSIA::TimeValue const&, std::shared_ptrOSSIA::StateElement) BaseScenarioElement.cpp 122

[2016-04-13 10:24] nvuaille opened #177 "Play from here crash when infinite max"
Steps :
- create two constraints in sequence
- create a trigger between them
- set the max of the first constraint to inf

![crash_playhere](https://cloud.githubusercontent.com/assets/5503180/14490374/c5fa13c6-0172-11e6-9adf-8814457086e0.png)

'Play from here' asked after the the second constraint crashes

[2016-04-13 12:30] jcelerier commented on #177
@theod it seems to crash because in JamomaScenario::start we are in the last "invalid" case :
for some reason, startStatus == Pending and endStatus == Happened

[code]

[2016-04-13 13:53] nvuaille opened #178 "Click'n' drag on background for scrolling scenario"
With right click or mouseWheel.

[2016-04-13 13:56] nvuaille opened #179 "Document tab panic !"
Steps :
- load a score
- load another score
- close the second one

The remaining document is a kind of awesome mix between the two scores ...

[2016-04-13 16:50] PostArchitekt commented on #175
I just tried from different location using Safari above and then now using chrome. Same results with the exact same percentage of download. It's definitely not a hard drive space problem either.

[2016-04-14 10:01] bltzr commented on #175
well... I really have no idea... this is actually stored in the Amazon cloud... so I don't really how we can help. It apparently works for other users.... Have you tried with another computer ?

[2016-04-15 20:04] bltzr commented on #178
why not, but that should be a dedicated tool, then... (changing the cursor to a little grabbing hand would also make sense...)
and then... what about using a modifier (or mousewheel ? ) for zooming in this mode ?

[2016-04-19 07:51] himito commented on #175
Hello,
I tried to download i-score with chrome and safari and it worked good. Maybe it is a problem with your connection.
I shared a dropbox folder with the i-score app if you want to install it: [Dropbox](https://www.dropbox.com/s/tln9rgpnuw57n2s/i-score-v1.0.0-a66-OSX.zip?dl=0)

[2016-05-13 13:22] jcelerier opened #181 "Slot resizing does not work for top constraint"

[2016-05-13 17:59] tedr56 opened #182 "Building on Ubuntu 14.04"
Hi.
I've just found this software which looks promising but I can't get its purpose yet.
After a quick try with debs install and a lot of crashes, I decided to build it.

This a semi-issue since I finally succeeded, but I think some Readme or INSTALL needs updates.

For the record, I "checkouted" the last tag at date, v1.0.0-a67 ede2453

First, it took me some time to realise that the git repo had

[2016-05-15 15:09] jcelerier commented on #182
Hello,

thanks for your report !
For reference there is a CI system which builds the packages under ubuntu 14.04 but uses more recent version of many packages (as you guessed it, boost, qt, and also cmake, because they allow a faster development, which is the main concern due to the small workforce:) ).

This script outlines the required dependencies : https://github.com/OSSIA/i-score/blob/master/

[2016-05-18 13:39] #181 closed, assigned to nobody

[2016-05-18 14:14] #179 closed, assigned to nobody

[2016-05-18 14:19] jcelerier opened #183 "Forbid loading the same document twice"
And handle the case where by chance two documents got the same Id.

[2016-05-25 08:00] avilleret opened #184 "Record crash"
To reproduce :
- right click on a blank scenario and select Process -> Record [automation from here OR messages]
- press play
- then stop

here is the backtrace : https://gist.github.com/avilleret/736cde5540bec6d3e098597846577487

this is on Mac OS X 10.11.4 with i-score v1.0.0-a68

[2016-05-25 08:01] avilleret commented on #184
it is also crashing when selecting a device's root node before choosing 'Record'

[2016-05-25 08:16] avilleret commented on #184
here is a crash log on ubuntu 16.04 with i-score 1.0.0-a68 (I had build error with a68 on Ubuntu 16.04 for now) : https://gist.github.com/avilleret/56467ac47e9cd82959154f3f54a031f7

[2016-05-25 08:52] avilleret commented on #184
on Ubuntu 16.04, 09c215c still suffer from this

[2016-05-31 10:28] bltzr opened #185 "transport keyboard shortcuts don't work anymore"
i.e. space bar and enter for play/pause and stop
though, "Reinitialize" (cmd-enter) still works...

[2016-05-31 12:38] bltzr commented on #184
What else did you do ?
Here it works with several parameters... (I tried with 32 of them, selected directly - i.e. not from the parent node)
Though, when selecting the root of a device, recording while moving stuff, and then connecting to the start of the scenario, I get a behavior of the utmost peculiarity:
![mai-31-2016 14-38-51](https://cloud.githubusercontent.com/assets/113982/15674516/6f0a684

[2016-05-31 12:58] bltzr commented on #184
Though, I also had a crash when selecting a parent node (with about 40 children parameters, with several levels of hierarchy):
https://gist.github.com/bltzr/ce30146e79bd59663066b57df7df5490
Is it similar ? (both seem to be talking about "cohesion", but I don't know what that means...)

[2016-05-31 13:40] jcelerier commented on #184
@bltzr  could you send me a save file (and tell me what you were recording) so that I can try ? thanks !

[2016-05-31 13:43] jcelerier commented on #185
should be fixed in master

[2016-05-31 13:44] bltzr commented on #184
here you go !
I was recording the root node (Nebula)
[testRecAll.scorejson.zip](https://github.com/OSSIA/i-score/files/291219/testRecAll.scorejson.zip)
this is reproducible

[2016-06-01 05:40] enrike opened #186 "libicuuc.so.52: cannot open shared object file (Ubuntu 16.04)"
hi
I get this error with i-score from ppa

$ i-score
i-score: error while loading shared libraries: libicuuc.so.52: cannot open shared object file: No such file or directory

I see with "aptitude search" that libicu55, libicu-dev and icu-devtools are installed, but libicu52 is not available for install

i A libicu55
i A libicu-dev
i A icu-devtools

maybe I should try to compile from source?

thank

[2016-06-01 08:12] jcelerier commented on #186
hi, indeed i-score has been built for ubuntu 14.04 and generally software built against one version of ubuntu don't work in another, unless you take the least common denominator path and build everything statically against a very old version.

A path that I'd like to engage more for Linux releases is instead to build AppImages / flatpack / xdg-app / snappy packages. For instance Krita is distribut

[2016-06-01 08:28] jcelerier commented on #184
I fixed some bugs but I never had a crash while trying to record the whole nebula hierarchy (there are 182 recordable parameters in here)

[2016-06-01 09:07] jcelerier commented on #186
Here is a build procedure for 16.04 :

[code]

[2016-06-01 09:13] jcelerier commented on #184
(also to have better precision when recording I slowed the GUI refresh rate when there are many curves being recorded)

[2016-06-02 10:29] jcelerier commented on #186
Hi,
I took some time in order to try to build an x86_64 AppImage (binaries that should work on any linux distro). Could you test it on yours ?
Thanks.

@probonopd if you are interested in trying this would help me a lot; the next step would be to use Travis CI to run a CentOS container and do the build from this but I don't know how to handle it properly...

The appimage is here and has to be mark

[2016-06-02 10:30] jcelerier commented on #182
Hi,
I took some time in order to try to build an x86_64 AppImage (binaries that should work on any linux distro). Could you test it on yours ?
Thanks.

The appimage is here and has to be marked executable :
https://github.com/OSSIA/i-score/releases/tag/v1.0.0-a68

[2016-06-02 10:30] jcelerier commented on #162
Hi,
I took some time in order to try to build an x86_64 AppImage (binaries that should work on any linux distro). Could you test it on yours ?
Thanks.

The appimage is here and has to be marked executable :
https://github.com/OSSIA/i-score/releases/tag/v1.0.0-a68

[2016-06-02 10:32] jcelerier commented on #111
I think that this works now ?

[2016-06-02 10:32] jcelerier commented on #175
closing, I don't think that it's something we have control over...

[2016-06-02 10:32] #175 closed, assigned to nobody

[2016-06-02 10:33] jcelerier commented on #161
this has been implemented.

[2016-06-02 10:34] bltzr commented on #161
but is apparently causing crashes.... can we keep open until we figure out the problem ?

[2016-06-02 13:08] probonopd commented on #186
@jcelerier sure, happy to help. Assuming that you want to target CentOS 6 and later target systems: does https://github.com/OSSIA/i-score/blob/master/CMake/Deployment/Linux/AppImage/Recipe run without any errors on CentOS 6 for you? (It seems that the build deps do not get installed)

[2016-06-02 13:30] magnetophon commented on #162
@jcelerier Thanks, but that cannot work on NixOS:
To get the many benefits that it has, NixOS pays the price of not putting packages in their normal location. so your binaries can't find anything they need.

For more info see www.nixos.org

[2016-06-02 13:31] jcelerier commented on #161
I'm trying as hard as I can but I can't make anything crash when recording the whole nebula device :
![audio 1](https://cloud.githubusercontent.com/assets/2772730/15746647/bc607bf2-28d7-11e6-98c5-467a1cab1eb0.gif)

[2016-06-02 13:41] bltzr opened #187 "make selection of tools temporary"
We discussed a while ago (and actually agreed on it, AFAIR) with @blueyeti and others about the question of having non-permanent tools selection
My memory (which might be flawed) was that we proposed the following behavior:
- selection/move is the default, and permanent tool
- other tools (create, play....) are only temporarily selected, and are released after the action

To explain my take on it:

[2016-06-02 13:47] enrike commented on #186
hi

Thanks, I was able to compile it under 16.04 following your instructions.

Now I just downloaded the x86_64 AppImage and it seems to work find on my desktop running Ubuntu 14.04.4 LTS. Tonight I will try to test it on my laptop with 16.04. I will let you know...

[2016-06-02 13:54] avilleret commented on #187
I agree with the temporary behavior.
If a tool can be selected with a key, then it is very convenient to my eyes
to release the tool as soon as the action is done (or canceled by
triggering escape or deselecting the tool).
Some software I'm using have a tools remaining behavior and I found it
quite confusing.

My 2 cents

+
a

##

do it yourself
http://antoine.villeret.free.fr

2016-06-02 15:41 GM

[2016-06-02 13:59] bltzr commented on #161
do you actually have the Nebula patcher at hand ?
maybe that’s why ????

I’m changing values on the remote side...

[2016-06-02 14:02] bltzr commented on #161
though, it requires a certain number of dependencies... but that's doable...

[2016-06-02 14:06] jcelerier commented on #161
no, I change them from the device explorer window. If you can make me a zip I'll try

[2016-06-02 14:06] jcelerier commented on #186
nice, thank you :)

[2016-06-02 14:11] bltzr commented on #161
when doing this by hand (like you do) I don't get any crash either
and I tried again with changing parameters remotely, and it didn't crash either, though I pulled and rebuild since the last time... so maybe this was fixed by some pixies in the meantime (are you one of them, @jcelerier ? ;-)  )
@avilleret could you please try as well ? you're usually better than me for finding nasty bugs :-p

[2016-06-02 14:15] bltzr commented on #161
though I still get the funny looping phenomenon (restarting the scenario when hitting the initial event of the recorded automation)
but I guess that's a horse of a different color :-)

[2016-06-02 14:16] bltzr commented on #161
so if @avilleret confirms that this works, I guess we could close the issue...

[2016-06-02 14:28] bltzr commented on #161
I couldn't find an issue for the restarting bug, did you create one, @jcelerier ? I thought I saw it on the API repo, but couldn't find it...
here's what I get in the terminal when that happens: https://gist.github.com/bltzr/4f17283f4593ad8c4d3dc7fea87449f7

[2016-06-02 14:29] bltzr commented on #161
though I get a crash when recording from a parent node, but not the root node (vent.H for instance)

[2016-06-02 14:57] jcelerier commented on #187
See ac468d84773ec464bb7da56636956f1dbcfbd8a5

[2016-06-02 15:25] jcelerier commented on #161
yep, there was a crash in there. Fixed in master.

[2016-06-02 15:26] jcelerier commented on #187
I also added a first try for the cursor change however :
- default cursors are ugly and not meaningful but somebody has to make the actual cursors that we want to use
- they seem a bit buggy on qt's side so it will require a lot of testing.

[2016-06-02 15:27] jcelerier commented on #170
should be ok for now.

[2016-06-02 15:27] #170 closed, assigned to nobody

[2016-06-02 15:28] jcelerier commented on #61
is now ok.

[2016-06-02 15:28] #61 closed, assigned to jcelerier

[2016-06-02 15:28] jcelerier commented on #79
closing due to inactivity.

[2016-06-02 15:28] #79 closed, assigned to nvuaille

[2016-06-02 15:29] jcelerier commented on #77
closing due to inactivity.

[2016-06-02 15:29] #77 closed, assigned to theod

[2016-06-02 15:32] jcelerier commented on #158
can't reproduce either, even undoing it works ^__^

[2016-06-02 15:32] #158 closed, assigned to jcelerier

[2016-06-02 15:42] probonopd commented on #186
The challenge is always to make it work on older distributions - so which is the oldest distribution that you are targeting with the AppImage @jcelerier?

[2016-06-02 15:47] jcelerier commented on #161
I tried and tried but I don't have it :(

[2016-06-02 18:15] tedr56 commented on #182
Hi jcelerier.
I just tried the AppImage.
I-Score does open but crash on opening file or when adding child.

[2016-06-02 18:18] tedr56 commented on #182
Terminal outputs

Opening File: https://gist.github.com/tedr56/c54341e21576f167e8f6493a7a6cd76f
Adding Child : https://gist.github.com/tedr56/f0f9b7140e8a46f2e48be506512780d7

Seems pretty the same.

[2016-06-02 20:01] probonopd commented on #186
@jcelerier your AppImage runs (read: launches successfully) on
- CentOS-6.7-x86_64-LiveCD.iso
- Chromixium-1.5-amd64.iso
- Fedora-Live-Workstation-x86_64-22-3.iso
- Fedora-Live-Workstation-x86_64-23-10.iso
- kali-linux-2016.1-amd64.iso
- kali-linux-2.0-amd64.iso
- kubuntu-15.04-desktop-amd64.iso
- kubuntu-16.04-desktop-amd64.iso
- ubuntu-14.04.1-desktop-amd64.iso
- ubuntu-16.04-desktop-amd64.iso
-

[2016-06-02 22:30] jcelerier commented on #186
hi, thanks so much for testing ! how did you test so quickly ? did you have some kind of some test suite that I could use or do you just run VMs by hand ?

Also while I built the image on centos 6.8, when creating another VM instance of the centos live cd and trying to run the appimage it won't open :( it works for me in ubuntu 14.04 and 16.04 however.

[2016-06-02 22:32] jcelerier commented on #182
interesting, I'll investigate tomorrow ! thank you so much !

[2016-06-03 03:21] tedr56 commented on #182
You're welcome :)

[2016-06-03 06:50] probonopd commented on #186
Yes, I am using https://github.com/probonopd/AppImages/blob/master/test.sh

The CentOS 6.8 thing is strange, what error messages did you get? Sometimes setting `LD_DEBUG=libs ./theAppImage` helps to identify issues.

[2016-06-03 07:30] bltzr commented on #187
ohoh !!!
nice !
will try that not later than this morning, thanks a lot @jcelerier !!!

[2016-06-03 07:47] bltzr commented on #161
here's what I do to record:
![recall](https://cloud.githubusercontent.com/assets/113982/15772065/46428dfa-296f-11e6-9564-896336f225fe.gif)
Then I just connect the "box" to the beginning of the scenario:
![playrecall](https://cloud.githubusercontent.com/assets/113982/15772082/57810114-296f-11e6-94e0-6a14cc4d2dc7.gif)
And if I save the file (attached), it crashes i-score when opening it.
I have test

[2016-06-03 08:21] bltzr commented on #187
I've just tested, and that's _much_ better IMHO
though, I have some comments:
- I think we should have the same behavior for the play tool
- the shift key has to be held when creating a "sequence", while the C key cannot be held while doing so, so that's a bit strange... so, in order to "rationalize" this, either:
  1/ we give the same behavior to the sequence option to shift (i.e. shift-C has to

[2016-06-03 08:29] bltzr commented on #187
Also, I don't see any cursor change, except when dragging, where It changes to a double-arrow, but that happens in all modes...
I don't know about Qt cursors, but what I would find intuitive:
- same as current when in select/move
- plus cursor when in creation mode
- play/triangle cursor when in play mode
  I see these are not in the default distribution... is there any "cursor-shapes repository"

[2016-06-03 08:30] jcelerier commented on #186
ah, indeed it was due to libxcb-render-util here too. Strange that it is in 6.7 and not in 6.8 but well :) . (I also had to chmod +x /usr/bin/fusermount but I guess that it's a matter of the distro).

[2016-06-03 08:49] probonopd commented on #186
You are bundling 8 MB of fonts, is this intentionally?

[2016-06-03 09:26] avilleret commented on #161
[OT] wow ! very cool videos ! you should put them in an online tuto !

##

do it yourself
http://antoine.villeret.free.fr

2016-06-03 9:47 GMT+02:00 Pascal Baltazar notifications@github.com:

[2016-06-03 09:28] bltzr commented on #161
[OT] that's GIFs - @himito pointed me to https://itunes.apple.com/fr/app/giphy-capture.-the-gif-maker/id668208984?mt=12 but you don't use Macs, do you ? :-p

[2016-06-03 09:32] bltzr commented on #161
GIF- based online tutorials, THAT IS  21st century !!! :-)

[2016-06-03 09:32] jcelerier commented on #187
done.

For me it makes sense, shift (as well as ctrl & friends) is generally an "alteration" key.  For instance in all graphical tools I know, if you are in the "resize" tool, the resize is unconstrained when shift is not pressed, and constrained if shift is being pressed.

[2016-06-03 09:35] bltzr commented on #187
I agree, but here the problem is that the modifier key is not pressed at the same time than the tool's key - so that feels a bit contradictory... have you tried creating a couple sequences ?
What about allowing to let the C button pressed ? That would solve the problem, IMHO...

[2016-06-03 09:40] jcelerier commented on #187
Well, you don't press the "resize" tool key as well when you shift + resize in photoshop...

[2016-06-03 09:42] bltzr commented on #187
true.... but it is permanent

[2016-06-03 09:43] bltzr commented on #187
Is allowing to let the C button pressed a problem ? (design-wise, or technically)

[2016-06-03 09:47] jcelerier commented on #187
absolutely not :p

[2016-06-03 09:49] jcelerier commented on #186
I had forgotten them, I fixed this in the latest recipe. Also added libxcb-render-util and his little friends (libxcb-icccm and libxcb-image were also missing but it seems that it would still launch).

[2016-06-03 09:52] jcelerier commented on #161
(@avilleret : there are already some up there : http://i-score.org/category/tutorials/ ; under linux I used SimpleScreenRecorder which can output gif, webm, h264...)

[2016-06-03 09:58] bltzr commented on #161
So now we don't have an excuse anymore not to make tutorials ;-)

[2016-06-03 11:14] jcelerier opened #188 "Win7 needs testing"
Crashes when opening

[2016-06-03 13:34] jcelerier commented on #187
wrt Sequences : @blueyeti proposes using horizontal magnetism to make a sequence

[2016-06-03 13:42] bltzr commented on #187
why not... but then we have to make it VERY clear that it does so...

[2016-06-03 13:46] bltzr commented on #187
maybe by using different colors for sequences and “normal" constraints ?
e.g. blue constraints when normal, white when in a sequence (somehow similarly that it does with events/timenodes..
that would also make sequences more distinguishable than they are now

then, when creating a constraint horizontally, under a certain ∆y, the constraint appears white, which means it's a sequence (i.e. keeps the

[2016-06-03 13:48] bltzr commented on #187
it would be nice to actually try it, if that's not overly hard to implement, but my first reaction is rather positive to this proposal

[2016-06-03 13:57] jcelerier commented on #187
actually @blueyeti  proposed the exact same thing ^__^

[2016-06-03 14:05] bltzr commented on #187
les grands esprits se rencontrent !

[2016-06-03 15:38] jcelerier commented on #187
@bltzr this is actually a weird behaviour.
e.g. when using it, if I keep C pressed and construct three constraints for instance, I find it really weird for the tool not to revert to "select" when releasing.

[2016-06-03 16:43] jcelerier commented on #186
@probonopd I managed to set-up a docker + travis ci workflow that will produce AppImages for the releases.
Thanks !

[2016-06-03 17:01] probonopd commented on #186
@jcelerier that is awesome! Would you mind [writing up](https://github.com/probonopd/AppImageKit/wiki/Docker%20Hub%20Travis%20CI%20Workflow) what you did? I am sure that would greatly help others who would like to do the same.

I also linked you project on https://github.com/probonopd/AppImageKit/wiki/AppImages

[2016-06-03 20:30] jcelerier commented on #186
@probonopd I wrote the most important things down. I hope that people will find it to be useful !

[2016-06-03 20:38] probonopd commented on #186
Thank you very, very much @jcelerier. I am sure people will. In fact, I learned a thing or two myself :+1:

[2016-06-04 08:18] bltzr commented on #187
you're probably very right !
what if we followed this rule:
- if mouse-down happens after key-up, then mouse-up reverts to default tool
- if mouse-down happens before key-up (i.e. while C is still being pressed), then key-up reverts to the default tool (select)
  would that make sense ?
  would it be a mess to implement ? (so we can evaluate the question by actually testing it)

also, I'm not 100%

[2016-06-06 10:00] #186 closed, assigned to nobody

[2016-06-07 15:19] #160 closed, assigned to theod

[2016-06-07 15:46] bltzr commented on #160
if the propagation to children constraints fixed as well (as reported @nvuaille ?) or should I create an issue for that ?

[2016-06-08 14:48] jcelerier opened #189 "Allow to drag only selected nodes to create a state in the device explorer"
E.g. when pressing shift, it would not go down through all the hierarchy.
It could work the same for recording.

[2016-06-08 16:25] bltzr commented on #189
I'm not sure I understand - GIF ?

[2016-06-08 19:32] jcelerier commented on #189
Well right now, if you drag an address from the device explorer to a scenario, it will create a state with all the children of the selected address.
I'd like to have the choice to only drag (or record) the explicitly selected addresses.

[2016-06-09 09:30] bltzr commented on #189
you mean when an address is a parameter (or at least has a value of itself) AND has children... that's it ?
that makes sense...
what if selecting a parent node would select all its children - and if we only want to snapshot or record the parent we unselect all children...
not sure about this, though...
also, I'm not sure having nodes that are also leaves is best practice, but who follows best prac

[2016-06-09 09:43] jcelerier commented on #189
I'd rather press a key than deselect two thousand nodes :p

I think that most of the time it would make sense.
For instance, if you have a position :

/pos -> tuple [x, y, z]
/pos/x -> int
/pos/y -> int
/pos/z -> int

This way when it makes more sense to work on the three coordinates at once, one can use the /pos address and when it makes more sense to work on a single coordinate they are also ava

[2016-06-09 10:42] bltzr commented on #189
I guess that makes sense :-)

IMHO this is a design problem, and an interesting one - aka managing tuples in the explorer tree
I think it'd be probably (generally) better not to duplicate parameters...
probably a better way (IMO again) to manage this would be to have tuples showing as tuples
and offering to the user an arrow to unfold it, in order to graphically access each of its members...

ther

[2016-06-09 11:53] jcelerier commented on #189
Are you paying for them ? :p

what would it change wrt to the example I give? It could actually be implemented exactly like this (but the concern is also for non-Minuit, non-Jamoma stuff).

[2016-06-09 12:50] jcelerier opened #190 "cannot dock back inspector on OS X"

[2016-06-09 12:51] jcelerier opened #191 "Shorcut text don't always show (e.g. Create)"

[2016-06-09 12:52] jcelerier commented on #190
it works on top

[2016-06-09 12:55] jcelerier opened #192 "crash when removing state"

[2016-06-09 13:01] jcelerier opened #193 "cannot go back from full view when no processes"

[2016-06-09 13:03] jcelerier opened #194 "provide speed presets for the time constraints"
e.g. *0.5, *1, *1.5, *2 ...

[2016-06-09 13:04] jcelerier opened #195 "duration text missing in base constraint inspector"

[2016-06-09 13:05] jcelerier opened #196 "pause button does not revert back to play"

[2016-06-09 13:07] bltzr commented on #189
well, I'm not paying for anything, but my experience is that having a (set of) value(s) stored in two places simultaneously is usually very (very !) error-(or at least, confusion-)prone.
That's why, when giving this kind of double-access to the same values, I usually use parameters for one access, and messages for the other (in the Jamoma terminology), hence, when doing a snapshot, only one copy i

[2016-06-09 13:09] bltzr commented on #192
I was about to report on that - though is this when removing a state or an event ?
(maybe that's a question of how we name things... I'm not entirely sure about this)

[2016-06-09 13:10] bltzr commented on #192
also, this happens when attempting to delete several objects, including states/events
as a result, it is currently impossible to delete more than just constraints
(which makes the end of scenario very packed with old junk :-p )

[2016-06-09 13:21] bltzr opened #197 "object-selection is persistent"
currently, when selecting a new object, the previous one(s) stay selected, as if one had kept the shift button pressed...

[2016-06-09 13:22] bltzr opened #198 "new objects should be selected after creation"
(and the previous selection should be reset,so only this object should be selected, see #197 )

[2016-06-09 13:37] bltzr opened #199 "interpolating with new addresses crashes i-score"
steps to reproduce:
1/ create a constraint with differing values in start and end state, interpolate
![1stinterp](https://cloud.githubusercontent.com/assets/113982/15931404/e9f5004e-2e57-11e6-8c2a-0c8ad941339e.gif)
2/ add differing values from another address on the start and end state, interpolate again
![2dinterp](https://cloud.githubusercontent.com/assets/113982/15931423/ff57bb2a-2e57-11e6-997e

[2016-06-09 13:39] bltzr commented on #199
crash log: https://gist.github.com/bltzr/206e380360ef1e93ec4cb2d20dd09471

[2016-06-09 13:43] bltzr opened #200 "prevent from creating constraints backwards"
since it doesn't really have any meaning (yet?) to create constraints with negative durations, this should be made impossible in the UI
also, this would make the creation of states on the same event easier

![back](https://cloud.githubusercontent.com/assets/113982/15931649/f4a32132-2e58-11e6-901c-ae412198a7fd.gif)

[2016-06-09 13:50] bltzr opened #201 "right-clicking on an object should select it first"
as demonstrated below, right-clicking on an object doesn't select it first
in this case, this leads to the wrong state being played

![2dclick](https://cloud.githubusercontent.com/assets/113982/15931915/ee619e88-2e59-11e6-8052-cb74c5e9937c.gif)

[2016-06-09 14:00] bltzr opened #202 "scenarios are not loaded displaying the same part of the scenario as they were saved"
see below, zooming with the center of the screen at about 17'50, then saving
![zoom save](https://cloud.githubusercontent.com/assets/113982/15932191/0e1fd216-2e5b-11e6-805f-2043fda83a76.gif)

then opening the file, the center is now at about 14'50 (and the vertical position has moved, too) - also I'm not certain about the zoom level, but it seems (roughly) OK
![load](https://cloud.githubuserconten

[2016-06-09 14:05] bltzr opened #203 "zooming a lot in long scenarios makes the position jump"
after a certain zoom level, the position of the center of the display jumps into the past
here, the scenario is initially centered around 12' - when zooming in, at some point, it suddenly jumps to 6' or so...
![zoom-jump](https://cloud.githubusercontent.com/assets/113982/15932424/ee2e4932-2e5b-11e6-8b73-81c08e6719b2.gif)

[2016-06-09 14:10] bltzr opened #204 "when unfolding a node, children values should be queried before opening the listening"
as demonstrated below, that leads to wrong (old) values being displayed
![get-listen](https://cloud.githubusercontent.com/assets/113982/15932618/bc79aee4-2e5c-11e6-82cc-12899208ef56.gif)

[2016-06-09 14:15] bltzr opened #205 "selecting constraint by clicking on the background/slot ?"
currently, when clicking on a slot (or the background of the scenario), nothing show up as selected in the inspector.
wouldn't it be good that the constraint bearing this slot be selected then ?

[2016-06-09 14:16] bltzr opened #206 ""creating curves" crashes i-score"
BTW, what is this supposed to do ?

[2016-06-09 14:19] bltzr opened #207 "document scenario's end state behavior on stop"
leaving that there, because @theod told me, and I guess we're the two only ones to know:
when stopping the scenario, the content of its end state (on the main constraint) is sent/played

[2016-06-09 14:21] bltzr commented on #207
This makes probably the "reinitialize" function useless (or even undesirable) now
anybody else than me using it ?
@jcelerier @blueyeti @jln- @theod @reno- @avilleret @himito ?
If not, I'd recommend removing it (and the button in the toolbar) - this adds confusion, and looks like a "loop" symbol anyway

[2016-06-09 14:24] nvuaille commented on #206
It's supposing creating curves =P

Select an address (or more) and a constraint, and "creating curves" will create automation(s) in the constraint upon the selected address (linear from min to max)

[2016-06-09 14:26] bltzr opened #208 "does "loop content" do anything ?"
apparently it doesn't, see below:
(or did I get it wrong ?)

if It doesn't do anything, either we fix it or we remove it...

![loop-content](https://cloud.githubusercontent.com/assets/113982/15933140/caaa7d98-2e5e-11e6-984d-f57e70f23c56.gif)

[2016-06-09 14:30] bltzr opened #209 "shortcut for creating snapshots doesn't work"
pressing cmd-K doesn't do anything at all

[2016-06-09 14:33] bltzr opened #210 "use plain keys (no modifiers) for interpolation/snapshots/etc..."
I'm wondering if this "family" of functions (with interpolating and creating curves) should use plain keys, without modifiers (like the selection/creation... etc.) tools...
not sure about this...

When using i-score, this is something I often do, and (particularly when using it in the dark) I find having to press the command key superfluous
but that's also a security... (though, we always have the

[2016-06-09 14:34] bltzr opened #211 "add icon/button for "Refresh states""
This is a **very** useful function.
So I guess it would be good to have it as a tool...

Not sure about which logo could be best for that, though.... a camera with a "recycling" double-arrow maybe ? - just the recycling arrow ?

[2016-06-09 14:41] bltzr opened #212 "curve coefficient always starts from max value"
This is probably not the expected behavior, see below

![curve](https://cloud.githubusercontent.com/assets/113982/15933685/f3edaa52-2e60-11e6-9d49-70858718c411.gif)

[2016-06-09 14:45] nvuaille commented on #208
Once again, time is the master =P When your rigid constraint ends, the following starts so there's no bug in your example.

If I remember, "loop content" allows to duplicate contents when you increase constraint duration.

[2016-06-09 14:56] bltzr opened #213 "FR: start offset"
it would be nice to have a start offset
i.e. it would start from a certain point, as in "play from here", but when pressing play
this would be particularly useful:
- when rehearsing a section of a scenario (when you repeatedly want to start from the same time)
- when starting the execution remotely through the network (at some other place than the beginning of the scenario, which is not possible f

[2016-06-09 15:04] bltzr opened #214 "speed values shouldn't be stored"
for now, the speed value is permanent (stays at its value once changed, across successive executions), I don't think that's a good idea
IMHO speed is something you want to change at execution only, it shouldn't be permanent
(though I think it's nice that it's accessible as an address (i.e. it could be mapped from within i-score, e.g.), but then it should behave like Jamoma's messages
if one wants

[2016-06-09 15:05] bltzr opened #215 "speed changes aren't propagated to the sub-constraints of a scenario"
I guess this should maybe be reported to the API repo ?

[2016-06-09 15:09] bltzr commented on #215
this has been fixed, sorry for the noise

[2016-06-09 15:09] #215 closed, assigned to nobody

[2016-06-09 15:12] bltzr opened #216 "blank scenario should be discarded when loading another one"
leaving it in place is useless....
and once using i-score for a production, this is what happens 99% of the time (there is a useless tab on top)
no big deal, but mentioning it...

[2016-06-09 15:15] bltzr opened #217 "play button isn't enable when using the play tool"
when starting the execution with the play tool, the play button is not updated (it stays grey with the triangle, while it should become orange with the || symbol)
this also means that the space bar has to be pressed twice in order to pause the execution (not very handy....)

[2016-06-09 15:18] bltzr commented on #206
makes sense !
though, I didn't think of selecting addresses before pushing the button...
knowing that, this makes perfect sense!

[2016-06-09 15:19] bltzr commented on #206
also, I tried that on a constraint with another automation, so the crash is indeed #199 - closing the issue, then

[2016-06-09 15:19] #206 closed, assigned to nobody

[2016-06-09 15:20] jcelerier opened #218 "Allow to open .scorejson file with i-score directly"
And also allow drag'n'dropping of scores from outside.

[2016-06-09 15:22] jcelerier commented on #208
this caused deep bugs in the engine so it is currently disabled; I'll also disable the graphical shortcut until it is sorted out.

[2016-06-09 15:25] bltzr commented on #208
good idea!

[2016-06-09 15:25] bltzr commented on #218
👍

[2016-06-09 15:43] jcelerier commented on #207
shouldn't this be a setting somewhere ? What if you have some actual state that you want to play on the final 'tick' but not when you press stop ?

[2016-06-09 16:10] #208 closed, assigned to nobody

[2016-06-09 16:11] jcelerier commented on #214
so for instance when "stop" is pressed, the values should revert to the default ?

[2016-06-09 16:14] bltzr commented on #207
maybe you put it at the end of the scenario, _inside_ the scenario
for me, this is something like a "de-init", as @reno- has been using it in tapemovie
but, yes, this might be possible to disable it in some setting, why not..

[2016-06-09 16:15] bltzr commented on #214
I'd say yes
for me, speed is something you change on the fly when you have some ad hoc reason for...
leaving it permanent is confusing (because then the X-size/duration proportionality is locally broken)

[2016-06-09 16:19] jcelerier commented on #213
Isn't it just a "time bar" ?

[2016-06-09 16:23] avilleret commented on #213
not really a time bar I think, something more like an 'in point' or 'start point'
and yes this feature makes sense to my eyes

[2016-06-09 16:33] #199 closed, assigned to nobody

[2016-06-09 16:41] #196 closed, assigned to jcelerier

[2016-06-09 19:42] jcelerier opened #219 "Remove play time indicators after playthrough."

[2016-06-09 19:42] jcelerier opened #220 "Fix selected full state bounding rect"

[2016-06-09 19:48] #217 closed, assigned to nobody

[2016-06-09 20:30] jcelerier commented on #219
Fixed by 8bcdd07c96bc6f1e5d781d151f82d409be2ae4f5

[2016-06-09 20:37] jcelerier commented on #203
it's because you are reaching the zoom level where quantum fluctuations start to matter

[2016-06-09 21:06] #200 closed, assigned to nobody

[2016-06-09 21:06] jcelerier commented on #192
I made some attempts to fix this, please test

[2016-06-09 21:16] jcelerier commented on #197
I sometimes have it but right now I cannot reproduce it :(

[2016-06-10 06:55] bltzr commented on #203
ah... I see, so it creates anti-particles.... makes sense !

[2016-06-10 06:59] bltzr commented on #197
I have this absolutely all the time !
what if you click on a constraint, then another one - don't they all add up to the summary panel in the inspector ?
of course, it first did the problem... but now it doesn't any more... I'll try to find what (reproducible) behavior causes it to happen.

[2016-06-10 09:24] #220 closed, assigned to nobody

[2016-06-10 13:24] bltzr commented on #192
it still crashes (on e5346ea95e5aa3564cdbb341ebfa9489f53813ad )
- when creating an event from the scenario (with its previous constraint), then selecting this event AND the previous constraint, then pressing backspace -> CRASH !
  ![del-evt1](https://cloud.githubusercontent.com/assets/113982/15965509/a3c37b38-2f1e-11e6-8343-c8ba7e470e58.gif)
- when creating an event by drag'n'dropping an address/v

[2016-06-10 13:29] bltzr commented on #192
update for case 2: when the event/state is selected by clicking on it (instead of selecting it by dragging around as on the second GIF above), then pressing backspace DOES NOT CRASH
![del-evt-ok2](https://cloud.githubusercontent.com/assets/113982/15965751/1a63e862-2f20-11e6-892c-fcff5d7cd562.gif)

[2016-06-10 13:31] bltzr commented on #192
also, when selecting (via multiple selection: click, then cmd-click on previous constraint), it also crashes
![del-evt4](https://cloud.githubusercontent.com/assets/113982/15965808/5adf8856-2f20-11e6-9577-a0a494a2ce3d.gif)

[2016-06-10 13:48] bltzr commented on #207
or maybe we can keep this (it could also be interesting, somehow....) but then change the logo, because this one is confusing... what about a kind of "rewind" logo ? Wouldn't that be more... "conventional" ?
![rewind-4_318-11036](https://cloud.githubusercontent.com/assets/113982/15966272/d65e86f6-2f22-11e6-8045-08b9656178b3.jpg)

[2016-06-10 13:50] jcelerier commented on #192
I think that I found where most were coming from. Please try 939539147aa3eb56507b83e5f2e9873370c86b3a

[2016-06-10 13:51] jcelerier commented on #197
niet

[2016-06-10 13:52] jcelerier commented on #21
I'm closing since this documentation is not accessible anymore.
Now there are tutorials here : http://i-score.org/category/tutorials/

hopefully it's better...

[2016-06-10 13:52] #21 closed, assigned to jln-

[2016-06-10 13:54] jcelerier commented on #102
Half-way through this.

[2016-06-10 13:55] bltzr commented on #197
I have the same... used to do that, but I can't reproduce it...
will tell you if it happens again when using it IRL

[2016-06-10 13:55] jcelerier commented on #216
Should work in the latest commit, can you test ?

[2016-06-10 13:56] bltzr commented on #192
I cannot, because there's something wrong with 5602d42dce225819d2c02eac6443b0b5054cef29
(you probably forgot to commit something, check gitter)

[2016-06-10 13:56] bltzr commented on #216
No I can't :-p
(can't build, see gitter)

[2016-06-10 13:56] jcelerier opened #221 "Zooming on top time-line does not work very well"

[2016-06-10 14:41] #183 closed, assigned to nobody

[2016-06-10 15:31] #193 closed, assigned to jcelerier

[2016-06-10 16:01] bltzr commented on #174
There is no default value for this, so on opening i-score for the first, that makes a scenario of 0'0", which is a bit strange... reopening the issue until this is solved...

[2016-06-10 16:02] bltzr commented on #216
works, thanks !

[2016-06-10 16:02] #216 closed, assigned to nobody

[2016-06-10 16:05] bltzr commented on #192
seems OK - closing the issue... will reopen if some have been missed...

[2016-06-10 16:05] #192 closed, assigned to jcelerier

[2016-06-10 16:08] bltzr commented on #187
I see you postponed that to 1.1 - I guess there's something convoluted making it complicated to do as I proposed ?

Also about the sequence behavior, I think that is quite cool indeed (and also very clear, since the automations show up directly - and disappear when moving vertically....) - so thanks Blue Yetis !
Maybe changing the color would make that even nicer ? Is that complicated ? Or did you

[2016-06-10 16:15] bltzr commented on #187
also, now that we can create sequences by vertical magnetism, I guess we could remove the tool/shift modifier
maybe adding the possibility to disable in the settings would also be a good idea ? Or maybe even in the toolbar... because maybe sometimes one doesn't this to happen, and maybe one wants (this has been my case, but maybe I would have done otherwise if that was already existing)

maybe I s

[2016-06-10 16:23] bltzr commented on #204
seems OK now, thanks !

[2016-06-10 16:23] #204 closed, assigned to nobody

[2016-06-10 16:23] #185 closed, assigned to nobody

[2016-06-10 16:28] bltzr commented on #177
It doesn't crash... but it doesn't play either (at least until the trigger's expression has turn true - which seems perfectly normal to me)
does anybody else want to try, or should I close the issue ?

[2016-06-10 16:29] bltzr commented on #184
@avilleret can you test, I don't think it crashes anymore...