[2016-06-10 16:37] bltzr opened #222 "i-score's icon is gone on OSX"
this is how it shows up in the finder/dock, etc...
![noicon](https://cloud.githubusercontent.com/assets/113982/15971624/5ffea5a0-2f3a-11e6-8b7a-a48cf13f38af.png)

[2016-06-10 16:39] bltzr opened #223 "min and max bounds should be off by default"
there really isn't much sense for the current default durations

[2016-06-10 16:39] bltzr opened #224 "when min bound is off, the little C shouldn't show up"
this is useless and ugly  (IMHO)

[2016-06-10 16:42] bltzr opened #225 "trigger creation shouldn't have to be confirmed"
although I know it, I'm making the mistake all the time and forget to press OK

also, maybe it should show if something is wrong in the expression
(it used to - maybe this could be done by turning the font to red ?)

I think this was discussed, but I don't know where...

[2016-06-10 16:44] bltzr opened #226 "triggers should be set as "false" by default"
so if the user just want to trigger it by pressing on it during execution, they don't have more to do than adding a trigger

this is in the convention vs. configuration perspective
(especially because the trigger creation is suboptimal, too....)

[2016-06-10 16:47] bltzr commented on #219
nope, they sometimes still show up

[2016-06-10 18:47] jcelerier commented on #224
@nvuaille this used to be disabled but then it was re-enabled, do you remember why ?

[2016-06-10 18:48] jcelerier commented on #219
damn, do you have a save file where they show up ?

[2016-06-10 21:15] jcelerier commented on #177
I don't think that this has been fixed at all :(

[2016-06-11 06:49] bltzr commented on #177
well, unless I misunderstood the problem, it works for me:
![trig-playfh](https://cloud.githubusercontent.com/assets/113982/15983719/55ce05ea-2fb1-11e6-840f-8b5b0551b8df.gif)

[2016-06-11 06:52] bltzr commented on #177
sorry, I misread - that was **after** the second constraint
well then, it doesn't work (the 3rd constraint doesn't play), but it doesn't crash either
![trig-playfh-2d](https://cloud.githubusercontent.com/assets/113982/15983740/bc1097e6-2fb1-11e6-95e7-d841160d0f21.gif)

[2016-06-11 06:55] bltzr commented on #219
yes, for example this one - it doesn't always stay, but often does (I'm using space bar and enter)
[times.scorejson.zip](https://github.com/OSSIA/i-score/files/310135/times.scorejson.zip)

[2016-06-11 12:40] jcelerier commented on #174
I should have fixed it, to test it you need to remove the configuration file and relaunch i-score however.

It may be one of the following files :

[code]

[2016-06-11 12:44] jcelerier commented on #219
I played it about twenty times and didn't get an indicator staying :(
Maybe it's OS X only... I'll try later.

[2016-06-11 12:45] jcelerier opened #227 "Allow to play only a sub-scenario"

[2016-06-11 12:54] jcelerier commented on #223
I think that this needs discussion with @OSSIA/core

[2016-06-11 13:12] bltzr commented on #227
👍 +1

[2016-06-11 13:20] bltzr commented on #223
oh yeah, sure ! let's discuss it:

my arguments for them being set off by default:
- IMHO adding a trigger means that one doesn't know in advance when the event will be triggered - adding bounds to this indefinite duration is a further precision, and not always (or even most frequently)  needed
- I don't see any reason for having arbitrary durations by default

arguments I see for them being on:
-

[2016-06-11 13:36] #209 closed, assigned to nobody

[2016-06-11 13:41] #191 closed, assigned to jcelerier

[2016-06-11 15:36] #195 closed, assigned to jcelerier

[2016-06-11 18:22] #194 closed, assigned to jcelerier

[2016-06-11 18:30] bltzr commented on #194
nice !
and it would even be nicer if pressing the preset buttons updated the speed slider, wouldn't it ?

[2016-06-11 19:39] jcelerier commented on #194
indeed :p

[2016-06-11 20:17] jcelerier commented on #194
done in fe32481

[2016-06-11 21:08] #190 closed, assigned to jcelerier

[2016-06-11 21:22] #226 closed, assigned to nobody

[2016-06-11 21:44] #211 closed, assigned to nobody

[2016-06-11 22:02] #225 closed, assigned to nobody

[2016-06-11 22:36] #214 closed, assigned to nobody

[2016-06-11 23:24] cbossut commented on #223
Agreed

Le samedi 11 juin 2016, Pascal Baltazar notifications@github.com a écrit :

##

Clément Bossut

[2016-06-12 08:25] jcelerier opened #228 "Update documentation images"
They don't have the icons

[2016-06-12 09:38] bltzr commented on #211
Thanks !
BTW, I think this would be clearer if the recycling arrow was around the (then smaller) camera.
I can do this if you give me the source of the icon

[2016-06-12 12:44] jcelerier commented on #211
https://github.com/OSSIA/i-score/tree/master/base/plugins/iscore-plugin-scenario/Scenario/resources/icons_svg

[2016-06-12 13:49] bltzr commented on #211
done and committed !
though, I didn't have the source for the camera in the svgs so I tweaked from the pngs.... I guess that's not best practice, but I had no way to do it otherwise....

[2016-06-12 13:53] bltzr commented on #207
I have tried to change the icon locally, and I personally find it much clearer this way
this is how it looks:
![transport](https://cloud.githubusercontent.com/assets/113982/15991528/b55024c6-30b5-11e6-9e3d-2246cdfc03ed.png)
does anybody (particularly @blueyeti) object to this change ?
If not, I'll commit it...

[2016-06-12 13:58] jln- commented on #207
FWIW, I like these

Best,
J

[2016-06-12 14:00] bltzr opened #229 "change the order of the state/constraint action buttons"
the current one doesn't make much sense, as buttons seem to be in a random order
what about this (for example) :
![buttons](https://cloud.githubusercontent.com/assets/113982/15991575/be5294ea-30b6-11e6-8f38-410a38e8cfe0.png)

[2016-06-12 14:13] bltzr opened #230 "change function of sequence button"
Since a recent commit, and on @blueyeti 's suggestion, creating sequences now works with horizontal magnetism - this is **very cool** !

Though, now, the previous way it was working doesn't make much sense anymore... and is even sometimes a little bit of a nuisance...

So, what if we changed the function of this button to enabling/disabling the horizontal magnetism for creating sequences ?
When di

[2016-06-12 15:07] jcelerier commented on #222
this should be fixed.

[2016-06-12 15:12] jcelerier commented on #229
they are, indeed :p

[2016-06-12 22:11] nvuaille commented on #224
There were many discussions about that, I don't really remember ...

[2016-06-13 07:13] bltzr commented on #222
well... sorry, but apparently it isn't... I pulled and rebuilt... should I do anything else ? Like cleaning the folder or so... ???
Astonishingly, the icon file is in the .app bundle:
<img width="636" alt="package_content" src="https://cloud.githubusercontent.com/assets/113982/15999589/07cc2c36-3147-11e6-8bde-39f0e6f2800e.png">

[2016-06-13 07:36] bltzr commented on #212
yes, that seems OK now, thanks !

[2016-06-13 07:36] #212 closed, assigned to nobody

[2016-06-13 07:53] bltzr commented on #169
yes, that seems OK now, thanks !

[2016-06-13 07:53] #169 closed, assigned to jcelerier

[2016-06-13 08:01] bltzr commented on #227
How is this supposed to work ?
I tried different ways, but it always played the whole (parent scenario)...

[2016-06-13 08:06] bltzr commented on #222
I rm'd the build-release folder, and still no icon...
as long as it doesn't happen on the public build, this is not so much of a problem, though...

[2016-06-13 09:12] jcelerier commented on #222
indeed, I had forgotten to push :p

[2016-06-13 09:18] bltzr commented on #222
maybe that's why :-p

[2016-06-13 09:43] jcelerier commented on #227
it's not really possible to play just a sub-scenario. What happens is that you select its parent constraint and press "Play Constraint" on the right click menu. It will only play the constraint and its processes.
Do you think that it would be desirable to automatically do this when in full-view on another constraint ?

[2016-06-13 09:59] bltzr commented on #227
yes, that would make sense to do so in full view - at least that's what I've been intuitively expected to happen...
though, I guess in most cases it would be necessary to compile the previous states of parameters, as when "playing from here"

[2016-06-13 13:15] bltzr commented on #227
Let's not do that! (About the compilation)
After giving it some  thought I think it would be best to keep it simple stupid, and just play the sub scenario
Though I guess it should play the start and end states of the parent constraint, in order to stay consistent with the way it works when the main scenario is in full view - is that a problem?

[2016-06-13 15:28] jcelerier commented on #227
no, this makes the most sense. I would have found it very weird and unintuitive to also compile the previous (not visible) states. It should just behave like it would for the "global" scenario.

[2016-06-13 15:34] jcelerier commented on #219
I also don't get them staying in OS X ...

[2016-06-13 15:42] bltzr commented on #219
maybe I'm damned

[2016-06-14 08:38] jcelerier commented on #230
Ok

[2016-06-14 08:39] jcelerier opened #231 "Change visual representation of state when in a sequence"
- two things :

- [ ]  Differentiate two very close states
- [ ] When a state has a constraint before and after, show distinct graphical element for the state.

[2016-06-14 08:46] jcelerier opened #232 "Try to find a way to merge "Create Curves" and "Interpolate States""

[2016-06-14 08:57] bltzr commented on #232
if there are already values in the end and/or start states, they are used as extrema for the curve
if one or two of them is not present, range/min is used for the start value and range/max for the end value (maybe we could also use the alt modifier to invert this behavior ? just thinking out loud....)
would that make sense ?

I was also wondering that maybe curves could be created by drag'n'droppi

[2016-06-14 09:00] jcelerier commented on #232
yes, that would certainly be the best way to do this.

Need to discuss it more for the "use the start / end state according to alt" thing.

[2016-06-14 09:08] bltzr commented on #232
Sure, that was just a passing idea I grabbed on the fly

[2016-06-14 10:52] jcelerier opened #233 "Drag addresses in constraint for creating automations"

[2016-06-14 10:52] jcelerier opened #234 "Drag address in automation to change its address"

[2016-06-14 10:53] jcelerier opened #235 "Drag address in mapping to change its addresses"
Inferior-right : source
Superior-left : target

Show an overlay when doing this.

[2016-06-14 10:55] jcelerier opened #236 "Alternative create mode"
- Double click : create an empty state
- Double click with a state selected: create from the state selected to the double-clicked point

[2016-06-14 11:50] bltzr commented on #234
even if it already has one ? maybe we would want a confirmation ? (well, we can always undo, so maybe not)
that would be dragging over a certain slot
and if it's on the constraint OR header, then it creates a new automation (and shows it on top of the slot ?)

[2016-06-14 11:51] bltzr commented on #235
I would have said:
Inferior-left : source
Superior-right : target

Or maybe just
Left : source
Right : target
?

[2016-06-14 11:51] bltzr commented on #236
+1

[2016-06-14 11:53] bltzr opened #237 "change way to create points in curves"
for now it's cmd-click... which was consistent with the way it was before... but now it isn't any more...

what if we used the 'general' tools for that, too
i.e. when the select tool is chosen, we double-click (as proposed in #236 ) on a segment to create a point
and when the create tool is chosen, we just click

[2016-06-14 11:55] jcelerier opened #238 "Alternative "sequence" mode"
On alt : duplicate, and copy processes

[2016-06-14 11:57] bltzr opened #239 "allow to remove points in curves"
currently when removing a point, it removes both adjacent segments
IMHO, it should just work reversely to how it does when adding points: it should just remove the point and merge both segments in one
if there was coefficients in segments, only the previous one is kept, the later segment's coef is discarded (that's a proposal... we could also makes a mean of both, I don't know.... ?)

opinions ?

[2016-06-14 11:59] bltzr commented on #238
I'm not sure I understand...
do you mean that this would duplicate any selected objects and their contents (which is how this usually happens in many graphical environments...) to where they are dragged ?
but I guess this is different, because you're using "sequence", to which I hardly connect in this case

[2016-06-14 12:01] bltzr commented on #238
though, if we did that with the horizontal magnetism, it could keep it in a sequence
and if we drag over a certain ∆Y, then it creates a new constraint and isn't included in the sequence
still not sure about all this, though...

[2016-06-14 12:07] jcelerier opened #240 "Add "Add Trigger" / "Add condition" button"

[2016-06-14 12:11] bltzr commented on #240
👍

[2016-06-14 12:15] jcelerier commented on #210
if the keyboard shortcuts are modifiable, would it be enough ?

[2016-06-14 12:21] himito commented on #210
It would be nice to have our own kb shortcuts 💃

[2016-06-14 12:24] jcelerier opened #241 "Play mode changes"
- Don't do play from here but instead play on the clicked objects
- If clicking on the background, instead move the "start offset" to the current point
- Pressing "play" starts play from the start offset

[2016-06-14 12:29] jcelerier commented on #201
this would make it harder to have right click on multiple selection since it would deselect everything selected...

[2016-06-14 12:30] jcelerier commented on #141
the skin can be changed in the settings for what it's worth

[2016-06-14 13:37] bltzr commented on #241
agreed !

[2016-06-14 13:47] bltzr commented on #201
I just tried that in a couple softwares:
- in Apple Mail, the selection stays as is, and there's a little blue border indicating the contextual menu applies to the chosen item:
  ![mail-select](https://cloud.githubusercontent.com/assets/113982/16044861/6ead97fa-3246-11e6-949a-ba302c1f288c.gif)
- in Max, if right-clicking on an item which was not part of the previous selection, it cancels the previ

[2016-06-14 13:48] bltzr commented on #201
I'd still consider the current behavior a bug, though...

[2016-06-14 15:54] bltzr commented on #222
seems it works now

[2016-06-14 15:54] #222 closed, assigned to nobody

[2016-06-14 15:55] bltzr commented on #227
does this still really need testing ? I guess there's some further work to do before it only plays the sub-scenario, right ?

[2016-06-14 15:58] bltzr commented on #174
currently, AFAIK, the "default“ default value for the length of the scenario is 15", and it opens at "full zoom" (aka all the scenario's length is visible at once) - this is good for immediate experimentation, but not especially for building anything.
so, what if there was a  "default“ length of 3 minutes for the scenario, and a default zoom level of about 15", for example
also, it could be great

[2016-06-14 17:36] jcelerier commented on #227
it should already be commited

[2016-06-14 19:03] bltzr commented on #227
it works, but there's a bug: the sub-states and sub-processes are not executed - compare both cases (look at the slider in Max on the left):
![works](https://cloud.githubusercontent.com/assets/113982/16055918/78a910fe-3273-11e6-9e40-50a79bd48cb2.gif)
![worksnot](https://cloud.githubusercontent.com/assets/113982/16055921/7c31e99e-3273-11e6-923f-b626aa276a88.gif)
on the second one, only the start st

[2016-06-14 19:29] jcelerier commented on #227
howdy :)

[2016-06-22 16:12] bltzr opened #242 "hierarchy doesn't show when Loop is in fullview"
As one can notice from the screenshot below, the names of the various hierarchy levels in the path-like header of the fullview are all changed to "Loop pattern"

![looplooploop](https://cloud.githubusercontent.com/assets/113982/16274197/d26fef04-38a4-11e6-916d-574c893b67a1.png)

[2016-06-22 16:12] bltzr opened #243 "i-score crashes when a lot of elements are pasted"
In my case, I'm trying to encapsulate the whole content of a 9.5MB scenario (weight in JSON format) into a scenario inside of a loop pattern - when pasting elements from the contextual menu, i-score freezes for a while, and then crashes...
crash log: https://gist.github.com/bltzr/06cfe08ba34d2bc8f3515a7aaf40048c

[2016-06-22 16:16] bltzr commented on #243
maybe though a simpler way to do this would be to give a way to actually encapsulate elements ?
i.e. changing their place in the scenario hierarchy without deleting/recreating them... ??

[2016-06-24 14:54] pach opened #244 "crash when removing state"
crash while trying to remove selected elements (OSC state in sequence)
just experimenting last version of iscore for a research residencies

[2016-06-25 17:19] pach opened #245 "crash when loading"
crash when loading a file which has been made on a version compiled by Pascal (0.69) and load on a version I did just compile (with no jamoma installed on my mac).

https://gist.github.com/pach/08abeedf682c781dae23b1a7441b5f0b

[2016-06-25 21:40] pach opened #246 "crash on play (after a tiny few)"
https://gist.github.com/pach/53daa3b6ee18c01e46e9b44a392899f7

[2016-06-25 21:45] pach commented on #246
Ok, compris.
Le premier node contenait encore un tuple que j'ai passé en 3 valeurs en sous-branches pour faire une interpolation.
Donc semble crasher quand envoi des données qui ne sont pas dans l'arbre de device.

[2016-06-26 08:28] bltzr commented on #244
duplicates #192 which has been fixed, but not released
let's remember to close this issue when the release is published

[2016-06-26 09:02] bltzr opened #247 "allow to create a sub-scenario by dragging a scenario file into the scenario editor"
according to @jcelerier
https://github.com/OSSIA/i-score/commit/37f3fcc99d7aa6744ba7bf08a7ea1e823f3a9c5f#commitcomment-17984537
makes it relatively easy to do.

[2016-06-26 17:18] pach opened #248 "bug with string and OSC device"
http://im.ezgif.com/tmp/ezgif-2313108959.gif
http://im.ezgif.com/tmp/ezgif-630672048.gif

les chaines de caracteres se fixent à none des qu'un osc device envoi une chaine de caractere sur un noeud string. En parrallele elle n'envoi que des none des que l'on sauve un projet.

[2016-06-26 18:51] bltzr commented on #248
en fait, on dirait qu'il y a un problème dans le plugin OSC (de Jamoma, I guess) parce que la même chose marche en Minuit...
@theod tu saurais nous dire en gros où ça pourrait coincer ?
(bon, j'imagine que c'est un pb d'API, mais c'est ptêt plus simple de reporter le bug ici..)

[2016-06-26 19:16] bltzr commented on #248
une précision qui me fait me dire que c'est peut-être pas finalement du côté de l'API que ça se passe : en fait, le problème n'apparaît que pour un noeud qui a été chargé depuis un fichier.
Lorsque l'on crée un noeud dans i-score, il marche jusqu'à ce qu'on ferme le scénario. À la prochaine ouverture, il ne marche plus.

[2016-06-26 19:19] bltzr commented on #248
et, lorsque j'ouvre le scénario avec ce param (qui ne marche plus), si j'en crée un nouveau (toujours string), il marche bien...

[2016-06-27 14:51] jcelerier commented on #246
J'ai essayé de lire le scénario sur plusieurs machines mais ça ne crash pas chez moi :-(

[2016-06-28 08:18] #242 closed, assigned to jcelerier

[2016-06-28 09:48] #229 closed, assigned to jcelerier

[2016-06-28 09:51] #223 closed, assigned to jcelerier

[2016-06-28 09:53] jcelerier opened #249 "Navigation keyboard shortcuts"
To allow navigating in the elements of a sequence / timenode by keyboard.

e.g. :
Left - Right : navigate between constraint - state (end state, start state)
Up - Down : navigate between the states of a timenode

[2016-06-28 10:49] pach opened #250 "[BUG] state don't send data on trigger"
A manual trigg doesn't update and send the node attach to the state which is trigged.
Need a second state a short while after to trig.
http://www.giphy.com/gifs/l46CgIgFFlyofoJFK

[2016-06-28 13:00] pach commented on #250
donc pour clarifier. Un trig sur un nodetime n'envoi pas l'état de ce meme nodetime.

[2016-06-28 14:20] jcelerier opened #251 "Ability to change format of time boxes"
Like in audacity

[2016-06-28 14:21] jcelerier opened #252 "Process panel view does not clear when document is closed"

[2016-06-28 15:16] jcelerier commented on #250
Ça devrait être réglé, voilà le nouveau comportement :

http://webmshare.com/JAZGJ

[2016-06-28 15:21] bltzr commented on #250
hé @jcelerier c'est fini, ce prosélytisme pour Firefox, tu veux pas mettre des GIFs comme tout le monde ?

[2016-06-28 15:52] bltzr commented on #248
works now

[2016-06-28 15:52] #248 closed, assigned to theod, jcelerier

[2016-06-28 15:54] bltzr commented on #224
it's not here anymore, closing the issue

[2016-06-28 15:54] #224 closed, assigned to jcelerier

[2016-06-28 16:04] #252 closed, assigned to jcelerier

[2016-06-28 17:14] bltzr commented on #244
the next release is on its way, so that can be closed

[2016-06-28 17:14] #244 closed, assigned to jcelerier

[2016-06-28 18:35] pach opened #253 "[BUG] play from here doesn't work with trigger"
Lorsqu'on tente de jouer un scenario depuis le milieu (play from here ou raccourci p) il ne rejoue que le timenode sur lequel on clic.
Visiblement du au fait que j'ai des triggers dans mon scénario.

[2016-06-28 19:09] bltzr commented on #253
NB : ça ne le fait pas si les triggers ont une max bound - donc je suppose qu'il se dit que le trgger n'ayant pas été déclenché, ça ne doit pas être joué...

[2016-06-30 08:35] jcelerier commented on #253
@bltzr tu peux me dire (sans oublier `git submodule update --init`) si ça casse rien ailleurs et si ça fait un comportement "cohérent" ? en gros j'ai fait un patch qui fait "comme si" toutes les contraintes souples jusqu'à l'endroit ou on fait play from here étaient en fait rigides.

[2016-06-30 14:50] jcelerier opened #254 "Apply directly new address on drop in automation address editor"

[2016-06-30 16:23] jcelerier opened #255 "Condition button doesn't remove condition"

[2016-07-01 13:55] jcelerier opened #256 "Allow to use mid mouse button to scroll the main view"

[2016-07-01 16:41] pach opened #257 "removing a message in a state unrolls the state's tree in the inspector"
Removing a state in a timenode unroll all the timenode tree interface. Quite annoying sometimes. ^^
![juil -01-2016 17-25-07](https://cloud.githubusercontent.com/assets/365923/16528177/690c67e0-3fbb-11e6-98ea-8ada67b3f37c.gif)

[2016-07-04 08:15] jcelerier opened #258 "Labels on timenodes with toggleable display"

[2016-07-04 08:15] jcelerier opened #259 "Allow to pause a single time constraint"

[2016-07-04 09:14] jcelerier commented on #255
Should be fixed in 0bc210266b9032fb17965be8e9f45ee26a3bec5d

[2016-07-04 09:26] jcelerier commented on #239
question: what is the expected behaviour when removing the first / last point ?

[2016-07-04 09:37] jcelerier opened #260 "none curve segment type not handled"

[2016-07-04 10:11] jcelerier commented on #239
I did something, not sure I'll have time to go much further.

[2016-07-04 10:14] jcelerier commented on #227
@bltzr could you retry ? I am unable to reproduce :( for me it sends correctly whatever the hierarchy level I'm in (even if I'm zoomed in the automation)

[2016-07-04 10:33] #221 closed, assigned to nobody

[2016-07-04 12:19] jcelerier commented on #257
it's a bit hard to do so it will take some time

[2016-07-04 13:15] jcelerier commented on #203
I don't think that it will be perfectly solvable... this is due to this :
http://doc.qt.io/qt-5/qgraphicsview.html#centerOn

Basically, at high zoom levels, this approximation becomes more and more apparent...
I tried to mitigate it a bit by reducing the max zoom ratio by a tiny fraction.

[2016-07-04 13:17] jcelerier commented on #243
from a code point of view, this would absolutely not be simpler :package:
Could you share the scenario that you are trying to copy - paste ? It shouldn't crash in any case.

[2016-07-04 13:18] jcelerier opened #261 "paste in sub-scenario : messed-up y position."

[2016-07-04 13:19] jcelerier commented on #245
does this still happen ?

[2016-07-04 13:20] jcelerier commented on #245
Yep, that's because of the absence of Jamoma.

[2016-07-04 13:20] #245 closed, assigned to jcelerier

[2016-07-04 13:21] jcelerier commented on #246
Je ferme car je n'arrive toujours pas à reproduire.

[2016-07-04 13:21] #246 closed, assigned to jcelerier

[2016-07-04 13:23] jcelerier commented on #176
I replaced this by a warning. However the states won't be sent, for some reason.

[2016-07-05 23:26] jcelerier commented on #234
Done. I think that undo is enough.

[2016-07-05 23:42] jcelerier opened #262 "CreateCurve & friends in Loop & BaseConstraint"

[2016-07-06 00:03] #234 closed, assigned to nobody

[2016-07-06 15:18] bltzr commented on #239
this works, except when trying to remove the first point after the start state, or the last before the end state (in which case the segment is removed)

[2016-07-06 15:27] bltzr commented on #227
I am unable too... maybe i-score was in a bad mood... or I was tired... or there was a bad astral alignment... closing the issue

[2016-07-06 15:27] #227 closed, assigned to jcelerier

[2016-07-06 15:29] bltzr commented on #249
cmd/ctrl-up/down : go up/down one level of hierarchy (i.e. change which constraint is in fullView)

[2016-07-06 15:35] bltzr commented on #243
that's the one I shared with you (Nebula.scorejson):
- select all elements in the scenario
- create a bigger constraint than the size of the selected elements (e.g. 30')
- create a scenario process to this constraint
- fullView into it
- paste elements
- die !

[2016-07-06 15:37] bltzr commented on #243
That might be a feature request for a future version of i-score (for when we have a team of 20 developers and as many test-writers :-p ) but this (and also de-encapsulating) would make a lot of sense.... just saying... should I create an issue ? (or is this really too complicated for any foreseeable future ?)

[2016-07-06 16:24] jcelerier commented on #254
fixed

[2016-07-06 16:24] #254 closed, assigned to nobody

[2016-07-06 17:26] jcelerier commented on #233
done.

[2016-07-06 17:26] #233 closed, assigned to nobody

[2016-07-06 17:42] jcelerier commented on #236
won't be done because clicking outside when selecting, well, deselects.

[2016-07-06 17:45] #236 closed, assigned to nobody

[2016-07-06 21:48] #239 closed, assigned to nobody

[2016-07-06 21:49] jcelerier commented on #259
note: this should be moved to OSSIA/API

[2016-07-07 15:20] bltzr commented on #259
cannot this be done by setting its speed to 0 ?

[2016-07-10 08:44] jcelerier commented on #258
@bltzr so I added label displaying... however it seems that labels were already set to "TimeNode" by default for Timenode, so when loading a score now every TimeNode has a "TimeNode" text displayed next to it.
Do you want me to add a quick `if text == "TimeNode" then text.clear()` for a few releases to remove them from the save files ? since I don't think this adds valuable information...

[2016-07-10 11:09] bltzr commented on #258
good idea, thanks

[2016-07-10 12:06] pach commented on #258
I was more thinking about a toggle button, by default on false, which would allow to display labels for some of the timenode.

[2016-07-10 15:49] bltzr commented on #258
Because you’d want to have some nodes with labels, but undisplayed ?

[2016-07-10 17:18] pach commented on #258
A display toggle button is not much more complex to implement than hiding the default name.
And yes, it can be usefull to be able to display or not nodes labels. For exemple, during the creation, I do want labels on most nodes to know what is where. Then for the show, I would prefer to display label only for the trigged node and a few others.

[2016-07-10 19:16] bltzr commented on #258
makes sense

[2016-07-22 15:23] jcelerier opened #263 "Play / stop via network"
Try to have them go through the Qt event loop to prevent @bltzr  problems

[2016-07-25 17:45] jcelerier commented on #263
@bltzr could you test with the latest commit on master ? fcd49df8ab9614f3acd9ba4bfdf69bdc079de739

[2016-07-26 09:19] jcelerier opened #264 "Minuit should come first in device list"

[2016-07-26 09:19] jcelerier opened #265 "Correct TAB order when setting device parameters"

[2016-07-26 09:20] jcelerier opened #266 "Make full view constraint become green while playing"

[2016-07-29 14:46] bltzr commented on #263
I just tried, and now, sending /play 0 or /play 1 via network does just the same: it toggles between play and pause - this is embarrassing...

[2016-07-29 14:48] bltzr commented on #263
BTW, what was the initial problem again ? I remember there was an error message when stopping via network... was there anything wrong with play ? I don't remember...
anyhow, now, there IS a problem with play :-)

[2016-08-01 11:53] #263 closed, assigned to nobody

[2016-08-01 11:58] jcelerier commented on #263
Should be ok now :

![output](https://cloud.githubusercontent.com/assets/2772730/17293340/0927ed5c-57f0-11e6-8fb2-f152b3eab35e.gif)

[2016-08-02 11:03] bltzr commented on #263
I confirm it is indeed OK, thanks !

[2016-08-16 10:14] bltzr opened #267 "Comment blocks cannot be deleted once created"
or maybe I just didn't find how to do it...

[2016-08-26 16:03] pchdev opened #268 "[crash] when playing mapping process"
A71 version
see enclosed files for report & test files :-)

pchd

[mapping_crash.zip](https://github.com/OSSIA/i-score/files/439638/mapping_crash.zip)

[2016-08-26 18:59] pchdev commented on #267
when selected, the comment block should appear on the inspector window, you can then delete it with the backspace key

[2016-08-28 08:44] jcelerier commented on #268
Ah, this was fixed in the current dev branch (https://github.com/OSSIA/i-score/tree/refactor/network). I still have some bugs to fix on it but I'll try to get a release going with it by mid-september.

[2016-08-28 09:13] jcelerier opened #269 "Play from here : try to use the data from the last execution"
I was wondering : in sequencer software, most of the time, when I want to play from some point,
it is generally very close to the point where I was (i.e. for instance replaying the same sequence 250 times because _that snare drum ain't right_).

Here is my proposition : when doing play from here :
- If there was no previous execution (i.e. open i-score, play in the middle) : keep the current behav

[2016-08-29 06:12] jcelerier commented on #27
i-score won't look for jamoma libs anymore

[2016-08-29 06:12] #27 closed, assigned to jcelerier

[2016-08-29 10:23] pchdev commented on #269
Yep, the proposition sounds right to me

[2016-09-02 11:46] jcelerier opened #270 "automations in sub scenarios won't work"

[2016-09-02 11:59] #270 closed, assigned to nobody

[2016-09-02 12:00] jcelerier commented on #268
@pchdev I made a release, if you have time please try :)

[2016-09-02 12:33] pchdev commented on #268
cool! thanks, i'll try it out!

edit: it's working!

[2016-09-02 12:38] #266 closed, assigned to nobody

[2016-09-02 13:04] jcelerier commented on #66
Should work in latest version.

[2016-09-02 13:12] jcelerier commented on #176
now it works !

[2016-09-02 13:12] #176 closed, assigned to nobody

[2016-09-02 13:27] #261 closed, assigned to nobody

[2016-09-02 14:07] #265 closed, assigned to nobody

[2016-09-02 15:24] jcelerier commented on #260
closed because it should not appear.

[2016-09-02 15:24] #260 closed, assigned to jcelerier

[2016-09-02 15:29] jcelerier commented on #255
Marking as fixed

[2016-09-02 15:29] #255 closed, assigned to nobody

[2016-09-02 15:31] jcelerier commented on #203
I mark as fixed (we spoke about it on gitter)

[2016-09-02 15:31] #203 closed, assigned to nobody

[2016-09-02 15:33] jcelerier commented on #106
I'm closing : I think that the "Add process > automation" should be a last resort to create automations (it's a bit of a "debug" feature) : most of the time you want create curve, interpolate states, sequence mechanism etc... which does not have this problem

[2016-09-02 15:33] #106 closed, assigned to jcelerier

[2016-09-03 07:39] jcelerier commented on #219
I disabled them temporarily they were eating a lot of resource... I'll have to find a better way to do it.

[2016-09-03 07:39] #219 closed, assigned to nobody

[2016-09-03 07:45] #267 closed, assigned to nobody

[2016-09-05 09:37] jcelerier opened #271 "Only enabling min duration does not show the handle"
To reproduce :
- create constraint
- add trigger
- check Min duration
- check Max duration -> the min handle appears

[2016-09-05 09:49] jcelerier opened #272 "Local tree : put automating name sanitizing in undo system"

[2016-09-06 13:12] pchdev opened #273 "[view-bug] removing processes from constraint returns empty "box" instead of normal segment"
When I remove all processes within a constraint, the UI in the timeline does not set back the constraint to the simple segment display (empty constraint), it displays an empty automation box. I can get back to the segment view when I set the View>Reduce View to “none“ in the inspector and after double clicking on the constraint an then getting back to the main timeline. So it seems that the “remov

[2016-09-11 21:15] RVirmoors opened #274 "Windows release: cannot find msvcp140d.dll"
Hi!
The .exe won't run, claims it needs that *d.dll file. The "d" at the end is for Debug, I believe.. So you probably compiled in Debug mode instead of Release.

Then again on the wiki you say MSVC can't be used for building i-score (I haven't tried myself), so I'm confused :)

[2016-09-12 13:41] pchdev opened #275 "[ergonomy] backspace key doesn't work anymore on Mac & consequently unable to delete comments"
on v. a72, worked fine on a71-2

pchd

[2016-09-12 13:47] pchdev opened #276 "[ergonomy-bug] strange behaviour of logical operators in trigger expressions"
when I add a subexpression after the first trigger condition, and I choose the **|** operator, the subexpression seems to delete itself and is reported on the first expression, I have to repeat the process to finally get it to stay.

oh, and do we want to keep the menu before the first expression?

pchd

[2016-09-12 15:09] jcelerier commented on #274
Damn, sorry, the wiki must not be up-to-date, MSVC is now the preferred way to build i-score (for a long time it couldn't build there due to the use of modern C++, but since VS2015 update 3 it is not the case anymore; and MinGW had its fair share of problems).

I don't have access to a windows machine currently but I'll try to see if something is not set-up correctly in the build scripts. thanks !

[2016-09-12 15:15] jcelerier commented on #275
http://i3.kym-cdn.com/entries/icons/original/000/012/073/7686178464_fdc8ea66c7.jpg

[2016-09-12 15:37] #275 closed, assigned to nobody

[2016-09-12 16:52] #264 closed, assigned to nobody

[2016-09-14 15:13] pchdev opened #277 "[view-bug?] unable to edit the default duration of a "forked" constraint within a sub-scenario"
heï!

when I fork a time-constraint from an existing state in a sub-scenario, the default duration menu for that constraint in the inspector is locked, consequently I have to get back to the main scenario in order to edit it.

edit: actually, seems a bit random... I did it with another one, and it is working. strange.!

cheers!

Pierre

[2016-09-20 11:46] jcelerier opened #278 "make state snapshot during creation a preference"

[2016-09-20 17:34] pchdev commented on #278
ow yes :-)

[2016-09-21 15:01] jcelerier opened #279 "Some problem with play from here"
@pchdev

[2016-09-21 15:35] bltzr commented on #279
I think we should discuss it… what’s wrong on your side ?

[2016-09-22 18:06] pchdev commented on #279
yes, it worked fine on my score few days ago, but now it seems the only way to make it work is inside a sub-scenario, starting from certain states, otherwise it gets stuck. I'll try to test some more to get a more precise feel of the error pattern. I'll send you the score as well

[2016-09-22 18:08] pchdev commented on #268
dunno if you saw my edit, the bug is fixed as far as I'm concerned

[2016-09-22 18:09] pchdev commented on #276
that fixed it, thanks!

[2016-09-23 21:59] bltzr commented on #279
that sucks !

[2016-09-24 08:15] jcelerier commented on #279
ugh, I think that at some point there was the same problem with Georges Gagneré's work.

If you try to do "play from here" multiple times from always the same spot, does it always work (or not work) ?

[2016-09-24 13:52] pchdev commented on #279
yeah, multiple times does not seem to change anything
so here's the thing : I have 3 main sub-scenarios, it works fine on the first one, not at all on the second, and a little on the third :) (just before all conditions)

[quarre_main_backup.scorejson.zip](https://github.com/OSSIA/i-score/files/491148/quarre_main_backup.scorejson.zip)

[2016-09-24 13:57] pchdev commented on #279
.. and it also makes sense about Georges, because we had the same scene/sub-scenario structure actually!

[2016-09-25 15:24] nhthn opened #281 "Build issues on Linux (Ubuntu 16.04)"
Hi all, i-score looks pretty nice and I'm excited to give it a shot. I've run into a few problems building this on Linux, though.

The source tar on the Releases page is not buildable because github doesn't package submodules in with the releases. This is github's fault, and we've [encountered this problem in SuperCollider](https://github.com/supercollider/supercollider/issues/1807).

So instead I

[2016-09-27 08:54] jcelerier opened #282 "don't put i-score in a folder in os x"

[2016-09-27 08:58] jcelerier opened #283 "revert to stop when reaching the end of a scenario"

[2016-09-27 08:59] jcelerier opened #284 "select the first state when a new score is opened"

[2016-09-28 10:20] jcelerier commented on #281
hi,

yep, `git submodule update --init` is not enough, you need `git submodule update --init --recursive` ;
there is a wiki page here with also the packages required :

https://github.com/OSSIA/i-score/wiki/Build-and-install

[2016-09-28 10:30] jcelerier commented on #279
okay, it seems that "play from here" is broken as soon as there is a condition.

[2016-09-28 10:36] jcelerier commented on #279
a quick fix could be to assume that conditions "before" play-from-here are true, but this means that two parallel branches would both execute... would you be okay with this ?

[2016-09-28 10:43] bltzr commented on #279
I think that dealing with conditions with play from here are a pain in the ass anyway…
the only solution I can imagine would be to be able to set default behaviors for each condition when « played from here », but that’s maybe stretching things a little bit too far…
I think we discussed that previously with @theod, but I don’t remember the conclusions … (if there were any…)

[2016-09-28 10:45] jcelerier commented on #279
yeah, that's the other option. it's a bigger change but allows more flexibility...

[2016-09-28 10:54] jcelerier commented on #279
okay, that's not that hard to do.
There will be three options : "always true, always false, evaluate the condition"/

[2016-09-28 11:17] reno- commented on #279
Adding a default behavior for condition seems to be a nice addon, as it might be use for different cases :

Play from here
Trigger a condition after a timeout

[2016-09-28 13:30] jcelerier commented on #279
done, it will be in the next release :)

[2016-09-28 22:06] jcelerier opened #285 "summary view show the same elements multiple times"

[2016-09-29 08:43] jcelerier commented on #88
I think that the better way would to be make it so that the device does not need to know the i-score port. UDP can be used in full-duplex : i-score initiates the connection to the device knowing only its port, and then the device can just reuse the socket to write to i-score.

[2016-09-29 16:16] jcelerier commented on #281
I was recently told of `git clone --recursive` which  does all this in a single command, if it can be useful.

[2016-09-30 09:17] #272 closed, assigned to nobody

[2016-10-07 15:43] jcelerier commented on #258
This implies :
- Adding a "LabelShown" attribute to the ModelMetadata class.
- Adding the information serialization in ModelMetadataSerialization.cpp
- Creating a Command class similar to the one in ChangeElementLabel.hpp
- Modifying MetadataWidget.cpp to show a little checkbox next to the label line (see around line 53) and send the command when it is checked

[2016-10-07 15:49] jcelerier commented on #249
This can be done by using the actions defined in ScenarioActions.hpp:197 to trigger something in ObjectMenuActions.cpp.
The actions should certainly be added to a sub-menu, such as Object > Selection (see ObjectMenuActions::makeGUIElements). Inspiration can be taken from the existing actions such as Cut, Copy...

For the hierarchy up-down feature, the current logic is in AddressBarItem and Clickab

[2016-10-07 15:51] jcelerier commented on #240
This could be done by adding actions metadata in ScenarioActions.hpp and then creating the actions to ObjectMenuActions.cpp.
There could be two ways to implement the feature : Select an object, click, and a popup appears with the trigger / condition to add, or drag from the button to an object. Maybe both ways could be possible.

[2016-10-07 15:51] jcelerier commented on #166
## To do

* Checking the state of the CommandStack whenever it changes, for instance in Document.cpp
* In View.cpp have a function that sets the application title with or without the '(*)' that indicates non-savedness

[2016-10-13 21:54] pchdev opened #286 "scenario stops during loop"
Heï!

the scenario in the attached .scorejson suddenly stops playing after the first loop (in between the first "return" automations and the first "crossfade" automation)
[chantdesnanos1.scorejson.zip](https://github.com/OSSIA/i-score/files/528275/chantdesnanos1.scorejson.zip)
. The strange thing is that it is supposed to be playing (the play button is still highlighted in the top menu), but all t

[2016-10-15 07:31] #286 closed, assigned to nobody

[2016-10-25 15:06] #278 closed, assigned to nobody

[2016-10-25 15:06] #282 closed, assigned to nobody

[2016-10-26 09:59] jcelerier commented on #36
almost there :)

[2016-10-26 10:03] jcelerier commented on #80
after reading this issue roughly 650 times I think that I finally understood it. You want to create interpolations whenever an interpolation can be created, right ? including when a state changes.

[2016-10-26 10:16] jcelerier commented on #36
Here's how it behaves, for colors for instance.
![color](https://cloud.githubusercontent.com/assets/2772730/19722225/0979edcc-9b76-11e6-933c-d16abbaabd6b.gif)
The first comment is wrong, it's R=0 G=1 B=0

[2016-10-26 10:19] jcelerier opened #287 "Support of "file" type ?"
On the same computer there shouldn't be problems.
However how should it behave across network ? there is no easy reliable way to do this...

[2016-10-26 10:22] jcelerier opened #288 "Allow to interpolate to the "closest" element while taking the clip mode in account."
Let :
- An address a:/b of type Float with an angle in degree, bounds [0, 359], clip mode "wrap".
- The first state : a:/b 350
- The second state : a:/b 10

We would like to allow to choose the interpolation behavior between :
- Just using the values directly (i.e 350 -> 349 -> 300 -> ... -> 10)
- Taking into account the "shortest path" through wrapping : 350 -> 355 -> 0 -> 5 -> 10.

[2016-10-26 13:26] jcelerier opened #289 "Values in a limited set should be shown in combo boxes in the device explorer"
instead of allowing to type anything

[2016-10-26 15:39] bltzr commented on #80
I think that is what Renaud means (I had to read it a couple of times as well…) and I second his feature request.
I even think that should be the default behavior of sequences
maybe we should specify sequences as part of the upcoming release project… would that be reasonable to add sequences in a proper form in the next year, @jcelerier ?

[2016-10-26 15:54] jcelerier commented on #80
once they are properly specified :p I guess we'll have time to talk about it, I'd rather not do any promise

[2016-10-26 16:06] jcelerier commented on #207
Due to the lack of objections, if you still have it I think that you can commit it.

[2016-10-26 16:19] jcelerier commented on #284
Fixed by 9aaad4f

[2016-10-26 19:31] #207 closed, assigned to nobody

[2016-10-26 19:32] bltzr commented on #207
Just committed - couldn't test as the build fails on my machine - but I don't see what I could possibly have done wrong while changing 4 files's names...

[2016-10-26 21:31] #285 closed, assigned to nobody

[2016-10-26 21:31] #284 closed, assigned to nobody

[2016-10-26 21:36] #283 closed, assigned to nobody

[2016-10-27 08:39] jcelerier commented on #274
this should have been solved by 20b2bca ; the fix will be in the next release (in the meantime there are windows binaries here : https://ci.appveyor.com/project/JeanMichalCelerier/i-score/build/artifacts )

[2016-10-27 08:43] jcelerier commented on #243
could you test again with a big scenario ? I fixed some things underneath that might have fixed this indirectly. I tried to make it crash by copying a few dozen of elements and it did not crash.

[2016-10-27 08:43] jcelerier opened #290 "Support of vec types for interpolation shortcuts"

[2016-10-27 08:47] jcelerier opened #291 "Interpolation : allow to change range ?"
currently it isn't possible to go outside the bounds of the state; maybe there should be a range coefficient to multiply with ? (e.g. go from twice the min to twice the max...)

[2016-10-27 08:49] jcelerier opened #292 "Recording of tuples / vec"

[2016-10-27 09:55] jcelerier opened #293 "Undo after add trigger does not reset the constraint duration"

[2016-10-27 10:26] jcelerier opened #294 "Global shortcuts for starting & stopping recording"

[2016-10-27 11:11] bltzr commented on #294
AFAIR in Logic and maybe Pro-Tools, recording can be started with cmd-spacebar and stopped with spacebar, when the playing is stopped, but maybe we want to be able to keep on playing while we stop recording... (indeed that would be nice)

[2016-10-27 12:23] jcelerier opened #295 "crash when reordering processes"

[2016-10-27 12:24] jcelerier opened #296 "invalid constraint duration when looping sub-scenario"

[2016-10-27 13:20] jcelerier commented on #296
fixed by fee32f

[2016-10-27 13:20] #296 closed, assigned to nobody

[2016-10-27 14:38] jcelerier opened #297 "cannot compare two addresses in trigger editor"

[2016-10-27 15:05] jcelerier commented on #297
due to the last parenthesis being parsed with the second address

[2016-10-27 15:43] #297 closed, assigned to nobody

[2016-10-27 15:44] jcelerier commented on #297
note : the fix implies changing '(' and ')' in the expressions literal format to '{' and '}'.

[2016-10-27 15:59] jcelerier commented on #294
the idea that mentioned @blueyeti is also to have these shortcuts work even when the i-score window is not active

[2016-10-27 20:04] #295 closed, assigned to nobody

[2016-10-29 13:37] jcelerier commented on #292
done for vec.

[2016-10-30 23:11] #290 closed, assigned to nobody

[2016-10-31 11:06] jcelerier commented on #281
I updated the doc, is this still an issue ? By the way, do you know of any way to disable the generation of the source releases by github ? They are very much useless...

[2016-10-31 12:49] bltzr commented on #294
that's an idea, but then it's not only a shortcut, but a system-wide "service" (on the Mac) as for Screen Capture, for instance... why not...
but, anyway, you have to decide what and where to record in i-score, you can't have it too far away...

[2016-10-31 13:24] bltzr commented on #243
problem is that my big scenario is in the old format, so it's difficult to test it (unless I'm doing another big one... but it was quite big, and thus not so easy to redo...)

[2016-11-01 12:44] jcelerier opened #298 "handling of generic values from minuit"
they are represented as a tuple with 1 value, this kind of values should be useable wherever we need a normal value (int, float, etc).

[2016-11-01 16:37] jcelerier opened #299 "Problem with colors of events during execution"
When there are multiple events on a timenode without trigger, the first one is grayed and the others are yellow

[2016-11-03 16:06] jcelerier opened #300 "Split timenode crash"

[2016-11-03 22:30] jcelerier opened #301 "Constraint before false condition does not stop"

[2016-11-05 18:29] jcelerier commented on #159
fixed by 3be73583530eeb8240b42de53a1b0f8699542135

[2016-11-05 18:29] #159 closed, assigned to nobody

[2016-11-05 18:32] #268 closed, assigned to nobody

[2016-11-06 17:37] #301 closed, assigned to nobody

[2016-11-07 12:14] #300 closed, assigned to nobody

[2016-11-07 12:15] jcelerier commented on #293
fixed in 63d48be232f08e88ec50cb79aa01efb4e4df0714

[2016-11-07 12:15] #293 closed, assigned to nobody

[2016-11-07 15:48] jcelerier commented on #228
done.

[2016-11-07 15:48] #228 closed, assigned to nobody

[2016-11-07 15:51] jcelerier commented on #111
I tested a lot of times and couldn't make it crash, so I'm closing the issue for now.

[2016-11-07 15:51] #111 closed, assigned to jcelerier

[2016-11-07 15:53] jcelerier commented on #177
Not sure what kind of eldritch magic happened in the code but it seems that now it works.

[2016-11-07 15:53] #177 closed, assigned to nobody

[2016-11-07 17:37] jcelerier commented on #184
Closing since I refactored / changed this code a lot and the stack trace isn't even meaningful anymore.

[2016-11-07 17:37] #184 closed, assigned to avilleret

[2016-11-08 13:18] jcelerier opened #302 "Alt for duplicate ?"
With the "Plus" cursor

[2016-11-08 17:21] bltzr commented on #302
yes, please !

[2016-11-09 00:01] jcelerier commented on #182
closing; I updated the wiki with up-to-date informations for building on 14.04 and I hadn't crashes in the appimage for a long time...

[2016-11-09 00:01] #182 closed, assigned to nobody

[2016-11-09 00:02] jcelerier commented on #281
closing : I updated the docs with a script for 16.04 and 16.10; please reopen if there are still build issues

[2016-11-09 00:02] #281 closed, assigned to nobody

[2016-11-09 00:05] nhthn commented on #281
Thanks! Sorry for not checking -- been too busy to try this out.

[2016-11-09 00:06] jcelerier commented on #281
haha no problem, it's busy time for everyone :p

[2016-11-09 16:17] #262 closed, assigned to nobody

[2016-11-09 16:41] #271 closed, assigned to nobody

[2016-11-09 16:46] jcelerier commented on #117
it's been the case for quite some time actually !
maybe it should be a settings however.

![hierarchy](https://cloud.githubusercontent.com/assets/2772730/20146510/70a35568-a6a4-11e6-9927-432f9a32962b.gif)

[2016-11-09 16:46] #117 closed, assigned to jcelerier

[2016-11-09 17:01] #277 closed, assigned to nobody

[2016-11-10 09:55] jcelerier commented on #274
Closing, I tested on a clean Windows 10 install and so far it seems to work.

[2016-11-10 09:55] #274 closed, assigned to nobody

[2016-11-10 09:56] jcelerier commented on #188
Works now. However if windows is not up to date it requires https://support.microsoft.com/en-us/kb/2999226

[2016-11-10 09:56] #188 closed, assigned to nobody

[2016-11-10 16:12] jcelerier opened #303 "WebSocket protocol does not work in release builds"
Relevant message

    ":1 module \"QtQuick\" is not installed\n"

- [x] Fix it on OS X
- [x] Fix it on Linux
- [x] Fix it on Windows

[2016-11-13 11:33] jcelerier opened #305 "Document Javascript process"
Explain how to write a JS process (or a JS state)

[2016-11-14 17:14] pchdev commented on #303
thanks for the release!

[2016-11-14 17:34] pchdev opened #306 "[bug] gigantic lag with a76 (osx)"
heï !

almost unable to draw constraints and actually do anything, it's all freezy :-)
rest of the menus looks fine, its just the timeline window it'd seem

pierre

[2016-11-14 19:39] bltzr commented on #306
seems to be OK on my side… what OS version are you on ?

[2016-11-14 20:05] jcelerier commented on #306
same, I can't reproduce :( if you want we can see tomorrow ?

[2016-11-14 20:20] pchdev commented on #306
@bltzr the captain
@jcelerier yes, i'll try to come by and show you tomorrow

[2016-11-14 21:22] bltzr commented on #306
too bad I didn’t try before updating just right now

[2016-11-14 21:53] avilleret opened #307 "build error on Ubuntu 16.10 : fmt/format.h not found"
On Ubuntu 16.10 with :

[code]

I have :
[code]

while there is a `format.h` here : `./API/3rdparty/spdlog/include/spdlog/fmt/bundled/format.h`

any hint ?

[2016-11-14 22:46] avilleret commented on #307
This helps :

[code]

But I'm not sure you want to deal with dependency in this way.

[2016-11-14 22:52] avilleret opened #308 "build error on Ubuntu 16.10 with Boost 1.62"
Following https://github.com/OSSIA/i-score/wiki/Build-and-install#ubuntu-1610 ends up with https://gist.github.com/avilleret/d9e3fac4272f26dd7f0c7abb510be1b7

Still on Ubuntu 16.10 and at 6b453a8

[2016-11-14 23:05] bltzr opened #309 "can't create bifurcations from newly created sequence"
as demonstrated on the gif below, it is not possible to create bifurcations from a newly created sequence - one must first create another (bifurcating) constraint
![bugsequences](https://cloud.githubusercontent.com/assets/113982/20286465/24c36a12-aac7-11e6-8378-a412ab055e9e.gif)

I believe this comes from the sequence toolbutton ( [...] next to the play toolbbutton) staying on once a sequence segm

[2016-11-14 23:10] bltzr commented on #306
though I just noticed (in Sierra) that a76 drains very high on the CPU (activity monitor says more than 100%), while doing nothing at all (just created a few events and states in it, and execution has not been started)
![pastedgraphic-1](https://cloud.githubusercontent.com/assets/113982/20286607/d3c2a848-aac7-11e6-9e69-d33dfa64ea21.png)
in the meantime a75 (audio-version) sits nicely at 15%

[2016-11-14 23:14] bltzr commented on #306
sorry that was the energy monitor... still a76 is much much higher than a75-audio, both doing nothing at all
![pastedgraphic-2](https://cloud.githubusercontent.com/assets/113982/20286691/74bd7c1e-aac8-11e6-9fe2-08c14dd5e844.png)
a76 actually fluctuates between 30 and 96

[2016-11-15 09:20] jcelerier commented on #307
did you do `git submodule update --init --recursive` after `git pull` ? fmt should be here : `i-score/API/3rdparty/fmt/fmt/format.h`

Besides, this seems to be fairly common, do you have an idea of where it could make sense to put ? in the readme ? the wiki ?

[2016-11-15 09:23] jcelerier commented on #308
I think that it's the same problem, the oscpack submodule does not seem up-to-date

[2016-11-15 09:41] jcelerier commented on #309
yep, seems to be it. It works if you focus another window and re-focus i-score so it's certainly something that is not reset correctly ; checking asap.

[2016-11-15 09:49] avilleret commented on #307
shame on me, I forgot the `--recursive` flag....
thanks @jcelerier to take time to explain life to newbie :-)

[2016-11-15 09:49] #307 closed, assigned to nobody

[2016-11-15 09:49] #308 closed, assigned to nobody

[2016-11-15 09:58] jcelerier commented on #307
haha honestly I wish that git did that by default...

[2016-11-15 10:15] avilleret commented on #307
let's do it with alias :
`git config alias.update "!(git pull && git submodule update --init --recursive)"`
then `git update` will do everything in one shot

[2016-11-15 14:11] jcelerier commented on #306
I wonder if it's related to this : https://bugreports.qt.io/browse/QTBUG-44228 because I have the same results on OS X while i-score gently sits at 1-2% CPU on linux & windows...

[2016-11-16 09:54] jcelerier commented on #197
do you still have it ? I still cannot reproduce...

[2016-11-16 10:52] pchdev commented on #309
tested, and its ok for me

[2016-11-16 10:53] pchdev commented on #306
ok! thxthxthxthxhthx

[2016-11-16 11:39] jcelerier commented on #306
Cool !
Note: now it's opengl that does the rendering on OS X so there _may_ be some graphical glitches sometimes (but it should be smoother on older computers / retina resolution), so please make bug reports if there are weird things.

[2016-11-16 11:51] #306 closed, assigned to nobody

[2016-11-16 11:52] jcelerier commented on #306
@bltzr I'd be interested to see the processor usage on your computer with a77 if you have a minute.

[2016-11-16 12:17] bltzr commented on #306
it sits rather consistently at about 10% for a while after startup
then goes down to between 1.5 and 4.5 after a while
then up to 8% or so after I add a couple objects
then back down to 2%

I think we can say this is fixed

thanks

[2016-11-16 12:17] bltzr commented on #309
OK for me too, this can be closed

[2016-11-16 12:17] #309 closed, assigned to nobody

[2016-11-16 12:18] bltzr commented on #197
nope, that seems OK now

[2016-11-16 12:18] #197 closed, assigned to nobody

[2016-11-16 12:56] jcelerier commented on #306
cool !

[2016-11-16 12:58] jcelerier commented on #306
(other very intimate question : do you have a retina screen ?)

[2016-11-16 13:12] bltzr commented on #306
I usually don't answer publicly to such intimate questions... but yes

[2016-11-16 15:36] jcelerier opened #310 "Show transparent items when dragging / dropping states to preview what will happen"

[2016-11-16 15:37] jcelerier opened #311 "Drag'n'drop should react to magnetism"
- [ ] Magnetism
- [ ] Link to the closest state or to the beginning

[2016-11-21 18:29] pchdev opened #312 "[feature request] websockets -> add access to other devices in the .js config"
especially the local device,
it is not urgent at all, just an idea :-)

pierre

[2016-11-21 20:09] bltzr commented on #312
a good one !

[2016-11-25 14:16] pach opened #313 "[feature request] audio from start or "here" in play from here"
When starting a scenario from the middle (with play from here), it could be good if the audio could start from the place where we start the scenario and not from the beginning of the track. So the sync between audio and nodes stay the same.
That might be an option on the audio process, depending on how the scenario is construct might be usefull or not.
I see two reason why it would necessary :
- w

[2016-11-25 14:31] bltzr commented on #313
👍 well... +💯 indeed !
I think that's very very convenient to have this, too...

[2016-11-27 10:02] pchdev opened #314 "issue with multiple "pulse" trigger sequence"
I have a button on my phone that sends triggers to an impulse parameter on i-score. The problem is, I have two trigger events that are directly connected (in sequence) with the same trigger condition (phone:/phonebutton impulse). When I hit the button once, it actually triggers both of them. The thing is, I want them to be triggered individually, with both one hit of the button.

![iscore-triggers

[2016-11-27 11:09] pchdev commented on #314
**update** : if I put a Max duration on the second trigger, it works the first time. But if I replay, it triggers both events again.

**update**: ok, it works if I put the second trigger in a sub-scenario

**update**: and now it doesn't...

[2016-11-27 12:16] bltzr commented on #314
and if you pout a min duration ?

[2016-11-27 12:20] pchdev commented on #314
nope, doesn't work either. Also tried to add a normal constraint of 1 or more seconds in between the two triggers, but it still triggers both

[2016-11-27 12:25] pchdev commented on #314
ok, my phone now sends phone:/phonebutton 1, and I put 0 on each trigger state.. this is the best workaround I got for now.

[2016-11-27 13:23] bltzr commented on #314
BTW what to you use on your phone ? websocket ? Would you share ?

[2016-11-28 00:27] pchdev commented on #314
yes it is web-socket based, github is here : https://github.com/pchdev/quarre_phone, but the .apk not really ready to be "released" so to speak...!

[2016-11-28 13:09] bltzr commented on #314
thx!

[2016-12-02 23:23] jcelerier opened #315 "icons don't seem to be retina on os x"

[2016-12-04 10:29] jcelerier opened #317 "Dragging address of messages in automations ain't working"

[2016-12-04 10:51] #317 closed, assigned to nobody

[2016-12-04 22:53] jcelerier opened #318 "Javascript scripting"
There should be more thorough Javascript capabilities in i-score.

Ideally : it should be as powerful as the python console of blender (i.e. possibility to create elements, etc... through the console).

- [ ] Expose core elements of the i-score API to QML : factories, paths, etc.
- [x] Find a way to construct commands from Javascript. This could also serve to enable edition of a score through OSC.

[2016-12-05 08:53] pchdev commented on #314
@jcelerier tested, it works!
thanks!

[2016-12-05 09:10] #314 closed, assigned to nobody

[2016-12-05 10:21] jcelerier commented on #273
so, this is because when adding a process, we also create a rack and a slot to put the process in if there is none.

 @OSSIA/users
Should removing a process also check if it is going to leave the slot empty, and if it is the case, remove it ?

[2016-12-05 12:55] bltzr commented on #273
that sounds like a good idea if it’s not too complicated...

[2016-12-05 18:27] pchdev commented on #273
I fully agree

[2016-12-05 19:46] cbossut commented on #273
Me too :-D

2016-12-05 19:27 GMT+01:00 Pierre Chd <notifications@github.com>:

--
Clément Bossut

[2016-12-06 15:40] jcelerier opened #319 "Cursors"
- [x] Cross cursor for creation mode
- [x] Vertical cursor for constraint
- [x] 2D cursor for state that can move freely

[2016-12-06 16:00] jcelerier opened #320 "Overlay for creation"
When selecting a state, a little "+" button appears in the top-right corner. If the plus button is clicked, we switch to create mode and are able to drag a new constraint.

Likewise, for constraints, when a constraint is selected there is a (+) in the middle to add a new process

[2016-12-06 16:12] jcelerier commented on #122
seems to be ok, just have to add a button

[2016-12-10 03:56] nhthn commented on #281
Alright, so here's the issue now:

[code]

[2016-12-10 11:47] jcelerier commented on #281
I think that it's not an error (even though cmake says so) :

    -- Generating done
    -- Build files have been written to: /home/nathan/git/i-score/CMake

these messages mean that you can proceed with calling `make` (or `cmake --build .`). The build takes a long time so you may want to do `make -j$(nproc)` or `cmake --build . -- -j$(nproc)`.

If I remember correctly, the error message comes fro

[2016-12-10 18:52] nhthn commented on #281
Ah, I see. CMake returned -1 so I had assumed it was fatal!

Here's where I'm at now running `make`:

[code]

[2016-12-12 23:21] jcelerier opened #321 "When creating, cannot move before the click point"

[2016-12-13 09:06] #319 closed, assigned to nobody

[2016-12-13 09:08] #320 closed, assigned to nobody

[2016-12-13 09:34] jcelerier opened #322 "Put selected constraint on top Z"

[2016-12-13 09:41] jcelerier opened #323 "Create points in curves by double click"

[2016-12-13 09:45] jcelerier opened #324 "Duplicate rack when entering full view the first time"

[2016-12-13 09:48] jcelerier opened #325 "Adjust time labels according to their magnitude"
e.g. don't show milliseconds past 1 min

[2016-12-13 09:59] jcelerier opened #326 "Ctrl-Shift-T : select top elements"
Also when clicking on the name of a box

[2016-12-13 10:00] jcelerier opened #327 "Always keep the top header visible when scrolling"
e.g. see Bootstrap themes

[2016-12-13 10:04] jcelerier opened #328 "In the constraint header, show state "aliases""
e.g. dots corresponding to the state, that we can select, and drop stuff on.

[2016-12-13 10:08] jcelerier opened #329 "Navigation panel"
Deport the navigation elements in the inspector

[2016-12-13 10:08] jcelerier opened #330 "Move states vertically in an event"

[2016-12-13 10:16] jcelerier opened #331 "Cut tool"
When moving on an event / time node : cut the whole timenode
When moving on a condition : split the event in two

[2016-12-13 10:17] jcelerier opened #332 "Alt for creating a new state / event instead of just new state"
Also add a little "plus" for this ?

[2016-12-13 10:21] jcelerier opened #333 "Crash for "put in new timenode" when there is a single event"

[2016-12-13 10:24] jcelerier opened #334 "Verticality for conditions"
Lock outside when creating a new state with a new condition

[2016-12-13 10:27] bltzr opened #335 "first constraint created after deleting all elements is not resizable"
did that with cmd-A -> backspace
probably destroyed some event at the beginning of the scenario

[2016-12-13 10:41] jcelerier opened #336 "Add expressions to local tree"

[2016-12-13 10:53] jcelerier opened #337 "There is no easy way to merge events/conditions"
- Possibility :

* By default put all the new states in new events
* When multiple states are selected, add a button to put them in a single event / condition

[2016-12-13 10:57] jcelerier opened #338 "Don't lock states vertically"

[2016-12-13 10:59] jcelerier opened #339 "Remove sequence button"

[2016-12-13 11:05] jcelerier opened #340 "Crash when sending the "trigger" message from the local tree"
Also sending the message from a state does not seem to work

[2016-12-13 13:42] jcelerier opened #341 "Play from a given point in a constraint"
Do not play the other branches of a scenario.

[2016-12-13 13:48] #276 closed, assigned to nobody

[2016-12-13 13:48] #66 closed, assigned to jcelerier

[2016-12-13 13:51] #164 closed, assigned to nobody

[2016-12-13 13:52] #253 closed, assigned to nobody

[2016-12-13 13:53] #279 closed, assigned to nobody

[2016-12-13 13:54] #250 closed, assigned to nobody

[2016-12-13 22:55] #340 closed, assigned to nobody

[2016-12-13 23:11] #333 closed, assigned to nobody

[2016-12-13 23:25] #335 closed, assigned to jcelerier

[2016-12-13 23:28] #322 closed, assigned to nobody

[2016-12-13 23:34] #321 closed, assigned to nobody

[2016-12-14 00:08] #336 closed, assigned to nobody

[2016-12-15 10:14] avilleret opened #342 "i-score appImage doesn't have icon"
Here is how v1.0.0-b1 appears on Ubuntu 16.04 :
![image](https://cloud.githubusercontent.com/assets/504914/21220065/878eb900-c2b7-11e6-851d-11fc89b88f67.png)

[2016-12-15 10:48] jcelerier commented on #342
huh. interesting ! did it work with the previous ones ? I updated the AppImage version so it is certainly due to that.

[2016-12-15 11:12] avilleret commented on #342
no :
![image](https://cloud.githubusercontent.com/assets/504914/21221871/686b7a06-c2bf-11e6-939c-6906974711d0.png)
But this only affect app icon shown in file browser.
The icon shown in Gnome 3 dock looks fine :
![image](https://cloud.githubusercontent.com/assets/504914/21221924/acefd546-c2bf-11e6-923a-9587c5fa6b37.png)

[2016-12-16 16:15] jcelerier opened #343 "Process panel : the end constraint indicator is not at the right position."

[2016-12-16 16:22] avilleret opened #344 "feature request : sort parameter name in alphabetical order in the device explorer"
it would be more convenient to my eyes to see parameters listed in alphabetical order in the device explorer rather

[2016-12-16 16:23] #339 closed, assigned to nobody

[2016-12-16 17:23] jcelerier commented on #341
@pchdev do you want to start from the exact point that was clicked in the constraint (like "play from here"), or from the beginning of the constraint that was clicked ?

[2016-12-16 18:18] bltzr commented on #344
rather than ?
currently (at least when queried from the Jamoma implementation of Minuit) they are sorted based on the priority attribute, which is very important: so parameters are stored, and then recalled in the right order
what could be done, though, is that:
- all nodes with a priority attribute are sorted based on the priority value
- all other nodes are sorted alphabeticall, *after* the prio

[2016-12-16 18:18] bltzr commented on #341
IMO it should play from the chosen point

[2016-12-16 18:42] pchdev commented on #341
yes, from the chosen point would be nice indeed

[2016-12-16 20:36] pchdev opened #345 "add 'ignore at max bound' behavior for conditions"
this is one of the things we've mentioned this week: if the max duration has been reached (and if there is in fact one), cancel the state execution, but continue the time progression from the same cancelled state.

in a practical point of view: the user has a “time-window“ available to trigger something, if he misses it, nothing happens, time progression continues.

[2016-12-16 20:42] pchdev opened #346 "[feature-request] node aliases"
up for debate, and following the idea developed in jamoma if I'm not mistaken: allow a node to have an name/address alias, in order to make some unchangeable osc addresses clearer.

i.e.: in reaper, I have a parameter I want to modulate at the address "/track/1/fx/1/fxparameter/2/value" and I'd like to assign it a clearer name.

[2016-12-16 21:00] pchdev opened #347 "[feature-request] permanent & pattern-matching mappings (of values)"
two different questions/ideas on the mapping processes, based on the reflections we had about the websocket feature request (issue #312 )

should we implement a function that maps permanently a parameter to another one (potentially in a parallel device), and should we add some user-friendly pattern matching (c-switch or rust-like) function in order to do more precise and complex operations (i.e. m

[2016-12-16 21:02] avilleret commented on #344
...rather than in kind of random order :
![image](https://cloud.githubusercontent.com/assets/504914/21278363/0598332a-c3db-11e6-9739-9441f229d00a.png)

What about a clickable column header that define the attribute to sort and the direction ?

[2016-12-16 21:18] bltzr commented on #347
could you give an (more elaborated) example ?

[2016-12-16 21:21] bltzr opened #348 "label colors for states"
currently they are (almost) black on (almost) black, which doesn't make them very visible...
maybe they could use the color chosen in the inspector for the selected object ?

[2016-12-16 21:25] bltzr opened #349 "not scaling when increasing a slot's size (for scenarios ?)"
currently, when extending a slot vertically, its content is scaled
this is good for automations and other curve-baed plugins, but when doing that with a scenario (especially with the main scenario) I expect this to give me more room to add stuff on the bottom... while it just gives me more space _in between the objects_, which is not very convenient...
maybe scenarios (and others ?) shouldn't be s

[2016-12-16 21:34] bltzr commented on #344
Sure, but then again, I think we should have a default behaviour (and the one I proposed has been agreed on collectively by the Jamoma collective, and I think it has some good sides)

[2016-12-16 21:35] bltzr commented on #347
why not doing this as a simple mapping in the main constraint ?

[2016-12-16 21:36] pchdev commented on #347
okay, so **question 1**:
I have a permanent mapping between 2 parameters that I don't want to draw manually with a mapping process that would have the length of the entire scenario, and I don't want it to be displayed either with an infinite trigger, because... it's not really visible and it occupies some unnecessary space.

as for the **pattern matching**:
let's say I have a simple midi device, I

[2016-12-16 21:41] bltzr commented on #346
If I understand that well, does that mean that you permanently want to address this with e.g. /some/address in i-score (while the actual OSC address Reaper expects is /track/1/fx/1/fxparameter/2/value) ?
If so, maybe a more general idea would be to be able to have a kind of OSC mapping, where we could substitute a tree in i-score to the OSC tree the remote device understands
there could also be so

[2016-12-16 21:49] bltzr commented on #347
well, there are indeed two separate problems in your issue:
**question 1** is mainly a problem of displaying stuff in the racks/slots, and it's currently already possible (even if cumbersome) to show/hide processes from the main process, so maybe it's just a question of making this better ?

about the **pattern-matching**, from what you describe I don't really see that as pattern-matching (even th

[2016-12-16 21:52] bltzr commented on #345
we discussed that back in the good ol' Virage times, and defined this as a "dispose" option, where the content of the state would not be executed
this could be expressed e.g. as a checkbox in the state's inspector: "dispose content at max bound"
of course, there might be a better phrasing, and I guess this has to be decided for on a global scale, which is probably something for @jln- to do

[2016-12-16 21:53] bltzr commented on #345
in other terms, I don't think there's any debate to your request: it's actually very useful, it's just a question of how to name it

[2016-12-16 21:54] bltzr commented on #345
and we should discuss this in Montbéliard (it's on the list of topics)

[2016-12-16 21:59] pchdev commented on #347
yes, something like that, but that was really an example, the integer translation was not the intended general case, but a syntax closer to the one proposed in other languages like rust, but even simpler: https://doc.rust-lang.org/book/patterns.html

[2016-12-16 22:02] pchdev commented on #345
yep, just figured i'd post it here just in case.

[2016-12-16 22:03] bltzr commented on #347
well, which part of this (looooong) page would apply ?
or maybe, even better, what would you like in i-score, more specifically ?
(take the time to cross situations and examples, nothing urges...)

[2016-12-16 22:03] bltzr commented on #345
that was a good idea, indeed

[2016-12-16 22:04] pchdev commented on #346
@bltzr yes, exactly!

[2016-12-16 22:15] pchdev commented on #347
At first, I think the simple, multiple & destructuring parts would be relevant:

the **simple** one applied to the previous midi example

the **multiple** would be:
_src_: MidiDevice:/note_on
_dst_: OSCDevice:/sample_trig
_mapping_
64 | 68 | 71 => 0
64 && 65 && 66 => 1
_ => 3

and **destructuring** for arrays / dataspaces involving multiple values

color{0.5,0.5,0.4} => sample_trigger 0
color{1.0,

[2016-12-16 22:25] pchdev commented on #349
ahh, yes, I had this one in mind for several weeks as well

[2016-12-16 22:54] bltzr commented on #347
that's interesting, thanks!
we should see how we can generalize this...
maybe, for now, managing this with js could be a good start... and when this becomes generic enough, we could think about creating a process doing this (and potentially more...)

[2016-12-17 09:05] jcelerier commented on #347
yeah, I think the simplest would be to just allow to code it. Maybe with a library such as this one ?
https://github.com/natefaubion/sparkler (for now the only way to use it would be to copy paste everything, I should look into some kind of js package import...)

@bltzr an introduction to pattern matching: http://caml.inria.fr/pub/docs/oreilly-book/html/book-ora016.html

[2016-12-17 09:05] jcelerier commented on #348
yeah, that's a bug :p

[2016-12-17 09:06] jcelerier commented on #344
(I should just emphasize that as of today the priority attribute isn't handled either... doing this asap)

[2016-12-17 09:35] pchdev commented on #347
cool ! didn't know about sparkler

[2016-12-17 09:56] avilleret commented on #344
@bltzr I agree with the default behavior you propose

[2016-12-17 10:03] bltzr commented on #344
AFAIK Jamoma replies to i-score's namespace queries in this way, and then i-score just keeps the received order - maybe ossia.device should just do the same ? At least for now ?

Because there could be a potential problem for other protocols, e.g. OSC: sorting alphabetically could scramble a carefully ordered namespace (made e.g. with a namespace file), which doesn't necessary number each and ever

[2016-12-17 13:25] jcelerier commented on #349
yes, that's reasonable :)

the thing is, currently, the position of elements in a scenario is relative (between [0; 1]). But I can make it absolute to prevent it to react to scaling (however it means that some things could be hidden if the slot is too small)

[2016-12-17 13:33] jcelerier commented on #344
There is something that I don't quite understand : why should the way it is displayed be related to the priority (or whatever network feature ?) ?

[2016-12-17 14:58] jln- commented on #344
Exactly what I was wondering as well. The fact that messages are sent/received following defined priorities is probably not to be debated of.

However having addresses in the devices explorer sorted alphabetically seems much more convenient/user friendly to me. I guess I'd be fine if priorities are dealt with internally without me having to bother about it.

Le 17 déc. 2016 à 14:33 +0100, Jean-Mic

[2016-12-17 15:13] bltzr commented on #349
that can be a feature (I mean, that could be desirable to do so)

[2016-12-17 15:27] bltzr commented on #344
well, in previous i-score versions, there wasn't a separation between the explorer (where the tree structure is shown) and the inspector (where the state contents are displayed), so I guess it was a simpler solution to have everything following the same logic (sorted by priorities)

but, now, things are slightly different, so I guess we could change this in the explorer - even though I'm not sure

[2016-12-19 09:13] jcelerier opened #350 ""Advanced" attribute for nodes ?"
i.e. to hide "implementation" nodes automatically.

[2016-12-19 09:56] bltzr commented on #350
do you have an example of such an « implementation » node ?

[2016-12-19 10:51] jcelerier commented on #350
well all the `(view)` stuff for instance in jamoma

[2016-12-19 11:08] bltzr commented on #350
sure ! makes sense

[2016-12-19 22:56] jcelerier commented on #341
It works with the play tool, when pressing "Alt".

[2016-12-19 22:56] #341 closed, assigned to nobody

[2016-12-19 22:58] bltzr commented on #341
why with alt (and not just by clicking on the constraint/slot) ?

[2016-12-19 22:59] jcelerier commented on #341
just clicking will only play the clicked constraint (like just clicking on a state will only play this state). Of course this can be reversed if it makes more sense...)

[2016-12-19 23:00] bltzr commented on #341
it makes more sense to me to play from where it was clicked - just like we do in the scenario background (which is the slot of the main constraint) - but I might be missing something

[2016-12-19 23:30] jcelerier commented on #341
I just did not want to change the actual behavior to not cause surprise to users

[2016-12-20 11:20] bltzr commented on #341
I don't think so many users are aware of this behavior, so I guess you could just go ahead and change it - we're not in beta since so long, so I guess that's OK - any objection, someone from @OSSIA/users ?

[2016-12-20 11:55] jcelerier commented on #341
ok, done in 7f4c2b154

[2016-12-20 14:40] jln- commented on #344
Yes, other sorting/filtering options would be useful, for sure. I meant alphabetically sorting seems better or user friendly as a default option.

Yes, I agree.

Not ultra urgent. This is amongst the things we can evaluate during the workshops

[2016-12-26 17:44] jcelerier commented on #347
@pchdev what would you think of having a panel where you could declare "global" javascript functions / libraries that would be shared by all the instances of the javascript process in the score ?

Also currently all the JS processes live in their own context (e.g. setting a global variable in one would not affect the others). Should it stay like this or would you be interested in sharing them ? e.

[2016-12-27 09:07] pchdev commented on #347
oww, interesting! I'd say a big yes on principle

[2016-12-30 11:36] jcelerier commented on #329
@OSSIA/core Thinking more of it, I'm starting to wonder if there shouldn't be two inspectors :

* One for the object properties, e.g. the constraint's durations, the messages in a state, the trigger, etc.
* One for the object hierarchies, e.g. if one clicks on a constraint, then this inspector shows the child processes (that can be clicked), a bit like Unity3D's two inspectors : http://effectronic

[2016-12-30 11:37] jcelerier commented on #329
One of the reasons for this is that I'd like to allow plug-ins to add arbitrary properties for objects.
For instance I'm currently working on the distribution of execution, and I'd like this plug-in to add the "computer where this will be executing" attribute to various elements (constraints, etc.) ; but this would bloat the current inspector even more.

[2017-01-01 13:40] bltzr commented on #329
I guess @jln- should be interested by that

[2017-01-03 13:21] theod commented on #142
@bltzr found a temporary solution using a local boolean variable set to true when the trigger is triggered. then on the timenode there is 2 conditions : if variable == false (which is the case when the trigger has not been triggered) or if variable == true (the trigger has been triggered).

IMHO it is not final solution

[2017-01-03 14:44] theod commented on #346
yes ! a very first feature would be to have a new node type called "alias" that allow to point to another node in existing devices.
so you don't allow a node to have one alias but you allow to create as many aliases you need for one node. this sounds a more powerful feature to me.

[2017-01-03 15:11] theod commented on #329
+1
this is quite usual to separate object hierarchy and attributes and it helps a lot to understand how things are organized.

[2017-01-17 10:23] jcelerier commented on #346
I've added it, now gotta use it in i-score.
https://github.com/OSSIA/API/blob/master/OSSIA/ossia/network/generic/alias_node.hpp

[2017-01-23 08:02] jcelerier opened #351 "full view constraint not refreshing when play duration changes"

[2017-01-28 22:10] jcelerier opened #352 "No way to merge states into a single event"

[2017-01-28 22:22] jcelerier opened #353 "Dropping addresses in text fields sets min / max to zero"
* Min / Max are not read correctly when dragging and dropping addresses from the device explorer
* They are read correctly when using the menu

[2017-01-28 22:25] jcelerier opened #354 "Allow units only for compatible types"
One should not be able to set spherical coordinates to a single int

[2017-01-31 09:02] jcelerier opened #355 "Loop crash on execution on OS X"

[2017-01-31 09:36] jcelerier opened #356 "There should be a way to have "fixed" tuples"
e.g. always [int, float] or [int, int, int]

[2017-01-31 19:40] #355 closed, assigned to nobody

[2017-01-31 21:34] #353 closed, assigned to nobody

[2017-02-03 09:48] jcelerier opened #357 "Cannot change types of nodes in the tree"

[2017-02-03 09:58] jcelerier opened #358 "Graphical glitches in states and curves"

[2017-02-03 10:58] jcelerier opened #359 "time nodes move to the right when selecting a state"

[2017-02-03 16:22] jcelerier opened #360 "learn osc converts ,if into ,ff"

[2017-02-03 16:24] #357 closed, assigned to nobody

[2017-02-03 17:34] jcelerier commented on #358
fixed

[2017-02-03 17:34] #358 closed, assigned to nobody

[2017-02-03 17:41] jcelerier commented on #350
so, now the node can have any kind of arbitrary attributes appended to them, so the only thing that matters is to select a meaningful and short name for this.

I propose 'private', 'hidden' or 'advanced'

[2017-02-03 17:41] #360 closed, assigned to nobody

[2017-02-04 16:58] #359 closed, assigned to nobody

[2017-02-04 18:10] #351 closed, assigned to nobody

[2017-02-05 18:53] pchdev opened #361 "issues with timenode/constraint selection"
with b3, i'm having real trouble making a selection of an individual constraint or timenode.

Most of the times, when clicking, it selects only the timenode part in the inspector, leaving the “events“ part behind. Furthermore, the mouse release action seems to be ignored in that case, and the constraint is continously growing or shrinking as I move the mouse left or right. I have to click again in

[2017-02-17 04:20] yousifalyousifi opened #362 "Encoding issue: Some Boolean operators appear as ? (Win8)"
OS: Windows 8, AMD Quad-Core A8-6410, Acer Aspire E 15

The Condition Boolean operator symbols show as:
**\=
?
\>
<
?
?
Pulse
True
False**

I'm guess the missing ones are "Not Equal", "Greater Than Or Equal To", "Less Than Or Equal To".

[2017-02-18 13:00] jcelerier commented on #362
thanks for the report ! indeed these should be the unicode symbols you said. I'll look into it.

[2017-02-18 19:31] yousifalyousifi opened #363 "Recording not working (Windows 8, Videos inside)"
OS: Windows 8, AMD Quad-Core A8-6410, Acer Aspire E 15
Hello, so I am working with Processing, using the OscP5 library.
The connectivity works fine as you can see from the first link, but the recording doesn't seem to work like you have in your tutorial.
[Demonstrating 2 way connection](http://i.imgur.com/c3M3Ngn.gifv)
[Attempting to Record](http://i.imgur.com/8yEulHc.gifv)

Also, not sure if this

[2017-02-18 21:42] jcelerier commented on #363
This has been fixed in master, I will be doing a release of it tomorrow if everything goes well.

The recording bug is not normal however. Could you send your .pde if it's not too big / private ?

[2017-02-18 22:18] yousifalyousifi commented on #363
Here you go
[code]

[2017-02-19 15:57] #363 closed, assigned to jcelerier

[2017-02-19 16:35] #362 closed, assigned to jcelerier

[2017-02-19 18:23] #326 closed, assigned to nobody

[2017-02-19 18:50] #323 closed, assigned to nobody

[2017-02-19 19:04] #348 closed, assigned to nobody

[2017-02-19 19:28] #332 closed, assigned to nobody

[2017-02-19 19:33] jcelerier commented on #302
From another issue, alt is used to create a new event instead of a new state, so we have to find another key...

[2017-02-19 19:35] jcelerier commented on #287
there is preliminary support in the api with extended_type

[2017-02-19 19:57] #343 closed, assigned to nobody

[2017-02-19 22:12] #310 closed, assigned to nobody

[2017-02-20 13:57] bltzr commented on #161
I guess we can close this issue now that it works, so I can make a new one ;-)

[2017-02-20 13:57] #161 closed, assigned to jcelerier

[2017-02-20 14:00] bltzr opened #364 "don't create "flat" automations when recording"
as requested in #161 it is now possible to record automations for a "parent node", which records automations for each and every descendant of this node, which is very cool indeed !
this might have to be discussed, but IMHO it would be even better if it created automations only for parameters that actually changed during the process
maybe that's not intuitive, though, and probably that's not so sim

[2017-02-21 09:55] theod opened #365 "loading xml namespace with comment line in sublevel hides nodes"
only the first child is added under a node when loading the given xml namespace file.
the children seem to be hidden by the comment lines but this is only happening for the sub levels (comments at the first level don't make any trouble !).

[vv_namespace.xml.txt](https://github.com/OSSIA/i-score/files/789706/vv_namespace.xml.txt)

[2017-02-21 09:57] theod opened #366 "reloading xml namespace file crashes i-score"
this can be tested using the given namespace file
[vv_namespace.xml.txt](https://github.com/OSSIA/i-score/files/789711/vv_namespace.xml.txt)

[2017-02-21 10:30] jcelerier opened #367 "Grow - shrink mode by default for top constraint"

[2017-02-21 11:33] reno- opened #368 "Graphic Resolution of i-score does not change when OS resolution change"

[2017-02-21 15:52] #366 closed, assigned to jcelerier

[2017-02-21 16:44] bltzr opened #369 "Menu for accessing tuple elements in address fields"
it would be nice to have a menu for accessing tuple elements in the address fields (e.g. for automations, condition/trigger expressions, etc...

when no dataspace/unit is set, we would have, for a n-uplet:
- \*
- 1
..
- n

when a dataspace is set (e.g. xyz position):
then we have a first menu, which offers the different "units":
- xyz
- aed
- etc....
and then another menu that proposes the possibl

[2017-02-21 18:03] reno- opened #370 "[Minuit] - set type as decimal if type is not specified"

[2017-02-21 18:30] jcelerier opened #371 "on full view, don't have edition limits if we have a max"

[2017-02-21 21:34] jcelerier commented on #365
fixed by ce910afe1cba577394749b68227b5056dae10a41

[2017-02-21 21:34] #365 closed, assigned to jcelerier

[2017-02-21 22:51] pach opened #372 "node doesn't update on drag&drop from device explorer using oscquery"
![i_score_210217_23-50](https://cloud.githubusercontent.com/assets/365923/23188851/8d23b4ba-f890-11e6-93d8-2c0157b3109b.gif)

[2017-02-22 11:00] pach opened #373 "crash report"
Crash while closing a project openned on a second tab

[code]

[2017-02-22 13:42] pach opened #374 "oscquery doesn't rebuild the tree correctly "on the fly""
It seems oscquery doesn't rebuild the tree completely while the namespace change remotely. It often miss some parameter if the tree change more than a few params at a time.

[2017-02-22 15:08] pach commented on #373
was doing intuitive clicking while it crashed (just after creating a javascript state to experiment)
[code]

[2017-02-22 15:22] pach opened #375 "i-score hang while trying to change out port of OSC device"
hang just after editing out port of an OSC device.
https://gist.github.com/pach/b3c62103fd6b86dffefa908146c490b4
![hangosc](https://cloud.githubusercontent.com/assets/365923/23217913/089628e6-f91b-11e6-8a60-d4f705f4c624.gif)

[2017-02-22 15:37] jln- commented on #201
agree the current behavior is kindof a problem

[2017-02-22 16:22] pach opened #376 "[feature request] javascript access"
Would be good to get access (by priority order) :
- [ ] from a javascript state, to the current node params (label, comm, name...)
- [x] from any javascript to any local node param (drag&drop?)
- [ ] when a new trigger is active or has just been trigged?
- [x] alternative : run a javascript on a node as the trigger get active

[2017-02-22 17:17] pach opened #377 "scenario "pause" after using condition"
![sous_scenario_pause](https://cloud.githubusercontent.com/assets/365923/23223328/17ab095e-f92b-11e6-9b22-4ac083f9256c.gif)

[2017-02-22 17:31] pach commented on #377
https://gist.github.com/pach/8953fab499e5a00cb85449cad25bab5b

[2017-02-23 09:22] pach commented on #375
en fait, c'est vrai quel que soit le type de device. (je viens de bloquer en voulant modifier le nom d'un device oscquery)

[2017-02-23 10:06] avilleret opened #378 "swap text input field in "add device" panel"
"i-score listening port" and "Device listening port" on "Add device" panel are not on the same place for MInuit and OSC protocol.
See screeshot :
![i-score_menu_osc](https://cloud.githubusercontent.com/assets/504914/23235201/ec5c9982-f954-11e6-9348-cb6d949f49bc.png)
![i-score_menu_minuit](https://cloud.githubusercontent.com/assets/504914/23235206/eeab163c-f954-11e6-8a05-855a1e67daa6.png)

[2017-02-23 10:52] pach opened #379 "add a menu to specify different accessible parameters on automation"
<img width="356" alt="capture d ecran 2017-02-23 a 11 43 00" src="https://cloud.githubusercontent.com/assets/365923/23255855/617b83fa-f9bd-11e6-8292-eff3a61b8da5.png">

if selectionning for example polar for a position, there is no clue to know the different accessible attribut. Add a third menu would be great to select which attribute you do want to automate.

[2017-02-23 10:55] pach opened #380 "resize a subscenario should not affect the parent UI (and vice-versa)"
resizing a sub scenario, do also resize the parent constraint rack.
Would be good to always open the subscenario in full size, and be able to have them collapse or smaller in the parent view without having to resize them each time you get into or out.

[2017-02-23 11:44] jcelerier commented on #379
what if instead of a menu, it showed in parentheses what's available ?

e.g. `polar [r, theta]`, `cart2D [x, y]`, etc.

[2017-02-23 11:48] #378 closed, assigned to nobody

[2017-02-23 11:48] jcelerier opened #381 "OSC Query reconnection"

[2017-02-23 11:59] pach opened #382 "node move while selecting if subscenario not selected"
![bug_selectandmove](https://cloud.githubusercontent.com/assets/365923/23258312/f032b7d0-f9c7-11e6-8fb3-48e988bf651c.gif)

[2017-02-23 14:01] pach commented on #373
while clicking on + on a node out of timeline (non rattaché au temps du début)

[code]

[2017-02-23 14:12] bltzr commented on #379
my position is that, with a menu, we could choose from there, and avoid the user to have to type it in the address field.
I'm not advocating that we remove the @[dataspace.unit.element] syntax, but that we make it possible for users to fill it through menus
so, in the above example, if we chose e.g. 'a' in the third menu, it would fill the address field with .../position@[position.polar.a], so we

[2017-02-23 14:44] bltzr opened #383 "use dots for decimal separators"
for now with a french keyboard, 0.6 is displayed 0,6 - das ist verboten !

[2017-02-23 14:49] pach opened #384 "scenario hors temps"
Possibilité de trigger des scenario hors temps.
Si un node / constraint n'est pas connecté au temps et commence par un trigger, il peut alors etre triggé n'importe quand et toujours (on peut le retrigger meme s'il vient d'etre triggé).
voir scenario : https://gist.github.com/pach/2639ca06819e7c7229f953af6cddc17f

[2017-02-23 15:19] theod opened #385 "condition : expressions de test"
proposition d'édition de l'expression de test pour les conditions.

[schéma widget condition.pdf](https://github.com/OSSIA/i-score/files/796858/schema.widget.condition.pdf)

[2017-02-23 15:21] theod opened #386 "ajout d'un widget pour arrêter la contrainte parente depuis un sous-scénario (EXIT)"
ci-joint étude de différents cas avec où sans exit

[schéma EXIT.pdf](https://github.com/OSSIA/i-score/files/796863/schema.EXIT.pdf)

[2017-02-23 15:31] theod opened #387 "ajout d'un widget pour arrêter l'execution d'un process par lui-même (KILL)"
une proposition graphique qu'il faudrait étoffer avec un cas réel de scénario ou c'est utile.
[schéma KILL.pdf](https://github.com/OSSIA/i-score/files/796921/schema.KILL.pdf)

[2017-02-23 15:32] pach opened #388 "[feature request] variable in javascript"
possibility to have tree accessible in javascript threw a drag&drop

[2017-02-23 17:24] #383 closed, assigned to nobody

[2017-02-23 17:39] pach opened #389 "get i-score tree in javascript"
See demo score here :
https://gist.github.com/pach/2311966133e85626e06926933700a01f

[2017-02-23 17:49] pach opened #390 "[feature request] make the trigger pulse when activated and waiting"
Could be great to have a better visualisation of the timenode when active and waiting for interaction.
Proposal : make the node to visually pulse when active and waiting for interaction.

[2017-02-24 11:27] pach commented on #388
exemple of utilisation in Unity :
- interface
<img width="713" alt="capture d ecran 2017-02-24 a 12 24 05" src="https://cloud.githubusercontent.com/assets/365923/23301857/4a6e060e-fa8c-11e6-8dcb-a1028028db98.png">

- corresponding script
all variable declared public are accessible in the UI, threw drag and drop or interface.

[code]

[code]

[2017-02-24 16:17] jcelerier commented on #388
[code]

[2017-02-24 16:36] jln- opened #391 "record parameter of type array lead to Internal error:"
I got the following error message when trying to play back a hand-recorded automation. The recorded parameter is of type array (position/cart3D).

Automation seems to be properly recorded. But playing back lead to

Internal error: state_flatten_visitor_merger: impossible case (message <- const piecewise_vec_message&

![capture d ecran 2017-02-24 a 17 31 15](https://cloud.githubusercontent.com/asse

[2017-02-24 16:44] jln- opened #392 "crash when recording automation with no node selected"
Steps to reproduce:

- make sure no node is selected in device explorer
- in the main scenario panel, right click, then 'Process/Record automation from here'
- click stop in transport bar
- i-score crash (log below)

Expected behavior: Disable option to record if no node is selected

`
Process:               i-score [4592]
Path:                  /Volumes/VOLUME/*/i-score.app/Contents/MacOS/i-score

[2017-02-24 17:21] jln- opened #393 "cant set processes on addresses containing an instance"
When setting an address containing an instance (ie. /spat/source.1/position) in the 'Source' or 'Target' text field of the Mapping process, address get stripped off at the dot (ie. /spat/source)

This is with v1.0.0-b5-1

[2017-02-24 23:19] pach opened #394 "[feature request] set time of timenode"
Would be great to be able to set time of a timenode (and not just constraint time) manually in the inspector.

[2017-02-24 23:49] pach opened #395 "[feature request] interaction device"
Could be good to have some already made device like :
- keyboard : give access to any typed key
- mouse : give access to x / y / clic / wheel of your mouse into i-score
- wiimote
- ...
- leap motion (might be a more complex one which can appreciate an outside app)

[2017-02-25 11:10] jln- commented on #393
Renamed since it is also true for other processes (ie. interpolations) as experienced by Thomas

[2017-02-25 11:17] reno- commented on #103
I suggest to forbid edition when i-score is playing for now.

[2017-02-25 13:44] pach opened #396 "bug on drag and drop on trigger"
https://gist.github.com/anonymous/296c27f662056f228cc55fa818158e18

[2017-02-25 13:45] jcelerier opened #397 "Sometimes messages won't be removed from state"

[2017-02-25 13:50] jcelerier opened #398 "Prevent spaces in device names"

[2017-02-25 14:04] jcelerier commented on #398
fixed by 28b548efee0b9a7bf4d101e249234d855f0b0243

[2017-02-25 14:04] #398 closed, assigned to nobody

[2017-02-25 14:04] jcelerier commented on #393
fixed

[2017-02-25 14:04] #393 closed, assigned to nobody

[2017-02-25 14:05] jcelerier commented on #396
this was due to the device having spaces in the name, it is now prevented

[2017-02-25 14:05] #396 closed, assigned to nobody

[2017-02-25 14:13] jcelerier opened #399 "warn about closing a sub scenario"

[2017-02-25 14:23] jln- opened #400 "crash on play"
Process:               i-score [1369]
Path:                  /Users/USER/Downloads/i-score.app/Contents/MacOS/i-score
Identifier:            org.i-score
Version:               1.0.0-b5 (1.0.0-b5)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           i-score [1369]
User ID:               501

Date/Time:             2017-02-25 15:17:34.954 +0100
OS Version:

[2017-02-25 14:29] jcelerier opened #401 "prevent creation of device when no document"

[2017-02-25 14:41] #392 closed, assigned to jcelerier

[2017-02-25 14:41] jcelerier opened #402 "OSC learn : put learned addresses in a qlistview"

[2017-02-25 14:49] #402 closed, assigned to nobody

[2017-02-25 15:03] jcelerier opened #403 "autosave feature"
Regularly, let's say every 50 commands or every five minutes (configurable ?), the scenario should be backed-up in some user folder (not in a temp directory since they are wiped on reboot, hence not useful in case of power failure).

## To do

* This should certainly go in `iscore::DocumentBackupManager`. Currently, the command stack is saved at each command (this should really be optimized at som

[2017-02-25 15:04] theod opened #404 "faire clignoter les contraintes souples en vert"
au lieu de faire progresser le temps dedans !

[2017-02-25 15:24] theod opened #405 "refus d'interpolation"
dans le scénario en pièce jointe, si on demande l'interpolation sur la dernière contrainte vide, ça crash !

[Archive.zip](https://github.com/OSSIA/i-score/files/801285/Archive.zip)

[2017-02-25 15:32] jln- opened #406 "Process duration text field should be hidden"
According to @jcelerier duration text field provided in process tab should be hidden.

(constraint duration is to be changed in the constraint tab)

![capture d ecran 2017-02-25 a 16 28 54](https://cloud.githubusercontent.com/assets/114325/23332308/cd43b7cc-fb77-11e6-91b5-9c8029bc32f8.png)

[2017-02-25 15:44] #406 closed, assigned to nobody

[2017-02-25 15:50] bltzr commented on #404
+2e18329 !

[2017-02-25 15:51] jln- opened #407 "auto-sequence creation area could be wider"
automatically create sequence from dragging from state is great but the area allowing this is a bit too thin. It would be handy if the height of the area could be larger. Maybe something like 20px ?

[2017-02-25 16:15] jln- opened #408 "play issue"
[bug-report.scorejson.txt](https://github.com/OSSIA/i-score/files/801324/bug-report.scorejson.txt)

[2017-02-25 23:40] #404 closed, assigned to nobody

[2017-02-26 08:30] jcelerier commented on #408
fixed in api

[2017-02-26 08:30] #408 closed, assigned to nobody

[2017-02-26 09:33] #405 closed, assigned to nobody

[2017-02-26 09:35] jcelerier commented on #391
I think I fixed this one in a previous commit, I cannot reproduce it.

[2017-02-26 09:37] jcelerier commented on #401
actually it is prevented, but sometimes when reloading after a crash the buttons are still enabled (and the document is not reloaded)

[2017-02-26 09:43] #375 closed, assigned to nobody

[2017-02-26 10:19] #364 closed, assigned to jcelerier

[2017-02-26 13:28] pach commented on #103
I would say so only in release. Good to have it for testing in bêta.

Thomas Pachoud
www.creapach.fr

[2017-02-26 15:44] jcelerier opened #409 "Windows : don't require win 10 api ?"

[2017-02-26 16:04] #400 closed, assigned to nobody

[2017-03-02 13:02] jcelerier commented on #350
this should be recursive : if a node is set "private", all its children shall be set private recursively, unless they are explicitely set public.

[2017-03-03 06:17] pach opened #410 "doesn't load ofxOssia oscquery tree"
seems than b7 doesn't want to load ofxOssia oscquery.
Didn't try to rebuild the API for ofx yet.
![oscquery_load_bug](https://cloud.githubusercontent.com/assets/365923/23540408/534ad766-ffe1-11e6-855f-12ad14379677.gif)

[2017-03-03 06:19] pach commented on #410
ps : here is the message in ofxOssia console (note really readable on the gif)
[code]

[2017-03-03 06:31] pach commented on #389
yeah. works on b7. :)

[2017-03-03 06:31] #389 closed, assigned to nobody

[2017-03-03 06:31] #382 closed, assigned to nobody

[2017-03-03 08:08] jcelerier commented on #410
ah, it's a bug with bonjour, it does not return the correct port. Could you try with : "ws://127.0.0.1:5678" instead ?

[2017-03-03 09:41] pach commented on #410
Bah du coup j'ai cassé mon ofxOssia et peux plus lancer ou recompiler. :(

[2017-03-03 09:41] pach commented on #410
mais il me semble que j'avais vu ça dans le train et déjà essayé sans succes.
mais j'avais pas non plus completement les yeux en face des trous.

[2017-03-04 08:37] reno- commented on #407
+1
It's not easy for the moment to do it

[2017-03-04 08:42] reno- commented on #395
I agree.
I suggest to first implement,t keyboard and mouse as local device
And of,course add leap motion and wiimote later on

[2017-03-04 08:48] reno- commented on #384
+10000
I really need to have scenario that could be triggered from another scenario.
I often do an action ( ramp of multiple parameters) several times in a show. What I need is to do a "template scenario) I,will trigger from another events.
This is like the "play" cue in Qlab that will play a cue that is not in the sequential list

[2017-03-04 08:53] reno- commented on #258
This would be really usefull

[2017-03-04 09:24] reno- opened #411 "Add a 'loop' button to a process ( at least for automation / interpolation)"
IT could be magic to have a 'make it loop' button for an automation that will automatically copy/cut my automation, create a process loop and paste my automation.

[2017-03-04 09:38] pach commented on #411
Actually not only for automation, but any constraint.
Actually I was rethinking, it could be an option for any time constraint, and we could in that case find a new way to display the constraint without having to put it in a subscenario / pattern which makes it pretty heavy and difficult to read.
I'll try to make some proposal when I'll find some time.

[2017-03-04 10:10] pach commented on #411
![image](https://cloud.githubusercontent.com/assets/365923/23577881/72bcbdfa-00ca-11e7-8496-40ba153da714.jpeg)
A quick proposal on my notebook side.
No some way it comes to transform any scenario to a kind of pattern by toggling a loop option in the constraint inspector. The pattern is in some ways hide compare to the actual version, but a loop logo appears on the constraint rack, a tools to retim

[2017-03-04 10:16] bltzr commented on #384
I also second this strongly - I guess we need to figure out how to represent this clearly (we discussed placing this on a kind of layer or sheet... so that it looks detached from the timeline....)
it's also probably important to prevent users from connecting the end of such an "offtime" scenario to other objects in the main scenario (because this would certainly cause problems)
any idea, @jln- ?

[2017-03-04 10:17] bltzr commented on #384
I guess this is one thing @matcham would be interested in...

[2017-03-04 10:26] pach commented on #384
I do not completely agree about putting them completely out of time.
There is some of this scenario that I want to be able to call at any time but during a certain amount of time (means inside a scenario).
I do think the first proposal we discussed at montbeliard is still for me the best way to make them.
Other possibilities would be to have in each scenario a detach layer which might be quite mor

[2017-03-04 10:31] bltzr commented on #384
What I remember from the discussions in Montbéliard would be that these "offtime" actions would be triggerable only when its parent scenario is active
hence when one wants them to be available during a certain interval if time only, they have to be placed inside a sub-scenario
are we saying the same thing ?

[2017-03-04 10:51] bltzr commented on #411
I agree adding some kind of “quick action" button to turn processes into a loop would be convenient
though, compared to your sketches, Thomas, I think it's important that the loop constraint be placed *under* the box's header, because:
- this loop constraint has some associated content, that has to be represented, hence this looped content has to exist in some kind of box inside the main box
- a s

[2017-03-04 10:52] bltzr commented on #411
of course, the design is ugly, I just wanted to illustrate my point...

[2017-03-04 10:55] bltzr opened #412 "zoom problem with new scenario"
as illustrated in the attached screenshot, there is something wrong in the zoom display (or something) when creating a new scenario - maybe this comes from my preference settings
![zoooom](https://cloud.githubusercontent.com/assets/113982/23578195/7874fae4-00d1-11e7-9176-6ac09abca985.png)

[2017-03-04 10:57] bltzr commented on #412
I just need to zoom a little and things jump back to normal...
![mars-04-2017 11-57-17](https://cloud.githubusercontent.com/assets/113982/23578210/bf9a0a9a-00d1-11e7-99f2-77abf49726ed.gif)

[2017-03-04 10:57] bltzr opened #413 "it's impossible to select a loop pattern in the inspector"

[2017-03-04 12:16] pach commented on #384
Yep!

[2017-03-04 13:01] pach commented on #412
Haha got quite a few version that I have this issue on load but I got use of the workaround an completely forgot to make the report.  ^^

Thomas Pachoud
www.creapach.fr

[2017-03-04 23:57] pach commented on #413
neither a node (start or end) of the pattern (to add a trigger for example)

[2017-03-04 23:58] pach commented on #413
actually it is. but you have to click quite on the side of the node... O_o

[2017-03-05 00:08] pach commented on #411
What I meant is that I don't see the point is that you have to put the loop inside a constraint and not make any constraint be loopable.
Creating a loop is actually kind of creating a sub-constraint which is a loop. So why could any constraint be loopable?
So if we want to do your example you can do explicitely. You can make a scenario, which inside has some constraint with loops + some going thre

[2017-03-05 00:15] pach commented on #411
And in my previous sketch, what I meant is that everyting which is under the constraint which loop is looping and got their time adjust with the loop handle. The risk is that it could make it less clear on the time perception has you won't see your inside scenario stretching when you adjust the time.

[2017-03-05 00:28] pach opened #414 "[feature request] collapse / expand icon on constraint"
a collapse / expand icon could be a nice idea to clean (visually) your workspace sometime.

<img width="592" alt="expand" src="https://cloud.githubusercontent.com/assets/365923/23583376/09f99c10-0143-11e7-97fe-3150f3022970.png">

<img width="592" alt="collapse" src="https://cloud.githubusercontent.com/assets/365923/23583375/02d274a2-0143-11e7-9343-6e428d6c29ab.png">

[2017-03-05 00:31] pach commented on #414
We could also imagine a minimize which keep visible all subconstraint but all collapse and organize together.

[2017-03-05 00:33] pach commented on #302
alt-maj?
but alt is traditionnaly (on mac, I don't know on windows) the duplicate function. So make sense.

[2017-03-05 15:23] #412 closed, assigned to nobody

[2017-03-05 17:14] cbossut commented on #411
Quite not followed the argument about looping inside or wherever, I would
be of better help in French, if my opinion is desirable.
Regarding the design proposition, Pascal's proposition is obviously clearer
than the actual aspect I think.

2017-03-05 1:15 GMT+01:00 Thomas Pachoud <notifications@github.com>:

--
Clément Bossut

[2017-03-06 11:11] jcelerier commented on #411
@bltzr on your example wouldn't it be hard to click on triggers ?

[2017-03-06 11:20] bltzr commented on #411
That's true

[2017-03-06 11:27] bltzr commented on #411
bon, je passe en français pour être sûr qu'on se comprenne bien.

Je suis d'accord sur le fait qu'il faut une sorte de raccourci pour pouvoir "looper" une boîte facilement.
Mais, à mon avis, qu'on puisse facilement créer une loop (car c'est ça la question, non ?) n'implique pas qu'on adopte une autre représentation de la loop lorsqu'elle a été créée par ce raccourci.
Donc, à mon avis, on garde le

[2017-03-06 11:29] bltzr commented on #302
I agree that, on Mac, alt is used for duplicating (what is it on Win and Nux ?), so IMHO if we want to change something, maybe that would rather be for creating a new event (shift ?)

[2017-03-06 11:29] bltzr commented on #302
another option would be to have another + button on the bottom, that would allow to create a new event (and a visible condition ?)

[2017-03-06 11:31] bltzr commented on #414
+1 - it could be more minimalist, though (e.g. arrow only, no circle)
shouldn't the arrow be reversed, compared to your example ?

[2017-03-06 11:32] jln- commented on #302
mm… I’d rather test and see how it works with another shortcut than adding another + button.

On 6 mars 2017 à 12:29 +0100, Pascal Baltazar <notifications@github.com>, wrote:

[2017-03-06 11:32] bltzr commented on #302
okay

[2017-03-06 11:41] pach commented on #414
design can be anything. Did try both direction, not sure which one is correct.

[2017-03-06 11:44] pach commented on #302
do agree on alt for duplicate and shift for new event. That's the one which makes more sense for me.

[2017-03-06 11:49] jln- commented on #414
Something of this kind sounds good to me.

Something I was thinking about on the way back from Montbéliard was trying to get very radical. Basically, the idea is to purely remove these options for the time being... :-) ie. Processes attached to a constraint in the main scenario always get superposed. Only option is to choose which is process is displayed on top. Then when zomming in the constraint

[2017-03-06 12:00] bltzr commented on #414
why not, what do other @OSSIA/users think ?

[2017-03-06 12:56] jcelerier commented on #411
ça me semble pas mal, mais il faudrait que ça soit une option que l'on puisse désactiver.
Ou bien agrandir un peu la taille de la contrainte parent (au moins fois deux pour que ça puisse boucler un peu ?)

[2017-03-06 12:56] bltzr commented on #411
oui

ça, par contre, je trouve ça bizarre...

[2017-03-06 13:08] jln- commented on #411
Pour essayer de prendre le problème à l'envers: et si le bouclage n'était disponible que si l'utilisateur à déjà ajouté un trigger ?

[2017-03-06 13:16] bltzr commented on #411
hmmm... ça rajoute une action, donc je trouve pas que ça aille dans la direction envisagée (réduire le nombre d'actions pour créer une boucle)

[2017-03-06 14:35] bltzr commented on #411
juste une idée:
et si, au moment où on boucle une boîte (click droit + bouton en haut à côté de interpolate&co ?), on avait une pop-up qui nous demandait:
- si on veut boucler indéfiniment (cas par défaut -> il suffit de faire entrée) -> ça crée un trigger
- combien de fois on veut boucler (auquel fois ça multiple la contrainte parente par autant)
genre avec un champ texte, avec "indefinite" en gr

[2017-03-06 14:46] SephDB opened #415 "MoveNotes::update does not update note data"
https://github.com/OSSIA/i-score/blob/master/base/plugins/iscore-plugin-midi/Midi/Commands/MoveNotes.cpp#L56
Currently, this loop looks like this:

     for (auto& elt : m_before)
     {
       NoteData data = elt.second;
       data.setPitch(qBound(0, data.pitch() + note_delta, 127));
       data.setStart(std::max(data.start() + t_delta, 0.));
       m_after.push_back(elt);
     }

Instead of pus

[2017-03-06 15:14] reno- commented on #411
Je ne suis à priori pas pour les pop ups, et attention à rajouter trop de boutons.
mais pourquoi pas dans l'inspecteur?
Un bouton loop, qui une fois actif donne un champ nombre : 0 = infinité et un chiffre donné le nombre de répétitions

[2017-03-06 15:23] bltzr commented on #411
oui, moi aussi je suis pas pour trop de boutons, et là, en l'occurrence, je parlais en haut, à côté des autres boutons de contenu:
![boutons](https://cloud.githubusercontent.com/assets/113982/23615987/8b5eb114-0288-11e7-83c9-08bbb1ed1f75.png)

sinon, où est-ce que tu voyais ce bouton, toi ?
pas sur la boîte, hein ? (ça va charger...)

mais, sinon, pour la gestion, oui, c'est bien dans l'extérieur

[2017-03-06 16:17] jcelerier commented on #415
indeed ! thanks for noticing

[2017-03-06 16:35] cbossut commented on #414
I thought it would already exist. If not I agree to the request.

Le lun. 6 mars 2017 à 13:00, Pascal Baltazar <notifications@github.com> a
écrit :

--
Clément Bossut

[2017-03-06 16:38] bltzr commented on #414
actually this can be done by right-clicking -> Rack -> Hide (or Rack.# to make it appear again) so I guess what we want is just a shortcut to this

[2017-03-06 20:38] jcelerier commented on #415
fixed by 153a61b1b

[2017-03-06 20:38] #415 closed, assigned to jcelerier

[2017-03-06 22:53] pach commented on #411
Et pourquoi pas deux boutons dans l'inspecteur?

[2017-03-07 08:07] reno- commented on #411
Oui, c bien dans l'inspecteur que j'imagine ce bouton. Comme une propriété de la contrainte.
Avec une organisation par onglets ce serait très cohérent.

[2017-03-07 09:39] jcelerier opened #416 "crash on loading"
https://gist.github.com/pach/bfa0512570f14751da747cc3a62a5d8c

[2017-03-07 16:05] jcelerier opened #417 "Use ossia::net::create_node in the "new node" widget to create nodes in full path"
e.g. be able to create /foo/bar/baz in one go

[2017-03-08 08:43] nvuaille commented on #384
And what about the "logical view" ?
We could imagine a "Max-like" view where each box is an i-score process (like a scenario), and a way to link,  (des)activate them, having some atemporal trigger, ...
Maybe something like a statemachine (no more than a hierarchical logical representation) ?

I have no concrete ideas but may be we can think about it ...

[2017-03-08 09:59] jcelerier commented on #384
@nvuaille : working on it :p

[2017-03-08 12:27] cbossut commented on #411
Je me permet juste de relever cette remarque :

2017-03-06 14:08 GMT+01:00 Julien Rabin <notifications@github.com>:

Le formalisme permet, il me semble, et ça me paraît important, de boucler
un contenu pendant une durée fixe. Une boîte bouclée n'a donc pas
nécessairement de trigger.

--
Clément Bossut

[2017-03-08 13:28] bltzr commented on #411
oui, je pense aussi que c’est dommage de ne pas permettre de boucler un nombre défini de fois - c’est pourquoi je proposais qu’on puisse donner le nb de fois qu’on veut boucler, avec une valeur par défaut à « indéfini »
mais pê que ce n’est pas la bonne façon de prendre le problème...

[2017-03-08 16:00] cbossut commented on #411
La bonne façon, qu'en sais-je, mais Une bonne façon, à mon avis oui :-)

Le 8 mars 2017 à 14:28, Pascal Baltazar <notifications@github.com> a écrit :

--
Clément Bossut

[2017-03-09 17:04] jcelerier commented on #381
When connected, "reconnect" does not actually reconnect

[2017-03-12 14:47] nvuaille opened #418 "min size for inspector seems very large"
See attached image : https://drive.google.com/open?id=0B95Kw7zDjI6uRE9Yc1hjcWVkN1E

Tried on 841c206de509ef4c88e377cd4cc6a7034c57f382
OS Debian stretch
screen 13'', 3200x1800px

[2017-03-12 14:55] nvuaille opened #419 "Icon for mute button (was: Mute option on process)"
What about an option to mute a process ?

In order to play a constraint and following without sending some information (e.g do not play an automation)

[2017-03-12 17:20] jcelerier commented on #419
it's already in the API, just have to make it visible in the gui :p

[2017-03-13 19:23] micuat opened #420 "website hacked?"
It seems your website i-score.org has a problem... the google search shows "this site may be hacked" and there's a weird paragraph at the end of this page: http://i-score.org/download/

[2017-03-13 22:02] jcelerier commented on #420
Thanks for telling us :( we noticed a few days ago. Sounds like some Wordpress bot even though it was updated not too long ago.

[2017-03-13 22:18] jln- commented on #420
Thanks, indeed. I just did a manual cleaning of all pages & articles so consequences of the hack are fixed. Cause are not, though. @reno- could you have a look if you spot something (and close issue if it looks ok) ?

[2017-03-14 10:08] reno- commented on #420
I'm working on it

[2017-03-14 10:19] reno- commented on #420
a user(admin) had a silly password (azerty) and bot took control
it injects that code in the blog-header and generate fake pages
[code]

[2017-03-14 17:45] #416 closed, assigned to jcelerier

[2017-03-28 21:44] avilleret opened #421 "Qt dependency"
here https://github.com/OSSIA/i-score/wiki/Build-and-install it is said :

but it seems that Qt 5.7 is required somewhere.
Should we update the wiki or the dependency to build against 5.6 ?

[2017-03-28 22:20] avilleret commented on #421
here is the output of configuration step :

    CMake Error at base/lib/CMakeLists.txt:6 (find_package):
    Could not find a configuration file for package "Qt5" that is compatible
    with requested version "5.7".

    The following configuration files were considered but not accepted:

      /usr/lib/x86_64-linux-gnu/cmake/Qt5/Qt5Config.cmake, version: 5.6.1
      /usr/lib/x86_64-linux-gnu/cmak

[2017-03-28 22:20] avilleret commented on #421
since we do need QuickControl 2, I think the best is to update Wiki

[2017-03-28 22:21] #421 closed, assigned to nobody

[2017-03-28 23:49] avilleret commented on #420
@reno-  this have been fixed right ?

[2017-03-29 12:08] reno- commented on #420
No, i thought it was, but google just send me a mail with new hacked pages.
I will fix it tomorrow.

[2017-03-29 12:14] jcelerier commented on #420
my wordpress password has a dozen special characters so I doubt it's me...

[2017-03-29 13:37] jcelerier opened #422 "state overlay should not be visible in top constraint"

[2017-04-01 22:06] yousifalyousifi opened #423 "Qt5QuickControls2.dll is missing (1.0.0-b8 on Win8)"
Hi. When I launch i-score 1.0.0-b8 I am presented with this error:
[http://i.imgur.com/Biwrc87.png](http://i.imgur.com/Biwrc87.png)

I just installed 1.0.0-b7, and it launches fine.

OS: Windows 8, AMD Quad-Core A8-6410, Acer Aspire E 15

Thank you.

[2017-04-01 22:12] jcelerier commented on #423
indeed, forgot to add it to the release package. thanks for the report! (1.0.0-b8 was a bit botched anyway, I have Linux and OS X build to fix too).

[2017-04-06 19:40] ktatar commented on #420
We had similar problems with another website. I think there was a security issue with wordpress. We updated the wordpress, deleted all the accounts, and created new ones. That was a fix.

[2017-04-07 07:26] jcelerier commented on #420
I propose we implement @ktatar's solution today: for instance the "Download i-score" in the download page had also disappeared due to a bot modification.

[2017-04-07 07:27] jcelerier commented on #420
arghh and tutorials also were moved out from the "tutorial" section again.

[2017-04-07 07:57] avilleret commented on #420
is there a way to know from which account those modifications are made ?
I changed my password with a secure one as soon as I know that my account was involved
but if my account is involved again, then it should be deleted without any warning

[2017-04-07 08:15] jcelerier commented on #420
I checked the revision history and apprently it's been a month since the "download" link was missing. oh well :)

also, all the edits I saw in the "hacked pages" (nb: there are still some; @jln- you should edit the pages in text mode and not html mode to see the remaining ones) were from your account @avilleret so maybe we're good

[2017-04-07 09:10] reno- commented on #420
Google removed the "website hacked" flag for i-score.org
I linked 404 to home.
I think it's now ok, and we can close the issue.

I suggest to close the issue now, and if there is another new hack for the website, I will delete all accounts as suggested.

Any opinions?

[2017-04-07 09:10] #420 closed, assigned to reno-

[2017-04-07 11:16] jcelerier commented on #420
sounds good to me! thanks @reno- !

[2017-04-08 10:45] jcelerier opened #424 "Execution speed weirdness"
@pchdev could you explain how to reproduce ?

[2017-04-08 10:46] jcelerier commented on #424
maybe it's the same problem than https://github.com/OSSIA/libossia/issues/56 ?

[2017-04-08 11:17] pchdev commented on #424
probably the same thing, yes, didn't see that one on libossia

see enclosed scenario: it gets an extra delay at each event. I guess I managed to avoid it in the past because I wasn't really using loops or precise/synchronous events, but it gets indeed really problematic in that case

[delay.scorejson.zip](https://github.com/OSSIA/i-score/files/907402/delay.scorejson.zip)

[2017-04-08 14:59] jcelerier commented on #424
yep. I'd like to have your input on the libossia bug if possible ! (for instance what kind of behaviour you'd prefer by default, etc)

[2017-04-08 14:59] #424 closed, assigned to nobody

[2017-04-10 18:43] #423 closed, assigned to nobody

[2017-04-13 14:12] pchdev opened #425 "[view] time-progress visibility is null for “pulsing triggers“"
solution: keep the “pulse“ effect but re-introduce the blue/green contrast (with a darker blue maybe?)

[2017-04-13 14:18] jcelerier opened #426 "shell command state process"

[2017-04-14 14:19] bltzr opened #427 "doesn't revert to scale mode after resizing main constraint"
it's good that the mode switches to grow/shrink when resizing the main constraint, though, when i-score was previously in scale mode, it would be good that it reverts to it after this is done

[2017-04-14 14:19] bltzr opened #428 "main constraint main bound is not movable with the mouse"

[2017-04-14 14:29] bltzr opened #429 "when selecting a slot, the inspector should bind to the parent constraint"

[2017-04-14 14:39] bltzr opened #430 "use get/set fields instead of i/O type in node inspector (in device explorer)"

[2017-04-14 14:40] bltzr opened #431 "shouldn't there be separate bound modes at each bound ?"
Not sure about that, but that would be more simple/elegant ?

[2017-04-14 14:41] bltzr commented on #431
I mean, we could have clip at min and fold at max

[2017-04-14 14:41] bltzr commented on #431
I'm speaking of properties of a node/value in the device tree of course

[2017-04-21 16:02] MatiasDelera opened #432 "Qt5QuickControls2.dll error on windows"
Hi. Im getting Qt5QuickControls2.dll error on windows 7 64. How I can fixit?.

[2017-04-21 16:06] jcelerier commented on #432
hi, sorry this has been fixed in git but is not in a release currently. To solve, you should get a Qt installation (msvc2015 32 bit) and copy the dll from Qt/msvc2015/lib/ to the application folder

[2017-04-22 15:44] jcelerier commented on #431
that's honestly somewhat tedious to do (and may impact the performance a bit since now we have to check for different bounds at min and max). Basically this would have to be.. maybe not rewritten, but changed quite a bit to allow for both bounds : https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia/network/domain/detail/domain_impl.cpp

[2017-04-23 08:23] bltzr commented on #431
ok, no problem

should I close the issue, then ?

[2017-04-27 09:36] bltzr opened #433 "show (+) widget on hover instead of on selection"
for states and constraints

[2017-04-28 09:35] jcelerier opened #434 "Make Add Process popup contextual"
For instance it should propose to interpolate between existing states

[2017-04-30 13:20] bltzr opened #435 "add tween option to interpolations"
useful for creating ramps also for arrays

[2017-05-01 19:28] jcelerier commented on #432
this is fixed in b10

[2017-05-01 19:28] #432 closed, assigned to nobody

[2017-05-02 09:51] jcelerier opened #436 "slot height not saved / reloaded"

[2017-05-03 12:36] pach opened #437 "position+zoom scrollbar -> scenario map"
Certes, le shift-molette existe mais pas forcément intuitif à trouver. Et sans déplacement horizontale, i-score devient vite une réel purge à utiliser à la souris.

--- Sure, the shift-scroll exists but is not necessarily intuitive to find. And without horizontal scrolling, i-score quickly becomes a true bane to use with mouse

[2017-05-03 12:40] pach opened #438 "recopier d'une instance à une autre"
Possibilité de renommer ou recopier l'ensemble des parametres d'une instance sur un noeud.
Par exemple sur un state dans lequel on à plein de truc qui travail sur /layer.1/xxx et qu'on voudrait tout envoyer sur /layer.2/xxx

[2017-05-03 12:41] pach opened #439 "enlever des paramètres des states suivis d'une interp avec tween"
on ne peux visiblement pas enlever d'un state des parametres utilisé dans une interp posé sur la contrainte de temps qui suit ce noeud, meme quand tween est activé. Toutefois pour avoir eu de nouveau ce cas hier, il semblerait que ça marche si on supprime (ça reste visible) qu'on sauve et qu'on relance le score.

[2017-05-04 06:57] #436 closed, assigned to jcelerier

[2017-05-04 07:08] jcelerier commented on #439
en fait (c'est un choix qui avait été fait il y a un moment) dès qu'on a une courbe entre deux points, les state de part et d'autre de la courbe affichent la valeur qui correspond
![ezgif com-optimize](https://cloud.githubusercontent.com/assets/2772730/25693369/332425ca-30a9-11e7-91c5-73994566e48d.gif)

[2017-05-04 07:12] bltzr commented on #439
en fait, ça me paraît logique (et sain) que la valeur soit dans le state - par contre ça serait bien de pouvoir l'enlever sur le state de début quand il y a un tween... @pach ?

[2017-05-04 10:03] jcelerier opened #440 "sequence: don't show rack when there is no process"

[2017-05-04 10:07] jcelerier commented on #439
oui, il ne devrait pas être affiché dans ce cas là

[2017-05-04 10:25] jcelerier commented on #438
méthode proposée : search & replace dans les parties sélectionnées du scénario

[2017-05-04 13:11] bltzr commented on #439
aaaabsolument !

[2017-05-04 14:06] jcelerier commented on #425
would like this be good ? https://media.giphy.com/media/l4FGshsaef5nNnzpK/giphy.gif

[2017-05-04 14:16] pchdev commented on #425
wow, really nice!
perfect!

[2017-05-04 14:20] #425 closed, assigned to nobody

[2017-05-04 14:21] jcelerier commented on #437
@jln- @blueyeti @bltzr where does this go in the UI ?

[2017-05-04 14:46] #440 closed, assigned to nobody

[2017-05-04 18:34] pach opened #441 "bug on process removal"
Bon, ya visiblement un bug sur les suppressions de process dans les dernieres versions
J'ai a chaque suppression de process sur une contraintes (quel qu'il soit, scenario, automation...) ce message :
Internal error: Error: item != this->m_map.end()
le process disparait de l'inspecteur mais reste dans l'interface
et il completement disparu si je ferme et relance le score.

[2017-05-05 06:38] bltzr commented on #437
ben idéalement, ça serait la map dont on avait parlé, mais c'est ptêt pas pour demain matin ;-)

en attendant, est-ce qu’on ne peut faire un ascenseur (à la place du zoom) qui permette de manipuler simplement position (avec la position en X) et zoom (avec taille du slider, qu’on puisse changer, par ex. par un mouvement vertical ?) ??

--- well ideally, it would be the map we have been talking of,

[2017-05-05 07:41] pach commented on #437
Le slider zoom + position me semble pas mal.
On le retrouve dans pas mal de logiciel en soit...

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

2017-05-05 8:38 GMT+02:00 Pascal Baltazar <no

[2017-05-05 07:55] jcelerier commented on #437
est-ce que vous avez un petit screenshot d'un truc existant ?

[2017-05-05 08:18] pach commented on #437
![sliderzoommove](https://cloud.githubusercontent.com/assets/365923/25738224/23b4447a-317c-11e7-978c-96b454d6cacb.gif)
ça c'est dans after. Plutôt efficace et précis.

[2017-05-05 08:22] jcelerier commented on #437
ah, oui. la barre de temps en haut fait le slide mais pas le zoom. ça pourrait se rajouter là ? (à vrai dire je crois qu'elle l'a fait fut un temps mais ça marchait pas très bien donc désactivé)

[2017-05-05 08:48] pach commented on #437
La seconde barre de temps en dessous des infos de temps? c'est la zone de rendu active.
Ici c'est plus l'idée d'avoir un slider de temps extensif, ou les poignées gauche et droite permettent de zoomer dans le temps et sa taille indique le niveau de zoom. Et son déplacement gauche droite permet de se déplacer dans le temps donc.

[2017-05-05 08:57] bltzr commented on #437
oui, c'est ce genre de sliders auquel je pensais, celui-ci est vraiment bien foutu
par contre,  @jcelerier, tu parles de la barre d'i-score, hein ?
perso, je trouve ça inhabituel de mettre cette barre de position/zoom en haut, au-dessus de la barre de temps, mais c'est vrai qu'à la réflexion c'est plus logique

[2017-05-05 11:08] bltzr opened #442 "parent constraint's header has disappeared"
please, bring it back!

[2017-05-06 15:27] #441 closed, assigned to nobody

[2017-05-06 15:27] #273 closed, assigned to nobody

[2017-05-06 15:30] #442 closed, assigned to nobody

[2017-05-06 15:32] #428 closed, assigned to nobody

[2017-05-08 11:42] jcelerier opened #443 "bad execution speed on top constraint"
certainly because it uses the gui ratio instead of the default time value

[2017-05-10 15:23] jcelerier commented on #443
fixed

[2017-05-10 15:23] #443 closed, assigned to jcelerier

[2017-05-10 17:27] jcelerier commented on #381
seems to work now

[2017-05-10 17:27] #381 closed, assigned to nobody

[2017-05-10 17:28] jcelerier commented on #390
guess this is now done

[2017-05-10 17:28] #390 closed, assigned to nobody

[2017-05-10 17:31] jcelerier commented on #230
since there is no sequence button anymore, do you think this should stay open ?

[2017-05-10 20:28] jcelerier commented on #172
not relevant anymore

[2017-05-10 20:28] #172 closed, assigned to nobody

[2017-05-10 20:29] jcelerier commented on #240
done

[2017-05-10 20:29] #240 closed, assigned to jcelerier

[2017-05-10 20:31] #371 closed, assigned to nobody

[2017-05-10 20:38] #407 closed, assigned to nobody

[2017-05-10 20:52] #410 closed, assigned to nobody

[2017-05-11 11:14] #418 closed, assigned to nobody

[2017-05-11 11:21] #401 closed, assigned to nobody

[2017-05-11 11:23] jcelerier commented on #391
still can't reproduce so I close. please reopen if it happens

[2017-05-11 11:23] #391 closed, assigned to jcelerier

[2017-05-11 11:30] jcelerier commented on #373
I don't have enough information in the first; the second and third should be fixed.

[2017-05-11 11:30] #373 closed, assigned to nobody

[2017-05-11 11:42] jcelerier commented on #324
does not make sense anymore

[2017-05-11 11:42] #324 closed, assigned to nobody

[2017-05-11 11:44] jcelerier commented on #230
(considering that there is a user setting to handle "So, what if we changed the function of this button to enabling/disabling the horizontal magnetism for creating sequences ?")

[2017-05-11 11:46] jcelerier commented on #98
now this should be fixed since the timeline is infinite

[2017-05-11 11:46] #98 closed, assigned to nvuaille

[2017-05-11 13:55] jcelerier commented on #52
seems ok

[2017-05-11 13:55] #52 closed, assigned to jcelerier

[2017-05-11 15:25] bltzr opened #444 "allow zooming out when scenario is already at max zoom"
now, we need to scroll before we can zoom out

[2017-05-11 15:26] bltzr opened #445 "constraint's Y position is set to 0 when resized from within its fullView"

[2017-05-11 16:08] #445 closed, assigned to nobody

[2017-05-12 07:58] jcelerier opened #446 "It is hard to select states on the beginning of the scenario"
Put the time node behind instead of in front of the scenario

[2017-05-12 10:36] bltzr opened #447 "automatically add a condition when a new event is created from an existing TimeNode"
e.g. when creating it with alt-drag from an existing state

[2017-05-12 10:42] bltzr opened #448 "move + button on states a little to the top-right"
it currently interfers visually with the Condition widget
![c](https://cloud.githubusercontent.com/assets/113982/25994970/6df92e80-3710-11e7-914c-28c7508ff8ff.png)

[2017-05-12 11:34] bltzr opened #449 "switch scale mode with shift"
and reduce this to one toggling button ?

@jcelerier says that this is a problem with the current use of shift (disabling the sequence creation) - was that your request, @pchdev ?

[2017-05-12 11:35] bltzr commented on #449
also, currently the scaling mode stays on grow/shrink after moving the scenario's end state - I don't know if that's any good ?

[2017-05-12 13:22] nvuaille opened #450 "Slot vertical resize"
If a slot S is moved down so its bottom is outside its parent slot, and if this parent slot has a sibling slot below,  S is no more vertically resizable.
In attachment: slot of "dice78..." is not resizable.

![slot_resize](https://cloud.githubusercontent.com/assets/5503180/25999551/e4861dfa-3725-11e7-92b6-39239112dfd0.PNG)

Tested on b14 on windows 10.

[2017-05-12 13:27] nvuaille opened #451 "[cosmetic] Bad icon in constraint inspector"
I don't know which character it is supposed to be for the 'process' menu, but certainly not that =)

![menu_icon](https://cloud.githubusercontent.com/assets/5503180/25999937/41c28250-3727-11e7-9f4c-67c52d5e4b2b.PNG)

tested on b14, windows 10

[2017-05-12 16:41] jcelerier commented on #450
mhhh since they are different slots, the scenario should not go beyond the slot. I disabled it in  37edfb8

[2017-05-12 16:45] #446 closed, assigned to nobody

[2017-05-12 22:11] #448 closed, assigned to nobody

[2017-05-12 22:12] jcelerier commented on #447
should the condition be on the old event, new event, or both ?

[2017-05-13 09:37] #451 closed, assigned to nobody

[2017-05-13 11:18] bltzr commented on #447
new one only IMO

[2017-05-14 14:46] jcelerier opened #452 "max bound style in full view"

[2017-05-14 16:33] bltzr opened #453 "move grey layover at max bound when there is one"
currently it disappears when a max bound is set

[2017-05-14 17:51] #435 closed, assigned to nobody

[2017-05-14 17:52] jcelerier commented on #453
I forgot but it's actually a duplicate of #452

[2017-05-14 17:52] #453 closed, assigned to nobody

[2017-05-14 20:50] jcelerier commented on #452
it's honestly a bit ugly :

![screen](https://cloud.githubusercontent.com/assets/2772730/26037634/6eabb26a-38f7-11e7-90fa-6fee565cdce4.png)

I will be putting it from the default bound in both cases instead :
![better](https://cloud.githubusercontent.com/assets/2772730/26037647/b956208e-38f7-11e7-8704-d28bf4639cf4.png)

[2017-05-14 20:52] #452 closed, assigned to nobody

[2017-05-15 08:10] bltzr commented on #452
ok

[2017-05-15 11:09] bltzr commented on #450
this seems OK right now, so I'm closing the issue

[2017-05-15 11:09] #450 closed, assigned to nobody

[2017-05-15 11:10] bltzr commented on #349
upping this one

[2017-05-15 11:13] bltzr commented on #438
search&replace sur les adresses dans les contenus (states et processes) d'une sélection d'objets donnée (je précise pour éviter les ambiguïtés)

[2017-05-15 11:15] bltzr commented on #437
et ça permet de garder un même positionnement pour le jour où cette barre position+zoom deviendra une map, donc pê que ça vaut le coup de la placer en haut dès à présent
de plus, je ne vois pas l'intérêt que la barre de temps soit aussi haute qu'actuellement. On pourrait facilement la réduire de moitié

[2017-05-15 11:16] bltzr commented on #434
that would be fab!

[2017-05-15 11:16] bltzr commented on #431
closing the issue, as this is less than secondary

[2017-05-15 11:16] #431 closed, assigned to nobody

[2017-05-15 11:20] bltzr commented on #430
I guess this should be done as part of the device explorer refactoring (when the subpanel/inspector for attributes is created)

[2017-05-15 11:41] bltzr commented on #449
related to #427

[2017-05-15 11:44] bltzr commented on #422
what does that mean ?

[2017-05-15 11:46] bltzr commented on #419
We could have that on the constraint (with a header's UI widget), muting all its processes
and one for each process (e.g. in a kind of header for each slot)
we've been starting some sketches for these kind of things with @jln-

[2017-05-15 11:47] bltzr commented on #419
of course, the first step would be to add a toggle to the process's inspector (and maybe grey-out a little the process's slot)

[2017-05-15 11:55] jcelerier commented on #422
there shouldn't be the little yellow plus when selecting one of the top states

[2017-05-15 11:55] jcelerier commented on #430
indeed, and it's quite simple to do

[2017-05-15 14:22] bltzr opened #454 "zoom is flaky when changing fullViews"
as demonstrated in the gif below, the zoom level (and maybe position) is lost after the zoom level has been changed in the parent fullView
![mai-15-2017 16-14-31](https://cloud.githubusercontent.com/assets/113982/26062257/9c68496e-398a-11e7-8c7e-c98f882abe6c.gif)

to reproduce:
- make a sub-scenario
- display it in fullView
- set a given zoom level
- go back to the parent scenario in fullView
- ch

[2017-05-15 14:48] bltzr opened #455 "sub-scenarios should be minimized when in smallView"
e.g. even with the simple scenario below
![ezez](https://cloud.githubusercontent.com/assets/113982/26063178/89fe4a0a-398d-11e7-9a71-21cef7ec68b2.png)
the smallView version is illegible
![zeczbc](https://cloud.githubusercontent.com/assets/113982/26063198/963278c8-398d-11e7-9105-552e67352760.png)
maybe when a sub-scenario is in a smallView, only the headers of its constraints should be shown (with a

[2017-05-15 15:10] bltzr commented on #439
j'allais demander ce qu'il se passait si après avoir coché tween, on le décochait : sur quelle base il remettait la valeur...
mais d'après ce que tu dis, @jcelerier , les valeurs ne sont pas enlevées de l'état, mais ne sont "pas affichées", donc elles sont gardées pour si on re-décoche tween, right ?

[2017-05-15 15:16] jcelerier commented on #439
oui tout à fait. elles ne sont juste pas utilisées au moment de créer les structures d'exécution de libossia.

[2017-05-15 15:32] bltzr commented on #399
what does that mean ?

[2017-05-15 15:36] bltzr commented on #414
now that we have a simplified standard behavior for racks/slots, I still think that would be useful to have a collapse button)

[2017-05-15 15:37] jcelerier commented on #399
I was asked to put a warning when someone does ctrl-w while in full view of a sub constraint to prevent inadvertantly closing the whole score.

[2017-05-15 15:38] bltzr commented on #414
I've added this to the SNI specs

[2017-05-15 15:48] bltzr commented on #399
makes perfect sense!
maybe then that should  open a popup window asking:
you are about to close the current score, do you want to go back to the parent scenario instead
[close score] [go to parent] (maybe with go to parent as the default choice ???)

[2017-05-15 16:02] bltzr commented on #385
![zelcznk](https://cloud.githubusercontent.com/assets/113982/26066855/9e9a058e-3998-11e7-91bb-f3c2d57c56ee.png)
c'est mieux en png
cela implique aussi qu'on définisse un comportement ignoré à la max bound, non ? (si oui, je crée une issue)

[2017-05-15 16:05] bltzr commented on #388
@jcelerier does that mean that this already exists (then the issue could be closed once this is documented) or are you specifying how this should work ?

[2017-05-15 16:10] bltzr commented on #394
![zkjnez](https://cloud.githubusercontent.com/assets/113982/26067121/60e5134a-3999-11e7-8808-f315ef6f3828.png)
in this case, the middle TN is selected -> should I be able to set its date before the date of the previous TN or should it be clipped at this date ?
if I change the date of this middle TN, what should happen to what's after, should they just be translated (ie. as if the middle TN was mov

[2017-05-15 16:10] jcelerier commented on #388
this was a proposition of implementation so no, this does not exist yet

[2017-05-15 16:21] bltzr commented on #397
still there ?

[2017-05-15 16:32] bltzr commented on #439
du coup, @pach est-ce que c'est gênant pour toi, ou bien c'est juste cosmétique (pour savoir si on essaie de résoudre ça de façon prioritaire)

[2017-05-15 16:35] bltzr commented on #380
not the case anymore (as different racks are used) -> closing the issue

[2017-05-15 16:35] #380 closed, assigned to nobody

[2017-05-15 16:37] bltzr commented on #379
related to #369

(jm: copy pasting your comment here for clarity:

it would be nice to have a menu for accessing tuple elements in the address fields (e.g. for automations, condition/trigger expressions, etc...

when no dataspace/unit is set, we would have, for a n-uplet:

    *
    1
    ..
    n

when a dataspace is set (e.g. xyz position):
then we have a first menu, which offers the different "

[2017-05-15 16:39] bltzr commented on #377
still happening ?

[2017-05-15 16:39] bltzr commented on #376
how complicated is that @jcelerier ? (for choosing the right milestone)

[2017-05-15 17:34] jcelerier commented on #376
hmm... ideally I'd like to get a very exhaustive list of all the stuff accessible from the Javascript API first to put it down on paper. Adding individual functions / parameters / etc... is not very hard.

[2017-05-15 18:02] bltzr commented on #374
is this still happening ?

[2017-05-15 18:02] bltzr commented on #372
is this still the case ?

[2017-05-15 18:04] bltzr commented on #367
that's done, right?

[2017-05-15 18:04] #367 closed, assigned to nobody

[2017-05-15 18:05] bltzr commented on #361
can you try the fix, @pchdev ?

[2017-05-15 18:05] bltzr commented on #356
is that fixed with Vec2f or so ? @jcelerier

[2017-05-15 18:05] jcelerier commented on #367
I think so

[2017-05-15 18:07] jcelerier commented on #356
mhh, not really. The problem is fitting with the osc & oscquery specification where for instance a node is said to have type `[int float int float string string]` (for instance) and cannot deviate for it. while the tuples in libossia / i-score can add / remove elements and have their elements change type.

[2017-05-15 18:08] bltzr commented on #352
any idea how this  could be done ? (UX-wise)

[2017-05-15 18:08] pchdev commented on #361
looks good to me

[2017-05-15 18:08] #361 closed, assigned to jcelerier

[2017-05-15 18:09] bltzr commented on #350
hidden is maybe more understandable
private is also  OK - more technical but maybe more accurate
I'd say: choose whatever suits you best

[2017-05-15 18:11] bltzr commented on #347
what about this one ? is this related in any way  to (or could be managed with) QML ?

[2017-05-15 18:14] bltzr commented on #346
maybe a way to use it would be by adding a alias field just below the name (when editing a node)
then the node shows up in the device tree with the alias (instead of its "built-in" address
if it has children, they are nested under this aliased address (?)
opinions, @OSSIA/users ?

[2017-05-15 18:16] bltzr commented on #345
this has actually been discussed in Mtblrd
this is mentionned in #385 so I'm linking those here - and also renaming the issue accordingly

[2017-05-15 18:18] bltzr commented on #345
as this is described on the sketch of #385 :
![zelcznk](https://cloud.githubusercontent.com/assets/113982/26072470/ea9d28cc-39ab-11e7-925c-8e4ca0fc809b.png)

that would be a particular setting of a condition - which implies that a condition has to be added first... but after what we want here is a condition (condition has been reached before trigger was triggered...)

[2017-05-15 18:23] jcelerier commented on #347
it needs some design. ideally, we talked with @blueyeti a long time ago about being able to handle a whole "vertical" point (e.g. trigger, time node, events, conditions, states... the whole stuff) entirely through the behaviour of a single script, but it's a *big* model change which would take a lot of work.

A relatively easy way today to do this is to just use a JS state. Maybe someone could thi

[2017-05-15 18:25] bltzr commented on #376
so if that's important for some of you ( @pach @pchdev ?) maybe we should add this to the list of discussions for the Lyon workshop

[2017-05-15 18:27] bltzr commented on #356
OK, then from the UX POV, I guess there could be a number field for the number of items (in case of Tuple type)
then, a kind of « subpanel » for setting each element (or maybe just a list of types as a start)

but I guess there’s some work to be done under the hood first...

[2017-05-15 18:31] pchdev commented on #346
hmm, ok for me

/track/1/fx/1 would have an alias for example : /reaper/filter

now, say you want to give /track/1/fx/1/fxparameter/2/value an alias (/reaper/filter/cutoff)
you click add child on /reaper/filter
maybe type fxparameter/2/value for the absolute node adress
and then just “cutoff“ for the alias

is that suitable?

[2017-05-15 18:32] pchdev commented on #376
ok

[2017-05-15 18:35] pchdev commented on #347
having a dedicated process/language would be great indeed, but meanwhile this looks perfectly good to me!

[2017-05-15 19:05] bltzr commented on #347
as I don't understand most of what you're talking about, guys, and even less how complicated this is to implement, I'll let you set the milestone you find appropriate

[2017-05-15 19:15] bltzr commented on #346
what do you mean by "cutting off the alias" ?

[2017-05-15 19:16] bltzr commented on #346
oh sorry, I misunderstood :-D

[2017-05-15 19:16] bltzr commented on #346
well why not... I guess that's mainly a question for @jcelerier if that's doable ?

[2017-05-15 19:27] bltzr commented on #346
IMHO, what would be best, would be that subnodes can inherit from their parent's (or ancestor's) alias, but that they can have their own particular aliases too.

In the given example:
the user gives `/track/1/fx/1 ` the alias `/reaper/filter`
its subnode `/track/1/fx/1/fxparameter/2/value` is automatically given the alias `/reaper/filter/fxparameter/2/value`
which they can replace (by editing this

[2017-05-15 19:35] pchdev commented on #346
yes, even better!

[2017-05-15 20:02] jcelerier commented on #346
isn't there a risk of a ton of duplicated nodes ?

[2017-05-16 07:45] pach commented on #439
Bah si elle apparaissent (visible) dans le state ça veux pour moi dire qu'elle est envoyé au début de mon intérim et que le tween n'as donc aucun interet. Une question de logique, non?

Thomas Pachoud
www.creapach.fr

[2017-05-16 08:11] bltzr commented on #346
why/how ?

[2017-05-16 08:13] bltzr commented on #439
oui, absolument logique, mais donc ça ne t’as pas posé d’autre problème que de logique ou de représentation (pas de comportement bizarre, quoi, right ?)
merci pour la réponse !

[2017-05-16 08:13] jcelerier commented on #346
The address " /reaper/filter/fxparameter/2/value" would be visible from the device explorer right ?

[2017-05-16 08:47] bltzr commented on #346
nope, it would be replaced by its alias IMO

[2017-05-16 08:48] bltzr commented on #346
we can consider having two display modes for the tree: absolute or aliases

[2017-05-16 08:50] pach commented on #376
Actually, not missing much in the javascript plugin except the possibility
to have quick access to some variable in the interface. And I think we
already talk about different option and there is not much more to discuss...

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associati

[2017-05-16 08:55] pach commented on #439
Bah je redémarre i-score après chaque suppression de node pour la rendre
effective...
Du coup ça marche. Pas essayé sans redemarrer i-score.

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

[2017-05-16 08:56] pach commented on #439
Et en mon sens en terme de comprehension, c'est un truc à résoudre pour les
gens qui découvre i-score.
Parce que leurs dire, à oui c'est toujours la mais sauf que comme après ya
un tween, bah du coup c'est pas actif, mais c'est quand meme la, mais en
fait non...
Moi, je fuis! ;p

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le Fab

[2017-05-16 08:59] pach commented on #372
nope. I close.

[2017-05-16 08:59] #372 closed, assigned to nobody

[2017-05-16 09:00] pach commented on #374
nope. I close.

[2017-05-16 09:00] #374 closed, assigned to nobody

[2017-05-16 09:01] bltzr commented on #439
oui oui, il faut le régler, on est d'accord (c'est pourquoi je l'ai mis sur la prochaine milestone) mais je voulais savoir si ça posait des problèmes à l'exécution.

[2017-05-16 09:03] bltzr commented on #376
OK, so that's #388 right ?
(sorry me not talk javascript)

[2017-05-16 09:04] jcelerier commented on #346
ok, that's a big difference :p this should go in the "device explorer work package" then I think.

[2017-05-16 09:07] jcelerier commented on #376
One thing I really want to do (but for 2.0 :p) is to give the ability to create new elements from a script. For instance you have a loop, every time the end state triggers it adds a new constraint at the end of the score with a random automation.

@bltzr no that's a bit different from #388.

[2017-05-16 09:07] bltzr opened #456 "tween on interpolations is buggy"
it interpolates from the current values to some mix of values from the start and end state (e.g. members 1, 2, 3 and 6 are from the end state, 4 and 5 from the start state)

[2017-05-16 09:08] pach commented on #376
Agree but definetly for 2.0. ;)

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

On Tue, May 16, 2017 at 11:07 AM, Jean-Michaël Celerier <
notifications@github.com> wrote:

[2017-05-16 09:09] pach commented on #376
and yes, answer is in #388.

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

On Tue, May 16, 2017 at 11:07 AM, Thomas Pachoud <thomas.pachoud@gmail.com>
wrote:

[2017-05-16 09:16] pach commented on #437
Ah oui tiens, on peux deplacer avec la barre de temps...
Du coup c'est le slider du bas qui trompe et ne nous fais pas penser à
cette option... ^^

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-

[2017-05-16 09:17] pach commented on #438
ok pour l'option search and replace.

[2017-05-16 09:23] bltzr commented on #346
sure, done - though, maybe that can be done in a second batch, once the main refactor is done, right? or should it be considered from the start of the refactor (if so I'll move it to the 1.0 milestone)

[2017-05-16 09:35] bltzr commented on #329
I think it's good to get this out of the current inspector
I'm not sure it's that important to have a dedicated panel/inspector for that, but I might be overlooking some aspects

[2017-05-16 09:40] bltzr opened #457 "manage distributed execution in the inspector"
how can we integrate the distribution parameters in the appropriate inspectors (of constraints, states, etc..)
current parameters of the distribution's management:
![zceohz](https://cloud.githubusercontent.com/assets/113982/26099899/769316ae-3a2c-11e7-99c4-c8f4b93d6baf.png)

[2017-05-16 09:42] bltzr commented on #329
I've created a specific issue for distribution management #457

[2017-05-16 09:42] jcelerier commented on #346
I think that it should be considered from the start - it may be a big change

[2017-05-16 09:42] jcelerier commented on #346
(but I *really* doubt it will be done by then)

[2017-05-16 09:57] pach opened #458 "snap on timenodes"
When editing inside fullview, should be good to be able to have a snap on timenode option. For example when moving the time of an automation curve, would be good to be able to simply snap the end of time to the end timenode.

![mai-16-2017 11-45-49](https://cloud.githubusercontent.com/assets/365923/26100576/9fe8f864-3a2e-11e7-86bc-98ad312c41cf.gif)

[2017-05-16 10:03] pach opened #459 "bezier curve"
Possibility to edit curve threw bezier points. More flexible and precise than tween option.

[2017-05-16 11:33] bltzr commented on #330
yes, please - that was a stupid idea to block this (I think I'm the one who proposed it)

[2017-05-16 11:38] bltzr commented on #334
you mean that a state from a given event cannot be moved over another event, right ?

[2017-05-16 11:38] bltzr commented on #334
"Bloquer le déplacement vertical des states pour qu’on ne puisse pas faire “passer“ un state au-dessus d’un autre event que le sien"

[2017-05-16 12:19] bltzr commented on #352
this duplicates #337

[2017-05-16 12:19] #352 closed, assigned to nobody

[2017-05-16 12:22] bltzr commented on #337
• By default put all the new states in new events
-> I'm not sure about that: that's somehow contradictory with the current 'alt-drag while creating a state' behavior
actually, by default (unless alt is presssed while creating), states belong to the same event

 When multiple conditions are selected, maybe we could have an option in the right-click menu ?
And/or maybe the Condition button could tu

[2017-05-16 12:24] bltzr commented on #337
I just maked #352 as a duplicate of this one, but the title is somehow ambiguous - it could also mean that we want to merge several states into a single state
I've disambiguated the title, so if we want to add the feature to  merge several states into a single state, we should create a specific issue for that

[2017-05-16 12:26] bltzr commented on #328
if I remember well, this was discussed in Bordeaux and Montbéliard, and that means that, when a start or end state of a constraint is 'out of focus' (because the constraint is longer than the current display) there is a way to access it
right ?

[2017-05-16 12:27] bltzr commented on #327
that would be very good, yes

[2017-05-16 12:28] bltzr commented on #325
that seems to be the case now, so I'm closing the issue

[2017-05-16 12:28] #325 closed, assigned to nobody

[2017-05-16 12:29] bltzr commented on #318
I guess that's related to #376 right ?

[2017-05-16 13:02] bltzr commented on #315
how can we know if they are or not ?
they would seem blurry if they are not, right ?
(they don't look blurry, so I guess we could close the issue)

[2017-05-16 13:02] pach commented on #327
Mais c'est pas deja le cas?

[2017-05-16 13:03] bltzr commented on #313
is that achievable for the end of the year (aka 1.1) ?
is the audio plugin supposed to be included in the release, or everything related should be inlcuded in 1.5 ?

[2017-05-16 13:06] bltzr commented on #327
ben non, c’est la barre de temps qui reste visible, pas le header de la constraint principale

[2017-05-16 13:53] pach commented on #327
Hum... Qu'est ce que tu appelles le header de la constraint principale?

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

On Tue, May 16, 2017 at 3:06 PM, Pascal Baltazar <notifications@githu

[2017-05-16 14:26] jcelerier commented on #327
![header](https://cloud.githubusercontent.com/assets/2772730/26111066/5b5315f6-3a54-11e7-98fb-c04e036f5412.png)

[2017-05-16 14:28] jcelerier commented on #328
yes that's it

[2017-05-16 14:29] jcelerier commented on #328
basically just like #327 keeps the top stuff visible when moving vertically, this should keep the top stuff visible when moving horizontally

[2017-05-16 14:30] jcelerier commented on #318
yes; this is a specific issue about having a "script" panel, a bit like Blender where you can do UI operations through Python directly.

[2017-05-16 14:31] jcelerier commented on #315
yes, blurry or pixelated. I think that I couldn't get a high resolution of the one you modified by hand (camera with circle around it) so that's why the issue is still open

[2017-05-16 14:32] jcelerier commented on #313
not sure, for my phd I'm working on another approach for audio.

depends if it's stable enough. But it's mostly a packaging work : making faust, etc.. work fine everywhere.

[2017-05-16 14:34] pach commented on #327
Bah il est pas toujours visible quand on scrolle?

----- ----- -----
Thomas Pachoud
creapach.blogspot.fr
assoikari.wordpress.com
----- ----- -----
la campagne pour le FabLAboriGène de l’Amer
<https://www.helloasso.com/associations/dans-le-meme-bateau/collectes/le-fablaborigene-de-l-amer>
est
engagée!
-----

On Tue, May 16, 2017 at 4:26 PM, Jean-Michaël Celerier <
notifications@github.com> wrote:

[2017-05-16 15:19] pach opened #460 "drag&drop parameter(s) from a state inspector to another state"

[2017-05-16 15:34] jcelerier commented on #327
pas quand on scrolle vers le bas

[2017-05-17 13:13] bltzr commented on #457
AFAIU only the group affection would go into scenario objects' inspector

[2017-05-17 15:27] bltzr commented on #313
Anyway, that seems out of the scope of the SNI project so I'm setting this to 1.5.

can you tell us about it (concerning this issue) in a few words ?

[2017-05-17 15:28] bltzr commented on #312
is this something you think would be important for the release at the end of the year, @pchdev ?
is this a complicated one, @jcelerier ?

[2017-05-17 15:29] bltzr commented on #311
isn't that (at least the linking part of it) already implemented ?

[2017-05-17 15:35] jcelerier commented on #311
yes, I think we can close.

[2017-05-17 15:35] #311 closed, assigned to nobody

[2017-05-17 15:37] bltzr commented on #289
we can use the range attribute for this (with a list of values instead of a range)

[2017-05-17 15:37] jcelerier commented on #312
not really complicated, but given the amount of stuff that is already to do, I don't think that it will be easily doable

[2017-05-17 15:39] bltzr commented on #292
that would be useful, yes -> 1.1 (if that isn't too complex to implement)

[2017-05-17 15:39] jcelerier commented on #313
instead of using libaudiostream and having a duplication of structures I'm working on an alternative method that uses an audio / data / midi graph (with some novelties wrt the patterns found in max, pd, etc).

[2017-05-17 15:41] jcelerier commented on #289
yes, that's already the case, but the problem is to only allow the user to select what's in the range. e.g. if the range is ["foo", "bar", "baz"] instead of a text input there should be a combo box where you can only choose the correct values.

[2017-05-17 15:42] jcelerier commented on #289
(in case this was not clear, I'm referring to the input here in `value`: ![range](https://cloud.githubusercontent.com/assets/2772730/26162849/27df4f62-3b28-11e7-8d98-07ef98e8a737.png)  )

[2017-05-17 15:43] bltzr commented on #298
I'm not sure I get it... generic values are supposed to be absolutely anything,  including symbols, spaces, etc...

[2017-05-17 15:51] bltzr commented on #302
shift is used for other things, as mentioned in #449
I think we should solve this one way or the other before the release, hence 1.1
(I'm also adding this for Lyon)

[2017-05-17 15:58] jcelerier commented on #298
there are two different things :

* generic values : a value for which the type does not matter. so it can be an int, a float, a string, etc. & change type over time.
* byte arrays : a value for which the type is not known. basically, it's unuseable unless you know how the bytes are arranged in memory (so this would only make sense in a javascript script for instance since a curve would be unable

[2017-05-17 16:16] bltzr commented on #313
OK that sounds promising...

though, is there a relation between this and the place in the sound file from where the playing starts ? (the original issue)

[2017-05-17 16:19] bltzr commented on #312
OK, so I'll let this float in the limbo of undecidedness

[2017-05-17 16:21] bltzr commented on #256
on Mac this is the case (with shift)
what else should it be ? (it would be confusing to scroll with it - and how would one scroll vertically, then ?)

[2017-05-17 16:23] bltzr commented on #257
I guess that won't be for 1.1 then, right ?

[2017-05-17 17:02] bltzr commented on #269
that's very interesting, yes

[2017-05-17 17:03] bltzr commented on #287
this will be especially useful when using media files with distributed execution, hence 1.5

[2017-05-17 18:23] bltzr commented on #238
still not sure, almost 1 year later about what you meant

[2017-05-17 18:24] bltzr commented on #241
I think that would be much better than it is now. Opinions, @OSSIA/users ?

[2017-05-17 18:25] bltzr commented on #243
I've been copying a lot of stuff from @pach 's score the other day, and had no problem. So closing this issue until it (hopefully doens't) happen again

[2017-05-17 18:25] #243 closed, assigned to jcelerier

[2017-05-17 18:26] bltzr commented on #247
is this  it "relatively easy" easy enough that it can be considered doable in a 1.1. scope ? (adding the milestone to force it just a little bit - feel free to remove it :-p )

[2017-05-17 18:27] bltzr commented on #249
still a good idea IMO (not ultra-high priority though)

[2017-05-17 18:29] bltzr commented on #230
well I don't think this is worth having a button for (the user setting to handle), that can stay in the preferences...

[2017-05-17 18:29] #230 closed, assigned to jcelerier

[2017-05-17 18:30] bltzr commented on #231
that would be great, any idea how to represent this @jln- @blueyeti ?

[2017-05-17 18:37] bltzr commented on #232
maybe that could be just one button for both ?
if there is content in the states, automations/interpolations are created for differing values ?
if it's on a constraint with empty states, then automations/interpolations (and corresponding states) are created for the chosen addresses in the device explorer.
What if some addresses are chosen in the device explorer, that are not in the states ? I'd sa

[2017-05-17 18:40] bltzr commented on #235
that would definitely be useful (still thinking left-right would be better than corners - and, yes, with an overlay)

[2017-05-17 18:41] bltzr commented on #237
I'm not sure this is a good idea, and it works with cmd-click or dbl-click
off with that

[2017-05-17 18:41] #237 closed, assigned to nobody

[2017-05-17 18:44] bltzr commented on #213
related to #241

[2017-05-17 18:45] bltzr commented on #205
I think this is an important one, I keep being confused again and again by it (and that feels very much like a bug!)

[2017-05-17 18:47] bltzr commented on #210
I think having a way to define shortcuts, as suggested by @himito is a good idea, but a different topic.... so I'm creating a new issue for that and closing this one

[2017-05-17 18:47] #210 closed, assigned to nobody

[2017-05-17 18:48] bltzr opened #461 "allow the user to define custom keyboard shortcuts"
this could be part of the preferences
first mentioned in #210 by @himito

[2017-05-17 18:49] bltzr commented on #218
still 👍 👍 👍 ing!

[2017-05-17 18:53] bltzr commented on #202
this is even worse than it was before the zoom was reworked - now it goes WAY WAY WAY later than the end state !!!!
This is probably one of the most urgent bugs to fix (probably along fixing the flaky zoom, as reported in #454 )

[2017-05-17 18:55] bltzr commented on #201
up

[2017-05-17 18:56] bltzr commented on #198
up

[2017-05-17 19:01] bltzr commented on #173
this has been discussed again in #437 so I'm closing it - see you there (and we'll try to avoid French, I promise)

[2017-05-17 19:01] #173 closed, assigned to nobody

[2017-05-17 19:02] bltzr commented on #437
@lossius commented on #173 :
Would it be possible to extend the scrollbars in i-score with small handles at the end that could be used to click and drag zoom-in and zoom-out? Reaper behaves this way.

Additionally, when holding the cursor over the horisontal (time) scrollbar and pinching/zooming at the trackpad, or using the scroll wheel, it would be nice if this also would be zooming in and out i

[2017-05-17 19:06] bltzr commented on #437
in the future, this could become a scenario map, as in several DAWS, and as it has been discussed recently...

[2017-05-17 19:09] bltzr commented on #171
if I understand well (do I?), processes should be shown:
- for the main constraint when the main header or background is hitten
- for the chosen box/constraint when its header/slot is hitten/selected
this is related to #429

[2017-05-17 19:09] bltzr commented on #166
yes, that would be nice

[2017-05-17 19:10] bltzr commented on #156
what is that supposed to mean ?

[2017-05-17 19:16] bltzr commented on #147
I've skimmed through this issue (wow! that was a long one!), and just a thought:
now that we're beginning to have implementations of libossia for namespace managements, maybe delegating automations would be something to think about...
I guess that won't be happening before 2.0 but we can begin to specify it..

[2017-05-17 19:20] bltzr opened #462 "process delegation"
as discussed in the #147 looooong thread of comments, it could be nice to devise some ways to delegate automations/interpolations (maybe also mappings and other processes) to remote devices (implementing libossia, such as ossia-pd and friends...)

maybe a simpler way to do this would be to include i-score players in the remote devices, though (just thinking out loud...)

[2017-05-17 19:21] bltzr commented on #147
It's even so long that I forgot that was about update rate, maybe that could be useful to create a new issue for automation delegation -> that's #462 !!!!

[2017-05-17 19:25] bltzr commented on #143
I have mixed feelings about this, because that would mean that the time would be corresponding to the (non-traced) vertical diameter of the semi-circle
hence, if we set the min to 0 (or just above), that would mean that it would be displayed somehow *before* the start state of the constraint - I'm not sure that's any better

[2017-05-17 19:30] bltzr commented on #141
so we can close this issue now, right ?

[2017-05-17 19:34] bltzr commented on #126
this is a big change and that would prevent folding nodes in the inspector's state editor, so I guess this has to be discussed (adding it to the Lyon topics)

[2017-05-17 19:37] bltzr commented on #122
added to Lyon's topic list

[2017-05-17 19:40] bltzr commented on #120
tuples' edition still isn't really (I mean conveniently) doable right now, so maybe that would be worth examining ?

[2017-05-17 19:46] bltzr commented on #115
can you try again and see if this is still broken @theod ?
(I couldn't figure out exactly what the problem was, from the comments...)

also, from my tests, filtering does work, but nodes are not expanded, which is a bit awkward but, if you trust the fact that it does work indeed, that can still be useful
or, that could be useful if the recursive snapshotting took the filter into account - because

[2017-05-17 19:51] bltzr commented on #107
I'm not sure, but maybe you're right, @theod , that this should follow the scale mode - maybe with it being set to scale by default when handling ?
but then, if we did so, what would happen to other processes ?
I've put the link of this issue in the Lyon topic list

[2017-05-17 19:57] bltzr opened #463 "change aspect of loop slot"
- [x] pattern/loop color switch
currently the color of the pattern is changed, as discussed in Montbéliard, it should instead be the loop's slot

- [x] pattern's slot size
also, there is no sense to keeping some free space *below* the pattern's slot, so it should scale vertically in order to match with the bottom side of the loop's slot (or just a little bit above so we can see the color of the lo

[2017-05-17 19:59] bltzr opened #464 "change text: delete trigger -> disable trigger"
in the little cog icon next to the trigger expression
(that should be a quick one ;-) )

[2017-05-17 19:59] bltzr commented on #103
that's seem to be quite free for now, and I like it.... opinions, folks ?

[2017-05-17 20:00] bltzr commented on #102
I guess #461 duplicates this one, or doesn't it ?

[2017-05-17 20:02] bltzr commented on #89
as we cannot really change this, should we close the issue ?

[2017-05-17 20:04] bltzr commented on #88
what about this ? is there anything we can do with the current state of affairs ? or should we consider this is a intrinsic flow of Minuit (and encourage people to use OSCquery instead ?)
(I'd say yes...)

[2017-05-17 20:08] bltzr commented on #87
This should be considered when refactoring the device explorer attributes subpanel
I guess that's also related to #289

[2017-05-17 20:11] bltzr commented on #80
since we now know we won't have sequences before the 1.0/1.1 release, can we consider having an option to automatically add automations/interpolations whenever some values in the states change (in the way that @reno- asked for) ?

[2017-05-17 20:13] jcelerier commented on #313
yes, because it's not just "the sound file", but the whole audio graph : effects, sends, returns, etc.. which have to be at the right "position" too.

[2017-05-17 20:13] bltzr commented on #72
it seems that this is now fixed

[2017-05-17 20:13] #72 closed, assigned to theod

[2017-05-17 20:14] jcelerier commented on #256
I think this has been added since then, so closing.

[2017-05-17 20:15] jcelerier commented on #257
I think that for 1.1 there will be a revert to a list of states anyways (we talked about this in an earlier meeting IIRC?) since the tree :
- is harder to maintain.
- allows to do less things.

[2017-05-17 20:16] bltzr commented on #69
that doesn't seem to be the case anymore, could you please test, @theod ?

[2017-05-17 20:17] jcelerier commented on #238
yes, that's just duplication (sorry for not answering)

[2017-05-17 20:17] bltzr opened #465 "score files don't show up in recent files until they have been loaded"
i.e. they should show up once after they have been saved, not needing to be manually reloaded for that

[2017-05-17 20:18] jcelerier commented on #247
yes, that one is easy, except one point that has to be decided : how are handled devices that are in the dragged score ? are they added, merged, to the existing devices ? ignored ? ignored if they exist ?

[2017-05-17 20:21] jcelerier commented on #235
ok for left / right, maybe with an arrow in the middle ? like this

[code]

[2017-05-17 20:24] jcelerier commented on #102
indeed, it does :p

[2017-05-17 20:24] #461 closed, assigned to nobody

[2017-05-17 20:24] jcelerier commented on #102
also see #210

[2017-05-17 20:31] jcelerier commented on #171
hmm, sorry, I did not quite understand your post. but the process panel is currently disabled so maybe we can close this issue and come back at it when it is re-enabled.

The problem was that for instance if you have the scenario in full view, clicking in the background of the scenario would also show it in the process panel (which does not really makes sense).

[2017-05-17 20:31] #171 closed, assigned to nobody

[2017-05-17 20:33] jcelerier commented on #156
basically, it's this addon (which has never been finished - there are still some bugs - but it should more or less work.) : https://github.com/OSSIA/iscore-addon-presetstate

it's a state process (like javascript state) that reads its content from a file on the hard disk (instead of being in the save file). This allows to easily change it from the outside. It's a Blue Yeti request, mainly.

[2017-05-17 20:34] jcelerier commented on #462
That's more or less what the network player and distribution extension does

[2017-05-17 20:37] jcelerier commented on #143
I remember long, long, debates about this and this has already been shifted *twice* in i-score. Both cases have problems. for instance if the min goes before zero, then it would not easily be selectable here :

![min](https://cloud.githubusercontent.com/assets/2772730/26174974/62773cd8-3b51-11e7-8484-35ed922e6977.png)

[2017-05-17 20:39] jcelerier commented on #141
if it's enough, yes.

[2017-05-17 20:40] jcelerier commented on #120
yes; the input of an UX designer would be very welcome :p

[2017-05-17 20:41] jcelerier commented on #115
@bltzr : don't worry, they are still broken :p

however I'm questioning the relevancy of filtering by e.g. min / max. is this really necessary  ?

[2017-05-17 20:42] jcelerier commented on #103
quite free ?

[2017-05-17 20:47] jcelerier commented on #80
huhm, yes, this could be done. would it be removed if the value goes back to zero ? what if the curve have been modified with complex and intricate variations ?

[2017-05-17 21:50] jcelerier commented on #202
for now as a stop gap I disabled the saving / reloading; it will fit the whole score to the window instead. will get back to it when I have more time

[2017-05-17 21:55] #465 closed, assigned to nobody

[2017-05-17 21:56] #464 closed, assigned to nobody

[2017-05-18 06:02] bltzr commented on #36
AFAIK this is implemented and working now, so I'm closing the issue
no doubt we'll look into it in Bergen

[2017-05-18 06:03] bltzr commented on #41
is this still a problem ?
Maybe, we should add a field for the start and end values ?

[2017-05-18 06:03] bltzr commented on #46
yes, and more generally context-dependant mouse icons would be great. how hard is this @jcelerier ?

[2017-05-18 06:03] bltzr commented on #53
what about this ?

[2017-05-18 06:04] bltzr commented on #55
is that OK for you @jcelerier ? should that be postponed to 1.1 or is this something quick ?

[2017-05-18 07:28] jcelerier commented on #36
hmmm for me it's not quite finished. I'd like to have a "2D spline" process to make paths properly.

[2017-05-18 07:29] jcelerier commented on #41
they can be changed in the state, though

[2017-05-18 07:29] jcelerier commented on #46
not very hard

[2017-05-18 07:30] jcelerier commented on #46
the most important I think would be for someone to make a set of icons because currently they would look different on every system (and not all systems have the same set of icons)

[2017-05-18 07:30] jcelerier commented on #53
?

[2017-05-18 10:49] bltzr commented on #53
If nobody knows what this is about we should maybe close the issue?

[2017-05-18 10:51] bltzr commented on #80
I don't think anything should be removed, only added (in the worst case we just get a flat curve)

[2017-05-18 10:53] bltzr commented on #103
Well more or less everytime I've edited stuff while playing it was immediately taken into account

[2017-05-18 10:59] bltzr commented on #115
OK glad to know we have some bugs left ;-)

Filtering by min max is useless IMHO. Do we have filtering by tags? (Cannot check right now... But that would be useful)

Also did you get what I meant about taking the filters into account for recursive snapshots? Ie only those nodes that would be visible if all the nodes was expanded would be included in a state when drag'n'dropping... Does that sound

[2017-05-18 11:01] bltzr commented on #141
Well as I don't care about this, this is enough for me... So I'm closing the issue. If that's very important for someone, they should reopen it and set its milestone to 1.5

[2017-05-18 11:01] #141 closed, assigned to nobody

[2017-05-18 11:03] bltzr commented on #143
Yes that was me or less my point... I think it's OK as is

[2017-05-18 11:04] bltzr commented on #143
Can anybody say this to 1.5? That's not possible on github mobile version

[2017-05-18 11:08] nvuaille commented on #53
I'm not sure of what it means but came it from some questions about the timebar and the zoom:
 - timebar marks disapear when zooming
![first](https://cloud.githubusercontent.com/assets/5503180/26199440/4979f422-3bca-11e7-8e5c-12353c0a5697.PNG)
![second](https://cloud.githubusercontent.com/assets/5503180/26199438/49759c1a-3bca-11e7-94bb-1e84c7d3e312.PNG)

 - zoom max depends on fullview constrains

[2017-05-18 11:11] bltzr commented on #143
*set not say

[2017-05-18 11:57] bltzr commented on #102
Could we merge those maybe?

[2017-05-18 12:22] jcelerier commented on #53
I'm now pretty much convinced that it is not :p

Could we agree on a "maximum" zoom level ? how big should be one millisecond at most ? this would simplify sooooooooo many things

[2017-05-18 20:20] jln- commented on #205
+1

On 17 mai 2017 à 20:45 +0200, Pascal Baltazar <notifications@github.com>, wrote:

[2017-05-19 14:10] bltzr commented on #53
I’d say a few pixels (maybe like 5 or 10 ?) per ms at max zoom ?

does that sound like a good figure ?

[2017-05-19 14:11] bltzr commented on #46
@jln- do you feel in the mood for some cursor icon design ? (not necessarily today or next week though)

[2017-05-20 14:01] bltzr commented on #313
right, I didn't think about this.... thx

[2017-05-20 14:05] bltzr commented on #462
maybe also we shoud include the specs we have discussed for the pd version of the player, i.e. being able to create ramps or tweened interpolations on the fly, which would complete the ossia-pd feature parity with Jamoma4pd

[2017-05-20 14:22] bltzr commented on #235
gorgeous ! :-p

[2017-05-20 14:23] bltzr commented on #247
I'd say merged if they are already here, or added if they aren't

[2017-05-20 14:26] bltzr commented on #298
OK, thanks for the explanation

[2017-05-20 17:20] jcelerier commented on #55
hmm in hindisght it honestly seems a bit weird to merge. I fixed ctrl-v so that it would just paste new elements on click; merging can be another action accessible from the menus.

[2017-05-20 17:20] #55 closed, assigned to jcelerier

[2017-05-20 17:21] jcelerier commented on #69
I also think that this has been fixed a long time ago. Please reopen if it's not the case of course !

[2017-05-20 17:21] #69 closed, assigned to jcelerier

[2017-05-20 17:31] jcelerier commented on #198
I just pushed an implementation, but it feels really weird to me.

[2017-05-20 18:10] #427 closed, assigned to nobody

[2017-05-20 18:18] jcelerier commented on #205
isn't this the same as #429 ?

[2017-05-20 18:20] jcelerier commented on #463
for point 1 which color would you like ? I put this red-ish thing but I find it to be quite ugly...

[2017-05-20 18:27] #422 closed, assigned to nobody

[2017-05-20 18:28] jcelerier commented on #463
are you sure ? it works fine here.

[2017-05-20 18:31] jcelerier commented on #178
if there is the small minimap of the scenario, is this still necessary ?

[2017-05-20 18:32] jcelerier opened #466 "copy-paste issues"
object names seems to be invalid. also, prevent empty scripting names (revert to default)

[2017-05-21 20:38] #466 closed, assigned to nobody

[2017-05-22 07:44] jcelerier commented on #439
hmm.. en essayant de voir comment faire je suis pas sûr que cacher soit la bonne solution, surtout pour les interpolations : notamment, si par exemple on réalise la séquence d'actions suivantes:

* mettre des choses dans deux states (`/a 0` et `/a 1` ainsi que `/b 0` et `/b 1`  par ex.)
* interpoler avec l'addresse `/a`
* activer le tween
* sélectionner tout dans le state de début et supprimer

be

[2017-05-22 07:56] bltzr commented on #439
pour moi l’idéal serait qu’il y ait un ? quand il y a un tween (et quand on enlève le tween ça remette la valeur) - c’est envisageable, ça ?
sinon italique (très) grisé
opinions ?

[2017-05-22 08:17] bltzr commented on #463
yellow-ish maybe ?

[2017-05-22 09:02] pach commented on #439
Je dirai plutot italique grisé, qui est pas mal dans les codes de la plupart des logiciels quand des valeurs sont inactives.

Thomas Pachoud
www.creapach.fr

[2017-05-22 09:04] bltzr commented on #439
en même temps, ça donne l’impression qu’il y a une valeur, alors que le ? ça dit clairement (enfin, j’ai l’impression) que cette valeur est préelvée en direct… non ?

[2017-05-22 09:22] bltzr commented on #439
mais si vous êtes d’accord et que c’est plus simple le grisé, ça me va, hein...

[2017-05-22 11:13] jcelerier opened #467 "Device explorer: one tab per device ?"
I'm wondering more and more if the device explorer shouldn't have multiple tabs where a single device is shown per tab, instead of a big tree. Or maybe different tabs to categorize different kinds of devices :

* A tab for all the "network" devices such as OSC, etc..
* A tab for the local device
* A tab for the midi devices

because then it would allow more easily to, for instance, display all the

[2017-05-22 11:56] jcelerier opened #468 "Port Color gradient process to v2"
It would be nice to have a process that allows pretty gradient automations, à la [duration](http://www.trondlossius.no/system/photos/519/original/duration_screen.png). If someone feels like specifying it...

[2017-05-22 13:30] pach commented on #468
👍

[2017-05-22 17:43] bltzr commented on #429
duplicating #205 -> closing

[2017-05-22 17:43] #429 closed, assigned to nobody

[2017-05-22 17:44] bltzr commented on #198
OK I’ll try that and let you know

[2017-05-22 17:44] bltzr commented on #198
if other @OSSIA/users want to try that out too... some feedback would be helpful...

[2017-05-22 17:45] bltzr commented on #55
agreed

[2017-05-23 20:43] jcelerier commented on #456
hmm.. I am not able to reproduce it on a simple example. Could you tweak it in order to reproduce ?
[bug-tween.scorejson.txt](https://github.com/OSSIA/i-score/files/1023707/bug-tween.scorejson.txt)

[2017-05-23 22:07] jcelerier commented on #126
I'm all for going from tree to list, it would simplify a lot of things:

* Trees don't allow ordering messages by importance
* Trees don't allow having twice the same node

[2017-05-23 22:10] jcelerier opened #469 "[state inspector] Relationship between processes and states"
Currently, a process can put messages in the start and end state of the parent constraint.

However, this has some limitations :

* what if the process does not always return something on the same address ?
* what if the process is muted ?
* what if there is a [tween](https://github.com/OSSIA/i-score/issues/439) ?
* how should "state processes" (by lack of a better name) be handled ? currently the

[2017-05-24 09:55] jcelerier commented on #350
okay, this has been implemented in the API as "hidden", now we just have to make use of it in i-score

[2017-05-24 09:58] jcelerier commented on #36
actually this makes it a duplicate of #459 so closing this one

[2017-05-24 09:58] #36 closed, assigned to nobody

[2017-05-24 09:58] jcelerier commented on #53
okay, trying this

[2017-05-24 19:24] sensestage opened #470 "dependancy for Ubuntu 16.04"
Additional dependency on:
libavahi-compat-libdnssd-dev

And the qt install needs to be 571 instead of 57:

sudo add-apt-repository ppa:beineri/opt-qt571-xenial -y

[2017-05-24 19:24] sensestage opened #471 "Build error on Ubuntu 16.04"
Build fails at:

i-score/base/lib/iscore/widgets/SetIcons.cpp: In member function ‘std::size_t std::hash<std::pair<QString, QString> >::operator()(const std::pair<QString, QString>&) const’:
i-score/base/lib/iscore/widgets/SetIcons.cpp:13:19: error: no matching function for call to ‘qHash(const std::pair<QString, QString>&)’
     return qHash(p);

[2017-05-24 19:26] jcelerier commented on #470
thanks! looking on it. I think that they can be updated to use qt 5.8

[2017-05-24 19:28] sensestage commented on #470
with 5.8 the -dev packages were missing for Qt, when installing qt-latest, and not found by cmake.

[2017-05-24 19:36] jcelerier commented on #470
hm, the package should be `qt-latest` in all cases.

[2017-05-24 19:42] jcelerier commented on #470
I checked and updated the build instructions here: https://github.com/OSSIA/i-score/wiki/Build-and-install#ubuntu-1604

I could complete a build by copy-pasting them in a virtual machine.

[2017-05-24 21:26] sensestage commented on #470
ok, also newer versions of cmake and libboost...
building now

[2017-05-24 21:34] pchdev commented on #467
but maybe still have an overview of all devices (without details)?

[2017-05-24 21:53] sensestage commented on #471
with updated build instruction as in issue #470 it builds

[2017-05-24 21:53] #471 closed, assigned to nobody

[2017-05-24 21:54] sensestage commented on #470
Ok - it builds!
Thanks for the fast reactions!

[2017-05-24 21:54] #470 closed, assigned to nobody

[2017-05-25 18:17] bltzr commented on #198
I actually like it
though there's one weird thing: in the case below:
![mai-25-2017 20-14-52](https://cloud.githubusercontent.com/assets/113982/26464114/ebd50880-4186-11e7-87c6-a22d63662967.gif)
it feels very weird that both states (and the constraint) are selected - only the last state (and maybe the constraint) should be selected IMO (i.e. the first state should not be selected)

[2017-05-25 21:09] #198 closed, assigned to jcelerier

[2017-05-25 22:25] jcelerier commented on #463
what happen,s if there are multiple slots ? how are they resized ?

[2017-05-25 22:25] jcelerier commented on #103
let's close this and reopen new issues if problems arise.

[2017-05-25 22:25] #103 closed, assigned to nobody

[2017-05-25 22:26] #256 closed, assigned to nobody

[2017-05-26 07:03] bltzr commented on #463
you mean in the pattern ? I'd say yes.. Is that a problem ?

[2017-05-26 07:40] bltzr commented on #463
![mai-26-2017 09-37-36](https://cloud.githubusercontent.com/assets/113982/26485405/41785b28-41f7-11e7-8a6d-e72602655747.gif)

it doesn't work with the trigger button, just from the inspector...

[2017-05-26 07:45] jcelerier commented on #463
ah sorry I thought the problem was when pressing the actual trigger

[2017-05-26 08:24] bltzr commented on #53
did this make it into the minimap version ?

because here's my maximum zoom level for a 10 minutes scenario:

<img width="718" alt="zoom" src="https://cloud.githubusercontent.com/assets/113982/26486944/86dbcf6e-41fd-11e7-9e12-8056440e02a1.png">

[2017-05-26 08:30] bltzr commented on #467
that's certainly a good idea

though, I think it would be useful to have an "all" tab, so we can handle all devices at the same time when needed

[2017-05-26 08:31] bltzr commented on #126
okay

[2017-05-26 08:39] jcelerier commented on #53
not yet

[2017-05-26 10:09] #53 closed, assigned to theod

[2017-05-26 10:14] jcelerier commented on #437
closing due to minimap implementation, please reopen if issues arise

[2017-05-26 10:14] #437 closed, assigned to nobody

[2017-05-26 14:56] #202 closed, assigned to nobody

[2017-05-26 14:57] #454 closed, assigned to nobody

[2017-05-27 11:18] jcelerier commented on #463
@bltzr I don't understand "yes" about "what happens if there are multiple slots ? how are they resized ?"

Also what happens if someone manually resizes a slot ?
![zoom](https://cloud.githubusercontent.com/assets/2772730/26521028/ff6dc2e8-42de-11e7-83ba-da3ad9028d00.gif)

[2017-05-28 09:50] bltzr commented on #463
OK now I understand the problem
I have no solution (yet)

[2017-05-28 10:50] bltzr commented on #456
as of today, this is still happening
![mai-28-2017 12-48-24](https://cloud.githubusercontent.com/assets/113982/26528131/0cbe989e-43a4-11e7-9326-e186ca396866.gif)

[2017-05-28 11:00] bltzr commented on #456
the bug seems to happen when the interpolation is placed inside a sub-scenario

[2017-05-28 16:56] bltzr commented on #456
You can try with the attached examples - as demonstrated on the gif, there is a kind of leap at the end of the second interpolation when the value is changed by hand between the first and the second interpolation
I had other, similar-behaving bugs, that I cannot reproduce right but, hopefully, fixing this one will also fix the others...

![mai-28-2017 18-52-06](https://cloud.githubusercontent.com/

[2017-05-28 17:12] bltzr opened #472 "default drag'n'drop behaviors on constraints"
currently, when drag'n'dropping one (or several) addresses on an event, it creates a state with the values of those adresses - good, let's keep that!

when adding an automation or an interpolation to a constraint, we can drag'n'drop an address onto it, and that assigns this address to this automation/interpolation - also good!
also, it sets the start state (and first point of the automation) to th

[2017-05-30 13:35] jln- commented on #467
mm... Isn't that something we should let up to the users, using some filtering options we discussed in the past ? Assuming one can pin filtering resultats as a new tab (just thinking out loud)

[2017-05-31 08:45] jcelerier commented on #46
## To do :

* Look in the code for classes that have drag actions.
  * For instance : classes that inherit from QTreeView, QListView, such as DeviceExplorerView.
  * The documentation about this can be interesting to read : http://doc.qt.io/qt-5/model-view-programming.html#using-drag-and-drop-with-item-views
* Reimplement startDrag and push a new cursor with `QApplication::setOverrideCursor`
* Con

[2017-05-31 09:11] jcelerier commented on #87
## To do :

In the DeviceExplorer{Model,View} (and certainly also the StateInspectorWidget), delegates that match the various data types should be created, following this tutorial : http://doc.qt.io/qt-5/model-view-programming.html#a-simple-delegate

This could also be used to make a specific delegate for the boolean type that would fix #89 .

[2017-05-31 09:12] jcelerier commented on #289
## To do :

In the DeviceExplorer{Model,View} (and certainly also the StateInspectorWidget), delegates that match the various data types should be created, following this tutorial : http://doc.qt.io/qt-5/model-view-programming.html#a-simple-delegate

This could also be used to make a specific delegate for the boolean type that would fix #89 and special delegates for the range that would fix #87.

[2017-05-31 09:21] jcelerier commented on #455
## To do

Scenarios in small view are scenarios that are displayed in a TemporalConstraintPresenter.
The best way to do this imho is :

* In the LayerPresenter interface, add a virtual `setSmallView` function, or a `setView()` with a new `enum class LayerViewType { SmallView, FullView };` which could be later expanded. The default implementation should do nothing.
* In TemporalConstraintPresenter,

[2017-05-31 09:25] jcelerier commented on #433
## To do

### Constraint :
Currently, the overlay is shown in `ConstraintView::setSelected`.
This should be changed so that it is shown on `hoverEnterEvent` and hidden on `hoverLeaveEvent`.

### State
Currently, the overlay is shown in `StateView::setSelected`.
Likewise, it should be shown on the same methods (from `QGraphicsItem`) than `ConstraintView`.

[2017-05-31 09:30] jcelerier commented on #447
## To do

I think the simplest way to do this is is to set a false expression (with `State::defaultFalseExpression()`) in `Scenario::Command::CreateEvent_State::redo()`.

[2017-05-31 09:44] jcelerier commented on #379
## To do

Everything is handled in `UnitWidget`. Instead of working with `Unit` it should work with `DestinationQualifiers` instead (unit is just `rgb`, unit + destination qualifier is `rgb.r`).

Some code has to be added (likely a `on_unitChanged`) to update the combobox with the list of relevant qualifiers for this unit. The combobox should be disabled if it does not makes sense (e.g. for speed

[2017-05-31 09:45] jcelerier commented on #369
where would this menu be ?

[2017-05-31 15:11] jcelerier opened #473 "General considerations for the device explorer refactor"
## To do

- [x] Remove the "additional" columns of the device explorer: min, max, etc.
- [x] Create a new panel (c.f. [doxygen](https://github.com/OSSIA/i-score/tree/master/Documentation/Doxygen) & [tutorials](https://github.com/OSSIA/iscore-addon-tutorial/tree/master/Tutorial/Panel)); let's call it AddressPanel since it will show an address.
- [x] This panel should contain a class inheriting from

[2017-05-31 15:18] thibaudk opened #474 "recording automation seems to fail"
Wether it is for one parameter or 66 (as in the joined score when recording de Reaper device),
i-score starts lagging after a few seconds before eventually freezing.
Is it a bug or is there more to it than simply selecting what to record and choosing "record automation from here" in the score?

Also the recording dose not start when controlling a parameter through a mapping process.
Will try it wi

[2017-05-31 15:30] jcelerier commented on #463
fixed the trigger button problem

[2017-05-31 15:42] jcelerier commented on #474
hmm that's weird, I tried recording the whole Reaper device (for roughly 30 seconds) and I don't see any kind of freeze or even slowness.
Is reaper sending changes all the time, or only when a parameter actually changes ?

[2017-05-31 15:44] jcelerier opened #475 "Advanced recording facilities"
- [ ] Record in an existing box
- [ ] Record from a state
- [ ] Record the output of local processes
- [ ] Record MIDI data
- [ ] Record audio data

[2017-05-31 16:31] bltzr commented on #467
Yes, that sounds like a very interesting idea!

[2017-05-31 16:46] bltzr commented on #369
probably to the right of the two other dataspace menus, I'd say (which would make them smaller, but I guess that's OK)
<img width="356" alt="capture d ecran 2017-02-23 a 11 43 00" src="https://cloud.githubusercontent.com/assets/365923/23255855/617b83fa-f9bd-11e6-8292-eff3a61b8da5.png">

[2017-05-31 16:47] jcelerier commented on #369
okay, let's close this issue and continue in #379 because it's exactly the same

[2017-05-31 16:47] #369 closed, assigned to nobody

[2017-05-31 16:47] bltzr commented on #369
on the "Unit" line

[2017-05-31 16:47] bltzr commented on #369
okay

[2017-05-31 16:53] bltzr commented on #473
@jln- did some mockups for that:
![ecouzab](https://cloud.githubusercontent.com/assets/113982/26643671/5d42e212-4632-11e7-991f-3d24e111444a.png)
(yes, it's a little dark)

[2017-05-31 16:54] bltzr commented on #473
we also discussed adding a value-dependant widget (such as a colorbox for colors, a slider for values, etc...) just below the value row

Also, there are more mockups by Julien in https://www.dropbox.com/sh/94w1d8dnp7pagbg/AAD6xfL9hE1A8085w_q6dHL1a?dl=0

[2017-06-01 09:51] jcelerier opened #476 "Midi notes sometimes jump when resizing"
Certainly a rounding problem somewhere

[2017-06-01 11:40] jcelerier commented on #394
## To do

* In `TimeNodeInspectorWidget`, replace the `m_date` member (which is just a label) by a `TimeSpinBox`.
* When the date is changed, the command sent should be `Scenario::Command::MoveEventMeta` with the first event of the TimeNode.
* The widget should be disabled for the first timenode of the base scenario, the first timenode of a loop, and and the first timenode of a scenario.

[2017-06-01 11:44] jcelerier commented on #417
Actually if the device explorer changes, maybe it would be better to rethink how addresses are added ? I'm personnally less and less a fan of pop-up windows but I currently don't have better ideas...

[2017-06-01 11:47] pchdev commented on #474
when a parameter changes if I remember correctly

[2017-06-01 11:51] jcelerier commented on #397
tried for a bit but can't reproduce... closing for now

[2017-06-01 11:51] #397 closed, assigned to nobody

[2017-06-01 11:54] jcelerier commented on #377
this should have been fixed in the latest release ; at the very least I ran the scenario and could not notice anything blocking.

[2017-06-01 11:54] #377 closed, assigned to nobody

[2017-06-01 11:55] pchdev opened #477 "oscquery device 'disconnected' state should be more visible"
currently, the device's name is in italic when disconnected, which is not really visible in the device explorer. Maybe put it in red? or with some sort of highlight?

[2017-06-01 15:14] jln- commented on #46
Sorry, was away for the last 3 weeks.

Yep, I'll give it a try.

[2017-06-02 16:48] jcelerier opened #478 "Allow per-protocol customization of address settings widget"
e.g. for instance we don't want to show everything for all protocols, offer simpler UIs for specific protocols such as art-net or MIDI, ...

[2017-06-03 22:04] jcelerier opened #479 "Address creation widget broken"

[2017-06-04 15:11] jcelerier commented on #468
made a first test in git if someone wants to try (process is called gradient)

[2017-06-05 13:05] jcelerier commented on #459
Started an implementation in git. See process "Spline". For now it's for sending 2D trajectories only but it could be retrofitted to 1D with some additional work.

[2017-06-05 13:08] jcelerier commented on #459
## To do

- [ ] Handle tweening.
- [ ] Allow to set a min / max (currently `(0; 0) -> (1;1)`).
- [ ] Specify how to handle the speed progression across the curve.
- [ ] Maybe a 3D curve with [Qt3D](https://doc.qt.io/qt-5/qt3d-advancedcustommaterial-example.html) ?
- [ ] Process state
- [ ] Remove points
- [ ] Closed mode ? (e.g. last point is linked to the first)
- [ ] Visualisation of the executi

[2017-06-05 13:08] jcelerier commented on #468
## To do

- [ ] Handle tweening
- [ ] Handle rescaling w/ grow-shrink
- [ ] Handle a gradient past default duration.

[2017-06-05 15:41] bltzr commented on #459
re:  the speed progression across the curve
maybe it would be worth checking HoloEdit... I don't remember exactly how but there was a way to handle this there...

[2017-06-05 16:31] jcelerier commented on #459
one way to do it that @lossius told me is for instance to have an additional automation that controls the speed across the curve.

[2017-06-05 16:59] #479 closed, assigned to jcelerier

[2017-06-05 17:01] bltzr commented on #459
or maybe a curve for the "playhead-position" of the curve - this being a strictly 0. to 1. curve (like e.g. interpolations...) ??