[2018-06-18 21:47] #775 closed, assigned to nobody

[2018-06-19 08:04] bltzr opened #781 "time is doubled inside of loops when "playing from here""
this is a regression in v2

see in the screencast below, on the right side, v1b40, on the left, v2a4

![regr1](https://user-images.githubusercontent.com/113982/41584637-2016a42e-73a8-11e8-9dd1-451e9c886186.gif)

[2018-06-19 08:12] bltzr opened #782 "problem with value compilation in v2"
as demonstrated in the screencast below, there is a problem with value compilation in v2
on the right side, v1b40, on the left, v2a4

![compil2](https://user-images.githubusercontent.com/113982/41584924-e41a3d68-73a8-11e8-9604-0e55d64d987a.gif)

looking at the Max console, we can see that, in v1b40, the received value is always "AdAstra_-_Morse_Code.wav" while in v2a4, ± once on two (which ± corre

[2018-06-19 08:14] bltzr commented on #782
two precisions:
- I also tried on another parameter (the one displayed as VOL, aka ```/track.4/spat/volume```) and the same thing happens, so I guess that's not parameter-dependent
- I wondered at some point that this depended on the date at which the play from here was requested (as I'm moving my mouse on the demo in the previous comment) but I tried again without moving the mouse and the result

[2018-06-19 10:35] jcelerier opened #783 "crash on windows when closing a score while another is playing"

[2018-06-19 10:41] bltzr commented on #783
I think I already had this on Mac, too... maybe the scenario wasn't even playing

[2018-06-19 15:10] avilleret opened #784 "Mapping to one element of vec3f doesn't work"
An LFO plugged to a mapping with output address : `voxelstrack:/blob.1@[0]`
`voxelstrack:/blob.1` is a vec3f.
all coordinates moves together with the same value.
This sounds like a bug :-)

[2018-06-19 15:47] thibaudk commented on #784
It has been reported in

#716
and
#723

[2018-06-19 16:00] bltzr commented on #784
OK, so we can close this one, thanks @thibaudk

[2018-06-19 16:00] #784 closed, assigned to nobody

[2018-06-19 16:09] avilleret commented on #784
oups sorry for noise

[2018-06-20 07:03] evanmtp opened #785 "Using strings in trigger conditionals"
Currently, the conditional operators for triggers only accept numerical values. Would you consider allowing strings to control the trigger conditionals? I’m working on a project with a bunch of intervals that are not connected to the root time node, and are meant to be triggered from Max. It’d be nice to be able to trigger those intervals by sending their names to a parameter. It’d be especially n

[2018-06-20 07:10] evanmtp opened #786 "Crash when Tick policy is set to score-accurate"
When Tick policy (under Preferences -> Execution) is set to score-accurate and playback is started, Score crashes immediately. Tested on OS X 10.11.6 with Score 2.0.0-a4.

[2018-06-20 08:17] bltzr commented on #785
It works with strings actually but you have to put them in “quotes”

[2018-06-20 08:17] #785 closed, assigned to nobody

[2018-06-20 14:59] bltzr commented on #537
would that be solved by introducing the general time cursor ?

[2018-06-20 15:04] jcelerier commented on #537
yes

[2018-06-20 15:10] bltzr commented on #782
also, it would be great to output the parameter/value pairs by order of priority, if no priority has been set, then we use the order (implicitly) defined in the DE's tree

[2018-06-20 16:43] bltzr opened #787 "process header layout"
out port should be right-justified
currently it goes out of view from the right as demonstrated below

![portout](https://user-images.githubusercontent.com/113982/41672303-db9b0052-74b9-11e8-8102-73516fa45785.gif)

[2018-06-20 16:55] bltzr commented on #468
TODO, continued:
- [x] port to v2

[2018-06-20 17:03] bltzr commented on #468
port to v2 aka add a way to set an address to output the values

if it's possible to include some of the suggestions of #482 in the process, that would be great, but they can also wait, I guess

[2018-06-20 17:05] jcelerier commented on #468
uh ?
![color](https://user-images.githubusercontent.com/2772730/41673300-d7bf3806-74bc-11e8-9757-5e31e39cab37.gif)

[2018-06-20 17:08] bltzr commented on #640
I don't think I mentionned #480 but that be could helpful to review it in order to know how to create automations for single parameters

[2018-06-20 17:12] bltzr commented on #679
I guess we should do that as part of #356
for other, undetermined tuples (aka ```@type generic``` in Jamoma), I don't think it's necessary to self-inflict headaches on that

[2018-06-20 17:27] bltzr commented on #356
so, doing that would imply separating the ```list``` type into 2 different types, right ?

- ```list``` : would stay the same, i.e. just a bucket for putting whatever one likes into it (just like the ```generic``` type in Jamoma - there would be no way in score (as is currently the case) to set domains or range (BTW, then the clipmode could be just removed)

- ```tuple``` : would be a new type, wi

[2018-06-20 17:31] bltzr commented on #213
one part of it has been done with the ```transport``` parameter
the other one really isn't different from #241 so I'm closing this one

[2018-06-20 17:31] #213 closed, assigned to nobody

[2018-06-20 17:33] bltzr commented on #651
I agree with this, but in my experience, I always needed this for parameters like a "play" trigger for a sound file or such - was that the same for you, @pach  ?
if so, in my usage, at least, that's always parameters ```@access set``` - is it the same for you @pach ? also @jln- ?
if so, maybe we could only include parameters ```@access bi``` in the play from here ?

[2018-06-20 17:39] bltzr opened #788 "bug when trying to encapsulate a detached state with other objects"
as demonstrated below

this is a quite marginal case, I guess, but it can be a little  painful because that kind of "escapes" the undo process, so if there was some content in the desired encapsulation, it's lost forever

![encapsulate](https://user-images.githubusercontent.com/113982/41674966-a812aa5c-74c1-11e8-81e3-151effd1c8ef.gif)

[2018-06-20 17:42] bltzr commented on #648
this bug didn't make it into v2, so I'm closing the issue

[2018-06-20 17:42] #648 closed, assigned to nobody

[2018-06-20 17:46] bltzr opened #789 "automatically add a condition when creating a new event with alt-create ?"
this used to work in v1:
![v1-alt](https://user-images.githubusercontent.com/113982/41675305-a16a6e1e-74c2-11e8-9863-137069215c25.gif)

in v2, we have to manually add the condition afterwards:
![v2-alt](https://user-images.githubusercontent.com/113982/41675313-a7713dc4-74c2-11e8-8470-bd95f9b5c737.gif)

but maybe that's better this way, what do you think @jln- ?
IMHO, there's no reason to create an

[2018-06-20 17:47] bltzr commented on #789
though, in v1 I'm suspecting this created the problem described in https://github.com/OSSIA/score/issues/648 which won't be missed :-)

[2018-06-20 17:48] bltzr commented on #694
they don't have a condition anymore in v2, but I think they should definitely have a trigger, so I'm keeping the issue and changing its title

[2018-06-20 17:53] bltzr commented on #468
could you show the gradient process's inspector ?

here, I don't have any way to set the address:
![grad](https://user-images.githubusercontent.com/113982/41675661-93b8cb98-74c3-11e8-862a-85af55f826b4.png)
that's v2a4

[2018-06-20 18:04] bltzr commented on #675
that seems to work now - did you implement it @jcelerier, or was it some pixie that did it some hazy night ?
![root](https://user-images.githubusercontent.com/113982/41676175-060a475c-74c5-11e8-8fcc-b20329cc0b13.png)

anyway, this seems to be there, so I'm closing the issue, feel free to reopen if I was wrong

[2018-06-20 18:39] jcelerier commented on #675
no it's not done, you can't access the start and end state / start and end trigger of the root for instance

[2018-06-20 18:40] jcelerier commented on #468
yes, you have to click on the port to show its inspector (or drop an address on it from the device explorer)

[2018-06-20 18:43] jcelerier commented on #788
just in case, when you see "internal error", could you label them as crashes ? (even if score keeps running, when this happens the safest thing to do is to save the document as another one that the working one and close score - it means that something got corrupted pretty bad)

[2018-06-20 18:44] jcelerier commented on #356
actually there is a domain / range, it's just that it isn't shown in the UI...

Also this would be nice since it would map more closely to the OSC and OSCQuery semantics

[2018-06-20 20:12] bltzr commented on #788
OK that was relted to some previous bug, then I guess

[2018-06-20 20:12] #788 closed, assigned to nobody

[2018-06-21 08:10] bltzr commented on #468
so that's basically https://github.com/OSSIA/score/issues/774 that we need here

[2018-06-21 08:52] bltzr commented on #482
cherry-picked from #468

- [ ] Handle rescaling w/ grow-shrink
- [ ] Handle a gradient past default duration.

[2018-06-21 08:53] bltzr commented on #468
I didn't know about this: that's an interesting feature to document, I guess - @jln-

[2018-06-21 14:42] jln- commented on #789
Yes, I was surprised not to see a condition added but was not sure my memory was correct. Glad it was.

But I agree, at first thought, I need see a reason either not to add it.

[2018-06-21 23:47] jln- opened #790 "Crash when alt-clicking automation segment"
Reproducible on macOS 10.13.5 and Score 2.0.a4 (last online version).

Crash log attached.

https://gist.github.com/jln-/6d90928c960be0883adb67669872247c

[2018-06-22 08:33] ofersmi opened #791 "Dotted line"
Why does an automation become dotted (and stops spitting out values)? and how to undo that?
![image](https://user-images.githubusercontent.com/3447083/41766550-a3f5ef6e-7607-11e8-8d06-d78a051a1357.png)

[2018-06-22 08:39] jln- commented on #791
The automation is dotted when it is in 'easing mode' (that is when the previous state does not contain the parameter used in the automation).

This can be undone from the automation Inspector. Uncheck 'easing' checkbox

[2018-06-22 08:51] bltzr commented on #791
that’s it, except it’s called “tween"

[2018-06-22 09:04] ofersmi commented on #791
ho. ok . and tween doesnt work for now right?

[2018-06-22 09:19] bltzr commented on #791
it *should* work

at least, if your device can be queried for values, it should

at least, here on my machine, it does work with v2a4

![tween](https://user-images.githubusercontent.com/113982/41768959-08ca9380-760e-11e8-9961-299f44316474.gif)

[2018-06-22 09:20] bltzr commented on #791
this was with ossia-max (ie OSC-query)
I just tried with a plain OSC device and it also works

[2018-06-22 09:50] ofersmi commented on #791
Ok now I get it, tween is a sort of pickup mode, where ever your current value is it wil pickup from there and go to the value you animated!

[2018-06-22 09:51] bltzr commented on #791
ex.act.ly !

isn't it useful ?

[2018-06-22 10:00] ofersmi commented on #791
ho so very! love it!

[2018-06-22 10:36] jln- commented on #791
I just tried with a osc device and it actually does not work as in your screencap. Max Tween value is set to the maximum parameter value and not to the one stored in state

[2018-06-22 11:16] bltzr commented on #791
how did you create the automation/tween ?

because if you dropped the parameter from the DE, it doesn't add the current value to the end of the automation, that's a known issue: https://github.com/OSSIA/score/issues/659#issuecomment-348979042

[2018-06-22 11:17] bltzr commented on #659
as reported in #791 we still have this problem (which is a bit embarassing) :

doesn't work : it creates an automation from the min to the max value

[2018-06-22 11:18] jln- commented on #791
OK, that's how I did it. Sorry for noise

[2018-06-22 11:23] bltzr commented on #791
well, we should be sorry that it doesn't work the way it should, instead

can we close the issue, now ?

no problem anymore @ofersmi ?

[2018-06-22 11:24] bltzr commented on #791
How come you don't know every issue's comment by heart @jln- ?

[2018-06-22 12:11] ofersmi opened #792 "reorder children in device explorer"
Can we do that?
and copy paste?

[2018-06-22 12:12] ofersmi commented on #791
@bltzr  Yes we can

[2018-06-22 12:28] ofersmi commented on #791
and @jln- you should really work on memorizing every issue and comment... its not ok.

[2018-06-22 12:38] jln- commented on #791
I started doing so from the oldest one. Funnily, oldest open issue is: https://github.com/OSSIA/score/issues/41

[2018-06-22 14:01] bltzr commented on #792
nope, not yet
that's probably a reasonable feature, though

could you elaborate a little on the use cases where this would have been useful to you ?

[2018-06-22 14:42] ofersmi commented on #792
Its a matter of visual cleanliness-
If I need to add a child after I created all the others and its more related to the beginning of the list I get something like
pos4
amp
random
pos3
pos2
pos1
also I dont like creating the numbers from the end...
another example
now I need to make a cue list so Id like to keep them in order of playing...

[2018-06-22 15:24] bltzr commented on #792
makes perfect sense, thanks !

it's also interesting, because you assume that the messages will be output in the order in which they are displayed in the DE (which is also my case, and I find this convenient)

[2018-06-26 07:02] #790 closed, assigned to jcelerier

[2018-06-26 11:28] bltzr opened #794 "[doc] add a disclaimer on the interpolation doc that it's currently broken in v2"
on https://ossia.github.io/score/in_depth/interpolation_process/index.html

see #640

[2018-06-26 15:56] thibaudk commented on #719
The same problem reacures with the latest commit
41e003d487dcf74739577a8d4eb2a1134d33dc30
And can be fixed in a similar way adding

    find_library(Jack_LIBRARY NAMES jack)
     if(Jack_LIBRARY)
      target_link_libraries(ossia PUBLIC ${Jack_LIBRARY})
     endif()

at
https://github.com/OSSIA/libossia/blob/master/OSSIA/CMakeLists.txt#L286

Should this be added to this CmakeList.txt?

[2018-06-26 16:15] #794 closed, assigned to nobody

[2018-06-26 19:44] jcelerier commented on #719
hmm, the fix should be in the file FindPortaudio.cmake at line 106 : it's detecting whether portaudio has been compiled with JACK support : if that's the case, then score should be linked against JACK.

Could you try to add some debug messages in the FindPortaudio.cmake: for instance at line 105, add

    message("portaudio libs are : ${PORTAUDIO_LIBRARIES}")

and then add a check after the condit

[2018-06-26 19:50] bltzr commented on #794
hmmm... that's not very visible (I had to look for it)

could it be BIG ? and maybe RED ?

[2018-06-26 19:50] bltzr commented on #794
blinking would be the best, but you know...

[2018-06-26 20:29] jcelerier commented on #794
also [with some rainbows](http://www.dpgraph.com/) please @jln-

[2018-06-26 20:43] thibaudk commented on #719
This returns something a bit weird:

portaudio libs are : /usr/lib/x86_64-linux-gnu/libportaudio.a
-- Looking for PaJack_GetClientName in /usr/lib/x86_64-linux-gnu/libportaudio.a
-- Looking for PaJack_GetClientName in /usr/lib/x86_64-linux-gnu/libportaudio.a - not found
portaudio libs are : /usr/lib/x86_64-linux-gnu/libportaudio.a

and fails to build again,

Tested on Ubuntu Studio 18.04

[2018-06-26 20:47] jcelerier commented on #719
why doth thy gods hateth me

could you try replacing PaJack_GetClientName with PaJack_Initialize in the CMake ?

[2018-06-26 20:59] thibaudk commented on #719
same result on the cmake:

portaudio libs are : /usr/lib/x86_64-linux-gnu/libportaudio.a
-- Looking for PaJack_Initialize in /usr/lib/x86_64-linux-gnu/libportaudio.a
-- Looking for PaJack_Initialize in /usr/lib/x86_64-linux-gnu/libportaudio.a - not found
portaudio libs are : /usr/lib/x86_64-linux-gnu/libportaudio.a

trying to build again ...

[2018-06-26 21:37] thibaudk commented on #719
Yhea same problem

[2018-06-27 07:27] jcelerier commented on #719
wait my code is wrong

could you replace the line with :

      check_library_exists(${PORTAUDIO_LIBRARIES} PaJack_GetClientName "" PORTAUDIO_NEEDS_JACK)

by

      check_library_exists(portaudio PaJack_GetClientName "${PORTAUDIO_LIBRARIES}" PORTAUDIO_NEEDS_JACK)

[2018-06-27 11:39] bltzr commented on #779
this was implemented, isn't it @jcelerier ?

[2018-06-27 12:40] jcelerier commented on #779
yes but test it for a bit, I may have forgotten some cases

[2018-06-28 19:40] thibaudk commented on #719
Yes this worked! Thanks!

Sorry for the late reply.
Should I push this change?

[2018-06-28 19:46] jcelerier commented on #719
yes please !

[2018-06-28 21:11] thibaudk commented on #719
done

[2018-06-28 21:11] #719 closed, assigned to nobody

[2018-06-29 14:53] bltzr commented on #779
yes, there's are a few bugs:
- [ ] it's possible to move a slot from an interval to another one *only* by dropping the slot *between* the other slots. When trying to drop it above another slot, it doesn't work
- [ ] when dropping a slot to another interval, it's placed at the bottom, not where it's dropped
- [ ] also the visual (violet) cue doesn't happen when dropping to another interval
- [x] wh

[2018-06-30 20:05] evanmtp opened #796 "Drag multiple objects when they're group selected"
Intuitively I would expect that when you select a bunch of objects and then click + drag on one of them, all of the objects would move as a group. Currently, only the object that you actually click on moves. This can make rearranging complex scenarios laborious.

[2018-07-09 16:25] thibaudk opened #797 "'Upmix Channels' parameter only works for mono sounfiles"
With a mono soundfile, setting the 'Upmix Channel' parameter to N allows the signal to be propagated to N umber of outputs.

I imagine that the desired behaviour for a stereo file would be to route the first channel to the even numbered outputs up to N/2,
an route the second channel to the odd numbered outputs up to (N/2) + 1.

At the moment, the 'Upmix Channel' parameter works perfectly for mono

[2018-07-09 16:38] thibaudk commented on #770
I couldn't actually recreate it with a fresh build in a new linux install.
Must have been a conflict in my machine.

Sorry for the false alert

[2018-07-09 16:38] #770 closed, assigned to nobody

[2018-07-17 15:36] aliefhooghe opened #798 "Crash When Choosing Jack Audio Backend"
Score keep crashing when I choose Jack Audio Backend when (and only when) jack is started. I have this problem both with a homemade build on archlinux and with the AppImage release (a7) on Linux Mint.

[2018-07-21 20:37] petervanhaaften opened #799 "Sound File Processes Missing"
**Observed behavior:**
It is impossible to drag and drop an audio file into a scenario. Also, the 'sound file' process is missing from the process menu.

**Steps to reproduce**
1) Create a new score file.
2) Create a new scenario.
3) Drag an audio file into created scenario.

**Expected behavior**
When an audio file is dragged into a scenario, the scenario should show a visualized waveform.

**Ver

[2018-07-25 09:40] thibaudk opened #801 ""+" adds 2 sounfile with pop up window"
When adding a "Sound file" process with the pop up window, two instances are created if the side "+" button is used.

![vokoscreen-2018-07-25_11-31-36](https://user-images.githubusercontent.com/26526517/43192702-64e87772-8ffe-11e8-8263-b121b97079e0.gif)

this actually happens with every processes, but only Sound files and Javascript show up in different slots.
Using the side "+" buttons always cre

[2018-07-25 11:35] #801 closed, assigned to nobody

[2018-07-25 11:50] bltzr commented on #799
should be fixed with v2a8

[2018-07-25 11:50] #799 closed, assigned to nobody

[2018-07-25 16:00] jcelerier opened #802 "Factor Oracle : use ossia::value instead of char"

[2018-07-25 16:02] jcelerier opened #803 "Add ports to local tree"

[2018-07-26 21:30] thibaudk commented on #716
Awsome!!
This now works in the above example
on comit f2d45e56907cd004dc5950606131fee46b17e968

Will do further testing if needed but that seems to be fixed.
(is there a particular reason why this was reopened?)

[2018-07-26 21:50] jcelerier commented on #716
yes, interpolation process still does not work

[2018-07-26 22:34] thibaudk commented on #716
Oo yes that's true, the issue referenced both.
Mapping is all good then anyway!

Well done!

[2018-07-27 05:32] #767 closed, assigned to nobody

[2018-07-27 05:34] jcelerier commented on #781
fixed by OSSIA/libossia@e69bc19

[2018-07-27 05:34] #781 closed, assigned to nobody

[2018-07-27 05:35] jcelerier commented on #618
done

[2018-07-27 05:35] #618 closed, assigned to nobody

[2018-07-27 05:46] #771 closed, assigned to nobody

[2018-07-27 05:49] jcelerier commented on #748
has been fixed for some time, just setting MidiDevice:/ as output works now

[2018-07-27 05:49] #748 closed, assigned to nobody

[2018-07-27 06:44] #762 closed, assigned to nobody

[2018-07-27 06:44] #502 closed, assigned to nobody

[2018-07-27 06:49] jcelerier commented on #760
I implemented it (Object > Decapsulate), for now it will look a bit weird due to #349 though

[2018-07-27 06:49] #760 closed, assigned to nobody

[2018-07-27 08:02] #679 closed, assigned to nobody

[2018-07-27 08:05] jcelerier commented on #514
that's been done for a long time, let's open other issues for specific problems with the current implementation (I think there's already one)

[2018-07-27 08:05] #514 closed, assigned to nobody

[2018-07-27 08:07] jcelerier commented on #759
that's mostly a duplicate of #337

[2018-07-27 08:07] #759 closed, assigned to nobody

[2018-07-27 08:08] jcelerier commented on #802
@thibaudk thinking about it, this would not work easily since you have to pre-define an alphabet over which the factor oracle iterates

[2018-07-27 08:08] #802 closed, assigned to nobody

[2018-07-27 08:10] jcelerier commented on #688
intervals are here now, do we really want to show states ? there could be quite a lot

[2018-07-27 08:12] jcelerier commented on #670
since there is now a LFO process, I would propose a removal of the waveforms in automation since it's a bit buggy. @OSSIA/core  ?

[2018-07-27 08:55] jcelerier commented on #710
seems like it works correctly now

[2018-07-27 08:55] #710 closed, assigned to nobody

[2018-07-27 09:02] #791 closed, assigned to nobody

[2018-07-27 09:03] jcelerier commented on #473
the base for this is done, remaining work is adding more widgets for specific types, let's make other issues for this

[2018-07-27 09:03] #473 closed, assigned to nobody

[2018-07-27 09:05] jcelerier opened #805 "Provide additional relevant widgets for address panel"
- [ ] Color
- [x] Float / int : sliders
- [ ] ??

[2018-07-27 09:15] jcelerier opened #806 "Add a description in the add process dialog"

[2018-07-27 15:05] thibaudk commented on #771
Woks great on both vst's and the "working lv2's"
tested on Ubuntu 18.04

[2018-07-28 12:11] bltzr commented on #688
well it depends on the size of selection
IMO they are more important than syncs or events (especially when using "find usage"
a nice way to handle this would to be able to select which types of objects we find, eg. with checkboxes ?

[2018-07-28 12:12] bltzr commented on #670
👍

[2018-07-28 15:34] jcelerier commented on #670
I'll let this for a week and if no one manifests... off they go

[2018-07-29 12:01] jcelerier opened #807 "windows / ASIO : change both input and output to the same device at the same time"

[2018-07-29 17:55] jcelerier commented on #772
just pushed a partial fix : currently sound files were loaded twice (once in the editor and once in the execution), now they will be loaded only once

[2018-07-29 22:40] jcelerier commented on #774
that's done

[2018-07-29 22:40] #774 closed, assigned to nobody

[2018-07-29 22:41] jcelerier commented on #731
that's done

[2018-07-29 22:41] #731 closed, assigned to jcelerier

[2018-07-29 22:43] jcelerier commented on #689
does this still happen ? I tried to reproduce this configuration but I don't have gaps

[2018-07-30 08:24] bltzr commented on #774
hurray !

[2018-07-31 13:49] bltzr commented on #567
do we really need this now that we have drag'n'drop support and a menu to navigate between slots ?

[2018-07-31 13:49] bltzr commented on #567
and especially because it's labeled hard and would take some space

[2018-07-31 13:52] bltzr opened #808 "remove slot menu"
since everything can now be done by drag'n'dropping, I'd advocate for removing the slot menu - both from the header's handle on the right, and when right-clicking

this would leave only proper contextual menus when right-clicking, which IMHO is less confusing and also one less level of navigation to accomplish when trying to do something this way

what do you think @jcelerier @jln- ?

[2018-07-31 13:53] bltzr commented on #560
if we agree on #808 this can be closed altogether

[2018-07-31 13:56] jcelerier commented on #567
well, to be honest, I don't find this menu to be very pretty, nor accessible since it isn't really indicated anywhere. But tabs would indeed take up more vertical estate.

[2018-07-31 13:57] bltzr commented on #787
also, in ports should be left-justified

when scaling down, a policy proposal could be to first remove text labels, in the following order:
- O (for out port)
- I (for in port
- all other text labels (if any) than the process name
- the process name

here's a little GIF to illustrate the situation:
![image](https://files.gitter.im/OSSIA/K0wK/ports.gif)

[2018-07-31 13:58] jcelerier commented on #808
why not, I can always comment it out for now, and then if someone complains (or an action was actually needed) we can add it back.

[2018-07-31 14:00] bltzr commented on #808
that could be a good start

while you're at it, would it be easy also to remove the first level of the (remaining) contextual menu,
e.g. when right-clicking on an automation, we wouldn't have 'automation' at the first level, but directly Type, remove, etc... ??

[2018-07-31 14:01] jcelerier commented on #808
yes

[2018-07-31 14:02] bltzr commented on #567
maybe @aklevy can prettify it a little bit ? (she's quite good at that, usually ! ) and also make it affordable / indicated /advertised or whatever ?

[2018-07-31 14:02] jln- commented on #808
agree too !

[2018-07-31 14:12] bltzr opened #809 "move ports adresses to main inspector"
since ports are either:
- processes inputs or outputs (which are already accessible with an address field on most processes, aka automations, mappings, etc....)
- processes parameters

what if we removed the 'ports' tab (well, remove all tabs, and just keep a single inspector) and added a little widget to set the port's address on the side of the parameter ?
this widget could have the same design

[2018-08-02 13:54] bltzr opened #810 "clean doc folders and check their mentions in the doc"

[2018-08-02 13:56] bltzr opened #811 "include Examples Folder in releases + html doc"
it could be a separate zip or, better, added into a zip for each OS release

[2018-08-02 19:10] blueyeti opened #812 "remotely play/stop score tabs that are not in foreground"
when loading several scores, be able to play/stop any of them remotely by sending message to score local device, if scores have different input ports.

[2018-08-04 18:29] evanmtp opened #814 "Crash on load when using --autoplay flag"
I'm working with a Score device that's connected to two Minuit devices (namely, two separate ins`tances of Max). Recently it started crashing on load. After some testing I've narrowed the issue down to the autoplay flag. This is what gets printed in Terminal when the crash happens:

`
("/Applications/Score2.app/Contents/MacOS/plugins", "/Applications/Score2.app/Contents/MacOS../Frameworks/score/pl

[2018-08-04 21:09] evanmtp opened #815 "Label text disappears when interval is narrower than text"
If you have an interval with a label attached, and the width of the interval becomes shorter than the width of the label text in the timeline (either by shrinking the length of the interval or zooming out) the label text disappears. This makes it harder to see when things are labeled. If the text was clipped, as it is with Automation device headers, it would be better.

![label_disappears](https:/

[2018-08-05 06:52] jcelerier commented on #814
thanks, could you share the file you used ?

[2018-08-05 07:07] jcelerier commented on #812
hmm, so, thinking about this, there is a single problem I see: the original reason for which it's not possible to have multiple documents executing at the same time is that there could have been two devices with the same ports in two documents which would have caused a conflict.

I think that there should be a way to change the current behaviour to reuse the same devices across documents by storin

[2018-08-05 07:49] jcelerier commented on #814
nevermind, got it

[2018-08-05 08:12] #814 closed, assigned to nobody

[2018-08-06 08:39] blueyeti commented on #812
Ok. Meanwhile, another solution for me could be to have a message to put a score in foreground if several scores are opened, before sending play.

[2018-08-07 14:02] bltzr opened #816 "use HOST_INFO "name" value to name devices"
currently, it uses the zeroconf name, but it would be nicer to use the info provided by the HOST_INFO "name" field

[2018-08-07 19:22] evanmtp opened #817 "Timeline grid"
Having an optional grid for arranging elements in the timeline would help to keep things organized.  Something along the lines of the grid in Max could work well, with individually-controlled vertical and horizontal resolution and optional snapping.

[2018-08-12 22:23] #699 closed, assigned to nobody

[2018-08-14 13:02] jcelerier commented on #379
![units](https://user-images.githubusercontent.com/2772730/44093177-0881391c-9fd3-11e8-9b65-670b3c7cfa49.gif)

[2018-08-14 13:02] #379 closed, assigned to nobody

[2018-08-19 07:14] thibaudk opened #823 "OSCQuerry Comunicatiion is broken"
A couple issue of that sort arose since 2.0.0.a9 but I didn't get a chance to properly test.

With 2.0.0.a10, values sent to the device are not refreshed in the Device Explorer.
They only appear correctly after refreshing name spaces.

Setting values from the Device Explorer dosen't seem to have any effect.

Everry few seconds, the line "[error] HTTP: Connexion ré-initialisée par le corepondant" i

[2018-08-19 08:34] bltzr commented on #823
Is that with the latest version of libossia? (See latest score releases notes) Because some oscquery specs changed lately, and that looks like those recent changes didn't make it to both sides in your setup

I also had the http error, though, but IIRC that didn't prevent communication from working

[2018-08-19 18:17] thibaudk commented on #823
thanks, indeed, I didn't read the release notes.

With the latest version of ossia-pd, the device was found but score couldn't connect to it.
I'll upgrade the libossia dependencie for the other environments and continue testing.

[2018-08-19 19:51] bltzr commented on #823
We're a  in the middle of changes related to oscquery updates, so things will probably be slightly unstable for a little while (one month?), so, unless you want to help on that (which would be very welcome) I'd recommend using a9 and previous versions (and also previous libossia versions)

[2018-08-22 09:13] nicolight opened #824 "osc messages to score"
In order to control ossia score from osc I didn't find any instruction about how to proceed.
Pascal Baltazar answered that messages have to be sent on localhost 6666 (where do we setup this port?)
/play1 => play
/play0 => pause
/stop => stops and rewinds

He also said "You couldn't have guessed because we didn't document it " !!
so please it could be good to add a section in the documentation.
tha

[2018-08-22 10:08] bltzr commented on #824
Hi @nicolight thanks for reporting this.

This can be done by adding a Local device (ctrl/cmd-B), and setting the OSC port to the desired value as demonstrated below
![image](https://user-images.githubusercontent.com/113982/44457452-87e75e80-a603-11e8-95fd-0fcb2000484a.png)

Also, the messages are not `/play0`and `/play1`but `/play`with value `1`(for start/resume) and `0` (for pause). `/stop` is c

[2018-08-23 11:12] jln- commented on #824
Yes. Assigning this to myself to make an "How to" section in the doc

[2018-08-23 16:17] #816 closed, assigned to nobody

[2018-08-24 18:53] thibaudk opened #825 "min and max params for automation XY"
At the moment, X and Y can only range fro 0 to 1.

This is probably a duplicate but i couldn't find where.

[2018-08-25 07:06] jcelerier commented on #825
no I don't think it's a duplicate, but maybe we should make a single issue for features of this process ? (I made it very quickly as a test so it's fairly lacking)

[2018-08-26 08:13] jcelerier commented on #342
apparently it's the file browser which has to implement it : https://pointieststick.wordpress.com/2018/08/26/this-week-in-usability-productivity-part-33/

[2018-08-26 08:13] #342 closed, assigned to nobody

[2018-08-26 16:11] jcelerier commented on #356
see also OSSIA/API#418

[2018-08-30 14:55] bltzr commented on #670
it's been a month and no one manifested, so they should go - RIP and amen little waveforms !

[2018-08-30 15:16] #670 closed, assigned to nobody

[2018-09-03 13:53] evanmtp opened #826 "Adjustable time ruler resolution"
It'd be nice to have control over the resolution of time increments used in the time ruler. Perhaps this could be a dropdown/contextual menu with options, including e.g. real time (minutes, seconds, milliseconds), meter (beats, bars, ticks), frames (SMPTE timecode), etc.

[2018-09-04 14:08] evanmtp commented on #786
Still an issue in 2.0.0-a13. Crash report:

Process:               score [30580]
Path:                  /Applications/score2a13.app/Contents/MacOS/score
Identifier:            org.score
Version:               2.0.0-a13 (2.0.0-a13)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           score [30580]
User ID:               501

Date/Time:             2018-09-04

[2018-09-05 14:14] jcelerier commented on #823
should be ok now ?

[2018-09-05 18:30] thibaudk commented on #823
Cheers!
I am sure it' works great.
just having trouble building supercollider with boost 1.67 and lincking it to libossia.
@pchdev  proposed to rethink ossia-supercollider's implementation for more stability in the long run.
will get to it soon as.
for now this can be closed, tests will reveal their need for more specific issues, if any.

Well done!
Keep up the good work

[2018-09-05 18:30] #823 closed, assigned to nobody

[2018-09-07 18:30] thibaudk opened #827 "the 'Values' attributes aren't shown or updated in the Device Explorer"
Only an empty array [ ] or an array of empty arrays [ [ ], [ ], [ ] ] can be seen.
tested on d62287f

[2018-09-07 18:52] bltzr commented on #827
this was tested with ofxOScQuery example-singleServer (NB, VALUES are seen from the JSON (in OSCQuery Browser.app)

[2018-09-09 10:44] nicolight opened #828 "double clic"
Silly question : when I double clic on an event, it opens it.
How do I come back to the global view of the entire timeline?

[2018-09-09 11:15] bltzr commented on #828
you can either:
- click in the path on the main interval header
- ctrl/cmd + up arrow

[2018-09-09 11:17] bltzr commented on #828
closing the issue
 also, could you ask those kinf of questions on the [forum](http://forum.ossia.io/c/score) instead ? (so we can leave that as a resource for other users)
issues are generally for tasks (bugs, or feature requests), so they get closed once the problem is fixed, and in this case, the info (which might be useful for others) gets lost

[2018-09-09 11:17] #828 closed, assigned to nobody

[2018-09-09 15:14] nicolight commented on #828
I use score 1.0.0-b38 on windows.

It doesn’t work with arrows: ctrl+arrow gives the same result that arrow key: it moves the contents.

But I hadn’t realized the names were a clickable path !

thanks
kind regards
Nicolas

De : Pascal Baltazar [mailto:notifications@github.com]
Envoyé : dimanche 9 septembre 2018 13:15
À : OSSIA/score
Cc : nicolight; Author
Objet : Re: [OSSIA/score] double clic (#82

[2018-09-09 15:36] jcelerier commented on #828
I think that this only implemented in 2.0 and later. Thanks to you for the report :)

[2018-09-09 15:38] jcelerier commented on #828
@jln- maybe this can be put in the doc (the cmd-arrow stuff) ? https://ossia.github.io/score/in_depth/scenario_process/index.html

[2018-09-09 16:59] nicolight commented on #828
Sure! but it does not concern scenarios only so it could be better to put it in the first steps…

regards.

Nicolas

De : Jean-Michaël Celerier [mailto:notifications@github.com]
Envoyé : dimanche 9 septembre 2018 17:38
À : OSSIA/score
Cc : nicolight; Author
Objet : Re: [OSSIA/score] double clic (#828)

@jln- <https://github.com/jln->  maybe this can be put in the doc (the cmd-arrow stuff) ? https:

[2018-09-10 07:33] jcelerier commented on #201
seems like it has been fixed at some point

[2018-09-10 07:33] #201 closed, assigned to nobody

[2018-09-10 07:45] #303 closed, assigned to nobody

[2018-09-10 11:19] jcelerier commented on #798
is it still the case with the latest release ?

[2018-09-10 11:41] jcelerier commented on #682
is it still the case ?

[2018-09-10 11:42] jcelerier commented on #689
closing due to lack of reproducibility

[2018-09-10 11:42] #689 closed, assigned to nobody

[2018-09-10 11:44] jcelerier commented on #299
seems like it's fine now

[2018-09-10 11:44] #299 closed, assigned to nobody

[2018-09-10 11:47] jcelerier commented on #635
now it works

[2018-09-10 11:47] #635 closed, assigned to nobody

[2018-09-10 11:50] jcelerier commented on #613
done

[2018-09-10 11:50] #613 closed, assigned to nobody

[2018-09-10 11:51] jcelerier commented on #587
closing due to lack of activity

[2018-09-10 11:51] #587 closed, assigned to nobody

[2018-09-10 11:55] jcelerier commented on #419
seems like it's done

[2018-09-10 11:55] #419 closed, assigned to jln-

[2018-09-10 12:01] jcelerier commented on #825
actually yes, it was a duplicate of https://github.com/OSSIA/score/issues/459

[2018-09-10 12:01] #825 closed, assigned to nobody

[2018-09-10 12:02] jcelerier opened #829 "library: load processes as presets"
currently when dropping it will add a new process, if we drop on a process of the same kind we certainly want to replace instead

[2018-09-10 12:04] jcelerier commented on #701
looks like it's not crashing anymore in newer releases

[2018-09-10 12:04] #701 closed, assigned to nobody

[2018-09-10 13:04] bltzr commented on #829
that would seem reasonable, yes

[2018-09-11 07:16] thibaudk opened #830 "no matching function for call to QMetaObject"
commit 10afd5e
produces de folowing error on Ubuntu 18.04
[code]

[2018-09-11 07:54] jcelerier commented on #830
oh :[ sounds like 18.04 is on qt 5.9. I'll push a fix asap.

[2018-09-11 07:56] jcelerier commented on #830
done

[2018-09-11 07:56] #830 closed, assigned to nobody

[2018-09-11 12:03] thibaudk opened #831 "linker error on Ubuntu 18.04"
on commit cb4dc3b
ld returns an error uppon linking "Integration_SerializationTest"

[code]

even with INTEGRATION_TESTING set to OFF in the CMake, "Integration_SerializationTest" is always built, but fails to link

I manage to build score a couple days ago on the same config so i'll try to find the commit where this starts to occure

[2018-09-11 13:34] aliefhooghe commented on #798
Not at all !!

[2018-09-11 13:38] jcelerier commented on #798
alrighty then !

[2018-09-11 13:38] #798 closed, assigned to nobody

[2018-09-11 17:43] thibaudk commented on #831
on commit  994e5f6

with
"-DSCORE_CONFIGURATION=static-release"
added in the cmake cofiguration
and
make all_unity
as suggested in
https://github.com/OSSIA/score/wiki/Build-and-install/_compare/a4d6384%5E...a4d6384#diff-598d32d2d39f3fb1012d7270323a51f9L39

the error now only occurs in the final stage of lincking and regards the "--threads" option
[code]

[2018-09-12 10:57] jcelerier commented on #831
should be fixed now

[2018-09-12 12:27] thibaudk commented on #831
Yes all good!
Well done!
Thanks

[2018-09-14 13:07] aliefhooghe opened #833 "crash when deleting a device"
This crash happen for osc_query device, joystick and wiimote. I haven't tested other protocol at all, and thus maybe other device type have the same issue.

The crash can be reproduced by following theses instructions :
- Create the device
- Unfold the parameter tree at least one time (without this, the crash doesn't happen)
- Remove the device

This will cause a deadlock exception.

Note than I s

[2018-09-14 14:03] thibaudk opened #834 "crash when changing speed of looped Automation(XY) process"
It's verry specific and I haven't been able to reproduce it with any other processes.

It occurs when reaching the end of a state containing an Atomation(XY) inside a loop.

No problem at normal x1 speed.
above or below, even with negative speeds, sore crashes when either the closing or the starting state is reached.

[2018-09-14 14:06] jcelerier commented on #834
thanks for the report

[2018-09-14 19:08] #833 closed, assigned to nobody

[2018-09-14 19:18] jcelerier commented on #833
so, for the record, this is what was happening : (to understand I had to put a breakpoint on the throwing of exceptions - I did it through my IDE but in gdb / lldb it's a simple `catch throw`).

- the device is removed: `generic_device::~generic_device()`
- the mutex at generic_device.cpp:36 is locked because the device structure is being changed
- childrens are being removed recursively, every ti

[2018-09-14 19:19] jcelerier commented on #833
the solution is simply to run the code in score asynchronously instead of synchronously: this way, the mutex has been unlocked and the node (in the libossia side) removed, thus no risks of crashes.

[2018-09-14 20:58] jcelerier commented on #460
this now works :)

[2018-09-14 20:58] #460 closed, assigned to nobody

[2018-09-14 21:04] #834 closed, assigned to nobody

[2018-09-14 21:35] jcelerier commented on #673
seems to work now

[2018-09-14 21:35] #673 closed, assigned to nobody

[2018-09-14 21:37] jcelerier commented on #639
should be ok now, this has been redone completely

[2018-09-14 21:37] #639 closed, assigned to nobody

[2018-09-14 22:24] #638 closed, assigned to nobody

[2018-09-14 22:36] thibaudk commented on #831
the linker error is back since
f748524

weirdly, the branch that was merged in this commit builds fine
https://github.com/aliefhooghe/score

[2018-09-15 08:08] jcelerier commented on #831
ah indeed, the submodule was to the wrong commit. @aliefhooghe <_<

[2018-09-15 11:56] dewiweb opened #836 "can't launch AppImage V2 due to QT5 version"
I'm on linuxmint 19 and when I try to launch AppImage V2

[2018-09-15 12:17] thibaudk commented on #831
Aah that was it.

Perfect!

Thanks!

[2018-09-15 12:17] #831 closed, assigned to nobody

[2018-09-15 12:59] jcelerier commented on #836
can you try this one ? https://ufile.io/cr3kw

thanks !

[2018-09-15 13:35] dewiweb commented on #836
It seems to be OK!
What's the differences betwwen official version and this one?

[2018-09-15 13:59] jcelerier commented on #836
well, the official one had a bug :p
basically, appimages contain a mini-filesystem with the necessary libraries (you can look inside it by running `./score.AppImage --appimage-extract`, it will be in the folder squashfs-root).

I forgot to add (or rather, I removed at some point for some reason) the LD_LIBRARY_PATH=lib in the script which is launched at the start of the AppImage (the AppRun at the

[2018-09-15 13:59] #836 closed, assigned to nobody

[2018-09-17 07:52] aliefhooghe commented on #833
Thanks for explanation !

[2018-09-24 15:19] jcelerier opened #838 "DMX: support import from existing fixture format"
e.g. https://open-fixture-library.org/

[2018-09-26 06:24] thibaudk opened #839 "audio child and siblings don't save config"
When creating a new child or sibling in the audio device,
refreshing the namespace reverts the routing matrix back to default.

Also would it be possible for stereo and other multichannel files to output to consecutive Out ports?
ie : setting a 4 channel track to output to audio/out/1 routes chan 1 to audio/out/1, chan 2 to audio/out/2 ...
this would help make better use of individual port gain co

[2018-09-29 07:11] #839 closed, assigned to nobody

[2018-09-29 10:33] #495 closed, assigned to nobody

[2018-09-30 15:25] jln- opened #840 "Crash when pressing stop button"
As title says, Score b22 & b23 crash when stopping scenario.

NB: note sure how is it related or not but when recovering after crash, I get a f****** nasty noise when Score launch and ask whether I want to recover scenario. Noise stops when I click yes or no.

[code]

[2018-10-02 11:45] jcelerier commented on #840
fixed in master, I'll make a release this afternoon

[2018-10-02 11:45] #840 closed, assigned to jcelerier

[2018-10-03 09:00] thibaudk opened #841 "unit.orientation.euler is a Vec4f but only pitch, roll & yaw are accesible parameters"
This can be seen when creating the ossia parameter externaly and exposing it through OSCQuery or
by creating an OSC parameter direcly in the device explorer and setting it's unit as euler in the edit window.

[2018-10-03 11:33] bltzr commented on #841
it should be a vec3f (and pitch, roll & yaw are the only parameters)

http://ossia.github.io/libossia/html/classopp_1_1node.html#abe8954fca7c67f310b91ac91e8986295

[2018-10-03 15:34] thibaudk opened #842 "new linker error on Ubuntu 18.04"
This has been tested both before and after recent binutils and g++ update with a fresh clone

[code]

the Scrt1.o does exist in /usr/lib/x86_64-linux-gnu

[2018-10-04 14:05] bltzr commented on #782
this is still not working, [here is a scenario](https://www.dropbox.com/s/l6k9gzchpqpfgrf/testPlayFromHere.score?dl=0) demonstrating it, which one should test with [this ofApp](https://www.dropbox.com/s/ckxlwmwhc46vayn/example-singleServerDebug.zip?dl=0)

[2018-10-04 14:06] bltzr commented on #782
BTW, vAlue compilation is on (and also tranport compilation, and I even tried with score order, but nothing helps)

[2018-10-04 14:19] bltzr opened #843 "values are duplicated when updating a state from a sequence"
as shown in the attached gif, when a state is part of a sequence and one tries to update the values of a multidimensional parameter, the values are updated as duplicates, with single values, one per accessor (and the previous multidimensional value does not change)
NB: when a state is not part of a sequence, the values update correctly
 I guess this is related to the fact that curves are done for

[2018-10-04 20:57] #841 closed, assigned to nobody

[2018-10-05 10:22] jcelerier commented on #842
is it still the case ?

[2018-10-05 10:22] jcelerier commented on #807
should be ok

[2018-10-05 10:22] #807 closed, assigned to nobody

[2018-10-05 11:53] thibaudk commented on #842
Yes, just tested again with a fresh clone

[2018-10-05 14:15] #803 closed, assigned to nobody

[2018-10-05 15:40] thibaudk commented on #842
Just tryed again with commit 740ec8f63530414a92b77e1afa994ef21fb166b4
and libossia on the master branch commit af7eebd093a0eeddee9da3a8c82ec278ee20df33

And it WOKS!!

Cheers!

[2018-10-05 15:40] #842 closed, assigned to nobody

[2018-10-05 16:20] thibaudk opened #845 "not possible to "Remove" Devices anymore"
the option remains constantly grey in the drop down menu when right clicking on a Device

Tested on Ubuntu 18.04 with commit 740ec8f63530414a92b77e1afa994ef21fb166b4

[2018-10-05 21:08] bltzr commented on #803
🥇

[2018-10-06 00:04] thibaudk opened #846 "segmentation fault related to the local tree"
* crash when editing (simply creating a new interval)
with the local device deployed in the Device  Explorer.

![vokoscreen-2018-10-06_02-02-39](https://user-images.githubusercontent.com/26526517/46565062-0413d800-c90c-11e8-9b18-6166e806f0a2.gif)

Also, neither processes nor states can affect parameters of the local tree any more.

[2018-10-06 07:30] jcelerier commented on #842
that's... really weird, I didn't change anything related to this so I think that there might be a problem somewhere else on your machine

[2018-10-06 07:31] jcelerier commented on #846
investigating, but that's beyond weird : I was changing stuff yesterday exactly because I noticed that sending messages to the local tree wasn't working (e.g. having a state changin a LT value).

[2018-10-06 08:09] #845 closed, assigned to jcelerier

[2018-10-06 17:23] thibaudk commented on #846
since last commit, the crash now only happens upon deleting groups of intervals, states and syncs

with an error message that I don't realy know hwo to translate:
"Trappe pour point d'arrêt et de trace (core dumped)"

![vokoscreen-2018-10-06_19-21-47](https://user-images.githubusercontent.com/26526517/46574003-34f01d80-c99d-11e8-8dc3-e8908124929d.gif)

[2018-10-06 20:56] jcelerier commented on #846
actually in this case it's not the local tree which causes problem, opening another issue to track it

[2018-10-06 20:56] #846 closed, assigned to nobody

[2018-10-06 20:56] jcelerier opened #847 "crash when removing an event with multiple states"

[2018-10-06 21:07] #847 closed, assigned to jcelerier

[2018-10-08 06:21] thibaudk opened #849 "local tree doesn't respond to values sent from scenario anymore"
weather I try to send a pulse to a sync's trigger or set the speed of an interval with an automation, values are shown to be updated in the "local" Device but nothing happens in the scenario.

It still works when manually setting these values in the local tree tho.

[2018-10-08 09:07] thibaudk commented on #849
solved by 7e32c3f576d0d3f64af417725441c88463723ec1

[2018-10-08 09:07] #849 closed, assigned to nobody

[2018-10-08 13:19] thibaudk opened #850 "crash when removing a Device after adding another Device"
![vokoscreen-2018-10-08_15-07-17](https://user-images.githubusercontent.com/26526517/46610852-3db33180-cb0c-11e8-80e6-a3ec65e18d61.gif)

This seem to happen with any combination of Devices (OSCQuerry/local, OSC/MIDI ...).

[2018-10-08 13:49] thibaudk opened #851 "Crash when editing "Children" in the Audio Device"
the default is stereo in,
any changes, or none, causes a crash when clicking "ok"

[2018-10-08 14:25] #850 closed, assigned to nobody

[2018-10-08 14:47] #851 closed, assigned to nobody

[2018-10-08 16:36] #827 closed, assigned to nobody

[2018-10-08 16:36] jcelerier commented on #806
description is now shown in the library - at some point, the "add process" dialog should go away imho

[2018-10-08 16:36] #806 closed, assigned to nobody

[2018-10-08 16:47] #674 closed, assigned to jln-

[2018-10-08 16:48] jcelerier commented on #674
I implemented the same behaviour than in other sequencers: no more "pause" icon, the play icon just becomes lighted when it's playing

[2018-10-08 16:49] jcelerier commented on #682
bump

[2018-10-08 17:07] jcelerier commented on #702
with all the drag'n'drop possible nowadays, is this still necessary ?

[2018-10-08 17:28] #738 closed, assigned to nobody

[2018-10-08 17:35] jcelerier commented on #636
just checked and it works as expected: select a condition (by clicking on it) and press delete (or backsapce on mac I guess)

[2018-10-08 17:35] #636 closed, assigned to nobody

[2018-10-08 19:41] thibaudk opened #852 "crash hwen leaving a blak index in an OSCQuerry Vec_3f"
![vokoscreen-2018-10-08_21-40-29](https://user-images.githubusercontent.com/26526517/46629941-df557580-cb42-11e8-91dd-7332b75963b6.gif)

Hope this isn't simply an issue for my Device
or
could this be because ossia-supercollider is build with boost_1_65_1 against score's boost_1_67_1

here is the log after the crash

[code]

[2018-10-08 21:50] thibaudk commented on #852
the crash also occurs with @bltzr ofxOscQuerry's [examples](https://github.com/bltzr/ofxOscQuery/tree/master/example-singleServer)

[2018-10-08 22:21] #852 closed, assigned to nobody

[2018-10-09 13:28] thibaudk opened #853 "Vec_nf wihout units are seen as "List""
When removing the unit of a Vec_nf in an OSCQuerry Device, score recognizes the parameter as a "List" and not a Vec_nf anymore.

[2018-10-10 00:42] composingcap opened #854 "Trigger parameter will not change"
I have been attempting to change a trigger parameter from the default and it will not change.  I have tried changing it in the GUI and in the edit dialog.

OS: Mac 10.13.6
Score: 2.0.0.0 a23

[2018-10-10 08:08] jcelerier commented on #854
looking into it, thanks for the report !

[2018-10-10 08:46] #854 closed, assigned to jcelerier

[2018-10-10 10:14] pchdev opened #855 "[ conditions ] issues with 'equal-like' operators"
score 2.0.0 a23, macOS

I can't set conditions with the  '=', '!=', '>=', '<=' operators, expression is not accepted
'>' and '<' operators work fine though

tested with both a float and and int parameter

![score-equality-issue](https://user-images.githubusercontent.com/9993105/46729171-e08ebb80-cc84-11e8-9fb9-f2ff1d1a7a52.png)

[2018-10-10 10:21] jcelerier commented on #855
#854 ;p

[2018-10-10 10:21] #855 closed, assigned to nobody

[2018-10-10 10:21] jcelerier commented on #855
I'll be pushing a release today as soon as everything builds

[2018-10-10 10:34] pchdev commented on #855
ow, okay, sorry, forgot to pull today.. :>

[2018-10-11 14:18] thibaudk opened #857 "Turning a process off only works when playing"
If a process is turned-off before playing,
it is working regardless,

![vokoscreen-2018-10-11_16-45-21](https://user-images.githubusercontent.com/26526517/46810272-95ea6d80-cd70-11e8-88b6-f87e3547b65e.gif)

A process can only be properly turned-off when score is currently playing.

also, when turning off a scenario while playing, all encapsulated processes are muted but states are still evaluated.

[2018-10-11 17:15] jcelerier commented on #347
https://github.com/OSSIA/score-user-library/blob/master/Devices/Mapper/Mapper.qml should be useful for this !

[2018-10-12 03:43] composingcap opened #858 "Events do no trigger on stop"
Values I place at the end node of the score do not change when I press the stop button.

[2018-10-14 08:42] jcelerier commented on #858
could you send a small score along with the behaviour you expect to happen ? (from your description everything happens as expected - the score is not supposed to change in any way when you press play / stop / something else). Thanks !

[2018-10-14 13:55] composingcap commented on #858
When the score starts, max's dsp should turn on (which happens) and when it stops, the dsp should stop.  When I stop the score the parameter does not change on my machine.

[StartStopScore.zip](https://github.com/OSSIA/score/files/2476458/StartStopScore.zip)

I am using score 2.0.0.a24 and max 8 on mac osx 10.13.6

[2018-10-15 12:15] jcelerier commented on #858
@OSSIA/core apparently this had never been implemented, has it just been forgotten or are there reasons for the current behaviour (not sending the last state of the top interval of the document on stop) ?

[2018-10-15 12:17] jcelerier commented on #857
hmm that's weird, I don't have the same behaviour on my machine

[2018-10-15 12:18] jcelerier commented on #857
yep, I would say so

[2018-10-15 15:13] thibaudk commented on #857
Just tested with commit d2cd6db
The problem persists on Ubuntu 18.04

[2018-10-15 15:16] jcelerier commented on #857
you also need 19997acb9785bdaa43e7a9264506fe2397db847c on score

[2018-10-15 15:39] thibaudk commented on #857
Perfect! that fixed it.
Cheers!

[2018-10-15 15:39] #857 closed, assigned to jcelerier

[2018-10-15 16:13] bltzr commented on #858
I guess that has been forgotten
@jln- did you try to do this ?

[2018-10-15 17:29] thibaudk opened #859 ""description" is doubled up in te device explorer"
adding a description to an OSSIA_parameter also adds a new, unnecessary "description" space at the botom of the device explorer window.

![capture d ecran_2018-10-15_19-22-00](https://user-images.githubusercontent.com/26526517/46967063-b89dbe80-d0af-11e8-9e85-b1f4f41adfd9.png)

It is also not possible anymore to add a description to a "container" node,
only parameter's descriptions appear in score

[2018-10-15 17:33] thibaudk commented on #859
Just noticed that "Tags" can also have an empty duplicate as shown in the picture above

[2018-10-18 17:13] #858 closed, assigned to jcelerier

[2018-10-18 21:01] #808 closed, assigned to nobody

[2018-10-18 21:01] #560 closed, assigned to nobody

[2018-10-30 08:44] blueyeti opened #861 "Minuit not working in v2.0.0-a23 and v2.0.0-a24"
test with jamoma - Max/MSP, mac and windows

to reproduce open j.minuit_device.maxhelp of the max/MSP jamoma package, and create minuit device in score with default settings. the device is created empty, as il max was not opened.

[2018-10-30 09:07] bltzr commented on #861
you just need to change `@remote/name` to "score"
this should be updated in Jamoma's package (maybe create an issue for that, and assign it to @jln- ?)
definitely not a score bug

[2018-10-30 09:07] #861 closed, assigned to nobody

[2018-11-02 10:47] bltzr commented on #782
it works ! Thanks @jcelerier !!!!

[2018-11-02 10:47] #782 closed, assigned to jcelerier

[2018-11-02 10:54] bltzr commented on #468
just tried with a rgba8 color param from this [ofApp](https://www.dropbox.com/s/ckxlwmwhc46vayn/example-singleServerDebug.zip), and the values were not scaled to the 255 range
so I'm reopening

[2018-11-02 10:59] bltzr commented on #779
there are still 3 sub-items from the last comment - should we move this back into the TODO ? Or are those hard to implement and I should tag this for a future version ?

[2018-11-02 11:12] bltzr commented on #688
I think we should have states - we could hide Syncs and Events (or better, fold them and leave the possibility to the user to unfold them)

Mmy impression is that this is particularly useful with Find usage, and in this case we're usually looking for processes or states containing particular parameters, so yes they should definitely appear

[2018-11-02 11:12] jcelerier commented on #779
no, all of this is doable with a bit of time

[2018-11-02 11:18] bltzr commented on #650
also, if we could add a simple shortcut (such as Tab) when selecting a (set of) node(s) from the DE, that would be FAB !

[2018-11-06 17:39] jcelerier commented on #346
would the current "Mapper" device be enough to cover this FR ? (reminder of how it works : https://github.com/OSSIA/score-user-library/blob/master/Devices/Mapper/Mapper.qml)

[2018-11-06 17:41] jcelerier opened #862 "ability to access the parent object from JS scripts"
e.g. the interval, the state, the effect chain. Ideally it should be possible to access the parent's parent recursively.

[2018-11-06 18:08] thibaudk commented on #862
Yes!!
This would be very helpful!

[2018-11-09 14:11] thibaudk opened #864 "Drag'n'drop/interpolate stat's automations ignores [min, max]"
![vokoscreen-2018-11-09_15-02-50](https://user-images.githubusercontent.com/26526517/48266763-b4f02400-e430-11e8-8cdb-e0c30c8269d6.gif)

the same behavior can be seen with the "interpolate states" techniques. The parameter' min max are ignored.

[2018-11-12 21:47] #864 closed, assigned to nobody

[2018-11-12 21:49] jcelerier opened #865 "appimages don't have avahi nor bluez"

[2018-11-16 15:11] bltzr commented on #640
big question: AFAIK interpolations are not used anywhere anymore currently
should we keep them ? and if we do, how should they be used ?
ping @jln-

[2018-11-16 16:31] thibaudk opened #866 "Automation creatd with "interpolate states" don't "tween""
For the exact same parameter on the same interval, "tween" works perfectly when the automation is created "by hand".
When the automation was created using the "interpolate state" functionality, adding the ween option doesn't work.

[2018-11-17 00:00] thibaudk opened #867 "Cables are lost when saving presets to the user library"
similar to #751 #729
when "drag'n'droping" encapsulated processes linked with cables into the user library, cables will be lost when reusing the preset.

[2018-11-20 13:45] thibaudk opened #868 ""Desciptions" disapearing"
This happens when when loading a score with Devices parameters already exposed, or when switching form a score to another.

No problem when the device was just added.

"Descriptions" reappear when refreshing the namespace

[2018-11-22 18:03] thibaudk opened #869 ""record automation from here" not showing"
fir the option to show up in the right click menu one need to have done some prior editing, selecting... it also work to click out of the click out of the enclosing scenario's bounds
![vokoscreen-2018-11-22_19-07-07](https://user-images.githubusercontent.com/26526517/48917822-154b8080-ee89-11e8-9513-25bfa7e5b770.gif)

[2018-11-22 18:08] thibaudk opened #870 "Drag'n'dropping processes resizzes intervals"
![vokoscreen-2018-11-22_19-12-14](https://user-images.githubusercontent.com/26526517/48917940-c4885780-ee89-11e8-890b-644a8ae554bf.gif)
I think this is a new issue, I don't remember this happening initially

[2018-11-23 10:02] jcelerier opened #871 "when switching tab, parts of the namespace are lost (extended metadata)"

[2018-11-23 15:27] #867 closed, assigned to jcelerier

[2018-11-26 12:50] #859 closed, assigned to nobody

[2018-11-26 13:49] #868 closed, assigned to jcelerier

[2018-11-26 13:49] #871 closed, assigned to jcelerier

[2018-11-26 18:04] #870 closed, assigned to jcelerier

[2018-11-26 18:22] #869 closed, assigned to jcelerier

[2018-11-26 18:44] jcelerier commented on #866
hmmm... this makes sense to me: if you want to interpolate between two states there's no point in tweening since you already know the "start point" of your curve, which is sent by the state, isn't it ?

[2018-11-26 22:18] thibaudk commented on #866
Yes this does make absolute sense.
The start state is filed with the initial value so there is no tweening to be done.

The thing is, problems with tweening can accrue with the "normal" way to create automatons, it is just more obvious with "interpolate states":

When creating them by drag'n'dropping a Float value for example, the start state is filled with only the parent namespace for some reaso

[2018-11-27 14:42] thibaudk commented on #866
related to #581

[2018-11-28 20:25] DocSunset commented on #535
I noticed a situation in which score appeared to be frozen on startup, but in fact there was a dialog box saying "the desired audio preferences could not be applied." which was behind the splash screen. Perhaps another form of this same issue?
![screen shot 2018-11-28 at 3 21 28 pm](https://user-images.githubusercontent.com/17572588/49180136-d5b9e400-f321-11e8-82bc-638f3df2c399.png)
![screen shot

[2018-11-28 21:05] jcelerier commented on #535
thanks for the report, it's not the same issue but this one can be handled more easily I'd say

[2018-11-29 14:35] jcelerier opened #874 "investigate why audio settings are sometimes wrong on the first launch"
One possibility is going from score v1 to score v2 since there were different audio settings

[2018-12-01 16:09] thibaudk opened #876 "faust sliders aren't updated when paramter values are passed through inlets"
Comparing other audio processes

![vokoscreen-2018-12-01_17-01-31](https://user-images.githubusercontent.com/26526517/49330131-ca1d2600-f58a-11e8-83e5-1c0e9bbd9915.gif)

Faust Process do respond to values passed through inlets but the slider dosen't move and the values aren't printed on it.

![vokoscreen-2018-12-01_17-03-13](https://user-images.githubusercontent.com/26526517/49330197-b6be8a80-f58b

[2018-12-02 16:52] thibaudk opened #877 "[user library] draged'n'drop .js presets like faust processes"
At the moment, dragging .js presets from the Library/Preset menu into the scenario doesn't do anything

[2018-12-06 10:20] avilleret commented on #682
PATH_RENAMED handling have been revamped with https://github.com/OSSIA/libossia/commit/0d8baace18223b6085656a23ee57ab505e78f764
maybe it's worth a try

[2018-12-07 22:49] thibaudk opened #878 "crash with "put in a loop""
Any "event" or "sync" containing more that 3 states causes crashes when attempting to "put in a loop"

these sort of selections:
![put_in_a_loop_crash](https://user-images.githubusercontent.com/26526517/49676469-1d571300-fa7a-11e8-9235-942dba0d8064.png)

produces this crash every time when calling "put in a loop" from either the "object" menu or with "ctrl + shift + L"

tested with the feature/sim

[2018-12-09 12:43] maybites opened #879 "ossia v2.0.0-a25 doesn't startup on OSX 10.13.6"
there is no error, only the startup screen appears but then nothing happens. the only way to close it is to kill it via 'force quit'. however, the system doesn't indicate that the app is unresponsive..

[2018-12-09 13:18] jcelerier commented on #879
thanks for the report, there's a known bug where it does not start but only the first time, could you try to relaunch it to see if it's the same ? thanks !

[2018-12-09 14:28] maybites commented on #879
still no success.

[2018-12-10 22:21] thibaudk opened #880 "Serial devices sends out namspaces when receiving messages"
Using a minimalist example made to receive values from a button and potentiometer

[code]

nothing is supposed to be sent out, only received.
Yet, the debug message shows that every time a value is assigned to a namespace in the tree, ths same namespace is folowed by a '\n' is sent out to the serial port.

This can also be seen on the arduino board. when connected to score, the rx led lights up as

[2018-12-10 22:53] thibaudk commented on #878
This has indeed been fixed for "empty" conditions but keeps on happening with "actual" conditions (configurations different from all branches set to "always")

Crashes now only occurs when playing the conditions, not anymore when creating the loop.
even a Looped condition created without the "put in a loop" shortcut may crash the same way.

tested on master branch with commit 134f2e2da

[2018-12-10 23:15] thibaudk opened #881 "conditions can't be removed"
![vokoscreen-2018-12-10_23-59-17](https://user-images.githubusercontent.com/26526517/49767216-eaaa5600-fcd7-11e8-9ca0-d43c7f705693.gif)

When creating a condition and then removing the state, the condition will reappear when creating a new state. There also seem to be no good way to only suppress only the condition and not the state

[2018-12-10 23:40] thibaudk opened #882 "Conditions do not support more than two members"
![vokoscreen-2018-12-11_00-18-05](https://user-images.githubusercontent.com/26526517/49768128-930de980-fcdb-11e8-96fa-fdaa8b2990f1.gif)

[2018-12-11 09:23] jcelerier commented on #881
you can suppress the condition by clicking on it and pressing suppr (or backspace on mac) :
![bug](https://user-images.githubusercontent.com/2772730/49790545-c5950200-fd2e-11e8-8430-85e8c7feb89f.gif)

[2018-12-11 09:27] jcelerier commented on #879
hmmm... by any chance, do you have jack running ?

[2018-12-11 09:40] jcelerier commented on #878
hmm do you have a case that crashes ?
here this works for me (both while doing put in loop and playing, with all three conditions set to random stuff) :

![qssqd](https://user-images.githubusercontent.com/2772730/49791617-258ca800-fd31-11e8-8086-2732ec925acd.png)

[2018-12-11 10:22] thibaudk commented on #881
Neither seem to work on Linux (Ubuntu 18.10).
Also the main issue I was trying to highlight is that after deleting a state and it's condition on the start sync, creating a new interval will have the condition show up again at the start.

[2018-12-11 10:27] jcelerier commented on #881
does it select the condition in the inspector when you click on it ?

[2018-12-11 10:37] jcelerier commented on #881
the problem here is that the first state / even can never actually be deleted, thus neither is the condition.

[2018-12-11 10:38] thibaudk commented on #881
Yes
![condition_inspector](https://user-images.githubusercontent.com/26526517/49794737-94213400-fd38-11e8-8562-525cd0402e73.png)

but the little option wheel doesn't offer the "disable" option like a Trigger does, only "edit" shows up in the menu.

[2018-12-11 10:38] jcelerier opened #883 "copy-pasting events does not preserve the visibility of the condition if it's Always"

[2018-12-11 10:54] thibaudk commented on #878
![condition_crash](https://user-images.githubusercontent.com/26526517/49795646-d3e91b00-fd3a-11e8-8ec0-2729192b9057.png)

This plays fine whene the condition is set to "always" and offset behavior is "true"
but crashes with everything else i've tested (condition "never" + ofset "false",
specific conditions + offset "true"...)

I Imagine I may have entered some incoherent ones like condition "never

[2018-12-11 10:57] #883 closed, assigned to nobody

[2018-12-11 11:08] maybites commented on #879
no.

[2018-12-11 12:20] thibaudk commented on #881
Ok great, that makes sens!

This issue should then be more about adding the disable option in the little wheel
![option_wheel](https://user-images.githubusercontent.com/26526517/49800183-2cbeb080-fd47-11e8-953b-bcadcba4725e.png)

if only for the sake of coherence and consistency with triggers.
If that is possible within the logic of the code.

Also, I continued trying and still can't find a Linux

[2018-12-11 19:24] #878 closed, assigned to nobody

[2018-12-11 20:23] jcelerier commented on #882
hmm, I think that the problem is that the current implementation only handles up to two branches since these are binary operators... I'm going to see if there's an easy solution (in the meantime if there isn't I'll restrict the ui)

[2018-12-11 21:17] thibaudk opened #885 "cables are in the way"
This example shows how wide the selection area for cables is

![vokoscreen-2018-12-11_22-13-21](https://user-images.githubusercontent.com/26526517/49830745-57822680-fd92-11e8-85f5-e22d3eb432ff.gif)

this makes it difficult if not impossible at times to select other objects in the vicinity of cables.

[2018-12-11 22:10] jcelerier commented on #885
you can disable cables with alt+shift+G

[2018-12-11 22:11] jcelerier commented on #885
(or in the View menu -> show cables)

[2018-12-11 22:25] thibaudk commented on #885
Cool! That is good to know.
I would keep this issue open to keep in mind for future improvement but if that isn't necessary,
feel free to close it

[2018-12-11 22:27] jcelerier commented on #885
I pushed the fix

[2018-12-11 22:27] #885 closed, assigned to nobody

[2018-12-11 22:31] thibaudk commented on #885
Lightning bug fix!

[2018-12-11 22:35] #881 closed, assigned to nobody

[2018-12-12 12:17] thibaudk opened #886 "[feature request] generate tags and/or labels from user library names"
After saving a cue, a preset, a score ... and giving it a name, there is currently no references to that name once the item is dragged back into the scenario.

Generating tags and label to remember these names would help keep track of their origin.

Suggested by @cbossut

[2018-12-12 12:25] jcelerier commented on #882
I've disabled adding more than two conditions for now, in the end I'd like the expression editor to be revamped.
Here are some proposals that I found on internet :

- https://i.stack.imgur.com/gtIIx.png
- https://i.stack.imgur.com/YdUSq.png
- https://i.stack.imgur.com/3Vm45.png
- https://docs.intersystems.com/latest/csp/docbook/images/ebus_ruleset_condition_example1.png (I quite like this one)

@O

[2018-12-12 18:12] thibaudk opened #887 "strange behaviour with "decapsulate""
![vokoscreen-2018-12-12_18-27-03](https://user-images.githubusercontent.com/26526517/49887624-29a5ec00-fe3d-11e8-9d70-151f7a442914.gif)

At the first decapsulation, both the parent interval and the previously encapsulated one are superimposed witch can be confusing.
I then pressed "ctrl+z" to undo the decapsulation, and then decapsulated again.
This time, the previously encapsulated interval is sh

[2018-12-12 21:38] thibaudk commented on #882
Great!

The first one looks quite nice but for sure, the last one is the best, showing both the textual expression and it's graphical representation. If one could edit on one side and the expression was dynamically "translated" (from textual to graphical and vice versa) this would be ultimate!

[2018-12-14 17:28] avilleret opened #888 "add auto-completion to embedded editor"
Qt has autocompletion tool which is pretty easy to setup : http://doc.qt.io/qt-5/qtwidgets-tools-customcompleter-example.html

KDE's one is more powerful but harder to build on windows and Mac OS :  https://api.kde.org/frameworks/ktexteditor/html/

[2018-12-14 17:45] avilleret opened #889 "add "open in external editor" button to embedded editor"
when clicking the button, Qt should :

1. create a temporary file with the content of the embedded editor
2. open external editor defined in the Score's preference panel with this temp file
3. watch file modification and update embedded editor accordingly (should this work in both way ?)

file watching example https://github.com/OSSIA/score/blob/master/base/plugins/score-plugin-js/JS/JSProcessMode

[2018-12-16 10:07] avilleret opened #890 "score crashes when MacOS ask to close (for system reboot)"
OS ask score to close before a planned reboot
score close, but a window with the well-know "This application ends-up unexpectedly" appear

[2018-12-18 10:25] jcelerier commented on #772
A good start for this would be to :
- do a memory map of the files (maybe with `#include <boost/iostreams/device/mapped_file.hpp>` since mmap is not there on windows ?)

- use this : https://stackoverflow.com/questions/9604633/reading-a-file-located-in-memory-with-libavformat to read them here : https://github.com/OSSIA/score/blob/master/base/plugins/score-plugin-media/Media/AudioDecoder.cpp#L728

[2018-12-18 11:31] thibaudk commented on #772
Great! thank you for the pointers.
I'll get on it and report my findings here.

[2018-12-18 16:02] jcelerier commented on #879
I suppose that there is something else going on, because other users have reported that it worked on 10.13. I'll post here if I think of something but for now, I've honestly no idea of what is going wrong

[2018-12-18 16:07] jcelerier commented on #890
hmmm ... I wonder if there is a way to reproduce this without waiting for the next macos update

[2018-12-18 22:39] jcelerier commented on #704
maybe we should investigate https://github.com/rampantpixels/mdns to see if it solves this

[2018-12-18 22:40] jcelerier commented on #561
"paste content" feature has been removed since it was superseded by drag'n'drop

[2018-12-18 22:40] #561 closed, assigned to nobody

[2018-12-18 22:59] jcelerier commented on #880
fixed in 502069eb0595e60c486c9a08751aa24dd4a66b8c

[2018-12-18 22:59] #880 closed, assigned to nobody

[2018-12-18 23:00] jcelerier commented on #880
(also maybe the debug message just above in serial_protocol.cpp could be removed ? it's not very useful...)

[2018-12-18 23:26] thibaudk commented on #880
Perfect!

[2018-12-19 00:15] thibaudk commented on #880
I'll do a few tests with Arduino devices and see if the debug message is a problem or if it can be usefull.

[2018-12-19 02:54] thibaudk commented on #877
The js process produced is always the default one, not the one that is actually dragged'n'droped in.

[2018-12-19 08:42] maybites commented on #879
is there any log to the console? this might help to see up to which point the app gets before it stops. maybe it is waiting for something?

[2018-12-19 09:08] jcelerier commented on #879
to have some log you should run it in a terminal :

    $ cd ../score.app/Contents/MacOS
    $ ./score

but if it is just stuck, I'm not sure there will be a lot of interesting things.
If by any chance you have xcode installed, the best thing to do would be to try to launch it under a debugger and see where it stops :

     $ lldb score.app
    ... wall of text ...
    Current executable set to '/

[2018-12-19 09:17] maybites commented on #879
I found the reason for my hang:

there is a little dialog box "The desired audio settings could not be applied" that was hidden behind the splash screen. it only showed when I started the app from the console.

once I clicked 'ok' the app started.

[2018-12-19 09:26] jcelerier commented on #879
ah! this has been solved in the current git master, it will be in the next release. sorry for your trouble !

[2018-12-19 09:26] #879 closed, assigned to nobody

[2018-12-24 16:25] thibaudk opened #891 "Crash when sending VecNf to Serial Device"
Maybe VecNf hasen't been implemented yet for Serial communication.

tested with on Ubuntu Studio 18.04.

[2018-12-24 18:08] thibaudk commented on #877
Fixed in 939793e

[2018-12-24 18:08] #877 closed, assigned to nobody

[2018-12-26 00:23] thibaudk commented on #756
-  [x] "Bool", "Char" and "VecNf" aren't implemented yet for Serial
- [ ] Parent nodes sow up as "Impluse" types
- [ ] "min", "max", "Acces", "Description" & "Units" don't show up in the Device Explore
- [x] There is no way to avoid sending the '\n' at the end of each messages.
- [x] Inversly, there is no way to receive messages if they don't end with '\n'

[2018-12-26 10:09] jcelerier commented on #756
I did them yesterday, though list and impulse are missing

For the \n, it's an inherent problem of the serial "protocol", which is a continuous stream of data (e.g. there is no notion of independent "messages") : either a delimiter has to be chosen, or one of the various techniques used here have to be applied:

https://electronics.stackexchange.com/questions/186254/serial-protocol-delimiting-sync

[2018-12-26 19:12] thibaudk commented on #756
Thanks for all the details!
'\n' is indeed very useful for receiving data and it is very handy to have it as default.
A few Arduino examples also provide Processing an Max5 patches as counterparts and use "byte stuffing" or buffering to constitutes messages as chunks of N bites (if I a not mistaking).
Here are some of these examples (the processing code is provided inside the sketch in comments):

[2018-12-28 00:00] jcelerier commented on #778
I am pretty sure that this is this exact bug : https://www.jeffgeerling.com/blog/2018/airpods-get-stuck-low-quality-16-khz-audio-mode-when-starting-vm

which is squarely on Apple's side - I can't really do anything about it ; you could try to change the audio settings to only use the output but I'm not sure that it would work.

[2018-12-28 00:00] #778 closed, assigned to nobody

[2019-01-08 17:47] jcelerier commented on #756
can you tell me if with the libossia branch feature/raw_serial it works as you expect ? there shouldn't be any '\n' anywhere now. If it does I will merge it to master so that it is in the next release.

[2019-01-10 15:58] #891 closed, assigned to nobody

[2019-01-16 19:36] thibaudk opened #893 "case where Intervals can't be selected"
After a flexible time interval without any processes, a lower branch can be selected and moved around without any problems.

![vokoscreen-2019-01-16_19-41-21](https://user-images.githubusercontent.com/26526517/51271105-f53ac800-19c6-11e9-9bf2-5b617dd5dae5.gif)

Tho when a process is added to the first interval, the flowing one cannot be selected if it is placed under the 'max' doted line. An area

[2019-01-19 06:43] jcelerier commented on #887
should be fixed now

[2019-01-19 06:43] #887 closed, assigned to nobody

[2019-01-19 07:42] jcelerier commented on #876
done

[2019-01-19 07:42] #876 closed, assigned to nobody

[2019-01-19 07:42] jcelerier opened #894 "VST sliders aren't updated"
Same as #876

[2019-01-19 10:12] jcelerier commented on #812
I added a "document" (int) parameter in the localtree which does this (0 is the first document, 1 is the second, etc...)

[2019-01-19 19:44] #166 closed, assigned to nobody

[2019-01-19 19:45] #676 closed, assigned to nobody

[2019-01-19 19:46] jcelerier commented on #529
done

[2019-01-19 19:46] #529 closed, assigned to nobody

[2019-01-20 18:54] #894 closed, assigned to jcelerier

[2019-01-24 18:55] dvzrv opened #895 "(signed) source tarball"
It would be great to have a full release tarball (including the API).
To achieve this, I suggest switching to using [git subtree](https://git-scm.com/book/en/v2/Git-Tools-Advanced-Merging#_subtree_merge) or creating a script, that creates the source tarball from a tag (e.g. [sc3-plugins does it that way](https://github.com/supercollider/sc3-plugins/blob/master/package/create_package.sh)).
Downstre

[2019-01-26 09:54] jcelerier commented on #895
hi ! thanks, I will look into it, it's really annoying that github doesn't include submodules in the source tarballs. (also sorry for the AUR breakage with the includes spam, looking on it asap)

[2019-01-26 12:29] jcelerier commented on #895
hmm, just read (re-read actually) about git subtree, I really don't think that it would be adapted to score because we fairly often commit & push in the submodules (to the original repos), so I'll go the script way

[2019-01-29 19:14] thibaudk opened #896 "[feature request] add faust support in releases"
I think this was already discussed.
it would be nice as all faust exemples can be found in the [score-user-library](https://github.com/OSSIA/score-user-library/tree/master/Presets/Faust)

I gess with the evolution towards jit, it would end up functioning like an addon?

[2019-01-29 19:31] thibaudk opened #897 "Learned Midi Devices c'ant be saved"
The Midi Protocol's parameter "create whole tree" does not seem to work.
With or without it, the Device created is always empty.
The learned tree can not be saved and the Device will reappear empty next time the scenario is loaded.

tested with commit bcace9800f073ac4b87f0f4d0a805bb01c2faa7a
on Ubuntu 18.10

[2019-01-30 19:57] avilleret opened #898 "forbid deletion of the very first state of a scenario"
or allow to recreate it easily :-)

[2019-01-31 00:10] avilleret opened #899 "score crashes when device application is close while playing"

[2019-01-31 16:25] jcelerier commented on #898
can you show me how you manage to reproduce this on the latest version ? I definitely am unable to

[2019-01-31 16:25] jcelerier commented on #899
duplicate of #485

[2019-01-31 16:25] #899 closed, assigned to nobody

[2019-01-31 16:40] jcelerier commented on #865
We should load them through dlopen to have something clean

[2019-02-01 21:53] avilleret commented on #898
I thought you saw that on gitter : https://files.gitter.im/OSSIA/oG5J/score-issue-2019-01-31_01.13.28.webm

[2019-02-02 16:25] sphaero opened #900 "Build error on Debian buster"
[code]

[2019-02-02 17:53] thibaudk commented on #900
I have had issues with portaudio on Ubuntu recently.

Simply removing portaudio support in the cmake configuration alows the build to finish normaly

[2019-02-04 16:21] jcelerier commented on #900
hmm I updated the build instructions, the cmake command line missed an option which caused these issues (-DPORTAUDIO_ONLY_DYNAMIC=1)

[2019-02-04 16:21] jcelerier commented on #900
(see https://github.com/OSSIA/score/wiki/Build-and-install)

[2019-02-04 16:21] #900 closed, assigned to jcelerier

[2019-02-11 15:45] avilleret opened #901 "crash when removing a VST plugin while paused"
here is the backtrace : https://gist.github.com/avilleret/f4d9563aeaea034354192bd5d87d17e0

[2019-02-12 09:38] avilleret opened #902 "weird graphic bug on MIDI pianoroll"
I don't how to reproduce but it looks like :

![pianoroll-bug](https://user-images.githubusercontent.com/504914/52625889-4ea4f280-2eb2-11e9-9beb-e9bd027514f9.png)

which is nice but useless :-)

on macos fresh build from 1652bd71e

[2019-02-12 09:46] avilleret opened #903 "drag'n'drop midi file from Finder doesn't connect the created interval to the previous state"
![midi_import](https://user-images.githubusercontent.com/504914/52626453-7f395c00-2eb3-11e9-80e3-d2c19c028efa.gif)

[2019-02-12 09:53] avilleret opened #904 "score hangs after chaging MIDI process output port while paused"
I got an endless color spin after trying to play again and after changing the MIDI process output port

[2019-02-12 14:08] avilleret opened #905 "after editing a device should reconnect automatically"
if a device setting change for whatever reason it would be nice that score reconnects automatically when clinking OK on the settings dialog

[2019-02-12 22:19] jcelerier commented on #902
hmm interesting ! @blueyeti I suppose that this is the same problem that you saw ?

[2019-02-12 23:30] #902 closed, assigned to nobody

[2019-02-13 23:10] avilleret commented on #696
there is kind of bug with vecnf like shown in this video :

https://files.gitter.im/OSSIA/fCBf/score-autom-issue-2019-02-14_00.02.01.webm

should I file a new issue for that ?

[2019-02-15 15:26] avilleret opened #906 "crash when opening new device in ossia-pd"
here is the backtrace :
https://gist.github.com/avilleret/63ecd37df56c826114d43d890e4f66ba

[2019-02-15 16:33] jcelerier commented on #906
by any chance, is libossia at the latest commit ?

[2019-02-15 20:42] avilleret commented on #906
certainly not

[2019-02-15 21:50] #901 closed, assigned to nobody

[2019-02-16 09:49] avilleret opened #907 "crash when opening scenario while devices are not yet available"
https://gist.github.com/avilleret/81da9c9a5d97676a0acf1074a4e42800

[2019-02-16 09:49] avilleret commented on #907
but the second time, it worked

[2019-02-16 09:51] avilleret commented on #907
scenario is here : https://raw.githubusercontent.com/avilleret/FourFor/0c61cbce9b41ebe4a78b58c43b3c7a93d19d7a72/score/FourFor.score

[2019-02-16 13:33] avilleret commented on #907
if still crashes with :
https://gist.github.com/avilleret/cb10c02f63c2737a29326a9735d1ce52

[2019-02-16 20:45] jcelerier commented on #592
this one should be ok now

[2019-02-16 20:45] #592 closed, assigned to nobody

[2019-02-17 10:09] jcelerier opened #908 "Computed waveforms should be put in some kind of cache"

[2019-02-18 09:19] avilleret commented on #907
it still crashes with 4784a19c6 and API 1.0.0-b15-1136-g41388f0fe (I don't know why there is this tag as a prefix, this is returned by `git describe --always`)

https://gist.github.com/avilleret/93f46baef8b2184e787d325979956231

[2019-02-18 17:13] jcelerier commented on #724
could you try this again on the latest commit ? I think that I found and fixed the cause. There are still weird flashes when there are many waveforms though, I don't know why that is...

[2019-02-18 17:18] jcelerier commented on #724
![hidpi](https://user-images.githubusercontent.com/2772730/52967174-87a8ff80-33a9-11e9-97da-d40d082fb39e.png)

e.g. here's a render of the same waveform at 1'10" mark - seems pretty similar for both Audacity and score

[2019-02-19 08:53] thibaudk commented on #724
It seems to work perfectly now when score is running at 44100 Hz.
And with both 44100 and 48kHz files (pitched up).

I Used Jack as a driver.
Neither soundfile rates produces good images when score is running at 48kHz.

The fix only works at 44100Hz

[2019-02-19 09:05] thibaudk commented on #897
Thought I would reopen this issue as it seems to be a very similar problem.

When adding a new midi device without creating the whole tree, it shows up as an empty namespace in the Device Explorer. Applying "Learn" to populate it works fine but the learned parameters will be lost when reloading the scenario.
Te Device will show up empty again.

[2019-02-19 13:22] jcelerier opened #909 "change sequence creation behaviour"
- Create a fake interval while dragging
- When it ends up being created, do a query for the values

[2019-02-20 09:16] thibaudk commented on #897
with commit d4dbab4660e6696d2445acdabdb860ee9f2608ba
I now have a segmentation error and crash when attempting to reload a scenario with a learned midi Device.

[2019-02-20 14:47] avilleret opened #910 "crash when refreshing namespace while playing"
https://gist.github.com/avilleret/d7cdf7b4fab1c82c146db266fe96ab15

[2019-02-20 19:12] #897 closed, assigned to nobody

[2019-02-20 19:13] thibaudk commented on #897
fixed with e7a35426fa745063d1961429b0b8afada9f33810
Well done !!

[2019-02-22 11:51] jcelerier commented on #468
now fixed

[2019-02-22 11:51] #468 closed, assigned to nobody

[2019-02-22 11:52] jcelerier commented on #705
this should be fixed, there was a problem when the units weren't argb

[2019-02-22 11:52] #705 closed, assigned to nobody

[2019-02-23 15:11] jcelerier commented on #247
this has worked for some time with .scenario / .layer files (see the library)

[2019-02-23 15:11] #247 closed, assigned to jcelerier

[2019-03-01 14:33] jcelerier commented on #895
the latest release tarball should now be ok, now gotta find how to sign it properly

[2019-03-06 15:22] thibaudk opened #911 "crash when closing OXE fm Synth vst gui on MacOs"
here is the log :

score[1060:33742] It does not make sense to draw an image when [NSGraphicsContext currentContext] is nil.  This is a programming error. Break on void _NSWarnForDrawingImageWithNoCurrentContext(void) to debug.  This will be logged only once.  This may break in the future.
Memory fault

pluggin downloaded from :
https://oxesoft.wordpress.com/

tested on macos 10.14
score version 2

[2019-03-09 14:56] jcelerier opened #912 "mapping : assigning an address should set min / max automagically"

[2019-03-24 16:56] jcelerier commented on #904
I think that it has been fixed on git master - can't reproduce

[2019-03-24 16:56] #904 closed, assigned to nobody

[2019-03-24 16:57] jcelerier commented on #903
now it does !

[2019-03-24 16:57] #903 closed, assigned to nobody

[2019-03-24 16:57] jcelerier commented on #616
done

[2019-03-24 16:57] #616 closed, assigned to nobody

[2019-03-24 17:04] jcelerier commented on #739
has worked for a long time

[2019-03-24 17:04] #739 closed, assigned to nobody

[2019-03-24 17:06] jcelerier commented on #682
closing, please reopen if it's still buggy but I'm pretty sure it works nowadays

[2019-03-24 17:16] jcelerier commented on #906
still happening ?

[2019-03-24 17:18] jcelerier commented on #910
duplicate of #485

[2019-03-24 17:18] #910 closed, assigned to nobody

[2019-03-24 17:59] jcelerier commented on #330
seems like it has been fixed a long time ago

[2019-03-24 17:59] #330 closed, assigned to nobody

[2019-03-24 18:01] jcelerier commented on #511
can't do much more than hoping that the Qt fix was correct

[2019-03-24 18:01] #511 closed, assigned to nobody

[2019-03-24 18:06] jcelerier commented on #702
I'm of the opinion that the little "+" has to go to be replaced by drag'n'drop of processes from thel library anyways, what do you think ? (what is currently in the space used for the little + could instead be speed control / pause)

[2019-03-24 18:32] jcelerier commented on #752
this menu has been removed for a long time

[2019-03-24 18:32] #752 closed, assigned to nobody

[2019-03-24 19:12] jcelerier commented on #694
by default things won't be offtime anymore when dropped so I think that this can be closed

[2019-03-24 19:12] #694 closed, assigned to nobody

[2019-03-25 00:25] #886 closed, assigned to nobody

[2019-03-25 01:00] thibaudk opened #914 "Speed control does not resample audio"
Just like the noise created with attempting the yet unsupported time stretching of sound files, this distortion also appears when changing an interval's speed if it contains a sound synthesis process.

This might be normal and stem from the same issue that currently prevents time stretching of sound files.
Just thought i'll report it

[2019-03-25 18:04] jcelerier commented on #409
no one seems to complain about this so let's forget about it

[2019-03-25 18:04] #409 closed, assigned to nobody

[2019-03-25 18:28] #205 closed, assigned to nobody

[2019-03-25 18:40] jcelerier commented on #474
closing because I can't reproduce - reopen if it's still an issue

[2019-03-25 18:40] #474 closed, assigned to nobody

[2019-03-25 18:47] jcelerier commented on #661
clsoing, there's no easy way to do this right now

[2019-03-25 18:47] #661 closed, assigned to jcelerier

[2019-03-25 18:48] #541 closed, assigned to nobody

[2019-03-25 19:05] jcelerier commented on #472
superseded by #659

[2019-03-25 19:05] #472 closed, assigned to nobody

[2019-04-04 15:51] avilleret opened #915 "interval progress bar isn't displayed until mouse move or clic"
with commit c8e61b5d0 on Archlinux, the green progress bar of interval isn't displayed when the previous state is triggered
it appears when the mouse move or click in the scenario view

[2019-04-04 15:54] avilleret opened #916 "new state should be automatically selected when created"
when creating a new state by drag'n'droping node from explorer, the newly created state should be automatically selected so man can easily add a trigger on it

[2019-04-04 15:59] avilleret opened #917 "process suppression workflow is quite tedious"
here is what I have to do to delete a process on an interval with several processes :

- I select the interval
- then I select the process I want to delete in the inspector,
- and hit 'suppr' on my keyboard,
- then the whole interval is deleted
- ctrl+z to undo
- the interval reappear without the process I want to delete

:-)

[2019-04-04 16:01] avilleret opened #918 "allow to merge 2 events on the same timesync"
thus we can keep previous and next intervals on the same line avoiding to make a fork

[2019-04-04 16:04] avilleret opened #919 "add a shortcut to remove trigger"
currently I have to right clic and go to events menu to disable the trigger
I used to use suppr when selecting trigger on the scenario (but that was buggy, when the trigger was selected from the inspector, suppr key didn't work)

[2019-04-04 16:05] avilleret opened #920 "interval should be resized when we change its default duration on the inspector"
and following event should be pushed away

[2019-04-04 16:09] avilleret opened #921 "add edition capabilities to state inspector"
it would be awesome to be able to make copy/paste in the state inspector and to edit addresses

[2019-04-04 16:11] avilleret opened #922 "add button/shortcut to center scenario view on the selected item"
this would be particularly useful when searching item

[2019-04-04 16:12] avilleret opened #923 "allow to glue a comment bloc on a timesync so it would be move with it"

[2019-04-04 16:13] avilleret opened #924 "allow to display (or not) trigger name above them"

[2019-04-04 16:19] avilleret opened #925 "how to delete a comment bloc ?"
I tried several shortcut (suppr, backspace, right clic->remove item) none delete the comment bloc

[2019-04-04 16:20] avilleret opened #926 "exclude some parameter from play from here"
this would be useful for impulse parameter at least

[2019-04-04 17:36] jcelerier commented on #915
already fixed in another branch

[2019-04-04 17:36] #915 closed, assigned to nobody

[2019-04-04 18:13] jcelerier commented on #917
huh ? you just have to select the process and press backspace (I just pushed a commit to change it to suppr on non-apple platforms):
![suppression](https://user-images.githubusercontent.com/2772730/55578411-239e8880-5716-11e9-8a56-30334cc7cfbb.gif)

[2019-04-04 18:14] jcelerier commented on #926
duplicate of #651

[2019-04-04 18:14] #926 closed, assigned to nobody

[2019-04-04 18:17] jcelerier commented on #918
duplicate of #337

[2019-04-04 18:17] #918 closed, assigned to nobody

[2019-04-05 18:26] aklevy opened #927 "Inspector Max UI bug"
When clicking on the checkbox Max in the inspector, the widget does not resize correctly.

![max_bug](https://user-images.githubusercontent.com/9166925/55648530-daffd180-57e0-11e9-95ac-4fa24999c3af.png)

[2019-04-06 07:46] bltzr commented on #922
tab ?

[2019-04-06 07:47] bltzr commented on #921
yeah ! and paste/replace (e.g. to replace /address.1 with /address.2)

[2019-04-06 07:48] bltzr commented on #919
suppr seems the way to go - It used to work this way, right (when you redesigned it, 2 years ago ±), right ?

[2019-04-06 09:47] bltzr commented on #694
could be nice to have a way to create things offtime with a shortcut or something, though (like holding alt while drag'n'dropping).... what do you think @OSSIA/users ?

[2019-04-06 09:59] jcelerier commented on #694
you can just double-click in the background to start an "offline scenario"

[2019-04-06 10:07] avilleret opened #928 "there are still some relic of i-score in this repo"
we should use something like

    sed -i 's/i-score/score/g' *

but should also check for I-SCORE, ISCORE I_SCORE and so on...

[2019-04-06 10:26] avilleret opened #929 "interval disappear when triggering next state"
but sometimes it works :-)
with a fresh build from : 385328aa1

I got : https://files.gitter.im/OSSIA/7LDk/score-interval-display-issue-2019-04-06_12.23.55.webm

[2019-04-06 14:34] bltzr commented on #694
OK, and then you drag from there, right ?

could be nice to include this in the doc, in https://ossia.github.io/score/first_steps/time_approach/index.html#out-of-time-events don't you think so, @jln- ?

[2019-04-07 15:19] #920 closed, assigned to nobody

[2019-04-07 15:19] #925 closed, assigned to nobody

[2019-04-07 17:29] thibaudk opened #930 "[feature request] extending the control structure"
At the moment, multiple conditions under the same sync have no relationship to one another apart from the offset behavior (if I am not mistaking).
This means extras step have to be taken for otherwise quite intuitive branch offs, especially with a condition tree inside a loop :
* random validation, with and without repetitions
* predefined order, forwards and backwards
* switching from one of the

[2019-04-07 18:03] jcelerier commented on #907
is it still the case ?

[2019-04-08 08:19] bltzr commented on #433
This does'nt seem to be working on states, only on intervals (v2.2, from the downloaded release)

[2019-04-08 08:22] bltzr opened #931 "arrows in the interval duration editor field changes HOURS"
maybe it should be e.g. seconds instead ?

[2019-04-08 08:23] bltzr opened #932 "min/max bounds cannot be enabled"
this is probably since the inspector has been revamped ?

[2019-04-08 08:28] bltzr commented on #659
just upping this one because I think it's really an important one (and I suppose it's not the hardest, but I might be wrong)

[2019-04-08 10:18] thibaudk opened #933 "Encapsulate error message"
The folowing little scenario causes error pop ups each time the pattern loops.
It was created by first making the tree conditions attached to the origin and then applaying the "put in a loop" function. This function de'synchronized the first interval from the orrigin.
This error appeared after reconnecting the loop to the origin. and can be reproduced with folowing the same steps :
* creating inte

[2019-04-08 10:24] thibaudk opened #934 "Left side windows resize dosen't stick"
![vokoscreen-2019-04-08_12-21-39](https://user-images.githubusercontent.com/26526517/55717165-065d0900-59f9-11e9-912b-c037503b6c23.gif)

Strangely, It can be fixed by closing the right side windows.

[2019-04-08 10:29] thibaudk opened #935 "not possible to resize right side windows anymore"
this makes it challenging to set triggers and conditions arguments as addresses are almost completely hidden.

![image](https://user-images.githubusercontent.com/26526517/55717552-d8c48f80-59f9-11e9-8e43-7d36325082a1.png)

[2019-04-08 14:27] bltzr commented on #932
OK, so it's just that the checkboxes are really too dark !

[2019-04-09 07:41] avilleret opened #936 "sometimes 'Waiting for a device' dialog is void"
it looks like a void frame with transparent background, just like if the dialog box was not created in the main UI thread. weird

build from commit 49f849b1f

[score-waiting-dialog-issue-2019-04-09_09.21.33.webm.zip](https://github.com/OSSIA/score/files/3057666/score-waiting-dialog-issue-2019-04-09_09.21.33.webm.zip)

[2019-04-09 17:47] jcelerier commented on #936
interesting, is it always the same devices ? could you share your score ?

[2019-04-09 17:58] #935 closed, assigned to nobody

[2019-04-09 17:58] jcelerier commented on #934
huh, I tried but I cannot reproduce this one

[2019-04-09 20:47] jcelerier commented on #930
hmm, so at some point with @blueyeti we thought about using javascript scripts that would define what would happen at the level of a whole time sync (e.g. the trigger, the conditions, etc...). maybe that would be the better option, since it would allow to easily do all the various cases that you want, and also much more  ?

[2019-04-09 23:49] thibaudk commented on #930
Of Course, as you mentioned in #862 more access to parent or children objects from JS process would go a long way.

But I imagine that a couple widgets could readily provide for most user cases.
I am actually thinking about the [daw-import addon](https://github.com/Louuss/PFA-Score) and where it can lead. In particular, the [the flolow action control](https://www.ableton.com/en/manual/launching-cl

[2019-04-10 08:20] avilleret commented on #936
scenarii are here : https://github.com/avilleret/FourFor/tree/master/score
and I don't know if it's always the same device because when the dialog is buggy the device name didn't appear

moreover it seems that scenario loading is waiting for devices too, I'm wondering if we can silently try to connect to devices while the scenario is loading to not have to wait for all devices to (not) respond

[2019-04-10 16:49] jcelerier commented on #919
fixed in 2.2.1

[2019-04-10 16:49] #919 closed, assigned to nobody

[2019-04-10 16:54] jcelerier commented on #685
so, the current behaviour seems good enough and clear for me :
- you click on the trigger, press suppr / backspace, the trigger gets removed
- you click on the condition, press suppr / backspace, the condition gets removed
- you don't "remove" the time sync or the event (I came to the conclusion that it does not make sense to remove them explicitely) - instead you split the states however you want

[2019-04-10 16:54] jcelerier commented on #637
done in 2.2.1

[2019-04-10 16:54] #637 closed, assigned to nobody

[2019-04-15 20:31] #898 closed, assigned to nobody

[2019-04-15 20:32] jcelerier commented on #896
all releases now have faust :-)

[2019-04-15 20:32] #896 closed, assigned to nobody

[2019-04-15 20:33] thibaudk commented on #896
Perfect !

[2019-04-15 20:33] jcelerier commented on #895
latest releases are signed :)

[2019-04-15 20:33] #895 closed, assigned to jcelerier

[2019-04-15 20:34] jcelerier commented on #874
no one seems to complain about this anymore, seems like it's been fixed

[2019-04-15 20:34] #874 closed, assigned to nobody

[2019-04-15 20:39] jcelerier commented on #692
le site m'a l'air pas mal là non ?

[2019-04-16 12:57] bltzr commented on #692
pas pire, ouais

[2019-04-16 12:57] #692 closed, assigned to bltzr, jln-

[2019-04-18 22:44] jcelerier commented on #593
finally fixed that one !

[2019-04-18 22:44] #593 closed, assigned to nobody

[2019-04-19 08:40] bltzr commented on #593
Oh yeah, GG! That was a nasty one !

[2019-04-27 13:26] bltzr commented on #682
yes I confirm it does work in Score

[2019-04-27 15:37] thibaudk opened #938 "Loop only sends the right messsaes the first time around"
![vokoscreen-2019-04-27_16-40-56](https://user-images.githubusercontent.com/26526517/56851427-8945f500-690f-11e9-8fa2-9713d323adfd.gif)

Creating a sequences of states, each containing a different osc list, inside a looped scenario works every time, on the first play.
Once the sequence repeats, all messages are empty lists.
This happens every time the sequence repeats on play, weather it is finish

[2019-04-28 14:01] bltzr commented on #682
there's still something wrong here:

the node is renamed, but not its children (nodes &) parameters,
this can be reproduced with the patcher below:
<pre><code>
----------begin_max5_patcher----------
1692.3oc2YtziaaCD.9r2eEr5Ra.7ZKQIYYkCEHG5gbnnG1ioEFzRz1LqLo.
I8tdaP9uW9PxVR1RwV9QVzbXgyPQxgeb3vYF9sGF3LmsEKb.eD7EvfAe6gAC
LhzBFT7+G3rFsMICILelSBa8ZLU5Lz1lDuUZjSYuBjqv.J9U.gJw7WPY.JZM
FPD.I5YLUKlAPIIrMT

[2019-04-30 20:54] jcelerier commented on #938
well sh**

[2019-05-01 06:56] jcelerier commented on #934
closing because I think it's fixed, isn't it ?

[2019-05-01 06:56] #934 closed, assigned to nobody

[2019-05-01 11:52] thibaudk commented on #934
Yes it is,
Well done !

[2019-05-02 17:13] jcelerier opened #939 "MIDI out apparently broken on mac"
http://forum.ossia.io/t/unable-to-send-midi/150

[2019-05-02 20:11] #938 closed, assigned to jcelerier

[2019-05-02 20:21] jcelerier commented on #917
ping

[2019-05-02 20:42] jcelerier opened #940 "Make off-time trigger behaviour configurable"
e.g. make it retrigger directly or stop on triggering ?

[2019-05-02 21:34] thibaudk commented on #933
Now works !

[2019-05-02 21:39] thibaudk commented on #917
Backspace does not work anymore for deleting anything, only "suppr" does it (on Ubuntu).
witch is a problem for less usual keyboard configurations (running Linux with an apple keyboard for example).

Maybe both should always be work ?

[2019-05-02 21:55] jcelerier commented on #917
in that case fn+backspace should produce the suppr. key

[2019-05-03 07:20] jcelerier commented on #933
hmmmmmm.... very weird I did not change anything related to this

[2019-05-03 07:27] thibaudk commented on #933
I couldn't replicate the error message with 2.2.3.

[2019-05-03 07:34] jcelerier commented on #933
and it reliably not works with 2.2.2 ?

[2019-05-03 07:40] avilleret commented on #917
it seems to be fixed

[2019-05-03 07:40] #917 closed, assigned to nobody

[2019-05-03 07:41] thibaudk commented on #933
I'll try to pin point exactly where it stops working

[2019-05-03 07:44] jcelerier commented on #933
thanks !

[2019-05-05 21:08] jcelerier commented on #940
fixed by efcfb906bc17ab8b94afb835c8fcb7208cf6e4bb

[2019-05-05 21:08] #940 closed, assigned to nobody

[2019-05-05 21:09] #685 closed, assigned to nobody

[2019-05-07 06:36] #893 closed, assigned to nobody

[2019-05-07 10:56] thibaudk opened #941 "QML Devices not responding"
Neither ".split" nor "return" seem to work anymore inside the "onMessage" function of QML devices (WS, Serial).

With the [HTTP example](https://github.com/OSSIA/score-user-library/blob/master/Devices/HTTP/BordeauxWeather.qml#L23), the return function seem to work fine from inside the tree.

tested with score commit
c1d6eb55d5f3bbbf7cfb5ac1d144019359a3f2de
libossia commit
be47be9782696b0de56efa293

[2019-05-08 17:55] jcelerier commented on #772
done

[2019-05-08 17:55] #772 closed, assigned to nobody

[2019-05-08 17:55] jcelerier commented on #724
should be done as of 2.3

[2019-05-09 09:34] avilleret opened #942 "[ui] global scenario speed slider value is hidden"
I guess the slider box should be a little bit wider to display it correctly

[2019-05-09 09:36] avilleret opened #943 "[ui] add accurate control of speed with gui slider"
currently it's quite difficult to set the speed to a given value with the slider
there should be a method to set it with numpad (double click) and/or a method to reset it to 1 (modifier + click ?)

[2019-05-09 09:52] avilleret opened #944 "[ui] interval min/max duration widget is not resized correctly when enabling bound"
![score-interval-duration-widget-issue-2019-05-09_11 48 14](https://user-images.githubusercontent.com/504914/57444646-e5364500-7250-11e9-8800-751139b3565a.gif)

[2019-05-09 09:53] avilleret opened #945 "[ui] info panel should have a fixed width"
or at least a minimum width, currently it's changing every time :

![score-info-panel-2019-05-09_11 49 50](https://user-images.githubusercontent.com/504914/57444731-16167a00-7251-11e9-8007-796d77d12d46.gif)

[2019-05-11 06:58] yurivict opened #946 "Please add cmake variables allowing to use external packages"
I already have packages that are bundled installed as packages on FreeBSD.
Obviously, bundling isn't scaleable because if every package would bundle all its dependencies, a lot of low-level packages would be installed exponentially many times, overfilling the disk.

Please add cmake variables ```USE_EXTERNAL_xx``` to use externally installed dependency packages in ```score``` and ```libossia``` re

[2019-05-11 10:05] jcelerier commented on #946
Hello,
what are you trying to do ?
If you follow this build procedure: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ossia-score

then the install step (`cmake -DCMAKE_INSTALL_DO_STRIP=1 -DCOMPONENT=OssiaScore -P cmake_install.cmake`) will only install the ossia-score binary on your system, not the various boost & similar includes.

[2019-05-11 15:07] jcelerier commented on #568
fixed by 747252b830b3058ac58a624c4309a06e458e60b0

[2019-05-11 15:07] #568 closed, assigned to nobody

[2019-05-11 16:19] jcelerier commented on #908
done

[2019-05-11 16:19] #908 closed, assigned to nobody

[2019-05-11 16:37] yurivict commented on #946
I am trying to create a FreeBSD port for ```ossia```.

[2019-05-11 17:54] #433 closed, assigned to nobody

[2019-05-11 21:33] thibaudk opened #947 "Dummy stuck at 44100 Hz"
A scenario is executed noticeably faster when switching from Jack audio driver running at 48 khz,
to the dummy option, even set at 48 khz as well.

[2019-05-12 08:58] jcelerier commented on #947
hmmmm weird, I just tried the dummy and could not reproduce at any rate (but the rate parameter should be removed anyways since it is meaningless for this

[2019-05-12 12:37] pach opened #948 "crash on one specific trigger on this scenario"
Didn't happened all the time but about 20-30% of the time I trigger the Ascension_part3 trigger of attached scenario, score crash with attach report.

Crash and report in attach zip as Gist doesn't want to work the last days for me (405 error when trying to upload anything on it).

[asc2.3.1.zip](https://github.com/OSSIA/score/files/3170047/asc2.3.1.zip)

[2019-05-12 12:56] avilleret opened #949 "[ui] review dash style for play line"
When playing, it's not clear an interval without bound is currently playing because it appear as a dash line and the green playing line too.

Maybe we could use a plain line.

[2019-05-12 13:02] avilleret opened #950 "[device explorer] add 'Reconnect all' option in contextual menu"
and maybe allow to reconnect a selection of devices
currently when I select several devices (with CTRL+clic) "Reconnect" option is disabled

[2019-05-12 16:43] jcelerier commented on #946
that's very nice, thanks ! does the script I linked help ? on Arch Linux it only installs those files :

    /usr/bin/ossia-score
    /usr/bin/ossia-score-vstpuppet
    /usr/share/
    /usr/share/applications/
    /usr/share/applications/ossia-score.desktop
    /usr/share/licenses/
    /usr/share/licenses/ossia-score/
    /usr/share/licenses/ossia-score/LICENSE
    /usr/share/pixmaps/
    /usr/sha

[2019-05-12 16:44] jcelerier commented on #948
ok, I can reproduce it

[2019-05-12 16:49] jcelerier commented on #948
not a simple one to fix though !

[2019-05-12 17:57] jcelerier commented on #948
fixed by https://github.com/OSSIA/libossia/commit/06fa53462e95f444623318cc4be2fdcc80663c48

[2019-05-12 17:57] #948 closed, assigned to jcelerier

[2019-05-12 18:41] yurivict opened #952 "FreeBSD porting issues"
[code]

Version ```2.3.1```.

FreeBSD 11.2

[2019-05-12 18:50] yurivict commented on #946
Many bundled packages exist in ports: ```gsl```, ```RtMidi```, ```tbb```, ```websocketpp```, ```pybind11```, ```rapidjson```, among others.

Some of them likely require patches to build, which need to be all redone just for this bundling.
Also what would happen if a security issue is found in one of them? We would need to look for all instances of its bundling and fix it in dozens of places? This

[2019-05-12 19:03] bltzr commented on #949
I protest!
I think a dashed line is a clear sign that the duration is not known.
maybe the dark part of the line (the holes) should not be completely transparent, so we can see time progressing without having a solid line ?

[2019-05-12 19:23] jcelerier commented on #952
which compiler is this ?

[2019-05-12 19:26] jcelerier commented on #946
well, if you look at the veresion of rtmidi, tbb, websocketpp, weakjack, oscpack, etc... that we use, you'll note that they are patched too because they won't work as-is (in particular, rtmidi and oscpack were almost entirely rewritten) so it's not going to work either.

[2019-05-12 19:28] yurivict commented on #952
clang6

[2019-05-12 19:29] jcelerier commented on #952
ah right, I see the problem, hopefully it should just work with replacing `#elif defined(__linux__)` by `#elif __has_include(<dlfcn.h>)` in VSTLoader.cpp

[2019-05-12 19:40] jcelerier commented on #952
I added a patch for it in a branch, will update when it's merged in master

[2019-05-12 19:47] yurivict commented on #952
Please include all other BSDs and DragonFly too. They are all the same way.

[2019-05-12 20:00] yurivict commented on #952
@jcelerier  Now it fails in another way:
[code]

[2019-05-12 21:51] avilleret commented on #949
calm down, I agree with you @bltzr
but currently, it is not efficient as is so lets choose a better way to display that function.

and I might not be clear enough, I was thinking using a plain line only for the playing bar, the interval will remain in dashes
your proposal goes in the same direction
so please don't protest or take a yellow dashed jacket ! ;-)

[2019-05-13 13:19] jcelerier commented on #952
hmm, what is the easiest way for me to test from a linux system ? is there some kind of docker-like thing that would allow me to quickly spin up a BSD VM ?

[2019-05-13 16:02] yurivict commented on #952
I will prepare the VirtualBox VM image for you with all things pre-installed.

[2019-05-13 17:08] jcelerier commented on #952
that would be a great help, thanks !

[2019-05-13 18:11] yurivict commented on #952
Steps to reproduce:
1. Import this VirtualBox appliance image into the VirtualBox VM: https://people.freebsd.org/~yuri/FreeBSD-12-amd64.ova
2. Boot the VM. login: root password: root
3. cd /usr/ports/multimedia/ossia-score/
4. make
5. observe the error

I installed the ```vim``` editor there. You can install any other packages using ```pkg install {pkg}```.
You can also install graphical environme

[2019-05-15 19:35] jcelerier commented on #952
hmm, I've tried launching it but I don't see where are the build commands - e.g. where is the cmake and make invocation (it must *not* be the default settings which are for dev builds).

Also :
- license is CeCILL-v2
- there shouldn't be any dependency to libboost_system (only header-only boost components are used)

[2019-05-15 21:45] jcelerier commented on #259
yes

[2019-05-15 21:45] #259 closed, assigned to nobody

[2019-05-16 05:15] yurivict commented on #952
On 2019-05-15 12:35, Jean-Michaël Celerier wrote:

cmake is in /usr/local/bin/cmake, gmake is in /usr/local/bin/gmake.

I will fix the license and the boost dependency, thank you.

Yuri

[2019-05-16 05:37] yurivict commented on #952
gcc-8 also fails to build OSSIA, and it also crashes on one of the files.

I use ```boost-libs-1.70.0``` - the latest version. If you by any chance use some older version - you should change to use ```boost-libs-1.70.0```.

From my perspective OSSIA can't currently be built by any available compiler.

[2019-05-16 06:18] jcelerier commented on #952
sorry, what I meant is : where do the makefile call cmake and how do we change it ?

I've recently tested with boost 1.64 to boost 1.70 so this should be ok

well, [CI](https://travis-ci.org/OSSIA/score) says otherwise :p if it's possible we'll try to add a BSD  builder to the CI to prevent further breakage on that platform

[2019-05-16 06:50] yurivict commented on #952
All cmake invocations are triggered from ```/usr/ports/Mk/Uses/cmake.mk```. Particularly, the target ```do-configure```.

[2019-05-16 07:08] jcelerier commented on #952
is it possible to override those ?

[2019-05-16 07:14] yurivict commented on #952
Yes, just change this file.

[2019-05-16 13:26] pchdev opened #953 "freeze when adding vst path after drawing an interval (archlinux/gnome)"
clicking in "Settings > Effects > Add path" works fine on startup, but it freezes after having played a scenario

note: if there are no intervals at all in the scenario, it works normally
this is on archlinux/gnome

[2019-05-17 21:13] #943 closed, assigned to nobody

[2019-05-18 10:00] jcelerier commented on #945
hmm, I added a minimum width, I can't set a fixed one else it would not be possible to resize the inspector anymore

[2019-05-18 10:00] #945 closed, assigned to nobody

[2019-05-18 10:02] jcelerier commented on #941
could you fix this ?

[2019-05-18 10:06] jcelerier commented on #942
should be very visible now

[2019-05-18 10:06] #942 closed, assigned to nobody

[2019-05-18 10:07] jcelerier commented on #944
duplicate of #932

[2019-05-18 10:07] #944 closed, assigned to nobody

[2019-05-18 10:08] jcelerier opened #954 "package manager: support data files"
And distribute the user library that way.
Thanks @pchdev for the idea !

[2019-05-18 10:09] jcelerier commented on #691
superseded by https://github.com/OSSIA/score/issues/954

[2019-05-18 10:09] #691 closed, assigned to bltzr, jln-, avilleret, jcelerier

[2019-05-18 10:34] #928 closed, assigned to nobody

[2019-05-18 10:50] jcelerier commented on #932
duplicate of #927

[2019-05-18 10:50] #932 closed, assigned to nobody

[2019-05-18 10:51] jcelerier commented on #924
isn't this what the labels allow ?

[2019-05-18 10:51] jcelerier commented on #907
closing, please reopen if this still happens

[2019-05-18 10:52] #907 closed, assigned to nobody

[2019-05-18 11:32] jcelerier commented on #953
hmm weird, I can't reproduce it. going to check with GNOME.

[2019-05-18 11:37] jcelerier commented on #953
works fine on GNOME too... by any chance do you have any other computer that you can test on ? can you also maybe send me the list of VSTs you have ?

[2019-05-18 11:38] jcelerier opened #955 "Sliders UI"
Uniformize between the QWidget-based ones (`score::Slider`) and QGraphicsItem-based ones (`QGraphicsSlider`)

[2019-05-18 11:41] jcelerier commented on #702
closing - drag'n'drop works fine for this

[2019-05-18 11:41] #702 closed, assigned to nobody

[2019-05-18 11:42] #658 closed, assigned to nobody

[2019-05-18 11:42] #779 closed, assigned to nobody

[2019-05-18 15:03] pchdev commented on #953
ok, hm except for my mac, I have nothing else to test it on really
I'll send you the list asap, but I have some windows-vsts that I bridge with linvst. then again, even if they're not in the list of vst paths, I still have the same bug it seems

[2019-05-18 20:26] jcelerier commented on #811
replaced by #954

[2019-05-18 20:26] #811 closed, assigned to nobody

[2019-05-18 20:34] jcelerier commented on #498
newer versions now have an info panel which displays infos on hover :-)

[2019-05-18 20:34] #498 closed, assigned to nobody

[2019-05-19 08:56] bltzr commented on #702
how do you create a mapping process with drag'n'drop ? from the library ?

[2019-05-19 08:56] jcelerier commented on #532
this has been fixed a long time ago

[2019-05-19 08:56] #532 closed, assigned to nobody

[2019-05-19 09:09] jcelerier commented on #499
this is frankly hard to do with Qt, I implemented it with a simple blinking

[2019-05-19 09:09] #499 closed, assigned to nobody

[2019-05-19 09:09] jcelerier commented on #702
yep

[2019-05-19 09:47] jcelerier opened #956 "Icon for show / hide cables & ports"

[2019-05-19 09:49] jcelerier opened #957 "Rework UI for slider-based processes"

[2019-05-19 09:56] jcelerier commented on #957
proposal :
![sliders](https://user-images.githubusercontent.com/2772730/57980556-39011500-7a2d-11e9-8aa3-9ad2bd0b8bb3.png)

[2019-05-20 07:48] avilleret commented on #936
I experienced same behavior (partially void dialog) with other Qt app (QCreator for instance), so this might be a bug in Qt itself or with my configuration

[2019-05-20 08:01] pchdev commented on #953
correction: it seems that it has actually nothing to do with playing,
the 'Add path' button dialog freezes as soon as I draw an interval in the scenario
if I remove the interval, it works again

I have only the Carla stuff in /usr/lib/vst (CarlaPatchbay, CarlaRackFX, etc.)

edit: It's not really a freeze either, because pressing 'Esc' cancels the action normally, it's just that the dialog window d

[2019-05-21 17:37] jcelerier commented on #249
done

[2019-05-21 17:37] #249 closed, assigned to nobody

[2019-05-21 17:38] jcelerier commented on #953
hmm, that sounds a bit similar to that issue : https://bugreports.qt.io/browse/QTBUG-59184

[2019-05-22 14:39] pchdev commented on #953
hmm yep might be it,
anyway its a really minor issue, no need to spend too much time on that, especially if it's a qt bug :)

[2019-05-22 17:25] thibaudk opened #958 "CPU spike when interals are visible"
![vokoscreen-2019-05-22_19-10-01](https://user-images.githubusercontent.com/26526517/58194686-7fbd6c00-7cc6-11e9-8e73-ca3ab32c3f0d.gif)

As shown above, there is a clear cpu spike whenever an interval is visible, even without playing and without any processes in it.
Simply scrolling down enough to hide the interval brings cpu usage back down.

[2019-05-23 20:25] bltzr commented on #958
I gues that’s what one calls having a sharp eye!!!

[2019-05-26 09:26] #958 closed, assigned to jcelerier

[2019-05-26 09:26] jcelerier commented on #958
thanks for noticing that one !

[2019-05-26 12:33] bltzr commented on #957
so you want to make score look like live ? ;-p

[2019-05-26 12:54] jcelerier commented on #957
it's not my proposal :p

[2019-05-26 12:54] jcelerier commented on #957
but if anyone has ideas on how to make the slider UIs smaller... because currently it's quite bloated and inefficient

[2019-05-31 08:06] bltzr opened #959 "give some space for the states' little plus"
currently it's a little hard to add objects from a state that is followed by an interval holding processes, this somehow conflicts with the folding icon

![](https://files.gitter.im/OSSIA/lI51/plusplus.gif)

[2019-05-31 08:08] bltzr opened #960 "minimap issues"
since the recent improvements to the minimap (or maybe that was already there for a while ?)

- the cursor disappears when clicking into the selection
- the cursor is *very* quick
this is on the Mac

- also I find it hard to see intervals, esp. when in the selection (very low contrast between intervals and background)

[2019-05-31 08:12] bltzr opened #961 "right-click on speed slider doesn't work on Mac"
it opens the contextual menu, when it should allow to set the value precisely, as stated on https://github.com/OSSIA/score/releases/tag/v2.4.1

[2019-05-31 08:12] bltzr opened #962 "extend speed slider to all the available space"

[2019-05-31 08:14] bltzr commented on #962
currently it's quite small, which doesn't make its manipulation very easy
which is a pity since there's often a lot of space which would make it easier to precisely set the speed
![image](https://user-images.githubusercontent.com/113982/58691602-bf521b00-838c-11e9-834f-a48891d1e699.png)

[2019-05-31 08:15] bltzr opened #963 "ask Travis to compile score's doc when its source changes"

[2019-06-06 20:59] VincentParadis opened #964 "Error building score on raspberry pi 2 model B"
I have some error building score on a raspberry pi 2.

I'm following this doc to build : https://github.com/OSSIA/score/wiki/Build-and-install

When I write this line in the command  :

`sudo apt -y install git cmake wget ninja-build libqt5websockets5-dev qtbase5-dev qtdeclarative5-dev qt5-default qtbase5-dev-tools qttools5-dev libqt5svg5-dev g++-7 libportmidi0 libasound-dev mesa-common-dev libboo

[2019-06-06 22:09] avilleret commented on #964
Indeed `gcc-7` is not available for armhf on stretch.
We should update the wiki.
But you can download `gcc-8` binaries for raspberry pi  here :
https://github.com/inares/gcc-for-raspberry

Then remove `gcc-7` from the `apt install` call.
And adapt the `-DCMAKE_CXX_COMPILER=/usr/bin/g++-7 -DCMAKE_C_COMPILER=/usr/bin/gcc-7` to point to `gcc-8` and `g++-8`

[2019-06-24 11:20] jcelerier commented on #964
done, please use the sdk in there in order to build : https://github.com/OSSIA/sdk/releases/tag/embedded-sdk1

a build script is available here : https://github.com/OSSIA/score/tree/master/cmake/Deployment/Linux/Raspberry (not yet 100% reliable, but I should get there by the end of the week) and a build has been uploaded for the latest release

[2019-06-24 11:20] #964 closed, assigned to jcelerier

[2019-07-04 15:06] thibaudk commented on #724
Sound files appears to be stretched by a factor of 2.
They  play fine but look displaced.

here is the original in ocean audio with a peak at 7...

 <img width="1440" alt="Capture d'écran 2019-07-04 16 47 40" src="https://user-images.githubusercontent.com/26526517/60675924-d26d7480-9e7d-11e9-80ed-1bc0190ef90f.png">

and here is the same file in score, with the same peak showing at 14...

![imageSo

[2019-07-08 07:51] thibaudk commented on #911
Same problem with [FM8](https://www.native-instruments.com/fr/products/komplete/synths/fm8/).
tested on score 2.4.1 release.

[2019-07-09 10:22] thibaudk opened #965 "loss of trigger interface"
triggers params in the inspector window

When clicking slightly off the parameter bar to set the trigger expression, all control disappear.
there is apparently no way to bring them back

![vokoscreen-2019-07-09_10-19-55](https://user-images.githubusercontent.com/26526517/60872355-d8c06f80-a234-11e9-8200-efbaa21d3469.gif)

[2019-07-23 10:28] jcelerier opened #966 "Recording automations not always visible in right click menu"
See http://forum.ossia.io/t/recording-automation/156

[2019-08-21 18:03] jcelerier commented on #957
done for some processes, other will be added on a case-per-case basis

[2019-08-21 18:03] #957 closed, assigned to aklevy

[2019-08-21 20:03] #959 closed, assigned to aklevy

[2019-08-21 21:02] #965 closed, assigned to nobody

[2019-08-21 22:17] thibaudk opened #967 "process pins do not retain min and max"
Not sure how to phrase it actually but here is an example:

when providing an in put or an output addres to a process, one can either drag'n drop the value
in the inspector or directly in the process's inlet and outlet oins.
But this lat option does not keep track of the adresse's min and max bounds.

![vokoscreen-2019-08-22_00-09-41](https://user-images.githubusercontent.com/26526517/63472362-248

[2019-08-21 22:27] thibaudk commented on #967
Units are also lost when passing the address by the process inlet

[2019-08-21 22:28] thibaudk commented on #967
closed it by accident

[2019-08-21 22:28] thibaudk opened #968 "not possible to remove addresses from slot"
once an address is assigned to a paremeter's value in the inspector, it seems impossible to remove it.

![vokoscreen-2019-08-22_00-05-43](https://user-images.githubusercontent.com/26526517/63472558-d9bf0080-c472-11e9-9004-9c28a65100a8.gif)

[2019-08-21 22:52] thibaudk opened #969 "tween values through cables"
the tween option for automation can ony work with an address in the device explorer.

It does not work when sending the automation valuet hrough a cable.
this seems somwhat related to #967
since cable inlets and outlets seem to lack any information about the source or the target value.

[2019-08-21 22:53] thibaudk opened #970 "Strange Ui issue somhow related to faust dependencie"
![vokoscreen-2019-08-22_00-57-28](https://user-images.githubusercontent.com/26526517/63474026-d9753400-c477-11e9-842a-1ce0efc9b87b.gif)
![vokoscreen-2019-08-22_00-58-17](https://user-images.githubusercontent.com/26526517/63474062-fad62000-c477-11e9-833a-f81bfdd43045.gif)

tested with faust commit b39c5e893f80d042e41a32a9ac200e90d44ba71b
with score 4bd5f28275e95d0fc6fa02104a8fb61e3e8c964a
and Ubunt

[2019-08-22 17:11] #966 closed, assigned to jcelerier

[2019-08-22 17:14] #961 closed, assigned to jcelerier

[2019-08-22 17:50] #939 closed, assigned to jcelerier

[2019-08-22 18:13] #968 closed, assigned to nobody

[2019-08-22 20:59] thibaudk commented on #970
seems like the origin is reveresed
![vokoscreen-2019-08-22_22-57-47](https://user-images.githubusercontent.com/26526517/63549275-61b71000-c530-11e9-970a-ce3d8ab6093c.gif)

[2019-08-23 06:55] jcelerier commented on #970
does it do this every time ?!

[2019-08-23 06:55] jcelerier commented on #970
this is a separate "bug" of the minimap

[2019-08-23 10:18] thibaudk commented on #970
Yes, this hapens every time when built with faust.
Removing the libfaust.a dependencie in the cmake fixes it evry time.

(yes the minimap shows the same behavior without faust, sorry, I have edited the comment)

[2019-08-23 10:18] thibaudk commented on #970
closed by mistake

[2019-08-23 10:21] thibaudk commented on #970
reverting to older faust commits, on master and master-dev dosen't seem to change anything.

[2019-08-23 13:21] thibaudk commented on #970
The same problem still accures starting from scratch with a fresh install of ubuntu 19.04.
Could it be an issue of llvm version ?
As faust has to be built with llvm backends

[2019-08-26 11:12] thibaudk opened #971 "Crash on shut-down"
the score is connected with karlax though midi with a device populated with the "learn" function.
It also uses many vst's, faust processe and sends out osc messages to INscore.

The crash happens on most score shut-down but not always.
this happens on osx 10.14.6

here is the full error log

`
​​​​​Process:               score [1000]
Path:                  /Applications/Score 2.5.2.app/Contents/Ma

[2019-08-26 12:54] thibaudk commented on #971
the scenario can be found here by the way

https://github.com/scrime-u-bordeaux/SoloK/blob/master/SoloK_01.score

[2019-08-27 00:34] thibaudk commented on #970
commit b686672 fixed the issue along with crashes occurring when opening some lv2 UI (namely Calf's & Guiatrix's)

After running into the same problem with the previous score commit and the current libossia commit. We can conclude that libossia is not implicated here.

This issue will be closed once the cause has been properly identified

[2019-08-27 18:16] thibaudk opened #972 "Stuck in one mode"
Among all the selection possible (states, processes, values, addresses...),
some issues arise with the loss of selected objects, or a "wrong" combination of selection.

This seems to be the cause behind impossibilities to select modes (select, create, play from here) in some cases, and in others, more rare, inabilities to perform basic tasks like drawing an interval.

This example shows first the

[2019-08-27 18:16] thibaudk commented on #972
tested with both v 2.4.1 and 2.5.2 on osx

[2019-08-28 06:17] jcelerier commented on #972
can you send me the score ? I have this bug sometimes but am never able to reproduce it in order to debug it

[2019-08-28 10:00] thibaudk commented on #972
We also find it verry hard to reproduce and it dose'nt appear to be specific to a certain score.

The one we where working on is this case can be found here :
https://github.com/scrime-u-bordeaux/SoloK/blob/master/SoloK_01.score
the bug should not be present straight away but after a good few manipulations

[2019-08-28 10:06] thibaudk opened #973 "Conditions expressions whith Char"
After every edit, the condition is reverted back to default

![vokoscreen-2019-08-28_11-59-51](https://user-images.githubusercontent.com/26526517/63846316-d6a0a480-c98b-11e9-8a17-e2c582072b55.gif)

triggers expression seem to work fine

[2019-08-28 10:17] thibaudk commented on #973
EDIT

This only concerns the Char type.
entering the Char in single quotes ('a') gives the value 97 and the condition is valid

[2019-08-28 10:17] #973 closed, assigned to nobody

[2019-08-28 10:36] thibaudk commented on #970
Currently works with the latest commit
745a649

On faut master branch
b39c5e8
and still broken master-dev
6672150

[2019-08-28 16:51] thibaudk commented on #947
Seems to be fixed.

[2019-08-28 16:51] #947 closed, assigned to nobody

[2019-10-07 23:40] thibaudk commented on #970
The issue can be narrowed down to this single line:
https://github.com/OSSIA/libossia/blob/master/src/ossia/network/generic/wrapped_parameter.hpp#L164

commenting it out fixes it

[2019-10-07 23:41] thibaudk commented on #970
accidentaly closed

[2019-10-13 14:41] evanmtp opened #975 "Opening Score causes multiple instances to launch"
Opening the Score 2.5.2 application causes multiple instances of Score to launch. These are visible as distinct instances in Activity Monitor, although all but one of them is frozen:

<img width="708" alt="Screen Shot 2019-10-13 at 10 37 19 AM" src="https://user-images.githubusercontent.com/5342408/66717336-e2aebd00-eda5-11e9-8297-59d07c7b7b48.png">

This is also visible in the dock:

<img width="

[2019-10-15 22:18] thibaudk commented on #970
Building with clang instead of gcc fixes the problem.
Closing now.

[2019-10-15 22:18] #970 closed, assigned to nobody

[2019-10-17 16:10] pach opened #976 "javascriot seems to be bugged in last release"
The javascript default example (and any script I made) are sending a Nan as output.

https://gist.github.com/pach/5862bdee54fa73c1f6058ef28ec5846a

[2019-10-18 10:58] pach commented on #976
After a second check, seems that the inputs are not parsed into javascript.
if output value generation is only made from inside the script, works just fine.

[2019-10-18 11:26] thibaudk commented on #976
As a workaround, you can use "ControlInlet" instead of "Valueinlet".
"ControlInlet" seem to still work fine

[2019-10-18 18:00] pach commented on #976
so the question will be : what's the difference between a ControlInlet and ValueInlet?

[2019-10-19 17:34] ycollet opened #977 "build failed on current master under Fedora 30"
I use fedora 30 64 bits.
The compilation of master failed with the following error message:
[code]

[2019-10-19 20:15] jcelerier commented on #977
Oops indeed, my latest commit just broke it.

[2019-10-19 20:21] jcelerier commented on #977
Should be good with the latest HEAD if you can try ? (It will need a submodule update)

[2019-10-19 20:22] jcelerier commented on #976
hiya !
basically, ValueInlet is for messages (e.g. it will only have a value at the exact tick where you receive a message) while ControlInlet is more like a knob (it will always have a defined value)

[2019-10-19 20:26] jcelerier commented on #976
e.g. if I add a state I get an output at the correct point :
![in](https://user-images.githubusercontent.com/2772730/67150996-73fac380-f2bf-11e9-9a54-4e85dfd1c4ad.png)

[2019-10-19 20:27] jcelerier commented on #976
what I can do however is not sending a message if it's a NaN so that it does not break things but if you use ValueInlet the value should be checked like this :

![ok](https://user-images.githubusercontent.com/2772730/67151003-a0164480-f2bf-11e9-8e2e-86238d77325d.png)

I will adjust the default so that it uses ControlInlet which is what most people what by default I think (but ValueInlet is still u

[2019-10-20 07:42] ycollet commented on #977
It compiles fine now. But I still have a last problem: a link problem:
[code]

Thanks for the fix :)

[2019-10-20 09:00] jcelerier commented on #977
Hm, could you share your cmake invokation and compiler version ? I don't get the link error here (gcc-9.2)

[2019-10-20 09:11] ycollet commented on #977
[CMakeCache.txt](https://github.com/OSSIA/score/files/3747661/CMakeCache.txt)

[2019-10-20 09:11] ycollet commented on #977
And for the gcc version:
[code]

[2019-10-20 09:12] ycollet commented on #977
cmake version is 3.14.5

[2019-10-20 10:31] jcelerier commented on #977
Ok, I can reproduce on a fedora VM. now why is it doing that.. mystery ! investigating...

[2019-10-20 11:58] jcelerier commented on #977
seems that there is an issue with LTO support on Fedora - it works if I build without LTO. Please check the latest commit (with a blank state, I did a CMake change that may require a full rebuild from scratch as CMAKE_BUILD_TYPE=Release was doing the wrong thing)

[2019-10-20 12:26] ycollet commented on #977
I will try this tomorrow. Thanks al lot !

[2019-10-22 06:57] ycollet commented on #977
I works fine now.
I will make a spec file to build a rpm for Fedora now.
Thanks a lot.
I close the report.

[2019-10-22 06:57] #977 closed, assigned to jcelerier

[2019-10-22 08:08] jcelerier commented on #977
thanks to you !

[2019-10-24 16:35] ycollet opened #978 "Problem during install on Fedora"
I compile / install ossia score from the master branch on Fedora 30 64 bits.

On Fedora 64 bits, libraries are installed in /usr/lib64 and not in /usr/lib.

We should be able to parametrize the installation using a cmake variable llike CMAKE_LIB_DIR ..

[2019-10-24 21:59] ycollet opened #979 "a .gitignore file is installed in /usr/include"
A .gitignore file is installed in /usr/include during make install

[2019-10-28 21:33] pach commented on #972
generally closing and reopening score correct the issue. So it seems not linked to the project file but to the apps to me.
Never been able to find any regular way to reproduce it. Just happened sometimes.

[2019-10-28 22:09] thibaudk commented on #972
Entering into a process in "Full wiew", then going back out again seems to reset the cursor state most of the time.

[2019-10-29 10:21] pach opened #980 "OSC latency when score in background"
When score is running in background, there is a latency on OSC that slowly increase.
No issue with OSCQuery protocol (doesn't try other one) but command received from ipad are responding slower and slower with time (longer you wait, bigger is the latency).
Latency came back to correct, as soon as score is coming back on top app.

[2019-10-29 11:16] jcelerier commented on #980
I'm wondering if this isn't a side effect of macOS's appnap feature.

do you think you could test that ?

http://osxdaily.com/2014/05/13/disable-app-nap-mac-os-x/

[2019-10-31 09:56] pach commented on #980
je regarde et te dis.

[2019-10-31 10:09] jcelerier commented on #980
merci !

[2019-11-01 09:20] pach commented on #980
Quelques tests hier avec le app-nap désactivé.
A premiere vue cela à l'air mieux, mais j'ai manqué de temps pour vraiment pousser le test. Je continue à regarder tranquille.

[2019-11-01 12:31] pach opened #981 "[feature request] update states button"
One thing could be really super usefull to gain a lots of time when arriving in a new venue, being able to update all or parts of recorded nodes in a state.
For example :  I could got plenty of light level, and at each venue I want to correct them. So as I'm triggering all my state, I can correct my level from the oscquery controlled software, and then just clic update on the state and all (or onl

[2019-11-01 12:37] pach commented on #981
eventually, could be a right clic on states node / update node.

[2019-11-01 12:58] bltzr commented on #981
isn't that what the current update button does ?

[2019-11-01 13:03] pach commented on #981
where is that button?

[2019-11-01 13:04] pach commented on #981
OMG! refresh state!...

[2019-11-01 13:05] #981 closed, assigned to nobody

[2019-11-01 14:05] bltzr commented on #981
RTFM: https://ossia.github.io/score/howtos/update_state/index.html

[2019-11-01 14:05] bltzr commented on #981
:-p

[2019-11-01 14:11] pach commented on #980
ok, so it happened again today, while score was in foreground. So it's coming from something else.
i also when it happened had the issue than only one of my device was visible on the device tree (all the other where existing as score was able to control everyone but hidden somewhere).

[2019-11-01 18:28] pach commented on #980
OK, je retrouve le soucis dans un intervalle de mapping sur le projet joint, que score soit au premier ou à l'arriere plan.
- cf interval.juke3.1 à l'interieur de interval.solo51
je n'ai pas de soucis si je sors l'interval de ce score.
https://drive.google.com/open?id=1GGYQlq3C6lgiW_e_zMriHr5b5gn8Ip41

[2019-11-02 02:34] mxmilkiib opened #982 "Support for sequencing JACK/LV2 CV?"
Both JACK and LV2 support CV signals for finer-than-MIDI automation. More recently, carla-git has started supporting CV internally and zrythm-git has added CV support. Being able to sequence CV in ossia score would allow for some neat opportunities.

In the LV2 spec and Ingen paper:
* http://lv2plug.in/ns/lv2core/#CVPort
* https://lac.linuxaudio.org/2015/papers/24.pdf - see section 2.4

Host commi

[2019-11-02 16:13] jcelerier commented on #982
Hello, good idea, adding it to the roadmap :-) won't be hard to implement in ossia score since the internal control rate is already at audio rate

[2019-11-03 18:06] mxmilkiib commented on #982
More info on https://linuxmusicians.com/viewtopic.php?f=1&t=20701

[2019-11-09 11:25] ycollet commented on #978
I just managed to build Ossia for Fedora 30 / 31:
https://copr.fedorainfracloud.org/coprs/ycollet/linuxmao/build/1089412/
The spec file can be found here:
https://github.com/ycollet/fedora-spec/tree/master/ossia

[2019-11-10 19:42] thibaudk commented on #347
Attempting to create a permanent mapping betwen 2 parameters in 2 different devices, i tried this piece of QML
[code]

But it dosen't work.

A few crashes occurs with this message
[code]

and this warning keeps showing up
[code]

Refreshing the namespace returns
[code]

I also had a few actual errors involving "mutex" but I can't reproduce them now.
Thoes tend to crop up fairly arbitraryly

[2019-11-14 10:53] jcelerier commented on #978
Thanks for your work ! I'll try to check the spec file if I see anything that can be improved. In particular, in a normal build no libraries should be installed at all, only the ossia-score and ossia-score-vstpuppet binaries + the stuff in /usr/share

[2019-11-17 08:32] ycollet opened #985 "Problem during cloning / updating submodules"
Hello,
When I try to clone the repo and update the submodules, I've got the following message:
[code]
Best regards,

YC

[2019-11-17 12:56] thibaudk commented on #985
Yes, sorry this is my bad,

I submited this PR that fixes it
https://github.com/OSSIA/score/pull/984

Apologies

[2019-11-17 19:37] ycollet commented on #985
Thanks. I works now.
Some other repos have this problem. Like i-score ...
Best regards.
I close the bug report.

[2019-11-18 23:20] pach commented on #976
yes, And might probably be good to update the default example when create a javascript node. ;)
Thanks.
Thomas

[2019-11-19 08:07] ycollet commented on #985
The problem is still there ...
[code]
I've got this message after a fresh clone.

[2019-11-20 17:56] thibaudk commented on #985
The PR has now been merged.

Sorry again for the dealy

[2019-12-19 07:00] ycollet commented on #985
A new one with rubberband in a submodule of libossia:
[code]
I was performing a clean clone:
[code]

[2019-12-19 11:16] jcelerier commented on #985
oops sorry, it's going to be in flux for a few days as a big changeset got merged. Will try to fix that for tonight.

[2019-12-21 08:36] thibaudk opened #986 "piano roll: edit note velocity"
not yet implemented.

[2019-12-29 15:40] bltzr commented on #652
This is still here, and prevents me from using interpolations (aka multiple automations) between Vecf parameters - see attached scenario
<img width="193" alt="image" src="https://user-images.githubusercontent.com/113982/71559043-c42d9900-2a59-11ea-9eba-3e73ad6a30db.png">
[vecBug.score.zip](https://github.com/OSSIA/score/files/4008217/vecBug.score.zip)

any idea on how to fix this @jcelerier ?

[2019-12-29 16:23] bltzr opened #987 "Checking the rate option kills listening for a device"
I experienced this with a Minuit device, haven't tried with other protocols so far

[2019-12-29 16:39] bltzr commented on #987
if by any chance you have a little time for looking into that @jcelerier, that would be highly appreciated!

[2020-01-07 12:32] bltzr opened #988 "controls when sub-scenario in fullView"
When a sub-scenario in fullView, 2 controls don't seem to apply to it:
- ctrl-enter doesn't trigger the sub-scenario's start state
- the speed slider doesn't have any effect

[2020-01-08 01:17] thibaudk opened #989 "midi + audio inlets on pluggins"
no pluggins seem to be able to feature both a midi inlet and a audio inlet.
Enabling midi on Faust dsp's will remove the existing audio inlet.

Vsts and lv2s that feature both audio and midi inputs like samplev1 and VCVBridge are only able to receive midi in score as the audio inlet doesn't appear.

[2020-01-12 14:07] pach opened #990 "trigger using oscquery device value always trigged when device connected"
I'm receiving cue number from a live oscquery m4l device. When device is disconnected (either live is not running or manually disconnected for working offline), when hitting run in score, all my trig are sent.
Trigger are all set to >= to cue id (so it trigg to the right position when running from the middle of the show in live).
The normal comportment should be to use the setted value in device t

[2020-01-16 17:42] alexdmiller opened #992 "Application rapidly spawns and kills duplicate applications"
Operating system: macOS 10.14.5 (Mojave)
Computer: Macbook Pro, Mid 2015

Opening the Score application on macOS causes many identical-looking applications to spawn. These applications die and spawn very rapidly, causing the application (and entire computer) to be unusable.

Here's a gif showing what this looks like:

![image](http://spacefiller.space/misc/output.gif)

[2020-01-17 13:50] jcelerier commented on #992
hello, thanks for testing !
the "spamming" apps are individual processes which scan the VSTs on your machine outisde of the main score process thus their short life (it is done that way because some VSTs will sometimes crash on startup).

Ideally they should not be visible but I do not know how to make that happen on macOS... will investigate.

[2020-01-17 17:01] alexdmiller commented on #992
Ah I see. It seemed to go on indefinitely, although I do have a lot of VSTs, so I'll try again and just wait. Will this happen every time on start up?

[2020-01-17 17:09] jcelerier commented on #992
no, it should be only the first time (hopefully, else it's a bug)

[2020-01-17 18:37] alexdmiller commented on #992
Okay that makes sense! I think it would help to have a loading bar or just some text that explains what's happening.

[2020-01-21 02:34] alexdmiller opened #994 "OSCQuery parameter names with spaces int hem cause score to hang"
When I click and drag a single parameter, everything works fine. If I select more than one parameter and drag them, the app temporarily hangs. I get a spinner, and then eventually get the "pointer + rectangle" cursor.

Video demonstrating this [here](http://spacefiller.space/misc/slow-example.mov).

(In this video, first I drag a single parameter to demonstrate how quickly the cursor changes. Next

[2020-01-21 03:11] alexdmiller commented on #994
Further relevant information:

This bug happens when trying to add an OSCQuery connection to an openFrameworks app I built using ofxOscQuery. However, the bug does not occur with other OSCQuery enabled applications.

When I run my openFrameworks application, I see the following message:

[code]

I'm wondering if this is the source of the issue?

[2020-01-21 03:48] alexdmiller commented on #994
Okay, figured out the problem: my parameter names had spaces in them. Might want to consider displaying an error message in this case?

[2020-01-21 08:32] jcelerier commented on #994
hmmm, names with spaces are supposed to be supported (there was actual work on that a year or so ago so at some point I'm sure it worked.) So this is an actual bug - thanks.

[2020-01-21 14:41] alexdmiller commented on #992
(Just wanted to confirm that indeed this only happened the first time. I just hadn't waited long enough for the process to finish.)

[2020-01-21 15:00] jcelerier commented on #992
right, thanks. I'll try to see if it's possible to integrate the progress in the splash screen or something like that

[2020-01-27 08:50] jcelerier opened #995 "MIDI: possibility to use JACK instead of ALSA on linux"
in order to connect to other JACK MIDI apps easily.

[2020-01-27 09:10] thibaudk commented on #995
:+1:

[2020-02-15 17:01] jcelerier opened #998 "Integrate https://github.com/Megaxela/QCodeEditor"
Looks much better than the current editor, and supports more things than JS.

[2020-02-15 17:57] thibaudk commented on #998
:+1:

[2020-02-15 18:00] thibaudk opened #999 "edit with external editor"
realtes to #998

For editing both code and audio files (with audacity for example)

[2020-02-24 19:52] mxmilkiib commented on #982
Just to clarify, this would be enabled through support for JACK port [metadata](https://github.com/jackaudio/jack2/blob/master/common/jack/metadata.h).

[2020-02-25 08:07] jcelerier commented on #982
hm, so we would create (or detect) the jack CV ports available in other software, and make them available to connection to LV2 "CV" ports ?

One thing I'm surprised is - the JACK doc seems to say that they shouldn't be exposed as audio outputs, but isn't a big point of CV to also send it to e.g. a hardware modular synth through actual sound hardware ? (or also use audio data as a control ?) (pingi

[2020-02-25 09:25] mxmilkiib commented on #982
CV shouldn't be routed to a speaker, I believe that's what that msg was trying to communicate.

The CV propriety can be used to indicate in a graph what ports are expecting a CV (i.e. possibly DC at times) signal. It could also be used to allow further forms of UX.

Edit: a CV generator can produce an AC audio rate signal that is of the form of an audio wave which can be routed to a speaker, but D

[2020-02-25 22:00] jln- commented on #982
:-D Indeed, sending DC voltage can cause damages. That's why most soundcards filter out DC to prevent this (and thus cannot be used to control modular synth).

But a few soundcards do not (Motu being main, not to say only, example).

[2020-03-02 01:48] mxmilkiib opened #1000 "NSM session management API support?"
The NSM system is currently the defacto Linux audio session management API (involving OSC) for keeping project files for multiple apps together, along with cross project saves and more. Might support for this be possible in future in ossia score?

http://non.tuxfamily.org/wiki/Non%20Session%20Manager
http://non.tuxfamily.org/nsm/API.html
https://github.com/Houston4444/RaySession
[Sonoj 2019: JACK/

[2020-03-18 11:42] rcrath opened #1001 "2.5 series will not start on win10 pro 64 bit"
Hi, I can start 2.4.1 with no issues, but neither 2.5.2 nor 2.5.2 will load.  They just fail silently.  I have not been able to locate any startup options or log files so can't provide more info at this time. 3.0 alpha also starts fine.

[2020-03-18 16:50] thibaudk commented on #972
It seems that mouse modes and the ability to create intervals by dragging the '+' from a state can be restored when a device or a parameter in the "Device explorer" is selected.
Could this issue be related to sequences that are looking for values in the "Device explorer" to create automatons ?

note : the issue accrued with "autos-equence" off

[2020-03-20 16:37] jcelerier commented on #1001
Hello,
this is strange, starts fine here. Do you think you could enable crashdumps and send me one ?

https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps

thanks !

[2020-03-20 17:15] jcelerier commented on #566
done in release v3.0.0-alpha1

[2020-03-20 17:15] #566 closed, assigned to aklevy

[2020-03-21 22:46] thibaudk opened #1041 "show video snipets with harvid"
to keep track of the video and provide visual ade to sync other processes to specific frames, Ardour video support makes use of the harvid project
http://x42.github.io/harvid/

It would make a great addition in score to fill up the video process panel.

[2020-03-22 10:36] rcrath commented on #1001
sure.

[2020-03-22 10:39] jcelerier commented on #1041
hm, displaying frames is actually pretty simple given the current architecture and does not need to run a separate server software / big dependency I think. but it's important to be able to do that indeed. what could be interesting is thinking how this should look in the ui ? e.g. how to say that we want to display a frame at a given time in the ui ?

[2020-03-22 10:54] rcrath commented on #1001
no support for .dmp files here, so go to http://way.net/temp2/ossia .  I'll keep files there for the time being.

[2020-03-22 12:24] jcelerier commented on #1001
thanks, I downloaded it, you can free your disk space :p

[2020-03-22 14:36] tarnith commented on #1001
Can confirm, on Windows 10 Pro x64

Let me know if you need a .dmp

[ossia 2.5.2 error.txt](https://github.com/OSSIA/score/files/4365413/ossia.2.5.2.error.txt)

[2020-03-26 19:33] thibaudk commented on #933
This seem to be an os specific issue related to the states of dependencies.
It is currently back on 2.5.2 but I am almost certain it worked a few days ago, before a few system updates.
It happens both on the release and when built from source.

[2020-03-26 19:45] thibaudk commented on #933
Ok, after a very fortunate try, I discover that the error is not prompted if the scenario is dragged and dropped onto another interval.

The issue with that scenario happens when played in it's initial interval.

[2020-03-26 19:53] jcelerier commented on #933
ah, interesting ! thanks

[2020-03-29 17:36] aklevy opened #1002 "The painting of conditions is ugly"
The painting of conditions is ugly as there is no antialiasing.

[2020-03-30 20:33] yurivict opened #1003 "error: POSIX thread support was disabled in PCH file but is currently enabled"
The build fails on FreeBSD (clang-8):
[code]

[2020-03-30 21:15] yurivict opened #1043 "error: no member named 'setup_exec' in 'Control::FloatControl<score::QGraphicsSlider>'"
FreeBSD 12
clang-8
ossia-score-3.0.0-alpha1
libossia-d7882ca33da5a153dfba16f89b34b0d34d501b0e

[code]

[2020-04-01 21:05] ataut opened #1004 "Does not play"
Dear Ossia,
I'm sorry for this issue from a new user. I have downloaded v. 2.5.2 and am running on MacOS 10.14.4 on 2017 MB Pro 15" (3.1GHz i7, 16GB RAM). I have started up the software and am following the First Steps, Time Approach (https://ossia.github.io/score/first_steps/time_approach/index.html), however, contrary to what is stated in Let the Time Flow, clicking on Play does not start the se

[2020-04-01 21:13] jcelerier commented on #1004
Hello !
The main reason for playback to not work is for the soundcard detection to have failed.
There should be an on-off icon on the bottom right of the software next to the volume control - it should be on the "on" state, like this :

![ok](https://user-images.githubusercontent.com/2772730/78187147-33a69080-746e-11ea-8dd7-49198a4f7e98.png)

If it's not the case then could you check the settings,

[2020-04-01 22:28] ataut commented on #1004
That was it! I had no external audio interface, but I have been playing around with Blackhole and making Aggregated Audio devices in the system. Still at the time I launched Score, my system default was set to Built In Mic and Output. The audio settings showed a blank for the drop down menu (not even Dummy). I selected Core Audio and all is fine. Thanks for the quick response!

[2020-04-02 21:42] ataut commented on #1004
Hello again,
I hope it's ok, but I had a few more beginner's remarks.
I'm following "[Write your first scenario](https://ossia.github.io/score/first_steps/first_scenario/index.html)" and have successfully added a device. however, where you speak of a "load" button in the device edit window, I don't have this button (screenshot here)
<img width="408" alt="Screenshot 2020-04-02 at 22 32 55" src="htt

[2020-04-03 08:31] jcelerier commented on #1004
oops, the tutorial should be updated...  now loading is done by double-clicking on the device file on the library (or dropping it from the outside on the explorer iirc).
@thibaudk or @jln- do you think you could update it if you have some time ?

![device](https://user-images.githubusercontent.com/2772730/78339512-dd803d00-7594-11ea-8b40-77aca41f057a.gif)

So I guess you are now in this situation

[2020-04-04 18:28] ataut commented on #1004
That works, thank you! Next, to synch an audio track...

[2020-04-04 19:47] #1004 closed, assigned to jcelerier

[2020-04-05 09:22] jcelerier commented on #1000
hello !
So, checking a bit on this, I'm wondering (as this is a feature that score really needs due to its nature of interacting with other software) : do you know if it also exists on Windows / macOS ?

I couldn't find conclusive results... so I'm wondering if I should directly code against the NSM API or provide an abstraction instead that will use NSM on linux and do something similar on Window

[2020-04-05 14:07] dvzrv commented on #1000
As OSC is usable cross-platform, I'd think that just coding against the NSM API would be the most beneficial thing to do.
Whether this is available on macOS or Windows is probably not super important, as it just defines an API. That being said: I assume that these OSes can use it as well.

[2020-04-14 08:23] arthur-parmentier opened #1005 "(2.5.2) Displacement/stiching: process upper left corner basic actions hard to perform"
I find a bit painful the user experience of simple actions such as displacing a process or attaching somewhere, setting its start and stop position relatively to other elements etc: basically everything that involves drag&drop is for me confusing and time-consumming. I would expect things to "snap" on to an other much more easily:

- case 1: I have two independent processes that are linked to noth

[2020-04-16 19:47] mxmilkiib opened #1006 "Disabling JACK system output autoconnection?"
ossia score auto-connects to the JACK system output. Is there some way to disable that behaviour?

[2020-04-16 22:30] mxmilkiib commented on #982
I'm not sure what mechanism is used to see what ports other JACK clients have available.

To mark JACK outputs as CV, the [signal-type](https://jackaudio.org/metadata/signal-type/) metadata keyvalue is used.

[2020-04-16 22:31] mxmilkiib opened #1007 "Setting pretty names for JACK ports?"
Using JACK [pretty-name](https://jackaudio.org/metadata/pretty-name/) [metadata](https://jackaudio.org/metadata/).

[2020-04-18 06:45] rcrath commented on #1001
I downloaded 3 alpha and it works on wondows.  I don't have any previous stuff so I'll go with the version 3 and see if it crashes much as I learn it. a release or two before this works on windows as a workaround, so I'm closing this as I assume your energies are going to v. 3 at this point.

[2020-04-18 06:45] #1001 closed, assigned to nobody

[2020-04-18 07:43] jcelerier commented on #1001
sorry, I've been trying to pinpoint this issue but couldn't so far - I even reinstalled a clean win10 pro in a VM to check but could not get it to crash (and inspecting the crash log only yielded a stack trace that was "not in my code")

[2020-04-18 07:52] jcelerier commented on #1006
Not yet, but that should be doable easily I think. I'll keep the connection to system outs active by default though for people not to be lost if they open the software (and for consistency with other audio systems)

[2020-04-18 07:54] jcelerier commented on #1005
hm, that's very good feedback, thank you.  @bltzr case 1 is implementable relatively easily, do you think that would break workflows ?

[2020-04-18 14:39] thibaudk commented on #1007
regarding #1006 & #982 also,
I think score, and the projects crated with it, would greatly benefit
from beeing "Jack Aware" like Ardour is, alowing to save a jack patcbay with the scenario

[2020-04-19 17:37] jcelerier opened #1008 "On first start-up, add a control panel to set-up audio"

[2020-04-19 17:46] jcelerier opened #1042 "D3D Y flipped"

[2020-04-20 10:13] arthur-parmentier opened #1009 "User interaction: important improvements & suggestions"
Hello,

I find it more and more difficult to use score for basic operations/functions and starting used to the workflow.

I would like to report some important points that I find annoying and that I think would refrain new users to using score:

1) Selecting elements is often difficult or counter-intuitive. Examples:
a) in the "condition" tutorial, selecting the conditions elements that are overla

[2020-04-20 15:56] thibaudk commented on #1009
Hi @arthur-parmentier I added comments in the automated-speed tutorial
https://github.com/OSSIA/score-user-library

Let me know if that makes it clearer, it is mainly here to show the "retroactive" potential of score, how a scenario can manipulate it's own parameters.

[2020-04-20 17:45] jcelerier commented on #1009
Hey, thanks for all the feedback ! And sorry for your pains. Likely the clicking and similar small-scope issues can be solved easily.

One thing regarding :

interesting that you think that, as I remember that we looked at Unity among many other and decided that right was what most common. In particular it's very inspired from the way 3D software do it :
- Blender : https://steamcdn-a.akamaihd.net

[2020-04-20 17:53] hamoid commented on #1009
Asking may work :) Maybe remotely and screen sharing with jitsi?

My firsts impression was similar to what Arthur describes above. I kept trying to connect certain things and failing without really understanding the logic. Now I'm waiting for the new version to try again.

[2020-04-20 18:50] arthur-parmentier commented on #1009
@thibaudk thanks, I will take a look tomorrow!

@jcelerier : reading your comment, I realize that I may not be right about the positioning of the object panel, maybe I worked too much on Unity VS other softs. The part of my comment that I think remains relevant is that the object panel could be less confusing with namings, and perhaps bringing it closer to the library of objects would make things

[2020-04-26 12:33] jcelerier commented on #1009
@hamoid that's a nice suggestion, thanks !
Given the limited amount of time available I'm wondering if it would make more sense to make something in the screencast format, that can easily be recorded and then pointing other people to it as I don't think that 1-on-1 or 1-on-2 chat sessions would scale :p

I'm wondering also, do you know if participants to CC Berlin would be interested in joining in

[2020-04-26 13:05] hamoid commented on #1009
@jcelerier Personally I find screencasts very useful for learning. I have recorded many myself in the past for Processing and some for SuperCollider. I would be happy to watch them.

And I can definitely suggest Ossia Score as a topic in our next Creative Code Jam. Those interested could watch screencasts and provide feedback to you. That's always the 3rd Saturday of the month. Last two events hap

[2020-04-27 02:56] rcrath commented on #1001
I'm keeping 2.4X around.  and taking my chances with 3. Maybe dmp from @tarnith would help for comparison?

[2020-05-02 14:11] arthur-parmentier commented on #1009
@jcelerier I think the elements that you mention for the <2 minutes videos are great, especially if they could be very easy and quick to make, compared to longer tutorials!

[2020-05-04 13:47] arthur-parmentier opened #1010 "Suggestion for an improved piano roll midi editor"
Hi!

I thought you would maybe be interested in using this for later versions of Ossia:

https://www.codeproject.com/Articles/4042343/A-Flexible-Direct2D-Pianoroll-for-Your-Music-Apps

[2020-05-05 13:09] jcelerier commented on #1010
Hello,
sadly this is Direct2D which means that this works only for Windows, not on Mac / Linux :/  (and, frankly old versions - most new win32 programs don't use D2D either but rather WPF or more high level APIs). I'm not sure it would integrate in a Qt app cleanly either even on Windows.

However it would be a good idea to list the user interactions available and see how far we can duplicate them

[2020-05-05 14:35] arthur-parmentier commented on #1010
Ok, maybe I can already start the listing:

- Edit note onset/offset (therefore duration)
- Quantize/snap to tempo grid (if there is a tempo)
- Bulk edition
- Velocity editing
- Copy/paste individual or groups of notes
- Whole midi clip stretching (preserving or not preserving duration ratios)
- Swing
 - import/save file

I was thinking that it would be nice to also bring some of the Ossia special

[2020-05-07 19:05] thibaudk opened #1011 "tbb error on Ubuntu 20 build"
After folowing the build steps decribed both in
https://github.com/OSSIA/score/wiki/Hacking-on-score#ubuntu-1804-1810-1904-1910
and
https://www.youtube.com/watch?v=LSifHFbuky0&t=

I get the folowing error while building either master or stable branches
[code]
Qt version 5.14.2
clang version 10.0.0
cmake version 3.17

[2020-05-07 21:12] jcelerier commented on #1011
yuck :)

latest dev branch have removed tbb... not sure if too much time should be spent on that

[2020-05-07 21:28] thibaudk commented on #1011
ok sure I can jsut switch to a dev branch.
witch one would you rceomend for now ?

[2020-05-07 21:29] jcelerier commented on #1011
hm you can check wip/restyle2 but it's moving a lot

[2020-05-07 21:30] thibaudk commented on #1011
ok, it's realy more for a build test now.

[2020-05-07 21:59] thibaudk commented on #1011
So of course without tbb, I am not getting this error.
If tbb is to be removed from master as well merging next,
this issue can just be ignored.

Thanks !
closing

[2020-05-07 21:59] #1011 closed, assigned to jcelerier

[2020-05-10 13:21] jcelerier commented on #1002
should be fixed now

[2020-05-10 13:21] #1002 closed, assigned to jcelerier

[2020-05-10 13:21] jcelerier commented on #998
done, it's much better

[2020-05-10 13:21] #998 closed, assigned to jcelerier

[2020-05-10 13:23] jcelerier commented on #971
does that still happen in more recent versions ?

[2020-05-10 13:30] jcelerier commented on #960
fixed points 2/ and 3/ ; point 1/ is normal - the cursor is hidden because it is simulating an infinite motion (which would be very ugly to look at)

[2020-05-10 13:30] #960 closed, assigned to nobody

[2020-05-10 13:39] jcelerier commented on #914
now it does

[2020-05-10 13:39] #914 closed, assigned to nobody

[2020-05-10 13:41] jcelerier commented on #817
done in v3

[2020-05-10 13:41] #817 closed, assigned to nobody

[2020-05-10 13:45] jcelerier commented on #787
has been entirely remade nowadays, let's open new issues for things to change to the current v.

[2020-05-10 13:45] #787 closed, assigned to nobody

[2020-05-13 08:53] thibaudk commented on #971
Will try again with newest version.

This is due to the Mapper Device

[2020-05-18 02:03] dackdel commented on #1008
im running this on https://pop.system76.com/ and have been having a lot of audio troubles with various applications its probably a os problem? im new to linux as well. but pop packages things like tensorflow and other tools for its users which i think is nice. maybe they package ossia as well? they have really bad customer support but i really like the flavour of ubuntu. also to get to the point i

[2020-05-18 02:06] dackdel commented on #955
https://otto-project.github.io/docs/ui-guidelines/ maybe some inspiration (or not)

[2020-05-18 15:56] jcelerier commented on #411
fait depuis un moment !

[2020-05-18 15:56] #411 closed, assigned to nobody

[2020-05-18 15:57] jcelerier commented on #490
this should be fixed - I haven't seen it at all in months

[2020-05-18 15:57] #490 closed, assigned to nobody

[2020-05-18 15:57] jcelerier commented on #512
done, thanks to @aklevy

[2020-05-18 15:57] #512 closed, assigned to nobody

[2020-05-18 15:58] jcelerier commented on #542
fixed

[2020-05-18 15:58] #542 closed, assigned to nobody

[2020-05-18 15:59] jcelerier commented on #535
fixed, the new start screen should be implemented as to not have this problem

[2020-05-18 15:59] #535 closed, assigned to nobody

[2020-05-18 15:59] jcelerier commented on #571
docks are now fixed anyways

[2020-05-18 15:59] #571 closed, assigned to nobody

[2020-05-18 16:00] jcelerier commented on #572
done

[2020-05-18 16:00] #572 closed, assigned to nobody

[2020-05-18 16:06] jcelerier commented on #722
closing, the default builds now links plugins statically by default - the "separate dlls" version is only useful during development.

[2020-05-18 16:06] #722 closed, assigned to nobody

[2020-05-18 16:07] jcelerier commented on #758
automation waveforms have been removed since a few releases so this is not relevant anymore

[2020-05-18 16:07] #758 closed, assigned to nobody

[2020-05-18 16:08] jcelerier commented on #826
next version will allow to choose between real time and meter time, will see about adding SMPTE soon

[2020-05-18 16:09] jcelerier commented on #829
done

[2020-05-18 16:09] #829 closed, assigned to nobody

[2020-05-18 16:13] jcelerier commented on #888
I've ported everything to
 https://github.com/Megaxela/QCodeEditor

which supports completion:

 https://github.com/Megaxela/QCodeEditor/blob/master/example/src/MainWindow.cpp

if someone wants to look into it, that's an easy task and I can do some walkthrough in the code

[2020-05-18 16:14] jcelerier commented on #906
been using ossia-pd a few times since them without issues, let's reopen if that is still the case

[2020-05-18 16:14] #906 closed, assigned to nobody

[2020-05-18 16:14] jcelerier commented on #923
hm, the timesync can have a label in which you can put some info text, isn't that enough ?

[2020-05-18 16:18] jcelerier commented on #927
fixed

[2020-05-18 16:18] #927 closed, assigned to nobody

[2020-05-18 16:19] jcelerier commented on #931
fixed, in the new version you drag individual parts

[2020-05-18 16:19] #931 closed, assigned to nobody

[2020-05-18 16:19] jcelerier commented on #956
done, thanks @aklevy

[2020-05-18 16:19] #956 closed, assigned to aklevy

[2020-05-18 17:24] maybites opened #1012 "This score project has issues / will crash"
Hi

consider following score project with 2.5.2 and OSX 10.15.4

[sparckScore2.score.zip](https://github.com/OSSIA/score/files/4645615/sparckScore2.score.zip)

1. it is not possible to remove a process / any element / anymore.
2. when entering Interval.bras55 one will notice that the curve is not complete anymore. Once one tries to edit the curve, score will crash
2.1. this curve happend when I dr

[2020-05-19 21:16] avilleret commented on #923
that's a good start :-)
but with a tall timesync with various branches it might help to add comment on each node to explain the path to the user. So multiple comments / labels on the same timesync might be useful.

[2020-05-21 10:48] mgunyho opened #1013 "Crash on startup: Illegal instruction (core dumped)"
On Kubuntu 19.04, when trying to launch v3.0.0-a4 AppImage (also tried a3), the program simply exits with
[code]
Based on a quick google search, this might have something to do with my CPU (very old AMD Phenom) and/or possibly related to boost. [Here](https://github.com/OSSIA/score/files/4662003/cpuinfo.txt) is the output of `cat /proc/cpuinfo/` if it helps. Version 2.5.2 runs okay.

[2020-05-21 11:41] jcelerier commented on #1013
hello ! damn, indeed - the current build targets more recent CPUs (requires at least AVX basically).
Though it shouldn't be *too* hard to make a build to target older machines. won't be able to right now but will try to think about a way to automate it.

[2020-05-21 11:42] jcelerier commented on #1013
only SSE2, wow :-) old indeed. but should be doable though.

[2020-05-21 19:54] mgunyho commented on #1013
Thanks! No hurry, I can live with v2.5 for now.

[2020-05-22 10:34] bltzr opened #1014 "use different buttons for hover and on"
currently they are the same, which is a bit confusing
![May-22-2020 12-33-07](https://user-images.githubusercontent.com/113982/82659181-8a3b7a00-9c28-11ea-9932-d72fd953b753.gif)

[2020-05-22 12:47] aklevy commented on #1014
I do agree and I think I will try to change it but it is going to take some time. It is a very tedious process.

[2020-05-23 23:58] mxmilkiib opened #1015 "Settings / Effects layout"
The working plugin indentation isn't aligned, and it would be handy to alter the horizontal split on this page.

![image](https://user-images.githubusercontent.com/108225/82742672-fcab7780-9d58-11ea-9b62-b8bf374915b5.png)

[2020-05-24 16:05] aklevy opened #1016 "The latest alpha does not launch on Windows"
The latest alpha does not launch on Windows

[2020-05-24 16:21] aklevy commented on #646
The new startscreen solve this issue

[2020-05-24 16:21] #646 closed, assigned to nobody

[2020-05-24 16:23] aklevy commented on #467
Not relevant anymore

[2020-05-24 16:23] #467 closed, assigned to nobody

[2020-05-24 16:27] #955 closed, assigned to aklevy

[2020-05-24 16:36] aklevy opened #1017 "Choose another shortcut key for scale mode"
Currently it is Alt+S, which is the same as the shortcut key to open the Settings menu.

[2020-05-24 16:39] aklevy opened #1018 "Trigger small on Windows"
The trigger pixmap is small on Windows

[2020-05-24 16:53] aklevy opened #1019 "The menu Export in File should be disabled if there is no item in it"
The menu Export in File should be disabled if there is no item in it

[2020-05-24 16:56] aklevy opened #1020 "When pasting with nothing copied, a warning is displayed"
When pasting with nothing copied, a window displays the message "Internal error: Invalid JSON document !": instead, nothing should happen, no window.

[2020-05-24 17:01] aklevy opened #1021 "Set a default name when saving the score project"
Set a default name when saving the  score project

[2020-05-24 17:07] aklevy opened #1022 "Duplicated process is not shown"
Duplicated process is not shown

[2020-05-24 21:45] jcelerier commented on #1015
Thanks for the report !

@aklevy if you want to look into that. Relevant code is in `src/plugins/score-plugin-media/Media/Effect/Settings/View.cpp`.
To alter the horizontal split it should simply be putting the two parts in a QSplitter (and set a stretch factor of say 1:4 for the top vs bottom, as the top part should always be smaller)

[2020-05-25 13:10] #745 closed, assigned to nobody

[2020-05-25 14:29] #1021 closed, assigned to aklevy

[2020-05-25 20:13] thibaudk opened #1023 "fixed path for startup panel Examples"
The "Examples" button on the startup panel points to the original path and name of the user library, not necessarily the current one.

On my system it points to /home/<usename>/Documents/ossia score library
witch does not exist.

Altho my actual library's path is correctly handled in the User Library panel

[2020-05-25 20:59] thibaudk opened #1024 "prevent the creation of syncs and event when drawing graph-interval"
Since graph-intervals can be twisted and drawn diagonally, it is not necessary to crate vertical sync's and events to align the with the connected states.

If drawing these syncs doesn't cause any problem with execution, it can easily increase clutter in the UI.

[2020-05-25 20:59] thibaudk opened #1025 "Are "Project settings" still needed ?"

[2020-05-25 21:52] thibaudk opened #1026 "retracting an interval to a duration of 0"
This causes various bugs and crashes

![vokoscreen-2020-05-25_23-37-54](https://user-images.githubusercontent.com/26526517/82844462-e16b7400-9ee0-11ea-9df1-d389555b7734.gif)

![vokoscreen-2020-05-25_23-47-21](https://user-images.githubusercontent.com/26526517/82844857-65722b80-9ee2-11ea-9f88-a8975c9d1913.gif)

IMO, and fore synchronicity purposes, it think it would be useful for the two stages to

[2020-05-26 14:17] aklevy commented on #1015
A horizontal split was added and the plugin name and path are now in a separate column :
![settings](https://user-images.githubusercontent.com/9166925/82911612-66e83600-9f6c-11ea-902a-f7b743fa4c4f.png)

[2020-05-26 14:17] #1015 closed, assigned to aklevy

[2020-05-26 17:58] #1019 closed, assigned to aklevy

[2020-05-26 19:17] thibaudk opened #1027 "extendig pannels"
The clickable area in the margin of panels is very slim,
making it difficult to grab the side and extend a panel horizontally

[2020-05-26 19:19] thibaudk commented on #1026
here is teh coredump info

[code]

[2020-05-26 21:16] jcelerier commented on #1026
fixed !

[2020-05-26 21:16] #1026 closed, assigned to nobody

[2020-05-28 12:33] thibaudk opened #1028 "How can interval duration be edited textualy ?"
It use to be very easy to set the duration of an interval by entering a time value in the inspector.

The start offset and loop duration seems to respond to mouse wheel but  I am not sure it is consistent.

[2020-05-28 12:55] thibaudk opened #1029 "Time bar apears in Nodal view"
![vokoscreen-2020-05-28_14-52-38](https://user-images.githubusercontent.com/26526517/83144085-3088f300-a0f3-11ea-8211-f2488218b2d0.gif)

[2020-05-28 13:04] ghost commented on #1013
For me under Debian 10 it crashed without `(core dumped)`

[code]

[2020-05-28 13:09] jcelerier commented on #1013
thanks, can you also report your /proc/cpuinfo ?

[2020-05-28 13:15] ghost commented on #1013
Intel Pentium Dual T2330 (2) @ 1.600GHz

[2020-05-28 13:20] thibaudk opened #1030 "Vertical scroll bar"
This is often heavily requested by new users
and would save a lot of tedious scrolling time.

[2020-05-28 13:20] jcelerier commented on #1013
thanks, decidedly no way to go past SSE2 :-) next release will work on those older CPUs

[2020-05-28 13:43] thibaudk opened #1031 "Image and Mesh are not complete"
they are already basically functional,
if a bit limited

[2020-05-28 13:52] thibaudk opened #1032 "loading a video creates continuous CPU strain"
![vokoscreen-2020-05-28_15-50-28](https://user-images.githubusercontent.com/26526517/83150093-2d920080-a0fb-11ea-85ec-0305c9a9ae0a.gif)

[2020-05-28 13:57] thibaudk opened #1033 "crash when attempting to play a video"
probably related to #1032

tested with .mov and .mp4
(no HAP)

[2020-05-28 13:58] jcelerier commented on #1033
can you attach a crash log ?

[2020-05-28 13:59] thibaudk commented on #1033
[code]

[2020-05-28 14:00] thibaudk commented on #1033
is this enough ?

[2020-05-28 14:02] jcelerier commented on #1033
no :p
can you run `coredumpctl gdb`, that should have the whole trace

[2020-05-28 14:03] jcelerier commented on #1033
(and type `bt` to get the stack trace once gdb has loaded)

[2020-05-28 14:12] thibaudk commented on #1033
[code]

[2020-05-28 14:12] thibaudk commented on #1033
it this it ?

[2020-05-28 14:12] thibaudk commented on #1033
I can also build in debug mode

[2020-05-28 14:14] jcelerier commented on #1033
yep, thanks !

-------
Jean-Michaël Celerier
http://www.jcelerier.name

On Thu, May 28, 2020 at 4:12 PM Thibaud Keller <notifications@github.com>
wrote:

[2020-05-28 14:17] jcelerier commented on #1033
can you also send the video files ?

[2020-05-28 17:12] thibaudk commented on #1033
Ok so the crash does not happen with the Appimage Release.
But the content CPU spike is still there

[2020-05-28 17:13] thibaudk commented on #1033
the appimage also gives out this log when playing the video

[code]

[2020-05-28 17:17] thibaudk opened #1034 ""Waiting for device connection" seems to be only "GUI based""
!! not a v3 specific issue !!

When running a scenario with --autoplay --no-gui,
OSCQuery devices aren't reconnected before the score starts playing.

Alternatively, It would be useful to do away with the waiting pup-op and enable OSCQuery devices to be reconnected in the background, ideally while playing.
Otherwise, OSCQuery seems quite unusable with this "headless" use.

[2020-05-28 17:32] jcelerier opened #1035 "right click on combobox in graphics view -> crash"
[code]

[2020-05-28 18:02] thibaudk commented on #1033
accidentaly closed

[2020-05-28 20:45] jcelerier commented on #1027
@aklevy if you have the time in looking into that... I guess the idea would be to reimplement

https://doc.qt.io/qt-5/qsplitter.html#createHandle

like this to make a bigger & more visible handle ?

[2020-05-28 20:47] jcelerier opened #1036 "When switching to nodal view, the context menu stays in nodal mode forever"

[2020-05-28 21:48] thibaudk commented on #1033
Ok after, cleaning up and recompiling qtshadertools against Qt 5.15.0,
It does not crash.
Sory for the false alert

[2020-05-28 21:48] #1033 closed, assigned to nobody

[2020-05-28 22:03] jcelerier commented on #1033
ah yeah, makes sense. cool that you could fix it !

[2020-05-30 13:13] jcelerier commented on #1035
done

[2020-05-30 13:13] #1035 closed, assigned to jcelerier

[2020-05-30 13:23] #1029 closed, assigned to jcelerier

[2020-05-30 13:35] jcelerier commented on #1020
fixed

[2020-05-30 13:35] #1020 closed, assigned to jcelerier, aklevy

[2020-05-30 13:47] jcelerier commented on #1036
done

[2020-05-30 13:47] #1036 closed, assigned to jcelerier

[2020-05-30 13:50] jcelerier commented on #1018
looks good now

[2020-05-30 13:50] #1018 closed, assigned to jcelerier

[2020-05-30 13:52] jcelerier commented on #1003
I changed the way PCHs are generated, these issues should not be here anymore (make a clean build just in case). thanks !

[2020-05-30 13:52] #1003 closed, assigned to nobody

[2020-05-30 13:52] jcelerier commented on #992
fixed, the "spawned processes" won't show up in the dock anymore and should be less resource intensive. thanks !

[2020-05-30 13:52] #992 closed, assigned to jcelerier

[2020-05-30 13:54] jcelerier commented on #985
submodule issues should generally be fixed now. hope they don't appear again..

[2020-05-30 13:54] #985 closed, assigned to nobody

[2020-05-30 14:01] jcelerier commented on #979
should be good now, at least I'm not seeing a .gitignore being installed here.

Note that for installing it should be

[code]

instead of just `make install` as `make install` installs additional things that are needed when making the self-contained releases (see the wiki here: https://github.com/OSSIA/score/wiki/Packaging-score-for-Linux).

thanks !

[2020-05-30 14:01] #979 closed, assigned to nobody

[2020-05-30 14:01] jcelerier commented on #975
fixed - these secondary instances were the VST scanners, they will now be hidden. Thanks !

[2020-05-30 14:01] #975 closed, assigned to nobody

[2020-05-30 14:10] jcelerier commented on #746
not really relevant anymore I think given how everything has changed :p

[2020-05-30 14:10] #746 closed, assigned to nobody

[2020-05-30 14:14] jcelerier commented on #1025
you're right, disabling them for now as they're not used by any relevant thing..

[2020-05-30 14:14] #1025 closed, assigned to nobody

[2020-05-30 22:03] #1028 closed, assigned to jcelerier

[2020-06-01 21:28] jcelerier commented on #1016
fixed in v3a5

[2020-06-01 21:28] #1016 closed, assigned to jcelerier

[2020-06-02 19:07] thibaudk opened #1038 "shaders parameters lost after unpausing"
the example below shows a video going through a shader, and score switched between play and pause.
Playing again after the pause brings a lot of artifacts, and looses the current parameter states.
If a parameter is then modulated, the entire shader state seems to be brought back. A least until we pause and playback again.

hope this is clear. It's tricky to explain.

![vokoscreen-2020-06-02_21-01-

[2020-06-02 20:02] thibaudk opened #1039 ""Show" Window Device after closing leads to intresting results"
![vokoscreen-2020-06-02_21-18-28](https://user-images.githubusercontent.com/26526517/83564413-f9647880-a51c-11ea-8b6f-8c6e56bd5ac0.gif)

Here is my resulting Window Device after I manually closed it and attempt to reopen it with the show function of the Device

![scoreWindow](https://user-images.githubusercontent.com/26526517/83560887-3463ad80-a517-11ea-8e68-2f58f2d7564c.png)

[2020-06-02 20:54] jcelerier commented on #1038
huh, interesting ! thanks

[2020-06-03 18:31] jcelerier commented on #986
seems to work now (shift-drag when selecting notes)

[2020-06-03 18:31] #986 closed, assigned to nobody

[2020-06-03 18:59] thibaudk commented on #986
Cool ! well done !

[2020-06-05 14:40] #1014 closed, assigned to aklevy

[2020-06-05 15:49] #494 closed, assigned to nobody

[2020-06-05 19:08] jcelerier opened #1040 "Lock icon"
Should switch between "unlocked" and "locked"

[2020-06-05 20:34] #780 closed, assigned to nobody

[2020-06-05 20:34] jcelerier commented on #1017
done, now it's just alt

[2020-06-05 20:34] #1017 closed, assigned to jcelerier

[2020-06-05 20:35] jcelerier commented on #769
just to note, there is a vertical zoom - it is done by doing shift+scroll wheel (or the equivalent gesture on a touchpad, likely two-finger scroll)

[2020-06-05 20:37] jcelerier commented on #302
I think that it's enough to have ctrl-c / ctrl-v to duplicate things, don't think it's such a common operation to warrant two different shortcuts

[2020-06-05 20:37] #302 closed, assigned to nobody

[2020-06-05 21:34] jcelerier commented on #972
there's been a lot of change in these areas, if you can check the latest build (or the next release) ?

[2020-06-06 10:42] bltzr commented on #302
Alt for duplicating Is pretty common, though, at least on MacOS

[2020-06-06 10:45] bltzr commented on #302
OK I just saw it's used for scale mode, please disregard my previous comment

[2020-06-06 11:02] thibaudk commented on #972
I wasn't able to reproduce it yet on v3.
Closing it, At least for now.

[2020-06-06 11:02] #972 closed, assigned to thibaudk

[2020-06-06 14:55] avilleret commented on #1043
I think this should go to the Score bug tracker. What do you think @jcelerier ?

[2020-06-06 15:19] jcelerier commented on #1043
wow, hadn't seen it ; indeed !
nowadays github allows to transfer issues, yay

[2020-06-07 14:03] #1040 closed, assigned to aklevy

[2020-06-07 14:03] jcelerier commented on #1040
thanks !

[2020-06-09 13:30] #1027 closed, assigned to aklevy

[2020-06-16 21:13] thibaudk opened #1044 "crash on startup with the latest build"
here is the crach log

[code]

[2020-06-16 21:14] thibaudk commented on #1044
could it be because my version of qt is 5.15.0 instead of 5.15.1 ?
I'll update and see.

[2020-06-16 21:36] jcelerier commented on #704
will finally be fixed in v3 :)

[2020-06-16 21:36] #704 closed, assigned to nobody

[2020-06-16 21:37] jcelerier commented on #1044
nope that's my fault :p

[2020-06-16 21:40] #1044 closed, assigned to nobody

[2020-06-16 21:41] jcelerier commented on #1043
checked the code around that, but I think that shouldn't happen with the current alphas, right ?

[2020-06-16 22:15] thibaudk commented on #1044
Perfect !
All fixed, cheers !!

[2020-06-17 07:29] thibaudk opened #1045 "Play from here first starts from the beginning"
Here you can see the first click and the time bar starting at the biginig.
On the second click the time bar jumps to the correct spot. But maybe that is what was intended ?

![vokoscreen-2020-06-17_09-25-04](https://user-images.githubusercontent.com/26526517/84868297-c2de4000-b07c-11ea-884a-a7862af16df2.gif)

[2020-06-17 08:22] thibaudk commented on #1045
the little play head next to the mouth is a really nice touch !
It used to be often forgotten witch mode was selected.

[2020-06-17 18:13] thibaudk opened #1046 "Color automation"
The color picker for the color automation in v2 used to look like this

![color_automation](https://user-images.githubusercontent.com/26526517/84933874-d1594580-b0d6-11ea-8f4e-0e1a654b623d.png)

Now in V3, the color picker defaulted back to the standard Ubuntu picker

![color_automation_v3](https://user-images.githubusercontent.com/26526517/84933986-fb126c80-b0d6-11ea-8cf5-0faaf1f7186d.png)

[2020-06-21 08:54] maybites opened #1047 "[Feature Request] For Parameter Type=String with values=[list]"
Hi

If there is a parameter with the type=String with a range of multiple values,  for setting the 'Value' it would be nice if there was additionally a pull down menu to select from the range-values (like for selecting the Type - see screenshot), instead of entering the string.
Ideally it would be possible to do both - depending of the Bounding/Clip setting: if set to clip/both you can only select

[2020-06-26 19:41] jcelerier commented on #1047
yep, shouldn't be too hard to do also if someone else want to look into the code (@thibaudk ?)

[2020-07-07 01:14] mxmilkiib commented on #1000
Just to note that there has been a fork of NSM that is being worked on by multiple #lad developers; https://github.com/linuxaudio/new-session-manager / https://linuxaudio.github.io/new-session-manager/index / https://linuxaudio.github.io/new-session-manager/api and that there is a new (JACK focused) client https://laborejo.org/argodejo

[2020-07-07 05:59] jcelerier commented on #1000
ah thanks, I saw the announcement but did not really understand what it is used for :)
The API stays kinda the same though, no ? So from our point of view it should not change much or am I wrong ?

[2020-07-07 13:02] mxmilkiib commented on #1000
Easiest if I just quote verbatim;
[code]

[2020-07-08 09:52] underdoeg opened #1048 "error compiling on arch linux"
I get the following error when trying to compile the recent git version:

[code]

If I disable LV2 support by commenting this line, it compiles (https://github.com/OSSIA/score/blob/master/src/plugins/score-plugin-media/CMakeLists.txt#L18)

[2020-07-12 15:44] maybites opened #1049 "limiting range when editing numeric values"
Hi

after connecting an oscquery device (max-patch):

when trying to change a float value, the value input only accepts values within min & max, despite bounding free (clip=free).

it is only possible to get beyond the range by changing the min rsp. max value.

in my opinion, if bounding = free, it should be possible to enter any value.

cheers

martin

[2020-07-12 15:49] maybites opened #1050 "[Feature Request] allow to choose when to update values"
Hi

after connecting an oscquery device (max-patch):

when trying to change a numeric value with the slider, it would be nice if the value was updated in real time, instead of committing it with an enter.

cheers

martin

[2020-07-12 15:53] jcelerier commented on #1050
hello,
actually, this used to be like that in the first versions, but there was complaints in the other direction :)

I'll change this issue to make this a user settings instead

[2020-07-12 15:58] maybites commented on #1050
Thanks for considering this. :-)

[2020-08-29 16:38] JRSV opened #1051 "Appimage does not draw modules in timeline"
I have downloaded score latest V3 alpha, as an appimage in fedora 31, unfortunately when I add modules to the time line, they are not drawn. If I place a sound genrator and press play I can hear it is working.

any ideas what is going on?

[2020-08-31 18:35] jln- opened #1052 "Crash when reinitializing scenario"
Using Score 3.0.0 a5 and latest libossia for Max, I get a crash when clicking the reinitialize button.

Steps to reproduce:

- Open ossia.device.maxhelp
- create new scenario and add device
- Store an init state
- hit Reinitialize button (or cmd+return shortcut)
=> Crash

Note: it does not crash if init state is empty

Crash log: https://gist.github.com/jln-/c57d6d2e28f48be40ff589301885bf3f

[2020-09-01 19:26] jcelerier commented on #1052
can confirm, on it

[2020-09-02 15:37] thibaudk opened #1053 "JS in v3"
Values from a vector fed into an JS inlet are tricky to retrieve.

calling value on an inlet receiving an array of 2 value returns
[code]
But neither .x or [0] returns anything

[2020-09-02 15:42] thibaudk opened #1054 "ConstrolSurface error after reloading the scenario"
This is exemplified in this tiny score, also relating to #1053.

After opening this score a first time, closing it and reloading it returns an error.
Further more, trying to manipulate the control slider after the creation error will show
a pop up window for "internal error"

[jsArray.score.zip](https://github.com/ossia/score/files/5163317/jsArray.score.zip)

[2020-09-03 08:00] jcelerier commented on #1053
any chance you can tell me the last score version this worked ? I strongly believe this would be a change of behaviour in qt 5.15...

[2020-09-03 08:09] thibaudk commented on #1053
I only ever had it working in v2.

[2020-09-03 14:16] jcelerier commented on #1013
Hello, @Symbian9  @mgunyho  can you try the alpha8 appimage ? this one should work again on older CPUs.

[2020-09-03 14:33] thibaudk opened #1055 "Artnet in V3"
Trying to add an Artnet device in v3 does not work
ie. the "Add device" window dosen't close when clicking "add" and the device doesn't appear in the device explorer.

a warning is generated and cn be replicated multiple times when spamming the "add" button

[code]

[2020-09-07 11:37] jcelerier opened #1057 "Scrubbing"

[2020-09-07 17:26] thibaudk opened #1058 "Keyboard shortcuts"
Ctrl + k doesn't seem to trigger "interpolate states" anymore.

looking at the lock shortcut (Shift), the "locking" is only activated when the key is pushed down. Once released, the locking is off as can be seen below.

![vokoscreen-2020-09-07_19-12-47](https://user-images.githubusercontent.com/26526517/92408570-2dfc5780-f13e-11ea-8886-af0edde3e721.gif)

[2020-09-07 19:26] mgunyho commented on #1013
Hi, sorry for the belated reply. Sorry, looks like it still doesn't work. The binary in the release is named just `Score.AppImage`, are you certain that you've uploaded the correct version?

If it's of any help, here's a backtrace from gdb:
[code]

Let me know if I can help with investigating further.

[2020-09-08 10:53] jcelerier commented on #1013
hm, it looks like one library was introduced in v3 added a -march=native somewhere - can you try with the following ?

https://file.io/kiI7gJOUx7EJ

[2020-09-08 10:54] jcelerier commented on #1013
(yes for the name, it's because I built them by hand instead of relying on the CI)

[2020-09-08 10:57] mgunyho commented on #1013
Yes, with this binary I am able to start it.

[2020-09-08 10:57] jcelerier commented on #1013
great ! thanks :-)

@Symbian9 could you also confirm that it works for you ?

[2020-09-08 10:59] mgunyho commented on #1013
I tried to add a device and got a crash with
[code]

Should I open a separate issue for that?

[2020-09-08 11:02] mgunyho commented on #1013
Hm yeah looks like that's a separate issue.

[2020-09-08 11:04] jcelerier commented on #1013
yep please

[2020-09-08 11:08] mgunyho commented on #1013
Silly question, where can I find the crash log?

[2020-09-08 11:19] jcelerier opened #1059 "Crash when adding a device with AppImage"
I tried to add a device and got a crash with
[code]

Should I open a separate issue for that?

_Originally posted by @mgunyho in https://github.com/ossia/score/issues/1013#issuecomment-688792244_

[2020-09-08 11:19] mgunyho opened #1060 "Crash when starting ossia without creating or opening a project and adding a device"
This might be quite a fringe case but I came across this. Using the binary for v3.0.0-alpha8 from [here](https://github.com/ossia/score/issues/1013#issuecomment-688789578).

Steps to reproduce:
1. Start Score with `./Score.AppImage`
1. Instead of clicking "New" or "Load", press <kbd>Esc</kbd> to dismiss the greeting screen
1. Press <kbd>Ctrl</kbd><kbd>B</kbd> to open the "add a new device" dialog

[2020-09-08 11:20] jcelerier commented on #1059
ohhh I see, I can reproduce, you shouldn't be able to add a device without a document being created

[2020-09-08 11:43] mgunyho commented on #1060
Duplicate of https://github.com/ossia/score/issues/1059

[2020-09-08 11:43] #1060 closed, assigned to nobody

[2020-09-08 12:35] jcelerier commented on #1013
On Linux it is generally coredumpctl which is used for that but you need to install & enable systemd-coredump on some distros.

[2020-09-08 13:05] #1059 closed, assigned to jcelerier

[2020-09-08 13:43] jcelerier commented on #1053
ah, found it, we actually need to include QtQuick for that to work. -_-

[2020-09-08 14:00] thibaudk commented on #1053
Cool !
will do,

Cheeres !

[2020-09-08 14:45] jcelerier commented on #1053
wait no :-)
I'd like for this to work without needing to include QtQuick at all

[2020-09-08 18:29] #1053 closed, assigned to jcelerier

[2020-09-08 19:35] #1054 closed, assigned to jcelerier

[2020-09-08 19:36] jcelerier commented on #1054
fixed... but the issue is, it was never saved correctly. Now it is but older scenarios... well they never worked anyways -_-

[2020-09-15 13:33] #1055 closed, assigned to jcelerier

[2020-09-15 13:37] jcelerier opened #1061 "Creating a highlight file for Faust files."
Following https://github.com/jcelerier/QCodeEditor/blob/master/src/internal/QJSONHighlighter.cpp for instance.

@thibaudk : assigining to you as it is a good example of moderately easy Qt-using task if you want to try !

[2020-09-15 20:14] thibaudk commented on #1061
@jcelerier thanks, that's something I wanted to do for a while !

[2020-09-20 07:25] jcelerier commented on #1013
hello, if you have time could you check that one ?

https://github.com/ossia/score/releases/tag/v3.0.0-a13

it was autogenerated from the Ci, i'd like to know if the whole pipeline is finally fine

[2020-09-20 10:51] jcelerier opened #1062 "Windows release only have JACK as API"

[2020-09-20 11:32] jcelerier opened #1063 "Linux release : no sound for bytebeat process"

[2020-09-20 15:30] #1062 closed, assigned to nobody

[2020-09-20 19:12] mgunyho commented on #1013
Seems to work fine!

[2020-09-20 19:43] #1063 closed, assigned to nobody

[2020-09-20 19:45] jcelerier commented on #1013
oaky, I'll close the issue and hope for the best :)

[2020-09-20 19:45] #1013 closed, assigned to jcelerier

[2020-09-20 19:45] jcelerier commented on #1013
thanks for testing, this helps a lot !

[2020-09-22 10:46] thibaudk opened #1064 "Startup arguments"
Startup arguments like --autoplay, --no-gui, and file path work very well in macOs with the latest release of v2.
They are very useful and efficient, especially for Gallery installations.

On Ubuntu tho :
#### with the latest v2 release
* All arguments are ignored, even the file path.
#### with v3 beta release
* file path works ! but the "Welcome" window still opens even if the score is loaded in

[2020-09-22 10:56] thibaudk opened #1065 "Save "Musical/Flexible" display with the score ?"
When loading or reloading a score in V3, the default display is "Musical" instead of "Flexible", as well as "Linear" instead of "Nodal".

But should this state be saved with the score and recalled every time it is reloaded.

Mainly, I imagine this is a stupid question, but what happens if intervals are drawn freely, not fitting to musical time, ad then the score is reloaded with "Musical" display

[2020-09-22 20:35] thibaudk commented on #1065
Well actually I think it already works.

Since I am trying to make it crash all the time, I sometimes don't realize when it goes right !
This only seems to be an issue when opening a score by providing a path as startup argument.
refer to #1064

[2020-09-22 20:35] #1065 closed, assigned to jcelerier

[2020-09-24 20:52] jcelerier opened #1066 "Find decent default heights for various processes"
It's now possible to say that a given process type will have a default height when added in the timeline.
We should investigate relevant default heights for most processes.

See
https://github.com/ossia/score/blob/master/src/plugins/score-plugin-fx/Fx/LFO.hpp#L102

and

https://github.com/ossia/score/blob/master/src/plugins/score-addon-gfx/Gfx/Video/Presenter.hpp#L32

[2020-09-24 20:59] #1041 closed, assigned to jcelerier

[2020-09-24 20:59] jcelerier commented on #1041
fixed by 5ee0534c967748352d2d2c37ce7f7636888a3672

[2020-09-26 16:10] jcelerier opened #1067 "AppImage: cursors still wrong in hidpi ?!"

[2020-09-27 08:36] jcelerier opened #1068 "Icon for preset dragging"
It would be useful to have an icon to allow to drag a preset from a process & interval.

the icon would be at two places (indicated by a red cross) so different sizes may be needed ?

The idea is that when you drag from it to the score, this saves a preset of either a given process or the whole interval in a state in that point
![here](https://user-images.githubusercontent.com/2772730/94360395-1e2

[2020-09-27 08:38] jcelerier opened #1069 "Icon for recording"
The idea for recording is to be able to mark a process as "recordable".
This would follow exactly the same pattern UI-wise than #1068, except with a "record" icon.
Not all processes will have that one - it'd be only :
- automations
- sound file
- piano roll