[2020-09-27 08:38] jcelerier commented on #1069
@aklevy if you fancy that one ?

[2020-09-27 08:38] jcelerier commented on #1068
@aklevy if you fancy that one ?

[2020-09-27 08:52] jcelerier commented on #1051
Hello, can you try with the latest appimage ? thanks !

[2020-09-27 08:53] jcelerier commented on #1051
Also, can you post a quick glxinfo log ? The software uses opengl for the timeline now, it may be related...
Are you running under Wayland or X11 ?

[2020-09-27 11:22] jcelerier commented on #1048
I tried to do a fresh build and it seems to work, with only `pacman -S base-devel ffmpeg boost  qt5-base qt5-declarative qt5-websockets` on a virgin container so I think this has been fixed. Thanks for the report !

[2020-09-27 11:22] #1048 closed, assigned to nobody

[2020-09-27 11:22] jcelerier commented on #1043
closing, please reopen if you see it happening again thanks !

[2020-09-27 11:22] #1043 closed, assigned to nobody

[2020-09-27 11:25] jcelerier commented on #976
I updated the documentation with the current state of things here - now it should not need to change anymore

http://ossia.io/score/features/javascript.html

[2020-09-27 11:25] #976 closed, assigned to nobody

[2020-09-27 11:28] jcelerier commented on #929
I have yet to see that one again, does it happened to anyone recently ?

[2020-09-27 11:28] jcelerier commented on #989
So, I can tackle this one... but this will break the save format :-/ is that ok ?

[2020-09-27 14:36] jcelerier commented on #824
Note: the place for the doc for that one should be

https://github.com/ossia/ossia.github.io/blob/master/_score_features/localtree-feature.markdown

[2020-09-27 14:56] fhars opened #1071 "Assertion failed or segfault when loading score"
When I start ossia.score-3.0.0-a13-2-linux-amd64.AppImage with a new project and the pulseaudio backend, and then try to load any of the scores under USER LIBRARY -> Scores -> Tutorial, ossia score immediately terminates with either
[code]
or
[code]

I have also seen that when switching between a new score and one from the "Recent files":
[code]

[2020-09-27 14:57] jcelerier commented on #1071
Hello,
thanks for the report, the pulseaudio backend is... alpha to say the least.
investigating.

[2020-09-27 15:02] JRSV commented on #1051
Ok, this version seems to work, although, it does not allow me to rezise the main window vertically, its a bit weird, the maximize button works on my second display but when I press it in my first display it disappears.. I am running X11 , do you need my glxinfo log still? (its big)

[2020-09-27 16:03] jcelerier commented on #1051
that's putting it lightly, from the sound of it that feels like a Qt bug.
May I ask for a video of the behaviour ? (I generally use simplescreenrecorder if you don't have a screencap program).

That doesn't sound like a GL bug in any case so glad that one has been fixed.

[2020-09-27 16:18] JRSV commented on #1051
Sure, how should I share a video with you though??

[2020-09-27 18:38] jcelerier commented on #1051
if there's nothing personal on screen you can put it on https://streamable.com/ - else send it to me through wetransfer maybe ? jeanmichael.celerier@gmail.com

[2020-09-28 09:43] aklevy commented on #1068
I do ! But I am not sure I understand correctly: the icon for the issue #1069 is a different one ..?

[2020-09-28 09:48] jcelerier commented on #1068
yep - for this one it should be something that indicates that you can drag from it in some way. Maybe it should be similar to the "state" (the white dot with the blue dot inside) asthe idea is that it creates a cue on the timeline when you drag'n'drop from it.

for the record one, well I guess it should be a red circle, but the problem is that it is already used by the audio output ports..maybe an

[2020-09-28 16:03] maxiestudies opened #1072 "Crash when pressing Return while playing"
this happens regardless of the project, even if it's empty.

I'm using score-3.0.0-a13-2 Appimage on MX Linux 19.1.

This line from the journalctl log might be relevant:
Sep 28 17:50:02 mx kernel: ossia execution[3873]: segfault at ad6a56d8 ip 00000000031da86e sp 00007f62bdd7eb30 error 4 in ossia-score[1f9d000+4d24000]

[2020-09-28 16:26] JRSV commented on #1051
Video of Screen1, where the maximize button disappears.
https://streamable.com/ac4b3h
Video of screen2, where the maximize button appears.
https://streamable.com/neof3d

[2020-09-28 19:14] jcelerier commented on #1072
interesting, never tried MX Linux. Will see what it gives in a VM.

[2020-09-28 19:35] jcelerier commented on #1072
can reproduce, thanks for the report

[2020-09-29 07:59] maxiestudies commented on #1072
thank you for this amazing software!

[2020-09-29 14:34] thibaudk opened #1073 "Jack routing"
Wen using Jack audio Backed, a very useful feature would be to enable audio connection between applications, save and recall  them with each score.

The best system wide audio connection manager is, in my opinion, in ardour.

![ardourRouting](https://user-images.githubusercontent.com/26526517/94571785-9d162900-0270-11eb-9e75-4692161f5cac.png)

A shown above, supernova, pulseAudio and score's input

[2020-09-29 21:58] jcelerier commented on #1072
okay, managed to round it up... next release will have that fixed

[2020-10-01 16:38] thibaudk commented on #989
Well, scores written before V3 can't be loaded anyway so ... not a problem ;)

[2020-10-04 13:10] jcelerier opened #1074 "Curve editing: allow to copy-paste segments in time"

[2020-10-04 13:39] fhars opened #1075 "Font handling on Linux is broken."
If I start ossia.score-3.0.0-a13-2-linux-amd64.AppImage it says:
[code]
And then after that, most of the output is:
[code]

Looks like it is using a default font instead.

[2020-10-04 13:50] fhars commented on #1071
There may be two bugs here: the one where the pulseaudio backend asserts, and the one where ossia.score segfaults once you try to load anything from the user library, which also happens with the jack backend:

[code]

[2020-10-04 14:06] fhars opened #1076 "score doesn't build on any Ubuntu version"
ossia score requires cmake 3.17, and even Ubuntu 20.10 does only have 3.16.2.

[2020-10-04 15:28] fhars commented on #1076
It builds if you change the requires cmake version in the CMakeLists.txt.

[2020-10-04 15:41] jcelerier commented on #1076
huh, that is surprising - we use the CMake PCH feature which was introduced in 3.17.

[2020-10-04 15:42] jcelerier commented on #1075
ah, saw that one - I believe the warnings are harmless, they have been introduced at some point between Qt 5.15 and Qt 5.15.2

Note that score uses the Ubuntu font on every platform so it should look "default" on Ubuntu.

[2020-10-04 15:47] thibaudk commented on #1076
Hi @fhars,
On Ubuntu, you can get CMake 3.18 from snap (instead of apt)

[code]

[2020-10-04 15:54] jcelerier commented on #1076
that's a super useful information @thibaudk, could you add it to the wiki in the building page ? thanks !

[2020-10-04 16:41] thibaudk commented on #1076
@jcelerier done

[2020-10-04 16:44] fhars commented on #1076
A possible explanation might be that according to https://cmake.org/cmake/help/latest/release/3.16.html#commands `target_precompile_headers` was introduced one version earlier.

[2020-10-04 16:55] fhars commented on #1071
Here is a stacktrace from a debug build trying to load `triggers.score`:

[code]

[2020-10-04 17:04] jcelerier commented on #1071
yep, for some reason the "save file version check" had been erroneously removed at some point, I reinstated it a few days ago (in master for now). Couldn't manage to make the pulseaudio backend crash however, but I should test on a machine with ubuntu.

[2020-10-04 17:43] jcelerier commented on #1076
huh, indeed, wonder why it was bumped to 3.17 then. I tested on a ubuntu docker image and actually setting older versions looks like it works

[2020-10-05 07:15] jcelerier opened #1077 "Package manager icon"
The latest release features a package manager in the settings. But for now its icon is not very pretty :p

![pkg](https://user-images.githubusercontent.com/2772730/95050107-4cc51e00-06eb-11eb-9712-3105ca18958c.png)

@aklevy if you feel like it ?

[2020-10-05 07:16] jcelerier commented on #1077
(the code is in `PluginSettingsPresenter::settingsIcon`)

[2020-10-05 09:10] aklevy commented on #1077
Indeed, it is not very pretty !
I will look into it.

[2020-10-05 20:28] fhars opened #1078 "File dialog behaviour on linux is unfortunate"
The file dialogs for "Load" and "Save as..." default to the current working directory, which for the AppImage happens to be a hidden directory under /tmp, which will be deleted on the next reboot and changes every time you restart ossia score. This may not be the best default location to store a user's data.

In a related issue, debug builds (at least under Ubuntu 20.10) use the distribution stand

[2020-10-05 21:23] fhars opened #1079 "It is hard to add things to short intervals"
The "+" is not visible if the display length of the interval is too short:
![image](https://user-images.githubusercontent.com/198941/95133388-88023400-0761-11eb-95b7-a68a62026775.png)

[2020-10-05 22:31] jcelerier commented on #1079
(paging the usual UI suspects @aklevy  @bltzr  @jln- )

Note that to add things you can drag'n'drop things instead from the library to the interval, or by right-clicking in the object menu on the top right (@jln- this may be useful to add to the docs).

And I'd be quite tempted to remove that "+" here in future versions as there are some upcoming features that would be better instead in the interv

[2020-10-06 20:10] #1077 closed, assigned to aklevy

[2020-10-06 20:14] jcelerier commented on #1077
thanks, it's much better!

[2020-10-06 20:52] jcelerier commented on #1077
looking good in retina too

[2020-10-07 08:25] thibaudk opened #1080 "VST3 support"

[2020-10-07 14:32] jcelerier commented on #865
done since 3.0-a15

[2020-10-07 14:32] #865 closed, assigned to jcelerier

[2020-10-07 14:34] jcelerier commented on #1064
can you check if it's ok now with 3.0 a15 ?

[2020-10-07 14:36] jcelerier commented on #953
from a comment on that issue it seems to be fixed by forcing the usage of the qt file dialog, will try setting that

[2020-10-07 14:40] #953 closed, assigned to nobody

[2020-10-07 14:40] #1046 closed, assigned to nobody

[2020-10-07 15:16] jcelerier commented on #1067
fixed

[2020-10-07 15:16] #1067 closed, assigned to jcelerier

[2020-10-07 15:18] #1078 closed, assigned to jcelerier

[2020-10-07 15:19] jcelerier commented on #1078
Fixed both issues - now it'll look for a list of relevant directories first. The dialogs have also been forced to use Qt's ones in every Linux build as many users reported issues with the "native" color and file dialogs on Linux

[2020-10-07 15:26] jcelerier commented on #1045
you can thank @aklevy for that :p

[2020-10-07 15:45] jcelerier commented on #994
it seems that this is because some method calls go through HTTP when refreshing, and spaces aren't correctly corrected to %20 at some point.

[2020-10-07 15:52] jcelerier commented on #1076
was downgraded to cmake 3.13 and tested on both debian stable and ubuntu 20.04 (likely it will work on 18.04 too)

[2020-10-07 15:52] #1076 closed, assigned to jcelerier

[2020-10-07 20:10] thibaudk commented on #1045
GG @aklevy !!

[2020-10-07 21:46] #994 closed, assigned to jcelerier

[2020-10-08 07:48] jcelerier opened #1081 "Moratorium on the fonts used in low-dpi screens"
Trying to make the experience on mac better, I notice that there whatever we do, the font rendering on low-dpi screens is a terrible, blurry mess (not only in score, in every single software. It's unreadable :-)).

What I propose is a discussion on using bitmap fonts instead of the current Ubuntu font on low-dpi screens, to make the text much more crisp and readable.

Here are some examples:
* Cur

[2020-10-08 07:52] jcelerier commented on #1081
@ossia/ui

[2020-10-08 08:04] jcelerier commented on #1081
Some fonts I found nice (again, only meaningful to look at in a non-retina screen):
- https://www.dafont.com/pxl35dx.font?l[]=10&l[]=1&text=time+interval.01
- https://www.dafont.com/ti-83-plus-large.font?l[]=10&l[]=1&text=time+interval.01
- https://www.dafont.com/cyborgsister.font?l[]=10&l[]=1&text=time+interval.01
- https://www.dafont.com/monaco.font?l[]=10&l[]=1&text=time+interval.01
- https://w

[2020-10-08 08:35] jcelerier commented on #1072
Hello, can you check that you don't encounter that anymore on the latest releases ?

[2020-10-08 09:03] jcelerier commented on #1075
yep that went away by updating the Qt version, won't be an issue in the next releases

[2020-10-08 09:03] #1075 closed, assigned to jcelerier

[2020-10-08 09:05] jcelerier commented on #1075
(note that nothing can be done against the first warning - but it's a generic qt warning and we're specifying fonts explicitly in the software so it does not really matter)

[2020-10-08 09:33] #1032 closed, assigned to nobody

[2020-10-08 09:36] jcelerier opened #1082 "expand/collapse icon -> border unnecessary ..?"
(originally an issue mentioned by @aklevy)

[2020-10-08 09:37] jcelerier commented on #413
not relevant anymore

[2020-10-08 09:37] #413 closed, assigned to nobody

[2020-10-08 09:37] jcelerier commented on #107
not relevant anymore

[2020-10-08 09:37] #107 closed, assigned to jcelerier

[2020-10-08 09:40] jcelerier commented on #724
what does it give now ?

[2020-10-08 10:18] jcelerier commented on #594
we now have an EV code signing cert and an Apple dev account :-)

[2020-10-09 13:20] thibaudk opened #1083 ""power" automatin dosen't do anything"

[2020-10-09 13:49] thibaudk opened #1084 "Allow Multiple cols, or empty rows in audio matrix"
At the moment, the audio matrix in the audio device allows for one and only one slot to be selected per rows.
It would be useful to remove this restriction and allow for multiple slots per rows, or none.

[2020-10-09 19:08] jln- commented on #1052
Re-opening the issue as I had a crash when reinitializing scenario. (not totally sure init state had some content, though)

https://gist.github.com/jln-/57ae90006c9970374f22e3b2513258d7

[2020-10-10 08:59] jcelerier commented on #1052
do you happen to have the score file ?

[2020-10-10 09:04] jcelerier commented on #1083
huh ? power is the "default" automation segment type used (but with a coefficient that makes it linear)

[2020-10-10 09:11] thibaudk commented on #1083
Interesting, both "power" and "linear" appear in the same drop-down menu with "easing".
So I guess I expected them to do different things.
Should one of them be removed ?

[2020-10-10 10:05] jcelerier commented on #1083
basically, linear is a *small* performance optimisation in the case where you know that you will never "curve" your curves

[2020-10-10 11:46] aklevy commented on #1081
I do understand the problem, but I don't really like the look of these fonts for UI ... If I had to choose it would be the Free Pixel Font, but I am really not convinced that it helps the readability of the UI.... Could you post another screen shot with a bigger font size ?

[2020-10-10 14:27] jcelerier opened #1085 "Using MIDI CC as input of Mapping does not seem to work correctly"
Looks like there's some float -> int conversion happening too early

[2020-10-10 18:12] thibaudk commented on #1083
Cool ! didn't know that.
Do you think it can be stated on the info box on hovering ?

[2020-10-10 19:35] jcelerier commented on #1083
Maybe we can put it in the doc instead ?
<http://www.jcelerier.name>

On Sat, Oct 10, 2020 at 8:13 PM Thibaud Keller <notifications@github.com>
wrote:

[2020-10-12 17:16] jln- commented on #1052
Unfortunately not. I just reopened in case crash log wad meaningful. If not, feel free to close the issue: I could not replicate the crash so far.

[2020-10-12 18:05] jln- commented on #1083
This was kind of stated in old score 2.x.x but I'll make sure to update this bit of info as well.

[2020-10-12 23:08] jln- opened #1086 "crash when using freehand (alt+drag) curve"
i have a frequent crash when using alt+drag on an automation. It sometimes work but I some point, I generally get the error message as seen in screenshot, then score crashes.

https://gist.github.com/jln-/fd9dc96a1ee9ca51f674ab52bf514931
![Capture d’écran 2020-10-09 à 16 41 54](https://user-images.githubusercontent.com/114325/95797460-e09c7880-0cef-11eb-9f93-6b0bc20c0b86.png)

[2020-10-12 23:11] jln- commented on #1086
[freehandcrash.score.zip](https://github.com/ossia/score/files/5368053/freehandcrash.score.zip)

[2020-10-12 23:16] jln- opened #1087 "crash when right-clicking in the device explorer"
I am afraid I cannot bring more info. As far as I remember:

On a freshly created score.

Right click to add OSC device (no other device opened)

Right click again on the device explorer and kaboom.

scenario was empty and not running. Only had Max opened in the background with Ossia Overview patcher if that matters.

https://gist.github.com/jln-/5144b5447678ac3ac1fcadcee7c02496

[2020-10-13 13:30] #1086 closed, assigned to jcelerier

[2020-10-13 15:28] jln- opened #1088 "Intervals played in small view don't stop at their end"
In the attached scenario, I have a soundfile looped in an interval and an automation on its gain.

When playing the scenario, soundfile stops at the end of the interval (named trame.1). Fine.

Now, if I put trame.1 in full view (attached screenshot), when playing scenario, soundfile waveform is drawn beyond the interval end and keeps playing.

I'd expect soundfile stops at the end of the interval.

[2020-10-13 15:32] maxiestudies commented on #1072
now is crashing when I try to create a new project

syslogs
Oct 13 17:21:22 mx systemd[930]: tmp-.mount_ossia.FypUQS.mount: Succeeded.
Oct 13 17:21:22 mx systemd[1]: tmp-.mount_ossia.FypUQS.mount: Succeeded.
Oct 13 17:22:33 mx kernel: ossia-score[3273]: segfault at 0 ip 0000000000000000 sp 00007fffd2dbd488 error 14 cpu 0 in ossia-score[200000+2cdd000]
Oct 13 17:22:33 mx kernel: Code: Bad RIP value

[2020-10-13 15:37] jln- commented on #1088
This only happens if I set trame1. interval in full screen, THEN start playing.

If I play scenario then set trame.1 in full screen, soundfile properly stops at interval end point.
[Uploading Archive.zip…]()

[2020-10-13 20:14] jln- opened #1089 "crash when adding camera device"
Using score 3.0 a15, in the Device explorer, select add device,  camera, click 'add'.

-> score crashes.

https://gist.github.com/jln-/be99317de9919a23d27afd4c60756a46

[2020-10-14 08:12] jcelerier commented on #1089
interesting, is that a macbook camera ?

[2020-10-14 09:11] jcelerier commented on #1089
the crash itself should be fixed

[2020-10-14 09:11] #1089 closed, assigned to nobody

[2020-10-14 09:32] jcelerier commented on #1087
can't seem to be able to reproduce that one on linux, will have to try on mac -_-

[2020-10-14 10:13] jcelerier commented on #1072
hm, do you have a more complete crashlog ? I can't reproduce that one here :/

[2020-10-14 12:20] jln- commented on #1087
I cant either. So far it only did happened once.

[2020-10-14 12:22] jln- commented on #1089
Yes, it is on a Macbook Pro. Actually, when selecting 'Camera input' device column does not display anything (no built-in camera available). Sorry, should have mentioned that in first place.

[2020-10-14 12:35] jcelerier opened #1090 "SeExpr for generative visuals ?"
https://docs.krita.org/en/reference_manual/layers_and_masks/fill_layer_generators/seexpr.html

[2020-10-14 14:21] maxiestudies commented on #1072
this is all I'm getting when running score from the cli

QFontDatabase: Cannot find font directory /opt/score-sdk/qt5-static/lib/fonts.
Note that Qt no longer ships fonts. Deploy some (from https://dejavu-fonts.github.io/ for example) or switch to fontconfig.
("/home/maxi/Documents/score/addons")
(QToolBarLayout(0xb924f40), QToolBarExtension(0xbb62a30, name = "qt_toolbar_ext_button"), QAction(0xbb

[2020-10-14 15:38] jcelerier commented on #1072
hm, what does `coredumpctl info` gives ? (if it's not about the score process you can find the latest score process that has crashed by running `coredumpctl list`, browsing to the bottom, and finding the number in the second column - then run `coredumpctl info $that_number`.

e.g. here :
![foo](https://user-images.githubusercontent.com/2772730/96012114-1488b280-0e44-11eb-9e27-61c61754e0e6.png)

th

[2020-10-14 18:39] maxiestudies commented on #1072
this is what coredump gives me:

           PID: 14056 (ossia-score)
           UID: 1000 (maxi)
           GID: 1000 (maxi)
        Signal: 11 (SEGV)
     Timestamp: Wed 2020-10-14 20:38:04 CEST (40s ago)
  Command Line: ossia-score
    Executable: /tmp/.mount_ossia.RYNCDZ/usr/bin/ossia-score
 Control Group: /user.slice/user-1000.slice/session-1.scope
          Unit: session-1.scope
         Slic

[2020-10-14 22:07] jln- opened #1091 "nodal - timeline switching crash"
Using the attached scenario, I get a reproducible crash following these steps:

- open scenario
- switch to nodal view
- click the top left blue arrow to collapse patch
- click the bottom right button to switch back to timeline view
=> crash

https://gist.github.com/jln-/7ea4e86c456ddde163c0f2c902427efe
[timeline-vs-node-view-crash.score.zip](https://github.com/ossia/score/files/5381067/timeline-v

[2020-10-14 22:16] jln- commented on #1081
I rather agree with @aklevy.

To be honest, working on non Retina screen for years, I dont find these that blurry. There are for sure, but not to an unbearable point to me.

FWIW, I used Lato (used in Max) in quite different places over the years and I like it. Or just got used to it... :-)

[2020-10-16 16:50] jcelerier commented on #459
implemented zoom / dezoom / recenter / panning options which will make manipulation easier :
![spline](https://user-images.githubusercontent.com/2772730/96286309-7bdb6980-0fe0-11eb-8faa-15ff02b90349.gif)

[2020-10-16 16:52] jcelerier commented on #459
this should also fix @bltzr's bug - now the aspect ratio does not depend anymore on the parent layer's size

[2020-10-17 09:48] thibaudk opened #1092 "Separte window for Message log"
Since the message log window is crucial to debug a device connection,
It would greatly help if it didn't appear in the same place as the device explorer tab.

At the bottom of the center view, it would simply "compete for space" with the Aduio window.
Seems to me less likely to need both of those at the same time.

[2020-10-18 12:49] aklevy commented on #1069
@jcelerier  I close this as the icon is ready to be integrated

[2020-10-18 12:49] #1069 closed, assigned to nobody

[2020-10-19 16:51] jln- commented on #659
Upping this one as well as I was documenting this. ATM, case 1 does not work as of v3.0.0-a15.

Assuming two states with a gain parameter stored with respectively -12dB and 0dB, dropping gain parameter on the interval creates an automation in tween mode between 0 and 1

[2020-10-19 18:15] #1091 closed, assigned to jcelerier

[2020-10-20 11:15] jln- commented on #659
A bit late to the party, I know, but sharing some thoughts on these use cases as I try to emphasize the drag&drop workflow for the documentation.

While these are super handy, I am a bit concerned that creating a simple automation is a bit complicated ATM:
- mouse over to the interval
- click + to add process then select desired process (automation)
- click the process to bring the inspector
- mou

[2020-10-20 11:31] jcelerier commented on #659
hm, what I'd like to move to is only using the process library (or the explorer) for that :

- drag the process from the library to the interval creates an automation
- double-click on the process in the library when an interval is selected creates an automation

what do you think ?

but, isn't this what happens right now if you drop an address from the DE ?
![autom](https://user-images.githubuser

[2020-10-20 13:54] jln- opened #1093 "ossia-score-vstpuppet crash"
When loading score v3.0.0-a16, I get a notification that vstpuppet crashes.

It may well be related to the fact that I have a plugin (Altiverb) that is not authorized and thus usually brings a pop up windows asking for authorization when launching audio apps.

crash log here: https://gist.github.com/jln-/86a2d1dca7c6967f593d4c074b7c8bfb

[2020-10-20 14:13] jln- opened #1094 "nodal view is glitchy"
Using v3.0.0-a16, switching to nodal view is glitchy when zooming or moving things around.

See attached screenshot (macOS 10.15.7 - non-retina screen if that matters)

![Capture d’écran 2020-10-20 à 15 48 46](https://user-images.githubusercontent.com/114325/96598418-227c7e80-12ef-11eb-8ffd-c4813b5eedb8.png)

[2020-10-20 16:38] jcelerier commented on #1093
arf yes, now that score is notarized everything it loads must be notarized too it seems... gonna check if there's something to allow that

[2020-10-20 21:35] jln- opened #1095 "automation fullsize edit crash"
Yet another not reproducible (so far) crash.

I was basically going back and forth between main scenario view and the automation full size view with doing much edits in the automation itself.

I added a color process to the same interval, again going back and forth between full size view and main view, undo the creation of the color process (when in main view). And it crashed at some point.

Attac

[2020-10-20 21:45] jln- opened #1096 "crash when attempting to load scenario saved with old version (a15)"
As title states. Using v3.0.0-a16, when trying to load a scenario written using previous alpha, I get a message warning that the scenario is too old, then a second window stating "invalid something", then crash.

https://gist.github.com/jln-/0b5d8e8b8ca75c780c7397c1c0cbcd30

[2020-10-20 21:52] jln- opened #1097 "scenario cannot be saved to disk"
Using v3.0.0-a16, scenario cannot be saved to disc.

In score, i can either save or use "save as", everything goes fine. If launching score again, saved files do appear in recent files in splash screen or in the recent men.

But when looking on my HD, no files exist.

I thus lost the scenario I've been working on for the full day for the documentation. :-( Luckily, it only had 2 states stored with

[2020-10-20 22:01] jln- opened #1098 "Zooming to edit automation in full size has extreme zoom default"
Using v3.0.0-a16, if I double-click a process to edit it in full size, default zoom value is extreme (like a few ms). I guess zoom should be (used to) 100%.

See attached gif.

![zoom_wrong_default_value](https://user-images.githubusercontent.com/114325/96648922-6ba0f280-1330-11eb-9ff7-20b2289d5f2b.gif)

[2020-10-20 22:13] jln- opened #1099 "Going into full size automation edit remove musical mode"
Using v3.0.0-a16, with musical grid activated, if I double-click an interval to bring it full size, this disables musical grid mode.

Also the case in v3.0.0-a15

[2020-10-21 00:15] jln- commented on #659
You mean this and remove being able to grab addresses directly to create processes ?

If so, I would spontaneously disagree. It may be hard to argue briefly here (not to mention that it is 2.00 am ;-) but from a UX pov, I'd rather stick as much as possible to a workflow starting from "what we want to control" (a sound or image parameter) rather than "how we need to control it".

Not sure this is c

[2020-10-21 08:37] jcelerier commented on #659
eh, I'd say I agree but then I don't understand why keep the "+", as adding things like that are even less related to the "what we are controlling"

hm, I think that tweening by default was @bltzr 's request, maybe we can make that a setting ?
edit: yes, it was in precisely this issue XD

[2020-10-22 17:18] jcelerier commented on #989
done !

[2020-10-22 17:18] #989 closed, assigned to jcelerier

[2020-10-22 17:19] jcelerier commented on #669
I think that given the way the device window has been reworked, with the list of presets, etc., it does not make sense anymore

[2020-10-22 17:26] thibaudk commented on #989
:+1:

[2020-10-22 18:57] #485 closed, assigned to nobody

[2020-10-22 19:39] jcelerier commented on #783
tried my best but couldn't reproduce that one...

[2020-10-22 19:39] #783 closed, assigned to nobody

[2020-10-22 19:40] jcelerier commented on #971
closing as there have been fixes to the mapper device since then, please reopen if the issue arises again

[2020-10-22 21:15] jcelerier commented on #911
seems to work now, I tried to close it and reopen it tons of time and i did not get any crash

[2020-10-22 21:15] #911 closed, assigned to jcelerier

[2020-10-22 21:17] jcelerier commented on #1096
not getting any crash anymore with a17, on both macos and linux

[2020-10-22 21:17] #1096 closed, assigned to jcelerier

[2020-10-22 22:33] jcelerier commented on #1093
should be fixed by e4a40edb5fcc212bb413e4db06c419fa2152146b...

[2020-10-22 22:33] #1093 closed, assigned to jcelerier

[2020-10-22 22:33] jcelerier commented on #1097
should be fixed by e4a40edb5fcc212bb413e4db06c419fa2152146b...

[2020-10-22 22:33] #1097 closed, assigned to jcelerier

[2020-10-22 22:33] #1098 closed, assigned to jcelerier

[2020-10-22 23:21] #1052 closed, assigned to jcelerier

[2020-10-22 23:21] jcelerier commented on #1052
for good this time

[2020-10-22 23:23] jcelerier commented on #1087
closing, tried again but definitely can't reproduce even on mac

[2020-10-22 23:23] #1087 closed, assigned to jcelerier

[2020-10-22 23:25] #971 closed, assigned to jcelerier

[2020-10-23 11:08] #1072 closed, assigned to jcelerier

[2020-10-23 13:36] jcelerier opened #1100 "midi in seems broken on win32"

[2020-10-23 13:42] jcelerier opened #1101 "faust plug-ins do not seem to enjoy being encapsulated"
or copy-pasted - controls lose their min / max

[2020-10-23 14:11] jcelerier opened #1102 "spline in nodal view creates artifacts when moved"
Likely because of the axes

[2020-10-23 17:00] jcelerier commented on #1071
found and fixed the pulseaudio crash (hopefully - I managed to reproduce something like it, and fixed it)

[2020-10-23 18:13] jcelerier commented on #1095
arf, that one I really can't seem to be able to make it crash :( closing, please reopen if you see it again

[2020-10-23 18:13] #1095 closed, assigned to jcelerier

[2020-10-23 18:16] jcelerier commented on #929
closing, please reopen if you see it

[2020-10-23 18:16] #929 closed, assigned to nobody

[2020-10-23 18:21] jcelerier commented on #1051
hum, I'm really at loss with that one :( windows chrome (where there are the minimize / maximize buttons) is not something that is handled by score itself but by the compositor... I've looked a bit around here for issues but did not find anything though : https://www.google.com/search?q=maximize+button+disappears+fedora+dual+screen

[2020-10-23 18:25] JRSV commented on #1051
oh well... hopefully there will be no more surprises. I don't think it actually affects the program itself.
thanks

[2020-10-23 18:43] #1071 closed, assigned to jcelerier

[2020-10-23 19:23] jcelerier opened #1103 "windows: package manager does not seem to be able to refresh"
because the release does not have ssl support -_-

[2020-10-23 19:27] jcelerier opened #1104 "windows: crash when opening message panel"

[2020-10-24 13:16] jcelerier commented on #1100
done

[2020-10-24 13:16] #1100 closed, assigned to jcelerier

[2020-10-24 16:32] MacroMachines opened #1105 "OSX step sequencer not showing sliders"
https://www.dropbox.com/s/p2nkxrqu87hdbyx/Screen%20Shot%202020-10-24%20at%2012.29.58%20PM.png?dl=0
only "zoom in to edit steps" shows up on the step sequencer no matter what zoom level.  Mojave 10.14.6 and score 3.0.0-a19

[2020-10-24 21:38] jln- opened #1106 "Cannot add children to Midi device"
Using v3.0.0-a18, once having created a Midi input device (without the 'create whole tree' option), right-click on the device name display the 'add children' option in the contextual menu. When selecting it, nothing happen.

If building Midi namespace 'by hand' is not supported, the option should be greyed out in the contextual menu.

If supported, then there is a bug. :-)

[2020-10-24 21:42] jln- opened #1107 "Midi input device cannot be edited"
Using score v3.0.0-a18, created Midi input device cannot be edited. Steps to reproduce:

- From the D-E: Add device
- Select Midi input (leave 'create whole tree' unticked)
- Right-click on the Midi device name, and select 'edit'
- In the setup window, toggle on 'create whole tree', click OK
- In the D-E, device has no children etc.

Device has to be removed, then created again with the 'Create wh

[2020-10-24 21:43] jln- opened #1108 "Midi learn window displays OSC learn"
using v3.0.0-a18, when choosing Learn from a Midi input device contextual menu, the learn window is titled "OSC learn".

The window should be titled "Midi learn" or something generic if that same window is to be shared between devices types.

[2020-10-26 12:51] jln- opened #1109 "video keeps playing when pausing scenario execution"
Using v3.0.0-a19, if I drop a video file in the timeline, set the window as output, playing the scenario plays the video file. Fine.

If I pause the playing during the interval, video file keeps playing. I'd expect it pauses the playing.

[2020-10-28 14:21] jcelerier commented on #1105
fixed in master !

[2020-10-28 14:21] #1105 closed, assigned to jcelerier

[2020-10-29 15:30] jln- opened #1110 "unlocked move crash"
Not sure how to properly phrase this one. So see the attached gif

(NB: it seems the frame got out of the GIF export. But basically, score crashes at the end of gif)

Using v3.0.0-a19

https://gist.github.com/jln-/963cd55950975ebeda00a3cc28406c89

![unlock-move-crash](https://user-images.githubusercontent.com/114325/97595210-c2c75700-1a03-11eb-94f9-34013b3df47f.gif)
[triggers.score.zip](https://gi

[2020-10-29 15:34] jln- commented on #1110
By the way, it seems there is something wrong here regarding how point shared in processes is handled, doesn't it ? Like curvature in process #1 is ignored ?

[2020-10-29 18:24] jln- opened #1111 "consecutive processes cant be scaled or move using event bar"
Using v3.0.0-a19, moving or scaling consecutive processes cant be done by grabbing the event bar (the one joining two consecutive intervals), although the mouse cursor changes and suggests it is possible.

It would be nice if it was possible, as mouse suggests. (moreover, it would be consistant since it can be done this way when trying to change the length of last process of a sequence for example

[2020-10-30 11:41] jcelerier commented on #1104
hum, can't reproduce that one :(

[2020-10-30 11:41] #1104 closed, assigned to jcelerier

[2020-10-30 22:05] jln- opened #1112 "right-click javascript process crash"
Using v3.0.0-a19, right-click on the JS process in the attached scenario crashes score. This is reproducible.

[javascript-crash.txt](https://github.com/ossia/score/files/5467854/javascript-crash.txt)
[javascript-crash.score.zip](https://github.com/ossia/score/files/5467855/javascript-crash.score.zip)

[2020-10-31 11:44] jln- opened #1113 "process cannot be dragged in new slot"
Using the attached scenario and v3.0.0-a19, for some reasons, I cannot drag process attached to the second interval in a new slot at the bottom (like for other intervals).
[undraggable-process.score.zip](https://github.com/ossia/score/files/5468978/undraggable-process.score.zip)

[2020-11-03 17:52] jln- opened #1114 "Play tool and select tool conflict"
Following a hotline session with @matcham , there seems to be a bug with play and select tools or at least a very non intuitive behavior.

If one selects the play tool ('p' key), hovering some interval for example set cursor to select mode (it draws as a hand in this case) and thus prevent from actually play. It is further more confusing that the play tool is still selected in the tool bar.

If a

[2020-11-03 17:55] jln- commented on #1114
On a related note, I am not sure it is desirable (assuming it's by design) that the play tool automatically switch back to select mode when hovering other part of the UI (such as the device explorer).

[2020-11-03 18:00] jln- opened #1115 "Play tool does not display playhead when playing is paused"
Again, following hotline session with @matcham it appears that using play tool to set the playhead at a position while the playing is paused does not set the playhead.

When clicking in the scenario using Play tool while the scenario is on pause, the playhead should jump at that position. (but only start playing when clicking play button /space bar).

[2020-11-05 04:46] yanxiangyi commented on #186
`wget http://security.ubuntu.com/ubuntu/pool/main/i/icu/libicu52_52.1-3_amd64.deb`
`sudo dpkg -i libicu52_52.1-3_amd64.deb`
`sudo apt-get -f install`

[2020-11-05 18:57] thibaudk opened #1116 "Share functions between devices and processes"
This idea came about discussing the interest of a filter process (http://cristal.univ-lille.fr/~casiez/1euro/)
and the fact the it would be equaly useful as a function of the mapper device.

To avoid having to implement functions twice, for processes and for devices,
a common header for both would be very helpful !

[2020-11-05 19:16] thibaudk opened #1117 "JIT device"
As mentioned in #1116

Some processes may also be useful as Devices.
Especially the JIT Process, that could allow to create custom devices in c++.

For example, running score on Raspberry Pi, the ability to compile Custom [Wiring Pi](http://wiringpi.com/)
Device to access GPIOs from inside score would be very interesting.

Similarly, running score on the BeagleBone, a custom device enabling compil

[2020-11-05 19:17] thibaudk opened #1118 "Run openFrameworks inside score"
As can be seen in Touch designer
https://docs.derivative.ca/index.php?title=OpenFrameworks
it seems apparently possible.

If I was to imagine the end result, I would wish it as a extension of a JIT device (#1117).
Drawing from @bltzr method of converting ofParameters to ossiaNodes,
compiling openFrameworks code inside the JIT device would give direct access to
ofParameters with the addition of an

[2020-11-19 22:10] thibaudk opened #1119 "No more "add child" or "add sibing" option on the audio Device"
The option remains greyed out in the drop down menu on any nodes of the audio Device.

This prevents the creation of custom audio I/O configurations.

[2020-11-21 09:57] thibaudk opened #1120 "Option to increase Font and general object size."
This has been requested by several people now.

[2020-11-21 10:10] jcelerier commented on #1120
note that if this is an emergency you can do e.g.

    QT_SCALE_FACTOR=1.5 ./ossia-score

to launch it

[2020-11-21 10:12] thibaudk commented on #1120
Perfect Thanks !
Not an emergency but good to Know

[2020-11-21 10:50] thibaudk opened #1121 "strange Beahvior on macOS Catalina"
This score
https://github.com/scrime-u-bordeaux/marelle
or apparently any other made on with Catalina crashes on startup if it is any where else that in the Desktop directory.

tryed :
_removing all media
_fisrt saving in a different folder,
_saving in the desctop directory, then move the file elsware.

[2020-11-22 14:07] thibaudk opened #1122 "Videos don't always rewind or pause"
While playing a video for a second time after stooping,
it seems that it i playing back from the last frame played.

Also, when pausing the a scenario, video processes inside do not pause.

[2020-12-02 13:56] thibaudk opened #1123 "[Faust] use local lib"
Trying to add the [smartfaust](https://github.com/grame-cncm/smartfaust) project
in the user library, it seems like the Faust support in score doesn't allow the use of local
.lib files in the same folder as the .dsp file.

I Imagine, as the building of score includes a "download Faust library" step,
That a single place for looking up Faust libraries is allowed.

Either the "drag and drop" function

[2020-12-02 14:02] thibaudk opened #1124 "[user-library] saving patches in Nodal process"
Nothing inside a nodal view encapsulating audio/video or control processes
can be saved into the user library

[2020-12-02 22:43] jcelerier commented on #1045
I just fixed something related to play from here, can you try again ?

[2020-12-02 22:56] thibaudk commented on #1045
Yes, no double tap required anymore apparently.

Nice One !

[2020-12-02 22:56] #1045 closed, assigned to jcelerier

[2020-12-06 21:19] k164v opened #1125 "Pattern sequencer bug"
Hi,

I am currently running Ossis score 3.0.0-a21. I am trying to use the pattern sequencer add-on.

Currently, the pattern sequencer works well in the main session but every time I switch to the full-view, it will messed up the timing of pattern sequencer(make it runs super fast and cannot go back).

I tested both MacOS and Windows and I can confirm this issue occurs on both platform.

[2020-12-08 19:01] jcelerier commented on #1125
oh, very interesting issue, thanks

[2020-12-16 09:03] thibaudk opened #1126 "hidden adress slot"
The little white triangle is apparently the same color as the background for the inspector initialy as can be seen int this picture
![hiddenSlot](https://user-images.githubusercontent.com/26526517/102325990-1f66dd00-3f84-11eb-8cb2-27cda6cee09a.png)

It is there, just not visible, but it can be clcked-on and used
![hiddenSlotBack](https://user-images.githubusercontent.com/26526517/102327326-dc0d6e0

[2020-12-16 23:46] thibaudk opened #1127 "crash when zooming out"
This happens when a sound file wave form is visible and gets shrinked down by zooming out.
(probably a duplicate issue but I can not find the original)

[2020-12-16 23:50] thibaudk opened #1128 "devices can't be added from the user library"
on macOS, when double clicking on a device example in the user library (like the mapper for example), the "Add device" prompt doesn't show and the device is not added.

@bltzr @jln- do you have this issue on OSX ?

[2020-12-17 12:34] jcelerier opened #1129 "Need an icon for the Analysis category of processes"
A small graph per the drawing

[2020-12-17 22:15] jcelerier commented on #1129
thanks @aklevy  !

[2020-12-17 22:15] #1129 closed, assigned to aklevy

[2020-12-22 10:16] jcelerier commented on #1126
interesting, @aklevy  do you fancy looking at that one ?

[2020-12-23 16:05] jcelerier commented on #1127
can you provide the .wav file ?

[2020-12-29 22:23] aklevy commented on #1126
@jcelerier yep I will try to fix that

[2021-01-03 16:47] aklevy commented on #1126
Fixed, the bug was in the initialization of ArrowButton

[2021-01-03 16:47] #1126 closed, assigned to nobody

[2021-01-04 12:29] jcelerier commented on #1126
ah, thanks !

[2021-01-04 12:31] thibaudk commented on #1126
Nice !

[2021-01-12 09:14] ju1ius opened #1130 "Segfault when opening a score on debian"
Hi,

This is the first time I try to use ossia score.
I just downloaded the latest linux appimage (3.0.0-a21), and the program segfaults whenever trying open or create a new project (e.g. clicking on New on the welcome screen or opening an example from the user library).

I'm running debian sid.

[code]

[2021-01-12 10:30] ju1ius commented on #1130
FYI, the highest release that doesn't crash instantly when opening files is [version 3.0.0-a14-1](https://github.com/ossia/score/releases/download/v3.0.0-a14-1/ossia.score-3.0.0-a14-1-linux-amd64.AppImage), so looks like a bug might have been introduced in 3.0.0-a15... Maybe related to the zeroconf feature ?

[2021-01-13 10:10] jcelerier commented on #1130
Hello, thanks for testing (and apologies for the crash).

On which linux distro are you ? The release is tested with archlinux and latest ubuntus

[2021-01-13 12:10] ju1ius commented on #1130
Hey no worries, this is an alpha release after all. :wink:

My distro is Debian sid, so should be pretty close to latest ubuntu I guess...

[2021-01-13 12:14] jcelerier commented on #1130
okay, I had tested on debian testing, will try sid the next few days

[2021-01-17 22:25] mxmilkiib opened #1131 "Ctlra integration for mapping/using hardware controllers?"
http://openavproductions.com/ctlra
https://github.com/openAVproductions/openAV-Ctlra
@harryhaaren

[2021-01-17 22:29] thibaudk commented on #1131
:+1:

[2021-01-22 16:13] lucasbardis commented on #1130
Hello, similar error here on linux debian buster GNOME 3.30.2 with backport with the release ossia.score-3.0.0-a21-linux-amd64
Ossia is launching but close when selecting "new".
I have launched with root and have this error :
`Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.
QFontDatabase: Cannot find font directory /opt/score-sdk/qt5-stati

[2021-01-22 18:20] jcelerier commented on #1130
hmmm, so it seems that it does not work on wayland - do you know if you could try running it under XWayland ?

[2021-01-23 12:14] ju1ius commented on #1130
@jcelerier FYI, I'm running debian sid under XFCE, so under a X server _not_ Wayland.
Thus the issue of crashing when opening file is not related to wayland. Changing the title back to reflect this fact.

[2021-01-23 12:31] jcelerier commented on #1130
ah, thanks, two different issues then

[2021-01-23 12:32] jcelerier opened #1132 "Linux: appimages don't have wayland support"
Hello, similar error here on linux debian buster GNOME 3.30.2 with backport with the release ossia.score-3.0.0-a21-linux-amd64
Ossia is launching but close when selecting "new".
I have launched with root and have this error :
`Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.
QFontDatabase: Cannot find font directory /opt/score-sdk/qt5-stati

[2021-01-25 08:59] bltzr opened #1133 "notes from ÉESI workshop"
- 10.13 version
- make Kinect app available

[2021-01-25 09:17] jcelerier opened #1134 "windows: hue sliders: crosshair not at the right position"
![image](https://user-images.githubusercontent.com/2772730/105685563-80c08b00-5ef6-11eb-9988-833bf9fe6f66.png)

[2021-01-25 09:38] jcelerier opened #1135 "selecting graph-connected states and pressing suppr: they aren't removed"

[2021-01-25 09:48] jcelerier commented on #1133
- ability to set a number of iteration in a trigger
- external editor

[2021-01-25 10:02] bltzr commented on #1133
- add default gain widget to all audio processes (in the process header ?)

[2021-01-25 10:38] bltzr opened #1136 "mapper (float) curves are scaled when scaling the parent interval"

[2021-01-25 10:53] jcelerier commented on #1133
* show video out in the background à la touchdesigner

[2021-01-25 10:59] jcelerier commented on #1133
kinect patch: depth ?

[2021-01-25 15:40] jcelerier commented on #1133
big sur: issue with fontconfig: must remove qt.conf

=> done

[2021-01-25 17:07] bltzr opened #1137 "curves are not scaled relatively to the first value when tween is enabled"
see attached score
[bugTween.score.zip](https://github.com/ossia/score/files/5868174/bugTween.score.zip)

[2021-01-26 13:27] thibaudk opened #1138 "Window device in no-gui mode"
This would be particularly useful when running score on a "headless" embedded system.
It would then allow to process graphics through Qt only, with neither a desktop environment
or an x server installed.

[2021-01-29 20:09] thibaudk opened #1139 "Full screen the Window device on startup"
The particular use case is from @escuta on the [forum](https://forum.ossia.io/t/questions-about-video/208).
It concerns a command line argument to run on a headless setup in conjunction with the "no-gui" & "autoplay" arguments.

related to https://github.com/ossia/score/issues/1138

Another way, I would imagine, would be an option in the right click menu of the window device, under "show", to togg

[2021-01-29 20:54] thibaudk commented on #1122
referenced in https://forum.ossia.io/t/questions-about-video/208/3?u=thibaudk

[2021-01-30 10:21] jcelerier commented on #1139
Actually what about putting the "full screen" as a node of the device ? this way you can control it from the score

[2021-01-30 11:05] thibaudk commented on #1139
this what I initially thought but this doesn't seem to be a parameter used for interaction, and more of an option you set once.
In situation, I could see that having the window set to full size during the execution or the initialization could bring some very "annoying" behavior. For example, vIf one needed to work on the scenario on a single screen, and the full screen of the window was set everyt

[2021-01-30 13:06] jcelerier commented on #1139
yep that could be annoying for sure.

what I'm going to do for now is to put the window fullscreen if we play with --autoplay.

then we'll discuss things next week

[2021-01-30 13:21] thibaudk commented on #1139
Perfect !

[2021-02-01 08:26] theslyprofessor opened #1140 "Compilation for High Sierra"
Hi,
I would like to know if I can get a compiled version of Ossia for MacOS High Sierra. My Mac cannot upgrade to Mojave until I purchase a new graphics card.

Thanks,
Nakul

[2021-02-01 08:30] avilleret commented on #1140
Hi,

you could try this https://transfer.sh/Veev5/score.10.13.zip which has been posted on gitter few days ago

[2021-02-01 08:46] theslyprofessor commented on #1140
That didn't work for some reason. Very strange. I am running OS 10.13.6

[2021-02-01 10:23] jcelerier commented on #1140
hello, I'm trying to get feedback on that release, could you post your error log when you try to run it ?

[2021-02-01 10:25] jcelerier commented on #1131
yep, the big question would be : what kind of mapping from the controllers would make sense ?

* I guess there are some obvious ones with the transport, etc.
* Currently selected process could be mapped to faders / pots ?
* what else ?

[2021-02-01 10:27] jcelerier commented on #1131
also, does the lib work on mac / windows ?

[2021-02-01 17:08] jcelerier commented on #1130
@ju1ius could you try the a22 ? I installed a clean debian, reproduced & fixed - now it should work

[2021-02-02 00:18] ju1ius commented on #1130
Hi @jcelerier,

I only did a really quick test but opening/saving seems to work so far...
Thanks !

[2021-02-02 00:18] #1130 closed, assigned to nobody

[2021-02-02 09:50] jcelerier commented on #1130
thanks to you for reporting the issue :-)

[2021-02-02 17:53] jcelerier commented on #1140
@theslyprofessor I made a new release with 10.13 (a22), if you have time to check it out that would be great (as none of us have access to a 10.13 system so it's a bit of a shot in the dark...)

[2021-02-04 06:53] theslyprofessor commented on #1140
I just downloaded the build off the main website. Was that what I should have downloaded? I can't see any error log, only this message displaying a notice of system incompatibility:
![image](https://user-images.githubusercontent.com/20659937/106855963-9eb68a00-6672-11eb-873a-6cc1f6b85bf8.png)

[2021-02-04 09:05] avilleret commented on #1140
hi @theslyprofessor you should try this version : https://transfer.sh/Veev5/score.10.13.zip which is a special build for 10.13.
Unfortunately we don't have a 10.13 machine under the hand here to test so your feedback will be extremely valuable :-)
thanks

[2021-02-04 09:21] theslyprofessor commented on #1140
Unfortunately, this version does not work either :(

On Thu, Feb 4, 2021 at 1:05 AM Antoine Villeret <notifications@github.com>
wrote:

[2021-02-04 09:43] thibaudk opened #1141 "onConnected function for QML devices"
Some WS devices expect to receive a initialization message

[2021-02-04 10:12] jcelerier commented on #1140
@theslyprofessor  can you explain what does not work ? do you get an error message, does it show something ? how far does it get ?
thanks !

[2021-02-04 10:26] theslyprofessor commented on #1140
All I get is this:
![image](https://user-images.githubusercontent.com/20659937/106879709-5908ba00-6690-11eb-8654-ff02cd951da4.png)

[2021-02-05 11:49] bltzr opened #1142 "different zoom (+ position ?) for small and full views of nodal processes"

[2021-02-05 11:50] jcelerier opened #1143 "Don't allow renaming audio device"

[2021-02-05 12:33] bltzr opened #1144 "add information for icons in the inspector"
for now, nothing happens when hovering over one of the icons on top of the inspector
![image](https://user-images.githubusercontent.com/113982/107034282-c878c980-67b6-11eb-93fa-c85c0c5a9557.png)

[2021-02-05 12:51] bltzr opened #1145 "add a tree interface in the inspector for displaying (and renaming) common addresses in a multiple selection"

[2021-02-05 17:35] vincentgoudard commented on #792
Adding my 2 cents to this thread.
When declaring multiple addresses on an OSCquery device in Max, I get something like the picture below.
I would better have `band.1` showing on top of the list :)

<img width="196" alt="Capture d’écran 2021-02-05 à 18 33 18" src="https://user-images.githubusercontent.com/7270933/107068272-b14ed180-67e0-11eb-8aba-d609fbd6025c.png">

[2021-02-06 10:32] vincentgoudard opened #1146 "scale mode icon improvement"
scale mode icon looks more like a fullscreen icon and there is no visible notification if the scale mode is ON or OFF (apart from the icon slightly changing, but that's not explicit like the "lock" icon, for instance).

Adding the state of the scale mode when hovering the button would help, like "Scale mode (Alt) : ON" or "Scale mode (Alt) : OFF"

<img width="102" alt="Capture d’écran 2021-02-06

[2021-02-06 10:41] vincentgoudard opened #1147 "Piano roll visual glitch when changing min max"
Create a piano roll, put some notes into it, then change the roll min/max (for instance, set the max to 80) : the notes will be scaled vertically, standing in between pitch lines and neither the picth lines nor the the note names are updated.
See below.

Expected : the pitch lines and note names on the left are updated.

Tested in score 3.0.0-a22

<img width="758" alt="Capture d’écran 2021-02-06

[2021-02-06 11:49] vincentgoudard opened #1148 "score file crashes score"
Open and play this score in v3.0.0-a22 on Mac Mojave freezes Score.

[crash_starwars.score.zip](https://github.com/ossia/score/files/5936745/crash_starwars.score.zip)

[2021-02-06 11:55] thibaudk commented on #1148
crashes for me too,
properly disabling the trigger or removing the transition doesn't seem to help.

[2021-02-06 13:23] vincentgoudard opened #1150 "resizing piano roll to a shorter duration deletes notes even when these notes start before the roll ends"
Those should only be deleted if the new time interval ends *before* the beginning of a note, or even better, not deleted at all so that they are here again if we extend the roll's duration later.

[2021-02-06 13:26] vincentgoudard commented on #1150
This could also apply to automations (and others stuffs?), that lose all such data when being resized to a shorter duration.

[2021-02-06 15:00] vincentgoudard opened #1151 "FR : show a blink light in devices explorer for parameter type impulse"
would help to see if param is received

[2021-02-06 15:28] vincentgoudard opened #1152 "FR : musical time scale is not displayed when entering a process in fullscreen"
... and this makes writing musical-time based automation harder.
Tested in release v3.0.0-a22

[2021-02-06 15:35] thibaudk opened #1153 "Resize and snap midi note in Piano roll"
with the same inspector interface and magnetism as intervals, it would be nice !

[2021-02-07 12:56] thibaudk opened #1154 "Widget to combine rate and time division"
this would alow to skip having to choose "none' in the time division chooser, for the rate to be used (in the LFO for exemple).
It would also help to visualize the relationship between musical division and rate in Hz.

[2021-02-08 10:01] jcelerier opened #1155 "Qt6 support"
Not currently possible because:

- QStateMachine is gone (comes back in 6.1)
- QGLWidget is gone
- QSerialPort is gone (port to ASIO)

[2021-02-12 12:42] avilleret commented on #1140
@jcelerier just try (for fun) on an old MacBook Pro under 10.11.6 and I got the message.
It appears that the `LSMinimumSystemVersion` filed in the Info.plist is wrong.
Changing it to 10.11.0 and then the message says :

and not 10.14 anymore

[2021-02-12 14:40] jcelerier commented on #1140
aghh thanks @avilleret, fixing that to use the actual cmake min variable

[2021-02-12 23:04] thibaudk opened #1156 "setting OSC rate disables both sending and receiving"
this is using the rate widget in the edition window of the device.

[2021-02-13 09:57] jcelerier commented on #1156
for all protocols ?

[2021-02-13 11:13] thibaudk commented on #1156
It is only available for osc and oscquerry.
for oscquerry, it works if the rate is set on initialization. If it is later edited, I have some weird behavior but that may be on my side

[2021-02-15 09:23] theslyprofessor commented on #1140
![image](https://user-images.githubusercontent.com/20659937/107927765-4d3cb380-6f2c-11eb-9093-a14b15f4d8a2.png)
As seen above, I changed my Info.plist entries to match what @avilleret suggested, but I still get the same error message.

[2021-02-16 17:37] thibaudk opened #1157 "[Windows] Crash when switchin from half-screen to full-screen"
This happened twice while working with recording and playback of automatons and messages,
to and from an OSC Device.

When pressing full-screen, the score window is first duplicated for a second before crashing.

Here is the scenario that crashed
[Mosca.zip](https://github.com/ossia/score/files/5990431/Mosca.zip)

tested with 9280e8f binary (from Azure)

[2021-02-19 10:55] thibaudk opened #1158 "Wiimote device functional but not updated in the Device explorer window"
The Parameters work no problems inside the scenario but to check there value inside the Device explorer, one has to call "refresh values". It is not automatic like on Other devices.

tested on feature/async_protocols branch

[2021-02-23 13:38] thibaudk opened #1159 "[mac OS big sure] crash when opening code editor"
This happens with version 3.0.0-a21

[2021-02-24 09:15] jcelerier commented on #1159
can you try to remove the qt.conf file in the .app/Contents/Resources  ?

[2021-02-24 09:56] thibaudk commented on #1159
Perfect ! it works !

cheers !

[2021-02-24 09:56] #1159 closed, assigned to nobody

[2021-02-25 09:44] thibaudk opened #1160 "Strange state behaviour"
In this scenario, the intervals under the "Chef d'orchestre JS" act strangely

[proto.zip](https://github.com/ossia/score/files/6041987/proto.zip)

After the "Conductor" interval ends, the following interval will only play until it's end state but never actually finish.
the following interval never starts.

[2021-03-08 16:22] bltzr opened #1161 "musical metrics preference is not saved"
when setting it off, it will go back to on at the next startup

[2021-03-08 18:53] bltzr commented on #1161
this is also not saved in the .score file : if I uncheck the notes icon, it’s back on when opening the file

[2021-03-09 09:16] jcelerier commented on #1148
fixed in new release (a22 did create corrupt save files, sorry for that)

[2021-03-09 09:16] #1148 closed, assigned to nobody

[2021-03-09 15:41] thibaudk opened #1162 "Impossible interval"
![simplescreenrecorder](https://user-images.githubusercontent.com/26526517/110495946-4d783b00-80f5-11eb-8a91-4df663c37c0f.gif)

at the very bottom of this scenario, an invisible interval is connected to the previous state.

[TESTAGAIN.zip](https://github.com/ossia/score/files/6109641/TESTAGAIN.zip)

Navigating with the arrow keys, one can see that the interval actually loops back from right to lef

[2021-03-10 17:20] thibaudk commented on #1127
This seems to be reproducible with anny soundfile in any scenario on Mac.
If a sondfile is visible, continue zooming back and shrinking it's size, it will crash

[2021-03-11 15:39] thibaudk opened #1163 "[mac os] score crash on load"
this score crashes on load, throwing the following error
LLVM ERROR: IO failure on output stream: Bad file descriptor

[Walking_02.4.zip](https://github.com/ossia/score/files/6124132/Walking_02.4.zip)

If llvm is involved, I should maybe mention that it uses a couple Faust effects

[2021-03-11 16:28] thibaudk commented on #1163
after recompiling without Faust or llvm the scenario oppens.
Another fatal audio error appears.
restarting with the dummy driver works.

After removing all Faust, it seems that it can be reloaded somewhat consistently on mac

[2021-03-11 16:55] thibaudk commented on #1127
addendum:
after thorough tests, the issue doesn't seem that straight forward to reproduce.
Yet without hiding sound files, a few scores crash consistently.

[2021-03-12 13:22] thibaudk commented on #1127
addendum 2:
The crash only happens when a working sound driver is selected.
When 'dummy' is selected, zooming out is not an issue

[2021-03-12 14:21] thibaudk commented on #1163
After more tests, i seems that disconnecting from the network allows the scenario to be loaded.
An OSC and an OSCQquery device are used, and both show up as disconnected when opening the scenario.
Understandable for the OSCQuery one, but for plain OSC too ?

[2021-03-12 15:21] thibaudk commented on #1163
Same issue with midi.
This was tesrted on a24, where no audio output was possible, even on successful reload,
down to a21, where the scenario can be loaded when disconnected form both the network and the midi device.

[2021-03-15 23:12] theslyprofessor commented on #1140
Any update on this? Miller Puckette is my PhD advisor and he thinks that this could be a really cool tool for my research, but alas, I cannot upgrade my OS.

[2021-03-16 07:36] jcelerier commented on #1140
Hi,
Can you try the latest release on the website ? (a24)

Thanks !

On Tue, 16 Mar 2021, 00:13 theslyprofessor, ***@***.***>
wrote:

[2021-03-16 07:41] theslyprofessor commented on #1140
![image](https://user-images.githubusercontent.com/20659937/111272724-3901da00-85f0-11eb-8376-754718d6d7a9.png)

It crashes and won't open. Here's the error report:
Process:               score [39202]
Path:                  /Applications/score.app/Contents/MacOS/score
Identifier:            io.ossia.score
Version:               3.0.0 (3.0.0)
Code Type:             X86-64 (Native)
Parent Process:

[2021-03-16 08:20] jcelerier commented on #1140
Argh, this crash is because the build is for a more recent CPU than yours.
I'll downgrade the minimum supported hardware... What's the exact model &
CPU of your Mac I'd it's an easy info to look for ?

On Tue, 16 Mar 2021, 08:41 theslyprofessor, ***@***.***>
wrote:

[2021-03-16 08:52] theslyprofessor commented on #1140
Ah, I see. Is this what you are looking for?
![image](https://user-images.githubusercontent.com/20659937/111281520-402de580-85fa-11eb-8776-784f7ba9e8b8.png)

[2021-03-16 09:06] jcelerier commented on #1140
Yes thanks.
One thing you could do (I'm on vacation this week and can't easily make a whole rebuild) is to build it on your own machine, this way it won't try to use too recent CPU features.

With homebrew (https://brew.sh/) it's fairly straightforward:

[code]

should produce a .app inside the "compiled" folder

[2021-03-16 23:25] thibaudk opened #1164 "logical error ?"
In the attached score, the rule of triggers only being available for validation when all previous intervals are playing is violated.
Setting up the exact same example in v2 yields the expected results.

see the final interval start playing immediately.

[logical.zip](https://github.com/ossia/score/files/6152741/logical.zip)

could be related to
#1162
&
#1160

[2021-03-20 11:45] jcelerier commented on #1140
@theslyprofessor  can you try with this build ?

https://we.tl/t-rurqAlIT3B

thanks !

[2021-03-20 12:03] jcelerier commented on #1140
also @bltzr this should be a more compatible 10.13 build for our students ^

[2021-03-20 17:19] bltzr commented on #1140
will this be included into the next release ? Or should I send them this link ?

[2021-03-20 17:36] jcelerier commented on #1140
the next release will be in at least a few weeks so you should send them that one for now

[2021-03-25 03:59] theslyprofessor commented on #1140
It works! Thank you!

On Sat, Mar 20, 2021 at 10:36 AM Jean-Michaël Celerier <
***@***.***> wrote:

[2021-03-27 17:26] thibaudk opened #1165 "cradh when openinng scenario with audio + midi + artnet"
here is the coredumpctl log
https://filesender.renater.fr/?s=download&token=7b7f5f59-0c98-4d9b-976e-20201de81331

this scenario in question can be found here
https://github.com/scrime-u-bordeaux/marelle/blob/main/marelle_v2.score

seems related to devices

[2021-03-28 08:19] jcelerier commented on #1165
Can you also send the score binary ?

[2021-03-28 09:54] thibaudk commented on #1165
the .scorebin file or the actual score program ?

[2021-03-28 09:58] jcelerier commented on #1165
actual score program

[2021-03-28 10:00] thibaudk commented on #1165
here
[ossia-score.zip](https://github.com/ossia/score/files/6217110/ossia-score.zip)

[2021-03-28 17:56] jcelerier opened #1166 "Potential issues with NaN handling"
RapidJSON does not output anything when a float value is NaN. So we have to make sure they don't crop up.
[buggy-score.zip](https://github.com/ossia/score/files/6217779/buggy-score.zip)

[2021-03-28 17:57] jcelerier commented on #1165
Can you try with the latest feature/async_protocols ? It should be fixed

[2021-03-29 14:15] thibaudk commented on #1165
yes it now opens ! great !
I still need to test with the full setup.

Cheers !

[2021-03-29 14:15] #1165 closed, assigned to nobody

[2021-03-30 12:23] jcelerier commented on #838
done !

[2021-03-30 12:23] #838 closed, assigned to nobody

[2021-03-30 12:23] jcelerier commented on #1166
fixed - has to enable it for rapidjson

[2021-03-30 12:23] #1166 closed, assigned to nobody

[2021-03-30 14:08] jcelerier commented on #1112
does not seem to crash in the latest versions, it seems that it was a bug that was fixed in Qt

[2021-03-30 14:08] #1112 closed, assigned to jcelerier

[2021-03-30 17:37] jcelerier commented on #1110
should be fixed !

[2021-03-30 17:37] #1110 closed, assigned to jcelerier

[2021-03-30 20:49] jcelerier commented on #1163
should be fixed, can you retry on async_prtocools ?

[2021-03-31 14:17] thibaudk opened #1167 "loading on the same version fails with "too old" ERROR"
This may be a duplicate.
The following score returns this error on load.

[FUSION-BRANDNEW-114.zip](https://github.com/ossia/score/files/6237219/FUSION-BRANDNEW-114.zip)

[2021-03-31 18:12] jcelerier commented on #1167
yep it's the issue we fixed yesterday because of the NaNs... it won't do that anymore with the next release

[2021-03-31 18:33] thibaudk commented on #1167
aa cool, didn't realize they where related.

[2021-03-31 21:03] thibaudk commented on #1167
Maybe the fix will prevent saving a faulty scenario, but after a fresh pull and rebuild, it still doesn't seem to allow loading this particular score.

[2021-03-31 21:24] jcelerier commented on #1167
yes it has to be fixed by hand, I did it and sent it to its author

[2021-03-31 21:56] thibaudk commented on #1167
verry nice !

[2021-04-01 09:05] #1127 closed, assigned to nobody

[2021-04-01 09:05] #1163 closed, assigned to nobody

[2021-04-01 09:14] thibaudk opened #1168 "Enable the use of wild cards to adress all devices"
At the moment it is permitted in the address space
![adress*](https://user-images.githubusercontent.com/26526517/113271632-0687fa80-92db-11eb-97c7-9a786ae66d99.png)

but not in the device space.
![device*](https://user-images.githubusercontent.com/26526517/113271634-07209100-92db-11eb-8977-365e4252b933.png)

[2021-04-01 09:21] thibaudk opened #1169 "Crash when JACK driver is selected without jack installed"
This also prevents score from reopening without erasing .config/OSSIA/score.conf

[2021-04-01 11:43] jcelerier opened #1170 "DMX fixtures: use gobo pixmaps"
https://github.com/OpenLightingProject/open-fixture-library/tree/master/resources/gobos

[2021-04-04 15:45] #1140 closed, assigned to jcelerier

[2021-04-04 15:45] jcelerier commented on #1140
closing. please keep us informed of your project ! :-)

[2021-04-06 09:30] jcelerier opened #1171 "PureData: allow to choose pd binary in settings"
This involves :
- Adding a setting somewhere, maybe as plug-in setting: see `Media::Settings::Model` and `Media::Settings::PluginSettingsTab` ; `vst::SettingsWidget`as an example implementation.
- Using it in the Pd addon : `locatePdBinary` in PdProcess.cpp

[2021-04-06 09:59] thibaudk opened #1172 "Select creen in Window device"
This would be crucial for applications launched with the --no-gui --autoplay arguments.
Currently, the window is set to full screen on launch with these options.
But this only works for One screen and one window device.

The ability to specify a screen for each output device would solve the issue for headless setups with multiple window devices

[2021-04-06 12:34] bltzr opened #1173 "create flat automation from process port"
for now it creates a ramp from the min to the max value - this is maybe a bit extreme

[2021-04-06 12:36] bltzr opened #1174 "fix automation creation when dragging a port to an interval"
this used to work, but doesn’t any more

[2021-04-06 12:42] bltzr opened #1175 "when dragging a port to a scenario, create a state"
- [x] fix it - it just creates a kind of "shadow interval" for now
![image](https://user-images.githubusercontent.com/113982/113711894-c31bfa80-96e5-11eb-9649-3a1e1535c780.png)
- [ ] it used to create an automation, I think it would be better that it creates a state and adds the current value to this state
- [ ] when dragging to an existing state, add the value to this state

[2021-04-09 10:47] jcelerier opened #1177 "Loading .device file issues"
- It's saved as .device but should be .json to be loaded correctly.
- The ports aren't loaded correctly in the UI but they are changed to what is in the file afterwards
- If editing the device to change the ports, it won't work afterwards

[2021-04-12 20:16] jcelerier commented on #995
done ! it's now possible to choose which midi backend is gonna be used. @thibaudk can you please test all the backends thoroughly if you have some time ?

[2021-04-12 20:16] #995 closed, assigned to jcelerier

[2021-04-12 20:36] thibaudk commented on #995
Cheers !!
Yes I'll test it out with as many configurations as I can think of

[2021-04-14 11:40] #1006 closed, assigned to jcelerier

[2021-04-14 11:40] #1007 closed, assigned to jcelerier

[2021-04-14 15:33] jcelerier commented on #755
getting there :)
![transport](https://user-images.githubusercontent.com/2772730/114737703-913f0f80-9d47-11eb-9665-233388b8b438.gif)

[2021-04-14 16:12] thibaudk commented on #755
Very nice !

[2021-04-15 17:18] jcelerier commented on #755
almost there :-)

![transport2](https://user-images.githubusercontent.com/2772730/114911423-4690c680-9e1f-11eb-96d0-e83e4eee6054.gif)

[2021-04-19 14:50] thibaudk opened #1178 "Edit scripts inside states"
When adding a script inside a state, it is impossible to edit it.
simply adding a button in the inspector to open the code editor would fix this

[2021-04-19 14:58] thibaudk opened #1179 "use a fixed faust library version to make sure that things work"
tested with release 3.0.0-a30

[2021-04-19 15:20] thibaudk opened #1180 "Moving existing processes to intervals is broken"
I presume since the introduction of the nodal process.
possibly related to #1124

[2021-04-21 13:18] thibaudk commented on #1179
Tested with a33 Appimage too, seems to be a Faust math library mismatch

[code]
Maybe the version used in score is not up to date ?

[2021-04-22 13:05] thibaudk opened #1181 "Force focus to the main window"
Apart from a few exceptions that need to be identified,
the main window should always be in focus and selected,
when it comes to either mouse states, or the use of the space-bar and the enter key to start and stop playing

[2021-04-23 10:40] jcelerier commented on #1179
ah, it seems that there was an issue with the faust library - some things work,
like e.g. Harmonic Oscillator, but some don't like marimbaMIDI.

[2021-04-24 08:52] jcelerier commented on #1155
most things now work, just remain some visual issues, QGLWidget, QSerialPort, QWebSockets

[2021-04-24 08:52] jcelerier commented on #1042
done

[2021-04-24 08:52] #1042 closed, assigned to jcelerier

[2021-04-24 08:53] #1135 closed, assigned to jcelerier

[2021-04-24 08:56] jcelerier commented on #1119
fixed for quite some time

[2021-04-24 08:56] #1119 closed, assigned to jcelerier

[2021-04-24 08:57] jcelerier commented on #1064
closing as it's been fixed for quite some time

[2021-04-24 08:57] #1064 closed, assigned to jcelerier

[2021-04-24 09:06] #1080 closed, assigned to jcelerier

[2021-04-24 13:20] thibaudk commented on #716
Should the interpolation process simply be removed ?

[2021-04-24 13:46] thibaudk commented on #724
Seems to be working now

[2021-04-24 13:46] #724 closed, assigned to nobody

[2021-04-24 14:05] #853 closed, assigned to nobody

[2021-04-24 14:16] #933 closed, assigned to nobody

[2021-04-24 14:28] thibaudk commented on #969
also related to #875

[2021-04-24 14:33] #1031 closed, assigned to nobody

[2021-04-24 14:55] #1038 closed, assigned to jcelerier

[2021-04-24 15:01] #1058 closed, assigned to nobody

[2021-04-24 15:28] #1083 closed, assigned to nobody

[2021-04-24 15:36] #1120 closed, assigned to nobody

[2021-04-24 15:38] thibaudk commented on #1121
apparently no longer relaevant

[2021-04-24 15:38] #1121 closed, assigned to nobody

[2021-04-24 15:55] #1123 closed, assigned to jcelerier

[2021-04-24 15:55] #1139 closed, assigned to jcelerier

[2021-04-24 16:18] thibaudk opened #1182 "Devices can no longer be edited"
Tested with editing the code of a mapper, and adding the "rate" option for an OSC device.

The "cannot add device" message is ever present

[2021-04-25 13:28] jcelerier commented on #890
haven't been able to reproduce this so far :( please send a crashlog if you get one !

[2021-04-25 13:28] #890 closed, assigned to nobody

[2021-04-25 13:41] jcelerier commented on #1138
this now works in eglfs on raspberry pi :)

[2021-04-25 13:41] #1138 closed, assigned to nobody

[2021-04-25 13:58] #1108 closed, assigned to jcelerier

[2021-04-25 14:54] jcelerier commented on #678
is that still relevant ? I think most people don't use the build.sh script anyways, especially with every single commit being available from the CI...

[2021-04-26 08:22] jcelerier opened #1183 "Allow to easily copy an OSC address of a local tree member"
e.g. right-click -> copy OSC address

[2021-04-26 09:03] jcelerier opened #1184 "Out-of-time scores: allow to choose that retriggering depends on the score being finished"
e.g. given
![a](https://user-images.githubusercontent.com/2772730/116057383-08956d00-a67f-11eb-8dea-2e7036113c9b.png)

how to make it so that it's not possible to retrigger this before the sound has finished playing

[2021-04-26 09:04] jcelerier commented on #1184
@thibaudk if you have any idea for that ?

[2021-04-26 09:04] jcelerier opened #1185 "Auto-retrigger only works with manual triggering with the mouse"
Not when triggered with an OSC address

[2021-04-26 09:12] jcelerier commented on #1122
done

[2021-04-26 09:12] #1122 closed, assigned to jcelerier

[2021-04-26 09:12] jcelerier commented on #1109
done

[2021-04-26 09:12] #1109 closed, assigned to jcelerier

[2021-04-26 10:06] jcelerier commented on #1169
on which distro could I test that ?

[2021-04-26 10:10] thibaudk commented on #1169
ubunutu 20.04

[2021-04-26 10:37] jcelerier commented on #596
documentation has been greatly improved: https://ossia.io/score-docs/ - please reopen if it's still not understandable enough :)

[2021-04-26 10:37] #596 closed, assigned to nobody

[2021-04-26 10:39] jcelerier commented on #604
current behaviour does not seem problematic

[2021-04-26 10:39] #604 closed, assigned to nobody

[2021-04-26 10:56] jcelerier commented on #963
done

[2021-04-26 10:56] #963 closed, assigned to jcelerier

[2021-04-26 10:56] jcelerier commented on #810
doc folders have been cleaned

[2021-04-26 10:56] #810 closed, assigned to jln-

[2021-04-26 10:56] jcelerier commented on #305
done

[2021-04-26 10:56] #305 closed, assigned to nobody

[2021-04-26 11:00] jcelerier opened #1186 "Icons for graphics settings"
A few new settings panel has appeared : Graphics (for settings related to the video API, rendering, etc)

Having an icon for it would be great !

[2021-04-26 11:02] jcelerier commented on #1012
lots of curve-related issues have been fixed recently in v3 which should include this one, closing

[2021-04-26 11:02] #1012 closed, assigned to nobody

[2021-04-26 12:42] jcelerier commented on #1169
hum, weird, I tested on a clean debian 10 (which should be equivalent) without any instance of JACK and in a33 it does not seem to crash. Can you still reproduce it on your side ?

[2021-04-26 12:45] jcelerier commented on #1154
@aklevy if you're interested in participating in the design for this too ?

[2021-04-26 12:49] jcelerier commented on #1136
(in nodal view)

[2021-04-26 12:55] jcelerier commented on #1133
* 10.13 version => done

* make Kinect app available => @thibaudk

[2021-04-26 12:56] jcelerier opened #1187 "Show video out in the background à la touchdesigner"

[2021-04-26 12:56] jcelerier opened #1188 "Add default gain widget to all audio processes (in the process header ?)"

[2021-04-26 12:56] jcelerier opened #1189 "Ability to set a number of iteration in a trigger"

[2021-04-26 13:06] thibaudk commented on #1154
I am not too sure about the final result anymore, or the final behavior.
A quaver doesn't represent the same value in Hz, according to a different tempo.
When changing the current tempo, should all these widgets update ?

Or should an Hz window only appear when "none" (in Quantification) is set ?

[2021-04-26 14:27] jcelerier commented on #1111
looks like now it works !

[2021-04-26 14:27] #1111 closed, assigned to jcelerier

[2021-04-26 14:28] jcelerier commented on #1103
now it works

[2021-04-26 14:28] #1103 closed, assigned to nobody

[2021-04-26 15:03] jcelerier commented on #1132
seems to work well now in a33

[2021-04-26 15:03] #1132 closed, assigned to jcelerier

[2021-04-27 09:03] thibaudk commented on #1189
This is also a feature that would be very useful for Conditions.

This is somewhat related to #930

[2021-04-27 10:01] jcelerier opened #1190 "Merge the "protocols" and "device" settings"

[2021-04-27 10:06] jcelerier commented on #1081
I just noticed that the pics I posted are blurry when looked on chrome, they are fine in firefox tho

[2021-04-27 10:06] jcelerier commented on #1081
note to self: ttf2bdf

[2021-04-27 10:17] jcelerier opened #1191 "Spline is too unzoomed when created"

[2021-04-27 10:18] jcelerier opened #1192 "Scenario validation issue"
* Drop faust to interval
* Drop automation from explorer to interval
=> automation tries to go on first slot
=> krach

[2021-04-27 10:19] jcelerier opened #1193 "Investigate alternative allocators"
Especially on windows, seems to be pretty slow - must find relevant benchmarks:

- https://github.com/mjansson/rpmalloc
- jemalloc
- mimalloc
- ...

[2021-04-27 10:20] jcelerier opened #1194 "Investigate windows slowness"
Creating a blank score seems very slow on Windows for some reason

[2021-04-27 10:25] jcelerier opened #1195 "ISF FastMosh shader does not work"
vulkan report in Qt 6.2 (crash in Qt 5.15):

[code]

[2021-04-27 10:26] jcelerier opened #1196 "ISF bug with FFT"
If audio fft is the first port, the uniforms are offset, likely a binding issue.

[2021-04-27 10:27] jcelerier opened #1197 "Windows: memory leak during execution ?"
When looking at the MSVC memory usage profiler.
Cannot reproduce on Linux.

[2021-04-27 10:29] jcelerier opened #1198 "Scenario which does not work as expected"
![buggy](https://user-images.githubusercontent.com/2772730/116227206-2d0f4900-a754-11eb-896f-a65f36ad8990.png)

[2021-04-27 10:30] jcelerier opened #1199 "Video thumbnails aren't looped"

[2021-04-27 10:31] jcelerier opened #1200 "LV2 missing in Linux AppImage"

[2021-04-27 10:32] jcelerier opened #1201 "Kinect support missing from releases"
Ship Freenect or look for it on the users' computers ?

[2021-04-27 10:54] jcelerier opened #1202 "Nodal process edition is botched"

[2021-04-27 10:57] jcelerier opened #1203 "Issues with sound files in nodal process"
- [x] Dropping a file -> path is not set
- [x] Fold sound file : bug ? Change from looping to non-looping: bug ?
- [x] Looping sounds don't seem to work
- [x] Automations folded / unfolded : kills zoom ratio

[2021-04-27 10:57] jcelerier opened #1204 "Some ports go beyond the bounds of nodes"
e.g. obxd plug-in when the nodal process is folded

[2021-04-27 11:00] jcelerier opened #1205 "MIDI: UI widget to select the input port"
Right now dropping an address works, but the combobox only allows to select a device, not a port.

[2021-04-27 11:01] jcelerier commented on #999
duplicate of #889

[2021-04-27 11:01] #999 closed, assigned to thibaudk

[2021-04-27 11:03] jcelerier commented on #889
- [ ] External editor for audio
- [ ] External editor for MIDI
- [ ] External editor for scripts

What else ?

[2021-04-27 11:31] thibaudk commented on #1184
3 options :

options for an interval :
* don't interrupt, but "parallelize" ? multiple concurrent play heads on a single interval (very Complex, many more issues !)
* interval option to prevent restarting before the duration is reached
options for Trigger et Conditions :
* adding a new operator "Before", "After", maybe also "Active" & "Inactive" and defining an interval as operand

With this last

[2021-04-28 07:33] thibaudk commented on #1164
this just came back,

tested on b375e9b1f684fb9b37b4db716efe4fbeea2946fd

[2021-04-28 07:41] thibaudk opened #1206 "QT_QPA_PLATFORM=vnc is broken"
Worked like a charm a few commits ago.

this is what it returns

[code]
No other vnc servers are running.
Other qt applications are able to start QVncServer on port 5900

[2021-04-28 07:53] jcelerier commented on #1206
weird, can you run `sudo lsof -i -P -n | grep LISTEN`

[2021-04-28 08:24] jcelerier commented on #1206
I can confirm, but that looks like a bug in Qt... weird that we did not hit it before

[2021-04-28 08:26] jcelerier opened #1207 "Try to use better APIs for relative mouse handling & locking on all platforms"
See https://bugreports.qt.io/browse/QTBUG-93180

[2021-04-28 10:10] jcelerier opened #1208 "Update faust version in release"
To support new fixedpoint keyword in libraries

[2021-04-28 10:13] jcelerier opened #1209 "Linux: use QGnomePlatform to support border decorations on wayland on GNOME"

[2021-04-28 10:24] jcelerier commented on #1094
seems like it has been fixed !

[2021-04-28 10:24] #1094 closed, assigned to jcelerier

[2021-04-28 10:24] jcelerier commented on #1101
seems fixed

[2021-04-28 10:24] #1101 closed, assigned to jcelerier

[2021-04-28 10:25] jcelerier opened #1210 "Message log: add setting to enable / disable message input if the window isn't visible"

[2021-04-28 10:33] jcelerier commented on #824
documented in https://ossia.io/score-docs/devices/local-device.html

[2021-04-28 10:33] #824 closed, assigned to jln-

[2021-04-28 12:34] thibaudk commented on #1206
And now it works !

[2021-04-28 12:47] thibaudk commented on #1206
here is the output of the lsoft command

[code]
but it does work without any problem now,
and without having changed anything.
Weird

[2021-04-28 20:03] thibaudk commented on #1206
closing this for now

[2021-04-28 20:03] #1206 closed, assigned to nobody

[2021-04-28 20:35] jcelerier commented on #337
can confirm that it works

[2021-04-28 20:35] #337 closed, assigned to nobody

[2021-04-28 20:35] jcelerier commented on #232
removed for quite some time

[2021-04-28 20:35] #232 closed, assigned to nobody

[2021-04-28 20:38] jcelerier commented on #251
now possible with musical / non-musical

[2021-04-28 20:38] #251 closed, assigned to nobody

[2021-04-28 20:52] jcelerier commented on #736
done for all three (and the others)

[2021-04-28 20:52] #736 closed, assigned to nobody

[2021-04-28 20:55] jcelerier commented on #954
works now

[2021-04-28 20:55] #954 closed, assigned to nobody

[2021-04-28 20:56] jcelerier commented on #706
is that still relevant ? I think removing things works fine now

[2021-04-28 20:56] #706 closed, assigned to avilleret

[2021-04-28 20:58] jcelerier commented on #318
UI elements in QML won't happen and for the rest it's done

[2021-04-28 20:58] #318 closed, assigned to nobody

[2021-04-28 21:01] jcelerier commented on #370
Is anyone still using Minuit ? @bltzr  ?

[2021-04-28 21:02] jcelerier commented on #88
I agree

[2021-04-28 21:02] #88 closed, assigned to theod

[2021-04-28 21:06] jcelerier commented on #796
duplicate of #488

[2021-04-28 21:06] #796 closed, assigned to nobody

[2021-04-28 21:12] jcelerier commented on #122
merging has been reenabled for some time and seems to work correctly now

[2021-04-28 21:12] #122 closed, assigned to nvuaille

[2021-04-28 21:13] jcelerier commented on #143
I agree, I haven't heard any complaint so far from users

[2021-04-28 21:13] #143 closed, assigned to nobody

[2021-04-28 21:14] jcelerier commented on #458
it's done for objects in the score, missing snap for points in automation curve

[2021-04-28 21:18] jcelerier commented on #1133
except the kinect thing which is not really related to score I put everything in separate issues, closing that one

[2021-04-28 21:18] #1133 closed, assigned to jcelerier

[2021-04-28 22:18] jcelerier commented on #629
zoom is handled differently now which fixes that

[2021-04-28 22:18] #629 closed, assigned to nobody

[2021-04-28 22:18] jcelerier commented on #684
zoom is handled differently now which fixes that

[2021-04-28 22:18] #684 closed, assigned to nobody

[2021-04-29 12:37] #115 closed, assigned to nvuaille

[2021-04-29 14:53] jcelerier commented on #765
fixed !

[2021-04-29 14:53] #765 closed, assigned to nobody

[2021-04-29 14:54] jcelerier commented on #1030
done

[2021-04-29 14:54] #1030 closed, assigned to nobody

[2021-04-29 15:29] jcelerier commented on #640
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:29] #640 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #530
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #530 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #528
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #528 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #456
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #456 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #439
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #439 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #288
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #288 closed, assigned to nobody

[2021-04-29 15:30] jcelerier commented on #291
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:30] #291 closed, assigned to nobody

[2021-04-29 15:31] jcelerier commented on #580
disabling the interpolation process, it will have to be remade at some point but as such it's very broken

[2021-04-29 15:31] #580 closed, assigned to jln-

[2021-04-29 15:50] jcelerier commented on #1156
duplicate of #987

[2021-04-29 15:50] #1156 closed, assigned to jcelerier

[2021-04-29 15:52] #1174 closed, assigned to jcelerier

[2021-04-29 16:10] jcelerier opened #1211 "Launching score when zoom is running aggros the soundcard zoom uses"
Only on windows, maybe it tries to use the soundcard in exclusive mode with WASAPI ?

[2021-04-30 19:12] jcelerier commented on #1211
it's a portaudio bug : https://github.com/PortAudio/portaudio/issues/564

[2021-04-30 20:28] jcelerier commented on #1195
seems to work on windows with D3D and GL

[2021-05-02 22:10] jcelerier commented on #1195
done !

[2021-05-02 22:10] #1195 closed, assigned to nobody

[2021-05-02 22:13] jcelerier commented on #139
done !

[2021-05-02 22:13] #139 closed, assigned to nvuaille

[2021-05-02 22:15] jcelerier commented on #1182
fixed a few days ago

[2021-05-02 22:15] #1182 closed, assigned to nobody

[2021-05-03 09:02] #1192 closed, assigned to jcelerier

[2021-05-03 11:53] jcelerier commented on #1162
I can't fix that specific one but I should have fixed the thing that was causing those weird intervals to appear - please test edition, merging, etc... a lot to see if you see them cropping up again !

[2021-05-03 11:53] #1162 closed, assigned to nobody

[2021-05-04 08:09] thibaudk commented on #1164
There seems to be some improvement on this front.

The remaining issue is that only the first "min duration" reached on converging intervals is taken into account.
All other min duration are ignored when a trigger is set to always

![logical_error](https://user-images.githubusercontent.com/26526517/116972734-c04bff80-acbb-11eb-89cd-bd5f50dbb057.png)

In this First case the trigger is validated as

[2021-05-04 17:33] #967 closed, assigned to nobody

[2021-05-04 17:35] jcelerier commented on #1179
done

[2021-05-04 17:35] #1179 closed, assigned to jcelerier

[2021-05-04 17:37] jcelerier commented on #1128
here this is fixed

[2021-05-04 17:37] #1128 closed, assigned to nobody

[2021-05-04 17:38] jcelerier commented on #1113
seems fixed here, i can drag it

[2021-05-04 17:38] #1113 closed, assigned to jcelerier

[2021-05-04 17:39] jcelerier commented on #1068
@aklevy  I can't find where you put these icons, do you remember ?  ^^'

[2021-05-04 17:54] #1173 closed, assigned to jcelerier

[2021-05-04 18:10] #1136 closed, assigned to jcelerier

[2021-05-04 18:27] jcelerier commented on #1180
fixed

[2021-05-04 18:27] #1180 closed, assigned to jcelerier

[2021-05-04 18:27] #1178 closed, assigned to jcelerier

[2021-05-04 18:30] jcelerier opened #1212 "Icon for process editing in the inspector"
There is a new button in the inspector to edit processes, which maps to the little "open external editor" functionality :

![that](https://user-images.githubusercontent.com/2772730/117051993-77299900-ad17-11eb-80d4-36822b8aa2b7.png)

(it is necessary because some processes aren't visible in the main view and thus could not be edited)

It would be neat to have a proper icon for that feature :D

[2021-05-06 16:45] jcelerier opened #1213 "Showing that a new version is available in the start screen"
@aklevy do you think it would fit in there ?

[2021-05-07 16:28] aklevy commented on #1213
yep, I think that it's a good idea 👍

[2021-05-08 08:54] jcelerier opened #1214 "QCodeEditor: linux release: typing "é" yields wrong character"

[2021-05-09 09:16] #1082 closed, assigned to aklevy

[2021-05-09 09:55] thibaudk opened #1215 "Closing startup panel"
Using the "escape" key on the startup panel closes it and leaves score blank.

There is also no way to "abort launch" and close the startup panel with score, witch is useful for example when score was launched twice by mistake.

Maybe, if possible, do not show the main score screen before the splash screen is closed.

[2021-05-09 10:10] jcelerier commented on #46
the cursors are done by @aklevy, just need to integrate them

[2021-05-09 10:18] thibaudk opened #1216 "Allow "Play from"here" in "Full view""
At the moment, play from here is only available inside a scenario.
It would be also very useful while showing a sound file or an automation in "Full View" form example.

[2021-05-09 10:23] jcelerier opened #1217 "Protocol icons"
web will be grouped with osc

![da](https://user-images.githubusercontent.com/2772730/117568582-608d9400-b0c1-11eb-890b-1e798b938808.png)

[2021-05-09 10:33] thibaudk opened #1218 "Manually editing durations"
While editing the duration manually, one must always provide the precise number of digit for each field.

If we want to manually enter 5 seconds, one should enter 05 in the seconds field.
Entering 5 does not work as the field requires 2 digits.

[2021-05-09 10:41] thibaudk opened #1219 "Vertical scroll bar"
If the vertical scroll bar could be the same as the Horizontal zoom bar on top, that would be great !

The horizontal scroll bar on the bottom is not necessary.

[2021-05-09 15:00] aklevy commented on #1186
Does this look good ?
![settings](https://user-images.githubusercontent.com/9166925/117576944-0522cc80-b0e8-11eb-8300-29ff944cac26.png)

[2021-05-10 10:48] jcelerier commented on #1164
can you try again with the latest commit (libossia must be updated) ?

[2021-05-10 12:39] thibaudk commented on #1164
Yes perfect !
This works now

[2021-05-10 12:39] #1164 closed, assigned to nobody

[2021-05-11 08:36] thibaudk opened #1220 "Merge events bug"
Bug when using the "Merge events" function

this pop up window appears, and reappears when changing duration.

```Internal error: Error: (endStateDate - startStateDate) == defaultDur```

[2021-05-11 10:37] thibaudk opened #1221 "Loops are broken ?"
This still works

![loopOK](https://user-images.githubusercontent.com/26526517/117802004-3a98f880-b255-11eb-9390-9f8c215f2114.png)

This does not anymore

![loopK0](https://user-images.githubusercontent.com/26526517/117802056-47b5e780-b255-11eb-9086-eccdd36df302.png)

It could be related to the latest fix of #1164

tested with 21daa34f62e4cd29eace6967e0623f356c1a67d2

[2021-05-11 10:49] thibaudk opened #1222 "Do not wrap Images by default"
The Image process is great !

The only issue is that the image is repeated in every direction.
It makes it tricky to fit an image to the screen without seeing repetition at the borders.

[2021-05-13 17:05] thibaudk commented on #1221
not anymore !
GG @jcelerier

[2021-05-13 17:05] #1221 closed, assigned to jcelerier

[2021-05-14 15:42] jcelerier opened #1223 "Investigate aoide-rs for library"
https://gitlab.com/uklotzde/aoide-rs

[2021-05-14 16:43] jcelerier commented on #1186
yes very nice !

[2021-05-14 16:51] #1186 closed, assigned to aklevy

[2021-05-14 16:55] #540 closed, assigned to aklevy

[2021-05-14 17:12] #516 closed, assigned to aklevy

[2021-05-14 17:49] #1212 closed, assigned to aklevy

[2021-05-15 23:16] thibaudk opened #1224 "[Wayland] score doesn't scroll in the same direction as the system"
Touch-pad inverted for Natural scrolling working is system wide.

But vertical scrolling in score remains backwards.

[2021-05-16 11:58] thibaudk commented on #1220
This happens when more than two states are selected.
Or if a single state and a state sharing it's event with another state.
Will usually  just raise the error and show the pop up, but I did have a crash once

[2021-05-16 17:30] #1023 closed, assigned to aklevy

[2021-05-18 13:26] thibaudk opened #1225 "Save scripts even if not compiled"
A the moment, closing a script process before compiling it erases all changes.
Only when compiled is pressed will the script be saved.
Closed should also save, if only to prevent accidental loss of code.

[2021-05-18 13:32] jcelerier opened #1226 "Unable to reload a score if there was a NaN inside at some point"

[2021-05-23 09:14] jcelerier commented on #1226
fixed in master

[2021-05-23 09:14] #1226 closed, assigned to jcelerier

[2021-05-23 09:41] #1222 closed, assigned to nobody

[2021-05-23 09:43] jcelerier commented on #1198
Fixed

[2021-05-23 09:43] #1198 closed, assigned to jcelerier

[2021-05-23 10:03] #1218 closed, assigned to nobody

[2021-05-25 09:11] thibaudk commented on #1167
this happened again with the latest a35 release.
from a blank scenario, adding an osc Device, a few sound files and one automation.
reloading it fails with the same message

[2021-05-25 09:32] thibaudk opened #1227 "Missing hot keys"
For the Scale mode, it should be alt, but Alt doesn't do anything currently.
Maybe it should be something else anyway since alt us used elsewhere.

[2021-05-25 10:12] thibaudk opened #1228 "Automation 2D initialize very far away"
This maybe a Wayland issue, but when first creating a 2D automation, one needs too zoom in several times before it is displayed in a usable way.

The y axis also seems inverted (they seem to be opengl coordinates and note cartesains).

Moving the curve around also creates a few background artifacts.

[2021-05-25 11:52] #1167 closed, assigned to nobody

[2021-05-26 18:45] thibaudk opened #1229 "record automation crash"
Thanks to @TillmanJKS  and @onesrec

we found that when trying to record an automation, if the state created after clicking on "record automation from here" is moved, score will crash upon recording the first incoming value.

the crash produced this error log on mac

[Ossia Crash Tillman and Max Automation Tutorial.zip](https://github.com/ossia/score/files/6548939/Ossia.Crash.Tillman.and.Max.Autom

[2021-05-27 15:22] #1229 closed, assigned to jcelerier

[2021-05-28 18:11] thibaudk opened #1231 "Mapper Device shouldn't require "write", "read" or "bind""
in this example

[code]

the write function is useless, but required to create a simple "Branch" parameter.
otherwise it is instantiated as an empty node

[2021-05-28 18:40] thibaudk opened #1232 ""Tempo" input is either ignored or scaled down"
The automation curve is very effective,
but sending control values through a cable to the inlet has either no affect or is scaled down (setting much slower speeds)
when the start point of the automation is disconnected form the start of the process.

Sending the exact same values to the local device at the corresponding speed parameter works straight away.

[2021-05-29 13:13] capital-G opened #1233 "Runtime error on mapper due to unpacking of write return leads to crash"
Lets assume we have the following device Tree

[code]

Creating a mapper device

[code]

and triggering the mapper (which compiles) by sending a message to "SuperCollider:/soundPoint" crashes ossia score 3.0.0-a36 on macOS with

[code]

[2021-05-29 13:43] jcelerier commented on #1233
hmm, does not crash nor throw exceptions on my linux so that looks like a macos-specific issue :| checking there...

[2021-05-29 13:55] jcelerier commented on #1157
@thibaudk  does that still happen ?

[2021-05-29 13:55] jcelerier commented on #1172
done

[2021-05-29 13:55] #1172 closed, assigned to nobody

[2021-05-29 14:43] jcelerier commented on #1233
hm, it does not crash on my mac either, can you send me an actual score file to make sure that I have the exact same thing ?

[2021-05-29 14:51] capital-G commented on #1233
Its a bit tricky to reproduce, I got it now only reproduced by reducing the return parameters to 1 (intstead of the intended 2)

[mapper-crash.score.zip](https://github.com/ossia/score/files/6564846/mapper-crash.score.zip)

Maybe I should mention that these messages get send as a bunch when I trigger a send from SC, so within 10 ms there can occur 20 messages.

[code]

edit: SC code to send messag

[2021-05-29 15:23] jcelerier commented on #1233
thanks !

[2021-05-30 06:45] jcelerier commented on #1233
seems good

[2021-05-30 06:45] #1233 closed, assigned to jcelerier

[2021-05-30 10:05] jcelerier commented on #683
new logo implemented (thanks @aklevy)

[2021-05-30 10:05] #683 closed, assigned to nobody

[2021-06-10 07:47] jcelerier opened #1234 "Crash when merging multiple events"

[2021-06-10 08:42] Toine-ddt opened #1235 "New Min/max values in Position are not considered"
Values in the Position control are always between 0 and 1 even if min and max are changed

![bug_position_max_min](https://user-images.githubusercontent.com/65868237/121493472-296c1480-c9d8-11eb-97e2-31b395215bad.JPG)

[2021-06-15 13:23] Toine-ddt opened #1236 "Score send the wrong type of the value of an Int slider"
![intSlider](https://user-images.githubusercontent.com/65868237/122060047-83f8dc80-cded-11eb-85cb-30743e6ab2e8.JPG)

Message sent by score :
`{"uuid":"348b80a4-45dc-4f70-8f5f-6546c85089a2","ObjectName":"Inlet","id":2,"Hidden":true,"Custom":"Octave","Exposed":"octave","Value":{"Float":6},"Domain":{"Int":{"Min":1,"Max":7}}}`

Type Value : Float -> Int

[2021-06-16 07:43] jcelerier opened #1237 "Patch view: dezoom does not update cables positions"

[2021-06-16 07:51] jcelerier opened #1238 "Snapping on musical bars looks like it does not always work ?"

[2021-06-16 08:14] jcelerier opened #1239 "Pd: not rescanned automatically in the process library when added to the user library"

[2021-06-16 09:15] jcelerier opened #1240 "Pattern sequencer: changing preset during execution -> crash"

[2021-06-20 07:47] jcelerier commented on #1039
fixed

[2021-06-20 07:47] #1039 closed, assigned to jcelerier

[2021-06-20 18:40] jcelerier commented on #1157
wait it's the score window itself which crashes, not a gfx thing ?

[2021-06-20 18:40] jcelerier commented on #1237
done

[2021-06-20 18:40] #1237 closed, assigned to nobody

[2021-06-20 18:40] jcelerier commented on #1213
done, thanks @aklevy !

[2021-06-20 18:40] #1213 closed, assigned to jcelerier

[2021-06-22 07:19] jcelerier opened #1241 "UI scaled: splash screen not at the right size"

[2021-06-22 09:37] jcelerier opened #1242 "CI releases only load .png images"

[2021-06-22 09:42] jcelerier opened #1243 "Can't drop .score file in interval"

[2021-06-23 16:38] elodreivax opened #1244 "Start offset issue on ossia score 3.0.0-a34"
When you reload a score into Ossia Score, the “Start Offset” field of a sound file included in this score is sometimes changed. And a lot! It seems that it happens when the Start Offset field is not at 0.

[2021-06-24 12:08] jcelerier commented on #1244
thanks, looking into it

[2021-06-27 13:54] bltzr opened #1245 "automation process are not in scale mode by default"
I don't know if this was discussed or not, but I don't find it very convenient

[2021-06-29 08:03] jcelerier opened #1246 "apparently some min aren't reloaded ?"

[2021-07-05 10:33] LVeltri opened #1249 "Processor reach 99% when playing a score"

[2021-07-05 12:40] LVeltri commented on #1249
Windows 10
Score 30.0.a39

[2021-07-06 07:45] thibaudk opened #1250 "Scenarios shouldn't scale verticaly"
In most cases, if not all, when we drag down the lower edge of a scenario, it is because we want to write more things in vertically.
At the moment, doing so stretches down everything inside and filling up all the extra space we wanted to add.
So we then have to shrink every object back down one at a time manually to add free space.

Maybe there is a better way of doing this. But We encounter the i

[2021-07-09 07:25] thibaudk opened #1251 "Ignore all quantisation when "Musical" time is off"
Waiting for the next bar or syncing to quarter notes does not make much sens when neither "exist"

[2021-07-09 07:39] thibaudk opened #1252 "Full screen "window" device on 1 monitor with mac (10.15)"
Using 2 monitors, one would usually desire the score interface on one and the window device on the other.

When setting either score or the Window device to full screen with this setup, the other monitor goes blank.
This is the case for a few programs on Mac, but not all. vlc and Ableton live apparently allow for setting full screen independently on different monitors, witch would suggest that som

[2021-07-09 13:28] Aldwin-b opened #1253 "Horizontal scroll bar"
When the window is zoomed out to the maximum, it's not possible to move the horizontal scroll bar. There is no problem as soon as you start to zoom out

[2021-07-13 10:41] thibaudk opened #1254 "Build fails on aarch64"
This was tested both on the hardware and in qemu, with gcc and clang.
all fail at the same point

[code]

[2021-07-20 14:37] Toine-ddt opened #1255 "New js message for mixing table in the remote control"
{
    "Message": "IntervalVolume",
    "Path": "/path/to/the/interval",
    "Volume": 0.5 // from 0 to 1
}

[2021-07-22 08:13] thibaudk opened #1256 "Obey to faust UI syntax (hgroup, vgroup, vslider, knob, XY...)"
Similar to the way Shaders UI are handled

[2021-07-22 13:55] jcelerier commented on #1245
I'll make this a config - the opposite behaviour is not very convenient either as soon as you have e.g. synchronization with looped audio files

[2021-07-22 15:47] bltzr commented on #1245
yes, I see the point

making it a config would be great, yes!

[2021-07-22 20:29] thibaudk commented on #1254
This was probably due to a lack of memory

[2021-07-22 20:29] #1254 closed, assigned to nobody

[2021-07-23 11:09] thibaudk opened #1259 "Icons for easing curves"
In the QMenu

[2021-07-23 11:16] #1240 closed, assigned to jcelerier

[2021-07-23 16:31] bltzr opened #1260 "display actual rather than generic name of process in nodal view"
![image](https://user-images.githubusercontent.com/113982/126813095-175771cb-a393-42f6-9f9d-b5593a6d8136.png)

in this case, e.g., it would be more informative to have "synth-pd" and "test-CS" in the headers of the processes, wouldn't it ?

[2021-07-24 07:48] jcelerier commented on #1243
fixed

[2021-07-24 07:48] #1243 closed, assigned to nobody

[2021-07-24 08:50] #1244 closed, assigned to jcelerier

[2021-07-24 09:12] #1228 closed, assigned to nobody

[2021-07-24 09:40] jcelerier commented on #1236
hum weird,here I get that:

[code]

can you send me your score ?

[2021-07-24 10:30] #1147 closed, assigned to nobody

[2021-07-24 10:31] jcelerier commented on #1171
the new implementation actually only uses pd necessarily, as purr data does not support that live edition feature so this issue is not meaningful anymore

[2021-07-24 10:31] #1171 closed, assigned to nobody

[2021-07-24 12:28] jcelerier commented on #1235
fixed by 81bfb85cbde703e91a0626373f31e73ef172fd22

[2021-07-24 12:28] #1235 closed, assigned to jcelerier

[2021-07-24 14:54] bltzr opened #1261 "zoom level not correctly recalled when loading score"
scenarios open at full out zoom when reopened

[2021-07-24 14:55] bltzr commented on #1261
[testPd.score.zip](https://github.com/ossia/score/files/6872621/testPd.score.zip)
at least this one

[2021-07-24 15:08] bltzr opened #1262 ".score files should automatically open in score on MacOS"
for now it asks which application should be used

[2021-07-24 15:11] bltzr opened #1263 "when opening a .score file from the Finder the welcome screen should be skipped (MacOS)"

[2021-07-24 18:06] jcelerier commented on #1263
it's already done actually :p

[2021-07-24 18:06] #1263 closed, assigned to nobody

[2021-07-24 18:08] jcelerier commented on #1261
duplicate of #584

[2021-07-24 18:08] #1261 closed, assigned to nobody

[2021-07-24 19:17] bltzr commented on #1263
You mean you fixed that today?

Pia Baltazar

[2021-07-24 19:52] mxmilkiib commented on #475
What would a host like https://github.com/moddevices/mod-host or Carla etc. need to do to implement being recorded by Ossia? That MOD device environment has no timeline of its own, so could Ossia be used to record and playback, etc. sessions? Would it all driven by OSCQuery or is there something more/less? A ping to @falktx.

[2021-07-24 21:35] jcelerier commented on #1263
Yep, it should be in the latest continuous releases

On Sat, 24 Jul 2021, 21:17 Pia Baltazar, ***@***.***> wrote:

[2021-07-25 10:22] jcelerier commented on #475
hi ! well if it's sending OSC messages you can already record them from score. OSCQuery allows score to know what OSC messages to expect from other software in advance, and to simplify user interaction.

I've just noticed that there isn't any doc page about that, writing one asap !

[2021-07-26 07:26] Toine-ddt commented on #1236
[comobox.zip](https://github.com/ossia/score/files/6876325/comobox.zip)
but I made a new scenario with an arpegiator and I can't reproduce the bug

[2021-07-26 19:56] jcelerier commented on #1236
okay, can't reproduce either, let's close the issue and reopen it if it reappears

[2021-07-26 19:56] #1236 closed, assigned to jcelerier

[2021-07-28 10:33] jcelerier commented on #1262
fixed, thanks !

[2021-07-28 10:33] #1262 closed, assigned to nobody

[2021-07-28 10:43] jcelerier commented on #1242
seems to work now :)

[2021-07-28 10:43] #1242 closed, assigned to jcelerier

[2021-07-28 10:44] jcelerier opened #1264 "Dragging "window" device in releases from the DE seems to throw an exception ?"
- only with the release build
- only on macOS

[2021-07-28 10:49] jcelerier opened #1265 "Make the interval output port accessible somewhere"

[2021-07-28 14:58] #395 closed, assigned to nobody

[2021-07-28 15:21] jcelerier commented on #218
I think it's done everywhere it can be done !

[2021-07-28 15:21] #218 closed, assigned to nobody

[2021-07-28 15:34] jcelerier commented on #678
removing build.sh, it's very out-of-date and a pain to maintain

[2021-07-28 15:34] #678 closed, assigned to nobody

[2021-07-28 15:35] jcelerier commented on #1194
likely related to the QFSModel quadratic regexp issue + the bonjour exposition

[2021-07-28 15:35] #1194 closed, assigned to jcelerier

[2021-07-28 15:44] jcelerier commented on #1191
done :)

[2021-07-28 15:44] #1191 closed, assigned to nobody

[2021-07-28 20:02] jcelerier commented on #1260
huh, it works here ?
![huh](https://user-images.githubusercontent.com/2772730/127388088-2c6cd6cd-21c9-435d-9674-bef089f4c319.png)

[2021-07-28 20:02] jcelerier commented on #1260
(minitest is a pd one)

[2021-07-28 20:04] jcelerier commented on #1251
what is supposed to happen with processes that depend on a synchronisation mechanism ?
for instance: pattern sequencer, metronome

[2021-07-28 20:09] jcelerier commented on #815
Hmm, maybe what could be done is keep the text if there is nothing after the interval. But otherwise the text would be over everything after which would make things less readable i believe :/

[2021-07-28 21:34] jcelerier commented on #1204
looks fixed

[2021-07-28 21:34] #1204 closed, assigned to jcelerier

[2021-07-28 22:37] jcelerier commented on #1203
Fixed

[2021-07-28 22:37] #1203 closed, assigned to nobody

[2021-07-29 05:12] bltzr commented on #1260
When loading the score? Or when dynamically, when renaming a process from the objects window?

[2021-07-29 07:37] jcelerier commented on #1260
When dropping in a new score (and renaming dynamically in the object inspector), I'll test reloading

On Thu, 29 Jul 2021, 07:12 Pia Baltazar, ***@***.***> wrote:

[2021-07-29 08:00] thibaudk opened #1266 "Drag n'drop all parameters from the inspector"
Inside a state, a treeView already offers access to stored parameters that can be dragged and dropped to other part of the scenario. Not having to dive back into the full device in the deice explorer every time was a huge UX improvement !

If processes offered the same convenient access to their parameters, one could simply drag and drop the rate of an lfo for eample directly from he inspector to

[2021-07-29 09:26] jcelerier commented on #1260
ah indeed, it's the reloading which breaks.

[2021-07-29 09:48] #1260 closed, assigned to nobody

[2021-07-29 09:57] jcelerier commented on #1107
hmmm so, I'm not really sure on how to handle this properly: the device is indeed edited, but you have to refresh it manually afterwards to update it and see the new nodes.
This is because if it was e.g. an oscquery device (score doesn't really make a difference on what "kind" of device it is by principle) you don't want to reload the entire device if you change a settings on it, for instance the

[2021-07-29 14:16] jcelerier commented on #1107
tried to fix it with a special flag for the midi device, seems to work, hopefully it does not break anything unforeseen !

[2021-07-29 14:16] #1107 closed, assigned to jcelerier

[2021-07-30 13:41] jcelerier opened #1267 "Nodal processes in the top-level interval cannot be focused"

[2021-07-31 12:10] jcelerier commented on #1134
fixed some time ago !

[2021-07-31 12:10] #1134 closed, assigned to nobody

[2021-08-02 12:10] bltzr commented on #1266
completely agree!

what if we drag'n'drop from the port?

[2021-08-02 18:48] jcelerier opened #1268 "VST3 ui on linux does not seem very responsive"

[2021-08-03 09:15] jcelerier commented on #1268
fixed

[2021-08-03 09:15] #1268 closed, assigned to jcelerier

[2021-08-03 13:02] thibaudk opened #1270 "Y in XYSliders are backwards"
Not realy sure why tho, but they do initialize and output Y values increassing from top to botom instaed of from the botom-up.
It is a quick fix anyway but maybe this is the way they should be ?

[2021-08-04 14:21] thibaudk opened #1272 "Additional widgets"
In the same way single value sliders can either be linear or log, would it be interesting for XY and XYZ sliders to be available both for polar, spherical and openGL coordinates ?

[2021-08-04 14:34] jcelerier commented on #1272
hmmmmm I wonder if it's not better to just set a unit on it and have it work automatically for those case instead of having multiple types ? (and maybe the "log" sliders can be retrofitted into this at some point)

[2021-08-04 14:41] thibaudk commented on #1272
Yes I think that would also be best.
Will look into it shortly

[2021-08-06 10:27] jcelerier opened #1273 "Node view in intervals: center based on the user's viewport if possible, to ensure things are visible"
See https://forum.ossia.io/t/help-with-pure-data-integration/246/4

[2021-08-06 10:45] bltzr opened #1274 "score duration in bars at startup when "show musical metrics is off""
![image](https://user-images.githubusercontent.com/113982/128498882-2c953a6d-f369-4e6e-ab30-8d2b2b1ee37a.png)

toggling "show musical metrics is off" on and off puts the score duration back to min-seconds

[2021-08-06 10:47] bltzr commented on #1274
actually it’s toggling the "musical mode" button in the editor that fixes that

[2021-08-06 10:55] bltzr opened #1275 "score doesn’t reopen with right zoom"
https://user-images.githubusercontent.com/113982/128500015-41d1cc55-57ef-4c02-9a21-4cb93486dbda.mov

it can also be discussed why the default zoom is twice the default duration…

[2021-08-07 15:07] jcelerier opened #1276 "Multiple selection in nodal view"

[2021-08-10 10:23] bltzr opened #1277 "Select trigger when created"

[2021-08-10 10:23] bltzr opened #1278 "Trigger icon buggy during quantize ?"

[2021-08-10 10:24] bltzr opened #1279 "main trigger doesn’t do anything when triggered"

[2021-08-13 08:38] bltzr opened #1280 "include score version number + commit hash in .score"

[2021-08-13 16:41] bltzr opened #1281 "flat automations by default when created by dragging"
opinions might differ (@thibaudk what do you think, for instance ?), but I think it would be much better that automations be created flat when creating by dragging a cable or an address to an interval.
- What it does now: create a ramp from min to max
- What it should do IMHO: create a flat line with the current value, with the param’s min and max for the automation’s range

[2021-08-13 20:08] jcelerier commented on #1124
done !

[2021-08-13 20:08] #1124 closed, assigned to jcelerier

[2021-08-13 22:04] jcelerier commented on #1251
up

[2021-08-13 22:04] jcelerier commented on #1251
(note that I changed the system to use the quantification setting on the interval, can you check again with how it works now ? e.g. setting "Free" quantization on the topmost interval should disable quantization)

[2021-08-13 22:05] jcelerier commented on #1125
fixed (sorry, that needed some quite deep changes actually)

[2021-08-13 22:05] #1125 closed, assigned to jcelerier

[2021-08-13 22:07] jcelerier opened #1282 "Slots in sequence: synchronize heights"

[2021-08-13 22:11] #1267 closed, assigned to jcelerier

[2021-08-13 22:14] jcelerier commented on #1278
What does link mean ?

[2021-08-13 22:15] thibaudk commented on #1251
sorry I didn't see the reply, i'll test.

I supose these would be the exceptions and would not be affected by turning "Musical" off

[2021-08-13 22:15] jcelerier commented on #1274
can you check if that still happens ?

[2021-08-13 22:44] thibaudk commented on #1281
sure, I agree.

[2021-08-14 07:55] bltzr commented on #1278
Blink, it does mean blink

[2021-08-14 07:55] bltzr commented on #1278
blame my bépo keyboard

[2021-08-14 07:59] bltzr commented on #1274
yes

[2021-08-14 08:03] jcelerier commented on #1278
ahaha makes more sense, thanks

[2021-08-14 14:10] thibaudk commented on #1251
actually, thinking of it now, I wonder if the pattern sequencer, metronome and other processes depending on synchronization could be set in Hz instead of musical units when "Musical" is switched off.
like the LFO in "Free" mode.
and/or in samples like the step sequencer.

I think Hz would be more useful.

But triggers in particular should ignore all quantization when "Musical" is off.
I'll look in

[2021-08-14 20:14] jcelerier opened #1284 "MIDI notes disappear when downscaling a process"

[2021-08-15 17:24] jcelerier commented on #1284
fixed

[2021-08-15 17:24] #1284 closed, assigned to jcelerier

[2021-08-15 17:24] #1150 closed, assigned to jcelerier

[2021-08-16 08:31] jcelerier opened #1285 "Loading a file name from the command line does not seem to work with relative paths"

[2021-08-16 09:23] bltzr opened #1286 "speed slider is in bpm when opening a new score with musical metrics pref off"
![Screenshot 2021-08-16 at 11 19 18](https://user-images.githubusercontent.com/113982/129541143-084be7fd-e420-44b2-8ccb-89f60ecb976e.png)

[2021-08-19 14:17] jcelerier commented on #1249
I've been trying on windows but  cannot see it happening, can you send me a score that has the issue (with the media you use) ?

[2021-08-19 14:27] jcelerier commented on #716
well it has been removed for a long time

[2021-08-19 14:27] #716 closed, assigned to nobody

[2021-08-19 14:27] jcelerier commented on #1160
is that still the case ?

[2021-08-19 14:33] jcelerier commented on #1137
what should happen ? I tried with e.g. an automation with min/max -10, 10, and the OSC value used for tweening at -100 and 100 and I get the expected thing :

![minus100](https://user-images.githubusercontent.com/2772730/130087371-053061ba-0237-4a61-875c-adc4134a959f.png)

![plus100](https://user-images.githubusercontent.com/2772730/130087391-c1ff045d-100b-49b7-af31-b37ba6732025.png)

I really don

[2021-08-19 14:53] jcelerier commented on #1161
that should be fixed as of 3.0.0-b2 (it's saved as part of the settings, then at some point in v3 I want to have proper per-project settings and then maybe it'll make sense to save it there)

[2021-08-19 14:53] #1161 closed, assigned to jcelerier

[2021-08-19 14:57] #1286 closed, assigned to jcelerier

[2021-08-19 14:59] jcelerier commented on #1169
bump @thibaudk, how can I reproduce that ?

[2021-08-19 15:01] thibaudk commented on #1169
sory I didn't see the previous answer. Witch would be the only way I can think of for reproducing.
Maybe it is fixed or something else was eluding me.
Closing for now then

[2021-08-19 15:01] #1169 closed, assigned to jcelerier

[2021-08-19 15:02] thibaudk commented on #1270
This is now merged.

[2021-08-19 15:02] #1270 closed, assigned to thibaudk

[2021-08-19 15:04] thibaudk commented on #1232
This was potentially due to a confusion between BPM and raw values. Closing for now

[2021-08-19 15:04] #1232 closed, assigned to nobody

[2021-08-19 15:08] jcelerier commented on #1169
okay thanks :) I'll try again on a clean machine to make sure, maybe some ubuntu 21.04

[2021-08-19 16:48] jcelerier commented on #1275
dupe of #584

[2021-08-19 19:00] #584 closed, assigned to nobody

[2021-08-19 20:07] #1275 closed, assigned to nobody

[2021-08-19 20:09] jcelerier commented on #686
i don't think we'll be able to change that easily: the zoom now uses Qt's feature which zooms / unzooms the whole UI

[2021-08-19 20:09] #686 closed, assigned to nobody

[2021-08-20 08:02] jcelerier commented on #1274
fixed :)

[2021-08-20 08:02] #1274 closed, assigned to nobody

[2021-08-20 15:52] jcelerier commented on #1279
fixed in a30f65411dd2f2922e0e0e65586ca23b831df0c8

[2021-08-20 15:52] #1279 closed, assigned to jcelerier

[2021-08-20 15:55] #1088 closed, assigned to jcelerier

[2021-08-20 16:38] jcelerier commented on #1234
duplicate of #1220

[2021-08-20 16:38] #1234 closed, assigned to jcelerier

[2021-08-20 16:47] jcelerier commented on #1278
hmm but this is already what is happening ? are you not seeing that on your side ?

https://user-images.githubusercontent.com/2772730/130266784-16dbe96a-1311-4199-9d70-4c6f21e676ce.mp4

[2021-08-21 05:04] bltzr commented on #1278
not really… (actually it was because it got selected when clicking, but there seems also to be a graphic bug)

https://user-images.githubusercontent.com/113982/130311127-a6b243dc-b19a-413f-a586-5fe9d0728c89.mov

[2021-08-21 12:34] jcelerier commented on #1278
wut XD

[2021-08-23 07:24] jcelerier commented on #1278
arg, I tried on mac and linux without and with retina and I cannot reproduce it. Does it happen on all your computers ? is it on a M1 (I really doubt it's because of that but at this point I don't have a clue)

[2021-08-23 12:33] #1185 closed, assigned to jcelerier

[2021-08-23 13:30] Swiftb0y opened #1289 "creating an audio device with a space in the name breaks device explorer"
It results in a popup saying `Internal error: Error: it != m_devices.cend()`.
Adding more devices still works but the device explorer display breaks (spinny stays indefinitely).
Happens on 3.0.0-b3.

[2021-08-23 21:54] jcelerier commented on #1289
thanks for the report!

[2021-08-24 08:17] jcelerier commented on #1278
problem is due to hi-dpi handling, we must recompute the pixmaps when the DPI of the window changes but that is not really doable in Qt 5.15 AFAIK

[2021-08-25 14:32] jcelerier commented on #1289
okay, for now I'm disabling the editing of the name, then in a later version will allow to change it again but for now this has some non-obvious consequences that I do not want to tackle just before the release. thanks !

[2021-08-25 14:32] #1289 closed, assigned to jcelerier

[2021-08-25 14:59] #1281 closed, assigned to jcelerier

[2021-08-25 15:28] jcelerier commented on #507
I think I got it, testing appreciated !

[2021-08-25 15:28] #507 closed, assigned to jcelerier

[2021-08-26 10:39] Swiftb0y commented on #1289
But wouldn't not being able to edit the name mean that there can only ever be a single device of each type since there can't be duplicate names?

[2021-08-26 10:45] jcelerier commented on #1289
no, it's only done for the audio device (for which there can only be a single one since it's to access your soundcard's I/O and score currently is only able to handle one soundcard at the time). Other devices, OSC, MIDI can change name without issue :)

[2021-08-26 10:47] Swiftb0y commented on #1289
Ah, right, I forgot. Sounds good to me then.

[2021-08-26 13:08] jcelerier commented on #1157
Seems to work fine with the above scenario on b4

[2021-08-26 13:08] #1157 closed, assigned to jcelerier

[2021-08-26 13:13] jcelerier commented on #1264
cannot seem to reproduce

[2021-08-26 13:13] #1264 closed, assigned to jcelerier

[2021-08-26 13:15] jcelerier commented on #1143
done

[2021-08-26 13:15] #1143 closed, assigned to nobody

[2021-08-26 13:15] jcelerier commented on #1200
note: we could bundle LV2 but dlopen suil maybe since it's the most problematic piece of the puzzle

[2021-08-26 13:16] jcelerier commented on #1158
do you think you could check that again @thibaudk ?

[2021-08-26 13:22] jcelerier commented on #715
the build has changed a lot since then, I'd recommend to use the same steps than the AUR package (which builds all of score's lib together statically, they are only useful as separate libraries during development to reduce compile time but it makes no sense to have them as separate libs for the releases): https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ossia-score

[2021-08-26 13:22] #715 closed, assigned to nobody

[2021-08-26 13:23] thibaudk commented on #1158
mmh, i don't have a Wiimote at the moment.
Maybe @gaeljaton can try when he comes back.

[2021-08-26 13:24] jcelerier commented on #1102
Seems to work correctly now

[2021-08-26 13:24] #1102 closed, assigned to jcelerier

[2021-08-26 14:02] jcelerier commented on #980
I think I finally got it, there's an additional semi-hidden "low-latency" option to enable in macOS internals, which I just did. :)

[2021-08-26 14:02] #980 closed, assigned to nobody

[2021-08-26 17:03] jcelerier commented on #1214
fixed !

[2021-08-26 17:03] #1214 closed, assigned to jcelerier

[2021-08-26 19:22] jcelerier commented on #1099
fixed for some versions !

[2021-08-26 19:22] #1099 closed, assigned to jcelerier

[2021-08-29 21:13] mxmilkiib commented on #982
The "Linux / BSD" label is not really on the mark, as both LV2 and JACK are multiplatform. An "Enhancement" tag would be nice though.

[2021-08-30 18:15] alfonso73 opened #1290 "No VST3 recognized on Windows 10"
Hi, VST2 are correctly scanned. VST3 are not.

[2021-08-31 09:55] jcelerier commented on #1290
Thanks for checking, looking into it

[2021-08-31 11:28] alfonso73 commented on #1290
@jcelerier thanks!

[2021-08-31 13:32] bltzr opened #1291 "Add support for USB DMX interfaces"

[2021-09-02 10:30] jcelerier opened #1292 "Not all artnet IPs are listed"
Maybe we need to actually list all the network interfaces instead of using hostname resolution as proposed by https://stackoverflow.com/questions/2674314/get-local-ip-address-using-boost-asio

[2021-09-05 21:28] jcelerier commented on #1290
hmm, I've tried with a few vst3, Dexed, Evaluator, Tyrell N6, FSA FourHead, Vastaus and they seem to be detected and run correctly on my windows machine.
Which one did you try that did not work ?

[2021-09-07 20:18] jcelerier commented on #1290
anyone else with a windows machine that could try ?

[2021-09-07 20:41] jcelerier opened #1293 "If a MIDI device hasn't been used yet in the score, adding it to a process during execution does not have any effect"

[2021-09-09 17:55] thibaudk opened #1295 "Units are not saved in the adresse of triggers"
when setting up a trigger to react to particular values from a parameter, say the Y value of the of a cart2D, the access needs to be set in inspector as ```Device:/adress/of/the/parameter@[position.cart2D.y]```.
Yet, lately, the unit and extended types are not reloaded in the scenario.
The address of the parameter either appears on it's own, without the unit, or the unit is replaces by an integer

[2021-09-13 11:46] thibaudk opened #1297 "Bind objects to parameter Groups"
As suggested by @Luchsus83, Consider the flowing:

I have ```N``` number of triggers that should respond to ```N``` number of distinct parameters. At the moment I have to set the same condition with a different address ```N``` times.

Grouping my parameters together would mean to be able to represent all of them as a single parameter.
Selecting then all of my triggers (or any objects of the same t

[2021-09-14 15:34] thibaudk opened #1298 "Videos play very fast since b5"
Drag and droping a video file in score and playing it on a window device now seem to run at twice the speed.

[2021-09-15 15:21] #1298 closed, assigned to jcelerier

[2021-09-15 15:21] jcelerier commented on #1298
please test the continuous build ! :) (in ~30 minutes)

[2021-09-15 15:23] jcelerier commented on #982
hm, in the software, how would marking a port available as jack CV be most meaningful ? should it be for instance a new separate device ?

[2021-09-25 12:33] jcelerier commented on #1290
sorry, tried on multiple Windows systems and I cannot reproduce, please reopen if you have more details !

[2021-09-25 12:33] #1290 closed, assigned to jcelerier

[2021-09-25 12:34] jcelerier commented on #430
before I implement it, we are definitely sure we want this ?

[2021-09-25 13:20] #1280 closed, assigned to jcelerier

[2021-09-25 13:41] #786 closed, assigned to nobody

[2021-09-25 13:53] jcelerier opened #1300 "Benchmark not visible for nodal objects"

[2021-09-25 14:50] #1292 closed, assigned to jcelerier

[2021-09-25 15:47] #1293 closed, assigned to jcelerier

[2021-09-25 15:49] jcelerier opened #1301 "Issue with port registering in ExecutionSetup"
[code]

[2021-09-25 17:27] #1295 closed, assigned to nobody

[2021-09-25 23:04] aklevy opened #1302 "getDialogDirectory does not give the right path in AppImages"
Default save folder should be changed.

[2021-09-25 23:22] thibaudk opened #1303 "restore nodes from a window device"
Not implemented yet

[2021-09-26 08:01] aklevy commented on #1302
If the file could not be saved, raise an error

[2021-09-26 10:10] jcelerier commented on #1302
it's done

[2021-09-26 10:10] #1302 closed, assigned to jcelerier

[2021-09-26 10:16] jcelerier commented on #1303
fixed !

[2021-09-26 10:16] #1303 closed, assigned to nobody

[2021-09-26 18:06] jcelerier opened #1304 "Some VST3 don't seem to take their parameter changes into account on win32"
e.g. DMG and Fabfilter stuff

[2021-09-27 11:59] thibaudk opened #1305 "Remove '+' button on top of intervals"
Processes are now better accessed through the "Process" panel

[2021-09-27 12:02] thibaudk opened #1306 "Index mismatch between Audio device tree and audio device matrix"
Indexes start at 0 in the Audio device tree, and at 1 in the matrix when editing a node.
Potentially only a graphical issue as index 1 in the tree and in the matrix seem to correspond

[2021-09-27 13:53] jcelerier commented on #1306
@thibaudk if you want to look at it it's pretty easy, by calling

     m_mapping.setHorizontalHeaderLabels({ ... })

and

     m_mapping.setVerticalHeaderLabels({ ... })

in AudioDevice.cpp, after `m_mapping.setColumnCount` and `m_mapping.setRowCount` are called

[2021-09-27 14:18] jcelerier commented on #1305
fixed by c15278e571663bdb90e8c58b5dd67f5c5e2908a2

[2021-09-27 14:18] #1305 closed, assigned to jcelerier

[2021-09-27 18:07] stirringdesert opened #1307 "High Sierra?"
Links in the old thread about this are dead. Is there any way I can run Ossia on High Sierra?

[2021-09-27 19:48] #1220 closed, assigned to jcelerier

[2021-09-28 06:58] bltzr commented on #430
Do you remember the context of his FR ?
Was it a discussion on gitter ?

[2021-09-28 17:12] jcelerier commented on #430
I think it was just because it seemed more familiar to people to have get/set. But I have not heard anyone complaining since then so I'm wondering if it really matters, and if it wouldn't be worse to change for the people who got used to the current -> <- arrows.

[2021-09-29 06:28] bltzr commented on #430
how about both?
-> (set)
<-> (get/set)

https://media.giphy.com/media/3ohfFhG5VDtDTzQv2o

[2021-09-29 12:57] jcelerier commented on #1307
hi ! for now we have reverted it to 10.14 minimum as there were some bugs suspected to be caused by the 10.13 minimum version.

For the final release I'll try to make an additional 10.13 build, but please note that due to Apple explicitely not supporting newer C++ standards in 10.13, this means that some safeties have to be disabled which may cause strange crashes at time..

[2021-09-29 12:59] jcelerier commented on #1307
(see https://stackoverflow.com/a/53868971/1495627 for the headache this causes...)

[2021-09-29 14:53] #430 closed, assigned to jcelerier

[2021-09-29 16:25] jcelerier commented on #1304
fixed !

[2021-09-29 16:25] #1304 closed, assigned to jcelerier

[2021-09-30 13:45] jcelerier commented on #1177
just checked again and everything seems to work as intended

[2021-09-30 13:45] #1177 closed, assigned to jcelerier

[2021-10-02 09:58] jcelerier commented on #605
Note that we can now use the rapidfuzz library for that as @avilleret added it to libossia

[2021-10-02 10:30] jcelerier commented on #1224
it should be fixed in rc1 :)

[2021-10-02 10:30] #1224 closed, assigned to jcelerier

[2021-10-02 10:31] jcelerier commented on #1253
duplicate of #444

[2021-10-02 10:31] #1253 closed, assigned to nobody

[2021-10-02 10:31] jcelerier commented on #1219
duplicate of #769

[2021-10-02 10:31] #1219 closed, assigned to nobody

[2021-10-05 01:03] gusmccallum commented on #1152
Hi I'd like to work on this, please assign it to me.

[2021-10-07 13:41] jcelerier opened #1309 "Sample&hold object"
A new process that would take an value and sample it at a given rate (or upon an input)

[2021-10-09 09:15] Himura2la opened #1310 "CentOS Stream: No ALSA devices detected"
The `ossia.score-3.0.0-rc1-linux-amd64.AppImage` version finds no ALSA devices:
![image](https://user-images.githubusercontent.com/7802808/136652003-01ef86b1-8862-40a8-b29b-272e6e7ff5cd.png)

While I have some:

[code]

![image](https://user-images.githubusercontent.com/7802808/136652249-40b6cb67-8f82-425a-aca6-20b3116877c0.png)

Start log:

[code]

[2021-10-09 09:30] Himura2la opened #1311 "AppImage version: Install the desktop entry"
I see you have the `.desktop` file: https://github.com/ossia/score/blob/master/cmake/Deployment/Linux/AppImage/ossia-score.desktop

But it does not appear in my `~/.local/share/applications/` directory after first start.
Maybe it's not intended to, but anyway I'd like to have such ability.
Maybe it should not be done automatically, but there should be at least a button in settings to create a desk

[2021-10-09 15:27] jcelerier commented on #1310
thanks for the report ! that's pretty strange, we just use portaudio which should look for /usr/lib/libasound.so.2 ; is it there ?

[2021-10-09 15:28] jcelerier commented on #1152
hi @gusmccallum ! sorry, I hadn't seen your message yet.

[2021-10-09 15:33] jcelerier commented on #1152
hmmm, I checked and actually the bug has been fixed already it seems x) although there is another related bug if you are interested - the musical scale does not show entirely:
![bug](https://user-images.githubusercontent.com/2772730/136664789-8460f4a5-b509-42d5-86c4-c807922d5677.png)

the relevant code is :

- the class MusicalGrid (src/plugins/score-plugin-scenario/Scenario/Document/ScenarioDocum

[2021-10-09 15:34] jcelerier commented on #1311
hi ! interesting, I though that the AppImage was supposed to do that automatically

[2021-10-10 17:23] jcelerier commented on #1310
oh, I think I got it, portaudio looks for libasound.so which is only here if the devel packages are installed I guess on centos. Could you try installing `alsa-lib-devel` to confirm ? I've sent a patch to portaudio in any case

[2021-10-10 19:34] Himura2la commented on #1310
It works! Thank you!
![image](https://user-images.githubusercontent.com/7802808/136710662-60af0c53-7eec-493b-b9e1-fe3d93360a38.png)

[2021-10-10 19:34] #1310 closed, assigned to jcelerier

[2021-10-10 19:53] Himura2la commented on #1311
OK, I see that there are many AppImages without such integration.
But some programs do care about desktop entry themselves. For instance, https://www.nuclino.com/download
![Screenshot from 2021-10-10 22-51-31](https://user-images.githubusercontent.com/7802808/136711104-c75b652e-3a4c-4757-9b64-fe09b685bee4.png)

[2021-10-10 20:05] jcelerier commented on #1311
hm, this looks like a standard thing. But I looked a bit in the appimage doc and repo and could not find that text anywhere. @probonopd do you know what I should do to use that feature ? is it a standard apprun script that can be found somewhere ?

[2021-10-10 20:38] Himura2la commented on #1311
Personally I think that's custom code just for Nuclino. I guess we could implement something similar for score.
But the blocking popup on launch is not the best idea, I think we'd better add a button to Settings and Splash Screen.
I've seen this approach in JetBrains IDEs (Android Studio).

[2021-10-10 21:51] probonopd commented on #1311
The screenshot shows some old code I once wrote but that is no longer recommended.

We recommend not do do this kind of thing anymore and let a [dedicated daemon](https://github.com/AppImage/awesome-appimage/#desktop-integration) or the desktop environment handle this for all AppImages.

[2021-10-21 07:32] avilleret opened #1312 "Right click in inspector to add new device doesn't work on macos"
macos 11.6 with trackpad, 2 fingers tap on device explorer of score 3.0.0-rc1 -> nothing happen

expected : add a new device

[2021-10-21 07:52] avilleret commented on #1312
My bad this is a newbie issue.
It was not working because no scenario has been loaded.
Maybe we should hide the inspector if no scenario is loaded. Or at least remove the "right click to add new device" text while it doesn't work.

[2021-10-25 07:43] avilleret opened #1314 "score is eating a lot of CPU while idle on macos 11.6"
to reproduce : open score, create a new scenario and wait a bit
and then the CPU jump to 60% and even more while I was not doing anything.

![image](https://user-images.githubusercontent.com/504914/138654833-ae25bba0-7ac3-41da-8d19-73cb1a98fc26.png)

[2021-11-08 09:04] #1068 closed, assigned to aklevy

[2021-11-16 18:10] A-Costa opened #1315 "Artnet Universe always defaults to 0"
Hi everyone, first of all thank you so much for your work. Score is an amazing piece of software.

I believe the Artnet device has a bug related to the setup of the Artnet Universe.

When adding a new device, after selecting Artnet from the menu it is possible to specify a Universe.
Unfortunately it seems that whatever Universe is specified in the menu, score will keep sending packets to Universe

[2021-11-17 20:59] jcelerier commented on #1315
thanks for the report ! checking..

[2021-11-17 23:17] jcelerier commented on #1315
eh, indeed it was only handled in the E1.31 case...

I've tried something (but I don't have DMX hardware right now to check :/).

There will be a new version here soon if you can try (~40 minutes): https://github.com/ossia/score/releases/tag/continuous

Alternatively, could you make me a small screenshot of a packet with wireshark and show me which bytes are for the universe so that I can check it

[2021-11-18 00:14] A-Costa commented on #1315
For sure, screenshot coming!

[2021-11-18 00:36] A-Costa commented on #1315
Ok so here in the first screenshot the main Wireshark screen of the captured frame. Keep in mind that this shows full details about the whole ethernet frame, so the position of the bytes is shifted:

<img width="1280" alt="Schermata 2021-11-18 alle 01 19 12" src="https://user-images.githubusercontent.com/17851789/142311429-692128cc-c018-43bd-9209-525d631bd25e.png">

I've also made a screenshot of

[2021-11-18 09:42] jcelerier commented on #1315
oh interesting, thanks for the link !

[2021-11-18 09:57] jcelerier commented on #1315
![ta](https://user-images.githubusercontent.com/2772730/142393220-81b8e70b-e9d8-4985-bc3d-798384c88b2b.png)

okay, got it working !  :)

[2021-11-18 09:58] jcelerier commented on #1315
didn't know that wireshark has a custom visualizer for it but of course it does aha

[2021-11-18 09:58] #1315 closed, assigned to jcelerier, A-Costa

[2021-11-18 10:01] jcelerier commented on #1311
okay, I'll go with following the recommended best practices on this. I will add a link to that page to the ossia download page so that people can set up the integration in the recommended way. Thanks all !

[2021-11-18 10:01] #1311 closed, assigned to jcelerier

[2021-11-18 10:20] A-Costa commented on #1315
Of course, how would you hack concerts light show otherwise?? 😂

[2021-11-18 17:05] jcelerier opened #1316 "Windows: rebuild SDK against older Win32 API version"

[2021-11-20 11:59] jcelerier opened #1317 "Crash when restoring after adding a few oscquery devices"
[code]

[2021-11-20 18:51] jbacelar opened #1318 "ossia.score-3.0.0-rc4-macOS.dmg file is incomplete."
Just download the 18MB file and it seems incomplete.
MBP med2012 - Catalina 10.15.7

[2021-11-20 19:05] #1318 closed, assigned to nobody

[2021-11-22 16:35] #1316 closed, assigned to nobody

[2021-11-22 16:35] jcelerier commented on #1316
done

[2021-11-22 16:36] jcelerier commented on #1314
Arf, I can't seem to reproduce it here... waited for half an hour.
Do you think you could capture a trace in Instruments ?

[2021-11-22 16:39] jcelerier commented on #1199
Also when switching on / off the nodal view, thumbnails seem to disappear

[2021-11-22 19:54] djiamnot opened #1319 "Segfault when attempting to open LV2 plugin's native UI"
Platform:
[code]
On a freshly compiled score from `master` (as of 2021-11-21), I can see a list of LV2 plugins and use them until I try to open the native interface. It segfaults. I observed the same behaviour on several plugins. Below you will find score's output:
[code]
and a gdb stacktrace:

[code]

[2021-11-23 09:48] jcelerier commented on #1319
Thanks, what are the offending plug-ins ?

[2021-11-23 10:08] jcelerier commented on #1319
Tried something according to what I could read on the internets, if you can pull and try the above

[2021-11-23 10:19] jcelerier commented on #1319
ah I can reproduce with the Calf plug-ins indeed... :|

[2021-11-23 10:25] jcelerier commented on #1319
hmmm... I tried to check other hosts: Qtractor and LMMS but it seems that neither try to show the native UI for Calf plugs, so I'm wondering if there's a deeper incompatibility here ? I thought the suil library was used to make this work but maybe not... @rncbc any idea if that is just not a tractable problem ? (or did I just miss the open GUI button in Qtractor :x)

[2021-11-23 11:20] rncbc commented on #1319
qtractor does open both ways: a generic stock GUI (plugin > Properties...) and the plugin's native GUI if it has one (plugin > Edit...).

only qtractor builds of yore Qt5 may use libSUIL; on Qt6, qtractor uses its own LV2UI wrappers to X11 and Gtk2 LV2 GUIs (nb. calf is the later kind); of course, qtractor has to be built with all the necessary support for Gtk2+ development libraries and headers,

[2021-11-23 11:54] jcelerier commented on #1319
okay, when trying here, Plugin > [Edit...] does not open anything so I guess it's my distro's build (which uses Qt6) which lacks the relevant things

[2021-11-23 12:35] jcelerier commented on #1319
I think I got it @djiamnot ! To check that it was the same issue than you have, can you try to open the GUI while the score is playing and has reached the LV2 execution ?

[2021-11-23 16:28] djiamnot commented on #1319
after a pull and rebuild, score seems to hang after displaying this in the terminal:
[code]
it does nothing after that, does not open its window, either.

But for the record, the noted issue was with Calf and Gx (guitarix) plugins. Just before the pull I tried with some LSP plugins and Nekobi which appeared to work fine.

[2021-11-23 18:03] jcelerier commented on #1319
hummm, could you try using a gtk2 theme like it says here ?
https://bugs.launchpad.net/ubuntu/+source/qtstyleplugins-src/+bug/1874102

[2021-11-23 18:04] jcelerier commented on #1319
see also https://bbs.archlinux.org/viewtopic.php?id=214147&p=2

[2021-11-24 14:02] jcelerier commented on #1319
hum, so after trying on an ubuntu VM, it turns out that just this code:

[code]

fails, because by default on Ubuntu the theme is qgtk3 which already calls gdk_init and calling it twice either hangs or crashes. -_-

[2021-11-24 15:58] jcelerier commented on #1319
in the meantime @djiamnot what you can do is :

    sudo apt install qt5-style-plugins
    QT_QPA_PLATFORMTHEME=gtk2 ./ossia-score

with that, it seems to work here on a 20.04 VM...

[2021-11-24 16:26] djiamnot commented on #1319
That's so funny! I confirm that it works, however yesterday it was not. It may have been user error, I run fish as default shell and there may be some detail in handling environment variables interaction that escapes me. It now runs correctly in both bash and fish and I can open LV2 native interfaces, including Calf and Gx. Thank you for your patience and sorry for the noise.

[2021-11-24 16:34] jcelerier commented on #1319
no worries, it's not noise, the problem still exists (but I don't see an easy way out of it right now..)

[2021-11-24 16:36] jcelerier commented on #1319
(reported https://github.com/lv2/suil/issues/16 on suil, maybe some answer will come out of it..)

[2021-11-24 17:37] #1317 closed, assigned to jcelerier

[2021-11-24 17:47] jcelerier commented on #732
just checked and I don't see the duplicated things anymore

[2021-11-24 17:47] #732 closed, assigned to nobody

[2021-11-24 17:53] #1085 closed, assigned to jcelerier

[2021-11-25 09:57] jcelerier commented on #1306
let's postpone this to 3.1

[2021-12-05 19:09] thibaudk opened #1321 "Default audio node shouldn't be editable"
Currently, right clicking a node in the audio device still allows for the "edit" option.
The pop up window does not show the actual audio mapping of the default nodes.

[2021-12-06 01:19] thibaudk opened #1322 "Missing tool-tips"
As @djiamnot pointed out, more tool-tips would greatly improve UX.
Tool tips appear on the bottom right corner of the window, under the inspector.
Some still appear under the cursor, hovering above the "Play" button for example,
But does should be removed:

Curently mising tooltips are :
* in the botom Bar :
- [x] History
- [x] Message Log
- [x] Timer
- [x] Execution speed
- [x] Audio Mixing desk

[2021-12-06 22:13] jcelerier opened #1323 ""Combine" process with avg / min / max / mean / sum / multiply / ..."

[2021-12-06 22:14] jcelerier opened #1324 "input / output addresses processes"
When dropping inside nodal view from the explorer, create such a process

[2021-12-06 22:33] #1249 closed, assigned to nobody

[2021-12-06 23:57] thibaudk commented on #1322
Duration tool tip has been added but somehow does not show.

https://github.com/thibaudk/score/commit/ee6c24baeb735d19b5d92db80c86e20c3255d8ab#diff-8194551894898b80a5890172e891ed3e32d6445a37b19b4b2804e61e8e735cbbR205

[2021-12-07 23:04] #1322 closed, assigned to thibaudk

[2021-12-07 23:08] #1251 closed, assigned to thibaudk

[2021-12-07 23:29] #1117 closed, assigned to thibaudk

[2021-12-08 00:54] thibaudk opened #1328 "GPIO device for the raspbery pi"

[2021-12-08 02:08] #941 closed, assigned to thibaudk

[2021-12-08 02:31] thibaudk opened #1329 "Copy and paste nodal processes"

[2021-12-08 04:41] jcelerier opened #1330 "Allow to send OSC messages directly"
By addressing the device node directly ?

[2021-12-08 04:41] jcelerier commented on #1330
e.g. to send `/foo/123 456` for weird OSC APIs

[2021-12-08 04:52] jcelerier opened #1331 "OSC presets: check that ports do reload"

[2021-12-08 15:32] jcelerier commented on #1331
fixed

[2021-12-08 15:32] #1331 closed, assigned to jcelerier

[2021-12-08 15:45] jcelerier commented on #1328
First we need to have a couple of examples / use-cases that use those to see what kind of api shold be provided

[2021-12-09 03:20] jcelerier commented on #493
Idea: keep zoom so that all the intervals currently playing are being shown

[2021-12-10 16:15] thibaudk opened #1332 "[Tempo Process] Hide automation when input is connected"

[2021-12-10 17:01] thibaudk opened #1333 "[QML] Read data from a file"
And / Or dragging dropping .csv to create automation

[2021-12-10 23:40] thibaudk opened #1334 "[Nodal View] Mini timeline has disapeared"

[2021-12-11 16:21] thibaudk opened #1335 "MIdi input for pattern sequencer"
To enter notes of each row with a chord,
And / or to enter patterns live

[2021-12-13 16:11] jcelerier opened #1336 "JIT: windows fails to materialize ossia::logger()"

[2021-12-13 16:54] thibaudk opened #1338 "Remote Control: run with the webGL backend"
Removes the need for writing a server,
compiling to wasm,
finding IP and ports as it will run locally, in a QProcess for example.

Might it also take a load off the remote device and improve responsiveness, as it will only be a display ?

[2021-12-14 22:48] thibaudk opened #1339 "Private member 'Curve::PointArraySegment' should be public"
https://github.com/ossia/score/blob/0ead79d0a33d149c75873874b608bd7a2d878b0b/src/plugins/score-plugin-curve/Curve/Segment/PointArray/PointArraySegment.hpp#L47

Otherwise I get the following error

[code]

[2021-12-14 22:50] thibaudk commented on #1339
I can push the quick fix if it is that simple

[2021-12-15 16:16] jcelerier commented on #1339
oops fixed it sorry

[2021-12-15 16:16] #1339 closed, assigned to nobody

[2021-12-20 09:55] #1306 closed, assigned to jcelerier, thibaudk

[2021-12-27 17:16] jcelerier opened #1342 "Load soundtracks of video files"

[2022-01-05 13:36] jcelerier commented on #1334
Fixed in 3.0.0

[2022-01-05 13:36] #1334 closed, assigned to nobody

[2022-01-05 13:36] jcelerier commented on #1208
done

[2022-01-05 13:36] #1208 closed, assigned to jcelerier

[2022-01-05 13:42] jcelerier commented on #1309
@RobinMontferme assigning to you as with was a request from Gaël.

The idea is to have a process with an input of type value, which would "sample" it at regular interval. e.g. if the interval is 3, given :

    1 2 3 4 5 6 7 8 9 1 2 3 4 5

the output would be

    1 1 1 4 4 4 7 7 7 1 1 1 4 4

(actual intervals in flicks but you get the idea)

[2022-01-05 13:43] jcelerier commented on #1309
although I wonder if it isn't just something that we can do with @thibaudk 's rate limiter ? https://github.com/ossia/score/blob/master/src/plugins/score-plugin-fx/Fx/RateLimiter.hpp

[2022-01-05 13:45] jcelerier commented on #1200
now that we build on centos:8 may be worth trying again

[2022-01-05 13:47] jcelerier commented on #1276
also copy-paste..

[2022-01-07 10:11] jcelerier commented on #1336
fixed in 3.0 thanks to llvm updates !

[2022-01-07 10:11] #1336 closed, assigned to jcelerier

[2022-01-07 10:12] jcelerier opened #1344 "Dividing / modulo by zero in bytebeat crashes"
Idea: having a struc instead of t which reimplements the operators and replaces division by zero by zero

[2022-01-07 13:24] jcelerier opened #1345 "Value ports: make event-like input a user control"
To allow to choose pull or event-driven behaviour

[2022-01-08 01:54] dtee1 commented on #1344
I'm interested

[2022-01-08 11:05] jcelerier commented on #1344
hi and welcome @dtee1 ! My recommendation for this would be to try to make a self-contained header-only library which is able to execute bytebeat expressions correctly.

Here are some test cases: (one per line)
[code]

the idea would be that `t` instead of being int, would be some struct type with all the operators reimplemented so that dividing by 0 or calling % 0 does not fail like it does curre

[2022-01-13 10:29] jcelerier opened #1346 "Stretch / crop modes for videos & images"

[2022-01-13 10:30] jcelerier opened #1347 "Audio: support live decompression / SRC instead of doing it offline"

[2022-01-13 10:34] jcelerier opened #1349 "Images: upload textures upon process creation, not during execution"

[2022-01-14 08:50] josephlarralde commented on #1346
On a 1440 x 900 macbook screen, if I play a full HD video in full screen, the width / height ratios of the screen and video do not match and the video is stretched to fill the screen dimensions.

IMO the expected default behaviour should be the video filling the maximum space in the screen without being stretched : if it is more "horizontal" than the screen, there would be black (or whatever backg

[2022-01-14 12:24] jcelerier commented on #1346
okay, I've implemented this (along with the other common stretch modes), will push soon ! thanks :)

[2022-01-14 13:35] josephlarralde commented on #1346
Cool, thanks !
By stretch modes, do you mean some score parameters that could be tweaked as a workaround ?
I tried to modify the size of the window device, but it didn't change the fullscreen result.

[2022-01-14 18:40] jcelerier commented on #1346
here's the prototype, the scaling mode can be changed on the video inspector when clicking on the video process:

https://github.com/ossia/score/releases/tag/continuous

[2022-01-14 21:57] josephlarralde commented on #1346
Nice, all the stretch modes make perfect sense together, working as expected on my machine !
I guess we can close the issue :)

[2022-01-14 22:07] #1346 closed, assigned to jcelerier

[2022-01-16 20:56] ycollet opened #1350 "Issue with -flto and -lsndfile on Fedora"
I am trying to build score for Fedora.
During compilation, I met the following error message:
[code]

[2022-01-17 14:15] jcelerier commented on #1350
thanks for the report ! are you building from git or from the source .tar.xz ?

[2022-01-17 14:17] jcelerier commented on #1350
in CI the 3.0.1 tag for Fedora 33 builds at least: https://github.com/ossia/score/actions/runs/1697158579

Can you check that you have a

    score/3rdparty/libossia/3rdparty/Servus/3rdparty/dnssd/LICENSE

file in your source tree ? it's there in the .tar.xz ; if you have a git repo you may need `git submodule update --init --recursive`

[2022-01-17 14:24] ycollet commented on #1350
I build from github repo. I made a git clone + git submodule init + git submodule update --recursive.
And then I went to some submodules because they where not really updated ...
I will try your hint tomorrow and will keep you updated :)

[2022-01-18 14:01] jcelerier opened #1351 "audio / midi merging / splitting objects"

[2022-01-19 07:15] ycollet commented on #1350
Works now, thanks :)

[2022-01-21 14:48] ycollet commented on #1350
I reopen the ticket: there is a link problem, but only on fedora 34.
Here is the interesting part of the build log:
[code]

It looks like a -lsndfile is missing ...

[2022-01-26 21:19] sofian opened #1352 "Color automation OSC control not working with basic OSC Device"
Adding an OSC Device named "OSCDevice" with child "background" (type: Vec3f or Vec4f) does not work. Set output of color automation to "OSCDevice:/background@[color.argb]", when playing the values stay at [0, 0, 0]. Strangely, if I add an OSC device of type "dlight" and add a "background" child of same type (Vec3f) it does work (of course after renaming output of color automation to "dlight:/backg

[2022-01-29 21:18] thibaudk commented on #1332
closed with b6e4fd9

[2022-01-29 21:18] #1332 closed, assigned to thibaudk

[2022-01-31 10:29] jcelerier commented on #1352
oh, I think I see the issue: OSC addresses & names are case sensitive. In your screenshot you have `OSCDevice` instead of `OSCdevice` in the gradient.

I'd recommend drag'n'dropping the address to the green port directly, this way there's no way to make a typo. You can also right-click on the address box to bring up a menu which will allow to chose the OSC node.

[2022-01-31 10:29] jcelerier commented on #1352
I'll add an issue to add some way to detect such typos though, ideally having a panel that lists address which do not match any existing address in the OSC tree would be meaningful.

[2022-01-31 10:29] #1352 closed, assigned to jcelerier

[2022-01-31 10:31] jcelerier opened #1354 "GUI to show invalid addresses & other bugs"
Ideally would show a list of every address used in a process which is not in the tree. Clicking on an element in the list would focus the object, and show it in center of the view.

Making a new panel for this would make sense I believe ?

[2022-01-31 10:33] jcelerier commented on #1350
let me spin up a fedora image, this is weird :)

[2022-01-31 10:37] ycollet commented on #1350
Thanks a lot.
If you prefer, I can send a build into COPR repositories for Fedora 34 and 35 and you will have access to the complete log ?

[2022-01-31 10:39] jcelerier commented on #1350
hm, first I want to check the symbols in Fedora's libsndfile. What I suspect is that score uses the sndfile headers and build options that are in its source tree and ends up linking against the fedora .so which may have been built differently ?

[2022-01-31 10:44] jcelerier commented on #1350
weird, that symbols looks like it's there...

    [root@dac5ca8f64dd lib64]# nm -D libsndfile.so.1 | grep write_double
    0000000000012220 T sf_write_double@@libsndfile.so.1.0

[2022-01-31 10:55] jcelerier commented on #1350
hmmmmm, I just did a build on fedora 34 with the scripts in the CI folder and it worked, can you share the script you are using to build ?

[2022-01-31 11:01] ycollet commented on #1350
The spec file used for the build is here:
https://github.com/audinux/fedora-spec/blob/master/ossia/ossia-score.spec
I may have to adjust the sed / boost expression (I just realised that it was used for last version of score).

[2022-01-31 11:02] jcelerier commented on #1350
thanks ! for boost, any version upwards of 67 should work. the official releases of score are built with the latest version but it's still tested on debian buster which comes with 1.67

[2022-01-31 11:04] jcelerier commented on #1350
hm, I'm not very familiar with fedora packaging, what command can I use to try and launch the build process of this .spec file ?

[2022-01-31 11:10] ycollet commented on #1350
Most of the time, I used the following commands:
$ ./ossia-scores.sh v3.0.1 # to retrieve the source code archive
Then, move ossia-score.tar.gz into rpmbuild/SOURCES
and then:
$ rpmbuild -ba ossia-score.spec

[2022-01-31 11:29] jcelerier commented on #1350
oh okay, I'd recommend using directly the source .tar.gz that comes with official releases ( https://github.com/ossia/score/releases/download/v3.0.1/ossia.score-3.0.1-src.tar.xz ; not the one which github autogenerates as it is wrong but we cannot disable it :'( ) ; it should be much faster and take less disk space than cloning.

Also the following packages are not needed anymore:

    BuildRequir

[2022-01-31 11:31] ycollet commented on #1350
Thanks a lot. I will try ASAP.

[2022-01-31 11:35] jcelerier commented on #1350
well, these changes won't fix the build sadly aha.  I'm trying to add the build options of rpm-build one by one to custom build to ascertain what is causing the build to fail.

[2022-01-31 11:38] jcelerier commented on #1350
yeah adding  -flto=auto -ffat-lto-objects causes the build to fail indeed.

[2022-01-31 11:41] jcelerier commented on #1350
And adding an explicit -lsndfile in this specific case fixes it... strange

[2022-01-31 11:47] ycollet commented on #1350
Sounds like a gcc bug :)
I will deactivate the lot things for now ...
Thanks a lot for your help

[2022-01-31 11:53] jcelerier commented on #1350
Okay, I'm confident that this is a binutils bug: linking with -fuse-ld=gold works

[2022-01-31 11:53] jcelerier commented on #1350
That can be added with -DCMAKE_EXE_LINKER_FLAGS="-fuse-ld=gold" (please test on your side)

[2022-01-31 14:17] jcelerier opened #1355 "Process list does not update whenever the library has things added"

[2022-02-01 10:07] ycollet commented on #1350
Fixed. I just needed to remove -DCMAKE_EXE_LINKER_FLAGS="-fuse-ld=gold" because it looks like there is a bug in gold which trigger a memory exhaustion during link of the executable.
I close this ticket.
Thansk a lot for your support !

[2022-02-01 10:07] #1350 closed, assigned to jcelerier

[2022-02-05 15:08] s-ol opened #1357 "Playback cursor lags/jitters if view is scrolled vertically"
I'm using score 3.0.1 on NixOS with Wayland.
While things are playing, the playback cursor moves from left to right normally as long as I am scrolled all the way to the top.
If I am scrolled even a little bit down, the playback cursor only updates sporadically and otherwise stays in the same place. It seems as if it maybe reacts to mouse movement only, redrawing when that happens.

Here is my deri

[2022-02-05 15:14] jcelerier commented on #1357
hi, thanks !

can you try running score with --no-opengl to see if that changes something ?

also:

- what would be the easiest way for me to try with the same configuration ?
- which DE are you using ? I know that there are unresolved issues between Qt and GNOME and wayland (at least with the version of Qt that score uses - we need to ship QGnomePlatform I think)

[2022-02-05 21:17] s-ol commented on #1357
I tried `--no-opengl` but that didn't help.

I looked a bit closer and I can now tell that the issue reliably happens exactly when the green/turquoise main timeline scrolls out of view:

![image](https://user-images.githubusercontent.com/1731279/152659135-29618a1b-f377-4be3-ae06-8b19cab0275a.png)

As you can see I got rid of the default events/timelines (these might be the wrong terms, I'm very ne

[2022-02-06 10:29] jcelerier commented on #1357
oh okay, thanks ! I think I see where the issue is, it does not take the correct item length into account for updating the viewport... checking how to fix that.

[2022-02-07 10:17] jcelerier opened #1358 "oscquery, need to remove / re-add device ?"

[2022-02-08 09:36] featherfurl opened #1360 "Can't set start offset of video in latest appimage (3.0.2) on Arch Linux."
**Current Behaviour:**

When I add video clips to score they play back fine, but setting the starting offset does nothing. Videos always play from the beginning. The primary format I'm using is h264 encoded mp4 but I've tried different formats and the same thing happens. Toggling the loop button does not affect the problem.

**Expected Behaviour:**

Changing the "start offset" value in the video i

[2022-02-08 10:19] jcelerier opened #1361 "Add an exit button on the start splash screen"

[2022-02-08 17:55] featherfurl opened #1362 "UX Tweak Request: Automatically extend project length when adding media item longer than current length."
Currently when adding media items longer than the current project length, the project length stays the same and scrolling to the end of said media items is impossible.

It took me a few minutes to work out the solution to this was to manually increase the duration of the project they're placed into, and it strikes me that it would be useful to add a behaviour that prevents this confusion & brings

[2022-02-08 18:15] jcelerier commented on #1362
Ah, actually it happens: you can double click on the scroll bar at the top and it will expand the area automatically to make sure the furthest content is in.

I'll look into making sure that it gets updated automatically when new content is added, if I can without too much or a performance hit. Thanks for the report !

[2022-02-08 23:41] featherfurl commented on #1362
Ah no problem, I hadn't discovered that! The way I was doing it was just setting the duration larger until everything was in view.

Just tried it now and it works great. If it ends up being too much of an issue to auto-scroll, maybe there's some way to make the double click to zoom out feature more apparent to new users. It's no problem now that I know how to do it, but after reading the docs and

[2022-02-09 07:26] featherfurl opened #1363 "Tempo automation points don't have precise time and value controls in full size view in the same way Automation (float) does."
(Appimage 3.0.2 - Arch Linux)

**Current Behaviour:**

When zooming into tempo automation envelopes in the full size view and selecting a point, the inspector does not show t(ms) and value input options, making it much harder to precisely edit tempo curves. The inspector just shows "Point" with no associated options. When selecting an Automation (float) envelope in the same full size view, the abo

[2022-02-09 07:58] featherfurl opened #1364 "Copy and paste points within the same automation item?"
It's possible to duplicate complete automation items on the timeline, but it doesn't look as though it's possible to copy and paste points within the same automation item. I feel like it would be quite useful to be able to do this, especially for precise edits where you want to be able to replicate similar patterns across the one envelope.

[2022-02-09 15:54] RobinMontferme opened #1365 "OSC device is unidirectional after disconnection and reconnection"
When trying to disconnect and reconnect a bi-directional OSCDevice the device can no longer receive but still can send.

The following has been tested on commit 7fd1538cf38894b1646076e7ff36d6fa54c18da3

 - Creating a new OSC Device connected to open stage control.
 - Trying to toggle on and off a simple button
 - Disconnecting and reconnecting the OSC Device
 - Toggling the open stage control butt

[2022-02-10 12:54] jcelerier commented on #1360
Hi, so I've tried to look into this and could fix the easy part, which is asking the video backend to seek at the right time (indeed it was seeking at 0 instead of start offset...).

Noww here's the hard part: we use ffmpeg for decoding videos, and while it seems to have no issues seeking immediately for some video formats such as HAP or MJPEG, for all the h.264 files I tried it takes a lot of tim

[2022-02-10 14:02] jcelerier commented on #1364
Yep. One of the next improvement will be a generalized copy-cut-paste interface, so far it had been done in a very ad-hoc way . Same for midi, etc.

[2022-02-11 11:31] #1363 closed, assigned to jcelerier

[2022-02-11 15:56] jcelerier commented on #1363
(thanks for your detailed reports by the way, it is very nice and useful!)

[2022-02-12 00:24] featherfurl commented on #1360
That's good to know. Having to re-encode will be a mild inconvenience but I understand you're constrained by the nature of how different formats work and using HAP will be better in the long run anyway.

Definitely worth clearly documenting which formats work as expected so people know in advance what they need to do and don't just get annoyed that score is slow.

Thanks heaps for your work! It's

[2022-02-12 10:59] jcelerier commented on #1307
hello, the latest release should work on High Sierra again, can you test it to confirm ? https://github.com/ossia/score/releases/tag/v3.0.3

[2022-02-13 22:52] jcelerier commented on #1314
Tried a fix (https://bugreports.qt.io/browse/QTBUG-50181), will be available on the next release

[2022-02-14 09:35] jcelerier commented on #888
@thibaudk wanna work on this ? as maybe if we end up having SC, having good auto-completion would be good too !

[2022-02-14 09:37] jcelerier commented on #1309
@thibaudk what do you think ? maybe it's just a matter of adding a "manual" sample input to the Rate Limiter ?

[2022-02-14 09:37] thibaudk commented on #888
Sure !
It is also related to #1061

[2022-02-14 09:38] jcelerier commented on #1215
exit button added thanks to @RobinMontferme @aklevy ; I added the feature to create a new document when escape is pressed. :cat:

[2022-02-14 09:38] #1215 closed, assigned to nobody

[2022-02-14 09:39] jcelerier commented on #493
auto-scroll implemented since 3.0.2

[2022-02-14 09:39] #493 closed, assigned to nobody

[2022-02-14 09:42] jcelerier commented on #1187
Also showing it when clicking on the node on the inspector would be neat

[2022-02-14 09:42] jcelerier commented on #755
closing as the feature is pretty much there, if there are bugs please open new issues !

[2022-02-14 09:42] #755 closed, assigned to jcelerier

[2022-02-14 09:44] thibaudk commented on #1309
currently the rate limiter outputs the current incoming value if it falls on the given subdivision.
Would a sample and hold simply do the same, only outputting the value at the previous beat ?

[2022-02-14 09:46] thibaudk commented on #1309
so maybe just adding a "Hold" button to keep the current value ?

[2022-02-14 09:48] thibaudk commented on #1309
or should the "Hold For" control, with a rate widget, to indicate how long a value should be held ?

[2022-02-14 09:59] #444 closed, assigned to nobody

[2022-02-14 10:01] jcelerier commented on #1057
Pretty much there now that the tempo port has the "position" input.
One could thing would be to have some windowing to smooth out e.g. sound files.

[2022-02-14 10:02] jcelerier commented on #1309
from what I could understand of Gaël's needs, the idea is to have two inputs:

A: the signal
B: the "hold" message

Every time there is an impulse on the "hold" message, the process takes the current value of the signal and outputs it.

[2022-02-14 10:02] jcelerier commented on #1309
so maybe it is a really different object after all.

[2022-02-14 10:04] jcelerier commented on #1282
dup of #513

[2022-02-14 10:04] #1282 closed, assigned to nobody

[2022-02-14 10:05] jcelerier commented on #1307
closing the issue, please reopen if you notice issues :)

[2022-02-14 10:05] #1307 closed, assigned to jcelerier

[2022-02-14 10:08] thibaudk commented on #1309
I'll circle back with @gaeljaton

[2022-02-14 10:28] jcelerier commented on #769
Added some documentation on the feature

[2022-02-14 10:28] #769 closed, assigned to nobody

[2022-02-14 10:31] jcelerier commented on #1181
@thibaudk could you identify some of the cases where the focus gets lost ?

Afterwards it can be manually be regained with grabKeyboard() but it's better if we don't loose it in the first place...

[2022-02-14 10:32] jcelerier commented on #1231
how's this issue with the latest work that was done ?

[2022-02-14 12:17] jcelerier commented on #950
seems to work ! @RobinMontferme maybe it would be worth having disconnect too ?

[2022-02-14 12:17] #950 closed, assigned to RobinMontferme

[2022-02-14 12:18] jcelerier commented on #1333
added a Score.readFile() for the console. I'm not sure it should be used from the "JS process" QML script because it could be super slow, but idk... what do you think ?

[2022-02-14 12:27] thibaudk commented on #1333
Sure ! If it is already available from the console, we can table that.

[2022-02-14 12:27] #1333 closed, assigned to thibaudk

[2022-02-14 12:48] RobinMontferme commented on #950
why not I can get onto that as well

[2022-02-14 14:19] bltzr commented on #493
Oh
My
Goddess!!!!

I need to try this!!!!

[2022-02-14 14:38] jcelerier commented on #1357
so interesting, I can reproduce it under wayland compositors only

[2022-02-14 14:47] bltzr commented on #493
Is there anything special to do in order for this to work?
Because I didn’t manage to have it scrolling in 3.0.3

[2022-02-14 15:01] jcelerier commented on #493
View > Auto-scroll

[2022-02-14 15:07] #1357 closed, assigned to jcelerier

[2022-02-14 15:09] jcelerier commented on #1361
thanks @RobinMontferme !

[2022-02-14 15:09] #1361 closed, assigned to jcelerier, RobinMontferme

[2022-02-14 15:42] bltzr commented on #493
Oh thanks!
Shouldn’t that be a preference instead ? (real question)
IS it only based on the main interval?

[2022-02-14 16:17] bltzr commented on #493
Because I don’t find the current behaviour super efficient when there are triggers and/or interval speeds are changed

[2022-02-14 22:00] jcelerier commented on #493
It will follow the currently selected interval and the main interval if
there are none. No idea of how to of it better without changing the whole
thing at execution time..

On Mon, 14 Feb 2022, 17:28 Pia Baltazar, ***@***.***> wrote:

[2022-02-14 23:01] gaeljaton commented on #1309
hi dudes!
yeah, I was looking for S&H object like module synth.
*bool/trigger input for "holding" last input
*data input (to be hold)
*ouput for "holded" signal
(optionnaly : *bool/trigger input for release the holding => output is bypassed)
internal sample rate could be hard coded or adjustable, but, I guess it have to be around audio rate...
cheer's guys!
https://www.musicstore.com/fr_FR/EUR/Doe

[2022-02-14 23:09] gaeljaton opened #1367 "midi/osc learn autoscroll"
minor enhancement, could be easier to check inputs when 'learn' if last input is visible (autoscroll new input when box is full).
kiss!

[2022-02-15 09:32] bltzr commented on #493
If I remember well, we discussed having the possibility to change the Zoom level at runtime, in order to always have the latest and the first "cursors" (ie position of currently running intrvals) visible, but maybe that’s overkill?

[2022-02-19 15:14] jcelerier commented on #1285
fixed in 3.0.x

[2022-02-19 15:14] #1285 closed, assigned to jcelerier

[2022-02-19 15:17] jcelerier commented on #1314
closing the issue as I don't see any particular cpu usage ... for current builds score sits at 1.6% CPU with an open document on my mac mini

[2022-02-19 15:17] #1314 closed, assigned to avilleret, jcelerier

[2022-02-19 16:36] jcelerier commented on #1187
done in the inspector

[2022-02-19 16:36] #1187 closed, assigned to nobody

[2022-02-20 08:12] bltzr opened #1370 "bugs when drag’n’dropping slots"
As demonstrated on the attached video, there to be some bugs when drag’n’dropping slots:
- that doesn’t seem to work at all when  drag’n’dropping graph slots
- it works with other kinds of slots, but the interval is not created

https://user-images.githubusercontent.com/113982/154834157-e7e4a514-f626-4fe2-bf2c-01f1c3230bcd.mov

[2022-02-20 08:33] bltzr opened #1371 "error message when shrinking interval"
this happens when shrinking the selected interval (gouttes_debut) in the attached scenario
<img width="1681" alt="image" src="https://user-images.githubusercontent.com/113982/154834821-6029c24a-76e5-46af-91b6-f7f83e2557d4.png">
[aqua.score.zip](https://github.com/ossia/score/files/8103642/aqua.score.zip)

[2022-02-21 09:29] csaudiodesign commented on #756
I'm trying to get the output of IMU sensors (gyro/accel/magn) into score. I wrote a custom serial protocol that allows for frame synchronisation and fixed frame size - aiming for predictable frame rate. Reading the changes in the libossia feature/raw_serial branch I understand that you're converting the QByteArray to a string. Wouldn't it be more interesting to convert to a JavaScript ArrayBuffer,

[2022-02-21 09:42] jcelerier commented on #756
Hi @csaudiodesign ! last time I checked, Qt's JS engine did not really support the JS Array things (typed array, etc). It supports them from within the QML/JS language itself but I could not find a way for instance to create an Uint8Array from C++ to pass it to the JS engine. If you know a way to do it that would definitely be the better thing to do as we would not loose any information this way.

[2022-02-21 10:08] jcelerier commented on #1367
@RobinMontferme  if you feel like it ? relevant class is LearnDialog in DeviceExplorerWidget.cpp

[2022-02-21 10:44] csaudiodesign commented on #756
Hi @jcelerier ! Thanks for the super fast response. I'm not familiar with QT, just digging in now to find a solution for this. It will take a while. I thought it should be easy because of the [automatic conversion of QByteArray to JS ArrayBuffer](https://doc.qt.io/qt-5/qtqml-cppintegration-data.html#qbytearray-to-javascript-arraybuffer), but I guess I misunderstood something. I assumed it should b

[2022-02-22 16:23] jcelerier commented on #756
hmm, last time I had looked into it it did not work - maybe now it does (or maybe I just made some dumb mistake last time !) ... trying !

[2022-02-22 16:34] jcelerier commented on #756
hhmmmm I don't see how it can work without a non-trivial refactoring :( we use QJSValue::call to call back the JS function defined by the user: https://doc.qt.io/qt-5/qjsvalue.html

Arguments to call is a list of QJSValue. The problem is that there is no way to construct a QJSValue from a QByteArray, only from QString / QLatin1String:

[code]

[2022-02-22 16:39] jcelerier commented on #756
oh wait ! it seems that with QJSEngine::toScriptValue it indeed works.

[2022-02-22 16:40] jcelerier commented on #756
we should check how much it breaks, @thibaudk what do you think ?

[2022-02-22 16:45] thibaudk commented on #756
Hey ! I think Serial port was due for a big reflector anyways, as are the current devices in the library.

[2022-02-22 16:48] jcelerier commented on #756
okay, so let's just do the change in that branch.

[2022-02-23 13:01] jcelerier commented on #1252
Hmm, my Mac only has one monitor output, I can't even try to reproduce it :(

[2022-02-23 13:03] thibaudk commented on #1252
I'll try to reproduce, but I feel it may be more of a mac issue.

[2022-02-23 13:04] jcelerier commented on #1252
yes I know that on Linux it works correctly

[2022-02-23 16:50] jcelerier commented on #1329
done

[2022-02-23 16:50] #1329 closed, assigned to jcelerier

[2022-02-23 17:38] #1241 closed, assigned to nobody

[2022-02-23 18:07] jcelerier commented on #1371
very weird, cannot reproduce here on this exact interval with your file, can you check that you sent me the correct file ?

[2022-02-23 19:34] bltzr commented on #1371
I did

[2022-02-23 23:36] jcelerier commented on #1364
https://user-images.githubusercontent.com/2772730/155427723-7700d5fa-aaff-4ffb-ac54-9c578d695bd7.mp4

getting there...  not a trivial problem

[2022-02-24 09:54] jcelerier commented on #1364
fixed in a811e5b4c :)

[2022-02-24 09:54] #1364 closed, assigned to jcelerier

[2022-02-24 10:09] jcelerier commented on #1154
i think so yes

[2022-02-24 15:23] jcelerier commented on #1074
done !

[2022-02-24 15:23] #1074 closed, assigned to nobody

[2022-02-25 14:05] jcelerier commented on #1276
done

[2022-02-25 14:05] #1276 closed, assigned to jcelerier

[2022-03-07 14:57] RobinMontferme opened #1372 "Can't select nodal process wire"
An error window pops up when trying to select  nodal process wire.

This can be reproduce by adding at least 2 of process with nodal input/output, connect them and then trying to select the wire.
![image](https://user-images.githubusercontent.com/22815889/157058142-608753fb-09ad-4b6e-b987-e69bc86eb1c4.png)
Tested on latest commit (fc66fa2)

OS: Manjaro Linux x86_64
Host: Precision 7560
Kernel: 5.1

[2022-03-07 20:28] jcelerier commented on #1372
should be fixed by 6900a1d07096e82a832fc312a294e3032a29b733

[2022-03-07 20:28] #1372 closed, assigned to nobody

[2022-03-08 16:43] jcelerier commented on #756
done and merged :) i'll write a doc page which explains how to access the raw byte stream from JS

[2022-03-08 21:34] jcelerier commented on #756
I think we're good :)

@csaudiodesign, here is how things will look: https://ossia.io/score-docs/devices/serial-device.html

[2022-03-08 22:42] #756 closed, assigned to thibaudk

[2022-03-08 22:42] jcelerier opened #1373 "Small bugs with serial protocol"
-  [x] "Bool", "Char" and "VecNf" aren't implemented yet for Serial
- [x] Parent nodes sow up as "Impluse" types
- [x] "min", "max", "Acces", "Description" & "Units" don't show up in the Device Explore
- [x] There is no way to avoid sending the '\n' at the end of each messages.
- [x] Inversly, there is no way to receive messages if they don't end with '\n'

_Originally posted by @thibaudk in https

[2022-03-09 09:34] thibaudk opened #1374 "Send messages from within "onMessage" function"
For specific serial communication, a bite needs to be send back to the device every time a message is received.
Wondering how this can be done, preferably without going through a parameter in the tree.

[2022-03-13 22:13] jcelerier commented on #1061
https://github.com/hellbent/vscode-faust

[2022-03-14 10:51] jcelerier commented on #1367
thanks @RobinMontferme

[2022-03-14 10:51] #1367 closed, assigned to RobinMontferme

[2022-03-25 14:38] ggalan87 opened #1377 "Internal error on video trigger"
Hello. I encountered the following error while playing a simple pipeline with a single video and a trigger enabled in the end. The message pops up when the trigger (or end of video file) in the timeline is reached.

![Screenshot from 2022-03-25 12-19-59](https://user-images.githubusercontent.com/3819676/160139936-f6efd702-c15c-4ed2-915d-1487f6fdd198.png)

The exact same project file produces this

[2022-03-25 14:57] jcelerier commented on #1377
thanks, checking that asap !

[2022-03-25 15:00] jcelerier commented on #1377
hummm weird, here it doesn't do that. Could you send my your score file and ideally your video file through e.g. wetransfer ?

[2022-03-25 16:28] ggalan87 commented on #1377
In fact in another setup I had (score 3.0.5) I thought that it was the video, because I downloaded one from youtube, got this error, but then I downloaded from the same source as you had in the tutorial (beeple videos) and voila it worked. I currently don't have access in that setup, maybe in few days to test the exact same score file I attach.

So the video I tested is this: https://vimeo.com/238

[2022-03-25 16:55] jcelerier opened #1378 "Add support for virtual MIDI ports"
As discussed in the chat with @smoothdeveloper (https://gitter.im/OSSIA/score?at=623df17f9a09ab24f3bfd394) - when adding a new midi device, if we're on macos or linux we could easily request the creation of a virtual MIDI port.

[2022-03-28 09:37] RobinMontferme opened #1379 "Cannot add comment blocks in other scenarios process"
Comment block cannot be added in other scenario process than the first created when booting up score.

[2022-03-28 09:59] #1379 closed, assigned to RobinMontferme

[2022-04-15 13:45] jcelerier commented on #1277
thanks !

[2022-04-15 13:45] #1277 closed, assigned to jcelerier, RobinMontferme

[2022-04-16 01:37] featherfurl opened #1383 "Can't change time signature in 3.0.6 appimage?"
Trying to change the time signature from 4/4 to anything else doesn't seem to do anything.

Current Behaviour:

Hit delete to delete 4/4, replace it with 6/8, 8/8, or anything else. Reverts back to 4/4 and the console gets spammed with

"Warning: Unsupported composition mode (:0)" many times.

Expected behaviour:

Changing the time signature works.

Bonus Thoughts:

Backspace doesn't seem to delet

[2022-04-16 01:44] featherfurl commented on #1383
This seems to be a regression from 3.0.5. Seems to work there fine.

[2022-04-16 02:03] featherfurl opened #1384 "Rescaling midi piano roll doesn't update until midi notes are dragged"
There also doesn't seem to be a functional difference between "rescale midi" and "rescale all midi". Both rescale all midi notes in the piano roll.

[2022-04-16 02:08] featherfurl opened #1385 "Doesn't seem to be a way to snap notes in the midi piano roll to grid?"
I noticed the beta release notes for v3 suggest the addition of a grid snapping system. If this setting is what became the "magnetism on musical metrics" option it works for the main timeline but not for the midi piano roll.

Bonus thoughts:

An option to be able to grid snap automation curves would be super useful too.

[2022-04-16 02:10] featherfurl opened #1386 "Sometimes clicking a note on the midi piano roll crashes ossia score."
Sometimes when I click on a note in the midi piano roll score crashes with the following output:

[code]

[2022-04-16 14:16] jcelerier commented on #1386
@RobinMontferme do you remember working with on_noteSelectionChanged recently as part of the midi work ? or not at all ?

[2022-04-16 16:35] jcelerier commented on #1383
fixed, thanks for the report!

[2022-04-16 16:35] #1383 closed, assigned to jcelerier

[2022-04-16 16:45] jcelerier commented on #1386
hmm I tried with various different midi files, small, large, etc. but couldn't get it to crash after clicking pretty much anywhere frantically. Could you share a score that crashes ?

[2022-04-16 16:48] #1377 closed, assigned to jcelerier

[2022-04-16 16:52] jcelerier commented on #1384
ah, those were added for a specific art project. I think that they should be redone (and maybe it would be a good motivation to introduce a small LISP dialect to process these midi notes...).

Regarding the "rescale midi" / "rescale all midi", "rescale all" actually rescales all the piano rolls in the whole score. but it was only necessary for one project at some point and should be removed I beli

[2022-04-16 16:56] #1384 closed, assigned to jcelerier

[2022-04-17 01:42] featherfurl commented on #1386
[crash_test.zip](https://github.com/ossia/score/files/8500853/crash_test.zip)

So I was able to produce the bug by adding a piano roll with some random notes to an empty score then randomly clicking around for a while. It didn't seem to happen until after I'd moved the piano roll on the timeline a couple times first. Not sure whether or not that's a coincidence.

[2022-04-17 08:44] jcelerier commented on #1386
thanks, with this I managed to reproduce :)

[2022-04-17 08:58] jcelerier commented on #1351
@RobinMontferme those would also be nice objects to develop

[2022-04-17 08:59] jcelerier commented on #1351
e.g.

merging objects: 4 mono inputs > 1 output with 4 channels
splitting objects:  1 input with 4 channels > 4 mono outputs

[2022-04-17 09:03] #1386 closed, assigned to nobody

[2022-04-17 09:43] jcelerier opened #1387 "Indicate the size of the download of the user library"

[2022-04-17 09:44] jcelerier commented on #1385
dupe of #1153

[2022-04-17 09:44] #1385 closed, assigned to jcelerier

[2022-04-18 01:59] featherfurl opened #1388 "No LV2 in appimage, but no JSFX in ossia-score-git aur package?"
I'd love to be able to use both. I'm not super fussed about where I get my packages from. I remember reading somewhere that there was some reason why lv2 support was being left out of the appimage, but I feel like the absence of JSFX support from the aur package may be an oversight?

[2022-04-18 03:35] featherfurl opened #1389 "Faust plugins not loading in appimage 3.0.7"
Appimage 3.0.7 seems not to load faust plugins. They show up fine in 3.0.6 but not 3.0.7.

[2022-04-18 04:12] featherfurl opened #1390 "Vst3 plugins load when using ossia-score-git package, but not 3.0.7 appimage"
Seems like there are a few inconsistencies when loading different plugin formats between the aur package and appimage. They source the same configs so it doesn't look like a config issue my end.

[2022-04-18 07:52] featherfurl opened #1391 "Type precise values into the inspector?"
It doesn't look like there's any straightforward way to input exact values for plugin sliders in the inspector. I can type a precise tempo by clicking on the tempo value slider at the bottom of the screen, but this behaviour doesn't seem to be replicated for sliders in the inspector. If I change, say, the output gain of a plugin from 1 to something other than one it's effectively impossible for me

[2022-04-18 07:54] jcelerier commented on #1391
ah indeed. If the slider is visible in the main score view, you can right-click on it to show up a small textual editor for precise input, we should definitely add this to the inspector too (or maybe look at how other software do it, I'm sure there  are intelligent UI design choices that can be made here... @aklevy @RobinMontferme @thibaudk if any of you have an idea...)

[2022-04-18 07:57] jcelerier commented on #1388
hmm for support the AUR package we'd need to package ysfx for archlinux too so that ossia-score packages can link against it... @jpcima if you want I can look into it ?

[2022-04-18 10:19] jcelerier commented on #1389
oops, had disabled the Faust plug-in for a dev work and forgot to reenable it... fixed

[2022-04-18 10:19] #1389 closed, assigned to jcelerier

[2022-04-19 07:40] ycollet opened #1392 "Build issue with gcc 12 on Fedora 36 beta"
I tried to build Ossia last release on Fedora 36 Beta using gcc-12.
The build failed with the following error:
[code]

Probably a missing header ...

[2022-04-19 09:51] jcelerier commented on #1390
ugh... the VST3 issues seems to be a problem with AppImage which replaces "/usr" string literals in the binary by "././" ...

[2022-04-19 10:13] jcelerier commented on #1392
ah damn, that's an issue with GCC 12 and the steinberg SDK ; there's been similar issues on windows: https://forums.steinberg.net/t/pluginterfaces-lib-compilation-error-win-10-vs-2022/768976

[2022-04-19 10:14] #1390 closed, assigned to jcelerier

[2022-04-19 10:15] jcelerier commented on #1392
I'll force  -DSMTG_USE_STDATOMIC_H=OFF on the ossia side

[2022-04-19 12:04] jcelerier commented on #1392
by the way, you think that you could provide a CI script so that we can add it to the tested platforms and catch these issues automatically ?

It's mainly:

- Adding it in this file: (there's already a fedora 33 which I guess can be 90% copy-pasted)

https://github.com/ossia/score/blob/master/.github/workflows/builds.yaml

- If it needs specific scripts different from fedora 33 then adding them in

[2022-04-19 14:12] jcelerier commented on #1391
@RobinMontferme this one should be relatively straightforward: the widgets are here: https://github.com/ossia/score/blob/master/src/lib/score/widgets/ControlWidgets.hpp  ; the idea is to catch the right-click and show a QSpinBox or something like this to allow manual user input as a little popup .

[2022-04-19 19:11] ycollet commented on #1392
Yes, thanks, I will try that. I fork your repo and will propose a PR ...

[2022-04-20 06:37] ycollet commented on #1392
I reopen the ticket for a new one. It's nearly just before the linking phase so, I hope it will be the last one :)
¹¹¹
In file included from /builddir/build/BUILD/score-v3.0.8/redhat-linux-build/src/plugins/score-plugin-avnd/CMakeFiles/score_plugin_avnd.dir/cmake_pch.hxx:12,
                 from <command-line>:
/builddir/build/BUILD/score-v3.0.8/src/plugins/score-plugin-avnd/Crousti/Layer.hpp: In

[2022-04-24 07:16] jcelerier opened #1394 "Library auto-update"
Implement auto-update of the user library.

It should:

- Check if there are available updates on startup
- If so, open the Settings > Package pane
- We should have an "update all" button which updates everything that needs it

[2022-04-25 08:55] tekknovator opened #1396 "[macos][crash] on attempt to open VST3 plugin GUI"
Reproducible with foss synthesizer surge XT 1.0.0
Intermittent crashes with proprietary plugin Retrologue by Steinberg
So far the majority of plug-ins tested seem to cause crashes.

Steps to reproduce

1. create a new project in ossia score
2. drag surge vst3 process from Processes into timeline
3. click "show/hide GUI"

Result: crash

Ossia Score version: Official download from
https://github.com

[2022-04-25 08:57] jcelerier commented on #1396
thanks for the report, the crashlog would be useful indeed, can you mail it to jcelerier@ossia.io ?

I don't have my Mac available this week so won't be available to look at it until early next week at best, unless it's something very obvious from the crashlog, sorry..

[2022-04-25 12:31] tekknovator commented on #1396
Done @jcelerier 👍

[2022-05-02 09:30] RobinMontferme commented on #1378
fixed by pr #1382

[2022-05-02 09:54] #1378 closed, assigned to RobinMontferme

[2022-05-02 09:54] jcelerier commented on #1378
:+1: thanks again !

[2022-05-03 20:55] jcelerier commented on #1388
made an ysfx package: https://aur.archlinux.org/packages/ysfx-git ; will update ossia-score-git and ossia-score shortly

[2022-05-04 07:49] jcelerier commented on #1388
fixed in ossia-score-git, and will be fixed in the next ossia-score AUR package too

[2022-05-04 07:49] #1388 closed, assigned to nobody

[2022-05-05 14:50] bltzr opened #1398 "code editor open button bug"
as demonstrated below
I guess we either need to make it a simple push button (à la pd bang) or to revert it to off once the editor window is closed
https://user-images.githubusercontent.com/113982/166950272-05727ad3-362c-4645-9a92-c35b2df56ed2.mov

[2022-05-20 07:34] jcelerier opened #1400 "Add the ability to save presets in the project folder"
As per @djiamnot request

[2022-05-21 10:00] jcelerier opened #1401 "Native file chooser widget"
For processes where choosing files is useful. e.g. it could be a button that when clicked opens a file dialog or something like this

[2022-05-21 22:39] djiamnot opened #1402 "Control Surface bug or lack of feature?"
I just discovered the Control Surface recently. I dropped my OSC device on it and went _whoa!_, thinking that I could immediately control all or chosen OSC parameters. The disappointment came when I realized that I have to manually connect each control to its corresponding OSC address. This seems somewhat counterintuitive, so I think I simply discovered a bug. I observed this in Score 3.0.8 but it

[2022-05-22 08:08] jcelerier commented on #1402
Definitely a bug, normally you should just drop them as you expect and it takes the addresses automatically.. lemme check

[2022-05-22 08:19] jcelerier commented on #1402
hmmm seems to work here:

https://user-images.githubusercontent.com/2772730/169685507-9ae28182-f3c6-4cd5-81f6-4197e728639a.mp4

[2022-05-22 20:44] djiamnot commented on #1402
hmmm... yeah, you're right, it works for me, too :shrug:
Ok, so now, that I've played with it some more, I think that I must have tried to add controls while the timeline was running. I see now, that you have to stop the transport, add control, restart the transport.
Another point that threw me off is the fact that once you've dropped your controls, the addresses associated with them are empty:
![

[2022-05-23 08:27] jcelerier commented on #1402
Okay, thanks, indeed I just checked and the live updates aren't being taken into account... fixing that

[2022-05-23 09:42] jcelerier commented on #1402
fixed. For the addresses not being shown I think it's more of an UI question: since they are controls, they can themselves be controlled through other addresses (in a "mini mapping" fashion if you want). So i guess what remains here is to improve the UI clarity

[2022-05-23 14:10] djiamnot commented on #1402
Yeah, this was my case, UI vs my expectations. At first, I did not pay much attention because the controls in the info panel are folded by default. When I noticed that there was no effect on the thing I was trying to control, I unfolded and found an empty address. So I dropped the address from the device, which gave me the result that I was expecting: I was controlling the thing.
Thanks for the qu

[2022-05-24 02:30] featherfurl opened #1403 "External MIDI file referencing?"
I'm in the middle of writing a text based notation system that generates midi files and it would be really useful to be able to reference a midi file externally to a score which updates automatically within ossia score every time I change it.

In reaper there's an option to reference external midi files directly like this, but I haven't seen anything like this in score.

I'd love to be able to use

[2022-05-25 09:50] jcelerier commented on #1403
Hmmm, right now it copies the MIDI data indeed. But I think that this feature would also be interesting for @smoothdeveloper who is in the process of revamping the MIDI support, maybe that can fit in. At worst it's not very hard to implement : we have to save the media file name as part of the midi process, and add a QFilesystemWatcher to detect whenever the file changes on disk to reload it in sc

[2022-05-29 12:00] jcelerier commented on #1309
hey ! so I added a few expression presets which allow various cases:

- Time-based sample&hold: it will sample at a regular interval (adjustable with a)
  * https://github.com/ossia/score-user-library/blob/master/Presets/Expression%20Value%20Filter/Sample%20and%20Hold.scp
- Hold A: it will let the signal go through if a == 1, and hold the last value otherwise
  * https://github.com/ossia/score-use

[2022-05-29 12:01] #1309 closed, assigned to RobinMontferme, thibaudk

[2022-06-02 17:19] bltzr opened #1405 "mapped widgets values are inconsistant with values in inspector"
https://user-images.githubusercontent.com/113982/171687190-df61b766-3e2e-4799-98fa-c963a0a15d30.mov

[2022-06-07 14:44] b4zz4 opened #1406 "Problem by compiling in Arch"
[code]

[2022-06-07 14:47] b4zz4 commented on #1406
export QT_QPA_PLATFORMTHEME=gtk2
./ossia-score

[2022-06-07 14:51] b4zz4 commented on #1406
![2022-06-07_11-42_04](https://user-images.githubusercontent.com/643833/172411154-77da9ea7-8aee-4cdc-b1ae-71fa3057b6df.jpg)

Although in score does not work: window, webcam and shmdata

[2022-06-08 02:28] b4zz4 commented on #1406
I'm missing  qt5-shadertools

[2022-06-08 02:28] #1406 closed, assigned to nobody

[2022-06-08 09:37] jcelerier opened #1407 "Pause: feature to restart from start point"

[2022-06-08 14:33] RobinMontferme opened #1408 "Bug: audio rate under 0.5 is bugged"
Playing audio with a rate under 0.5 seems to be buggy

[2022-06-08 14:36] RobinMontferme opened #1409 "Feature: Routing improvement"
Audio device routing could be improve by doing the following:
- Allow multiple columns to be selected thus allowing audio duplication over multiple channels
- Change the UI Radio Buttons by toggling tiles thus improving handling and allowing the aforementioned feature

[2022-06-09 15:33] jcelerier commented on #1408
erf, just tried but it works fine here è_è

[2022-06-11 15:04] capital-G opened #1410 "Bug: Color automation/control surface does not respect rgba8 domain"
If you want to perform a color automation via libossia and score you run into problems as the color domain does not get obeyed by ossia score color automations or surface control.

Say you have created a color target (rgba8) via libossia/oscquerry, adjusting it via a surface control will output the domain [0,1] instead of [0, 255], therefore the color is black all the time.
Increasing the range to

[2022-06-11 15:16] capital-G commented on #1410
Current workaround for me is

* Adding a mapping curve behind the automation to transform it to the domain [0,255]
* Changing the line https://github.com/bltzr/ofxOscQuery/blob/1727b4b12c5bc0f1a8c8365fd6abe2ebbfcbc9d9/src/ofxOssiaTypes.h#L241 from
[code]
   to
[code]

[2022-06-11 16:52] capital-G opened #1411 "Bug/Feature: LFO Noise does not react to frequency"
It would be nice if the LFO in noise mode would respect the given frequency like already the s&h wave does (see https://github.com/ossia/score/commit/3a3eb72820e9a548cc9806c513fd0bce96252d67)
I think [LFDNoise0](https://doc.sccode.org/Classes/LFDNoise0.html), [LFDNoise1](https://doc.sccode.org/Classes/LFDNoise1.html) and [LFDNoise3](https://doc.sccode.org/Classes/LFDNoise3.html) from SuperCollider

[2022-06-11 16:57] capital-G opened #1412 "2 LFO Noise output the same signal"
When I took a look at #1411 I also found that two LFOs in noise mode with identical dialed parameters put out the identical wave - I think this is not what you want from multiple noise sources?

<img width="525" alt="grafik" src="https://user-images.githubusercontent.com/8267062/173197334-71871d68-5ca1-48f3-8f3b-9f1f4300f8b2.png">

[2022-06-12 11:45] jcelerier commented on #1408
reproduced and fixed :)

[2022-06-12 11:45] #1408 closed, assigned to nobody

[2022-06-12 11:45] jcelerier commented on #1407
done

[2022-06-12 11:45] #1407 closed, assigned to jcelerier

[2022-06-12 11:45] jcelerier commented on #1412
hmm indeed - right now it uses the same seed everywhere to ensure reproducibility, I'll make the seed ~~per-instance~~ fully random

[2022-06-12 11:56] #1412 closed, assigned to nobody

[2022-06-12 11:58] jcelerier commented on #1411
hmmm interesting, I wonder if anyone would be up for porting these to score ? indeed the expectation was that the random things would be, well, fully random but maybe they could move into a separate "random" object instead while the three randoms would become what you propose. what do you all think ?

[2022-06-13 09:43] jcelerier commented on #1410
Hmmm, I'm seeing the bug in the control surface, but for the automation it seems to output correctly to [0-255], can you confirm ?

![Rgba](https://user-images.githubusercontent.com/2772730/173326583-d10d900b-016f-430a-8f6a-9334671b10eb.png)

[2022-06-13 10:12] jcelerier commented on #1410
fixed for control surface

[2022-06-13 10:25] jcelerier commented on #1411
@grybouilli if you finish your internship early maybe you can look into that ;p

[2022-06-13 12:22] capital-G commented on #1410
Oh, I figured out what my problem was when using the color automation, I drag&dropped the color onto the color automation, but what you actually want to do is to drop it on the green button - this fixed it for me what I did manually with the mapping curve and the order of the values.

[2022-06-13 12:39] jcelerier commented on #1410
ah I see ! i'll make it so that it works that way too, dropping on the gradient seems natural and there's no particular reason for it to behave differently..

[2022-06-13 12:39] #1410 closed, assigned to nobody

[2022-06-15 11:52] grybouilli commented on #1411
Guess I'll have a look when I can ;)

[2022-06-15 12:08] jcelerier commented on #1411
I'm thinking that to not break existing scores it'd be better to make a new "random generator" object which could come with a wide set of algorithms. Maybe we could look into merging LitterPower's too (https://github.com/pcastine-lp/LitterPower/tree/master/Chaos) in one big noise generator object